Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(link-list): adjust args
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-text-cta.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(examples): static CodeSandbox examples
  packages/services/package.json
  packages/web-components/.eslintrc.js
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/server-side-template.md
  packages/web-components/docs/server-side-template.stories.mdx
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/app.js
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/package.json
  packages/web-components/examples/codesandbox/usage/bundle-handlebars/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/bundle/index.html
  packages/web-components/examples/codesandbox/usage/bundle/sandbox.config.json
  packages/web-components/examples/static-files/masthead-manual-render.html
  packages/web-components/examples/static-files/masthead.html
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(lint): fixed errors
  packages/web-components/src/component-mixins/callout/callout.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(callout-quote): web-component created (#4228)
  packages/styles/scss/components/callout-quote/index.scss
  packages/web-components/examples/codesandbox/components/callout-quote/.babelrc
  packages/web-components/examples/codesandbox/components/callout-quote/.gitignore
  packages/web-components/examples/codesandbox/components/callout-quote/index.html
  packages/web-components/examples/codesandbox/components/callout-quote/package.json
  packages/web-components/examples/codesandbox/components/callout-quote/sandbox.config.json
  packages/web-components/examples/codesandbox/components/callout-quote/src/index.js
  packages/web-components/examples/codesandbox/components/callout-quote/yarn.lock
  packages/web-components/src/component-mixins/callout/callout.scss
  packages/web-components/src/component-mixins/callout/callout.ts
  packages/web-components/src/components/callout-quote/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/callout-quote/__tests__/callout-quote.test.ts
  packages/web-components/src/components/callout-quote/callout-quote.scss
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/src/components/callout/__tests__/callout.test.ts
  packages/web-components/src/components/callout/callout.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-callout-quote.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

progress
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

progress
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-group-mixed): fix pictogram item row on md breakpoint
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(translation): date mock testing
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(styles): separated gulp task exports
  packages/styles/gulp/build/default.js
  packages/styles/gulp/tasks/sass.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(overflow): add animation functions
  packages/react/src/components/Masthead/HeaderNavContainer.js
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(translation): embedded unique ID to response
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/services/src/services/Translation/__tests__/data/timestamp_response.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-section): good progress done
  packages/web-components/src/components/content-section/__stories__/README.stories.mdx
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(examples): force 16 columns Carbon grid
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/components/content-block-simple/src/index.scss
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead-search/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead/src/index.scss
  packages/web-components/examples/codesandbox/components/video-player/src/index.scss
  packages/web-components/examples/codesandbox/usage/handlebars/webpack.config.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.scss
  packages/web-components/examples/codesandbox/usage/webpack-sass/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(services-store): update monorepo (#4276)
  packages/services-store/package.json
  packages/web-components/config/jest/jsTransform.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/tests/integration/ui/jest.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(leadspace-w-search): updating search component
  packages/react/src/components/LeadspaceWithSearch/LeadspaceWithSearch.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(leadspace-w-search): passing functions as props
  packages/react/src/components/LeadspaceWithSearch/LeadspaceWithSearch.js
  packages/react/src/components/LeadspaceWithSearch/__stories__/LeadspaceWithSearch.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tag): removed color darkening from expressive theme
  packages/styles/scss/themes/expressive/components/_tag.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Revert "chore(styles): separated gulp task exports"
  packages/styles/gulp/build/default.js
  packages/styles/gulp/tasks/sass.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(React Masthead): Keep Search Bar Active if User Selects Text (#4221)
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(overflow): revert back to smooth scroll-behavior
  packages/react/src/components/Masthead/HeaderNavContainer.js
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(styles): separated tasks into their own files
  packages/styles/gulp/build/default.js
  packages/styles/gulp/tasks/ltr-sass.js
  packages/styles/gulp/tasks/rtl-sass.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(logo-grid): web-component created
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/examples/codesandbox/components/logo-grid/.babelrc
  packages/web-components/examples/codesandbox/components/logo-grid/.gitignore
  packages/web-components/examples/codesandbox/components/logo-grid/index.html
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/examples/codesandbox/components/logo-grid/sandbox.config.json
  packages/web-components/examples/codesandbox/components/logo-grid/src/index.js
  packages/web-components/examples/codesandbox/components/logo-grid/yarn.lock
  packages/web-components/examples/codesandbox/components/quote/index.html
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/README.stories.mdx
  packages/web-components/src/components/logo-grid/__stories__/data/logos.json
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(nightly): fix to preid
  .github/workflows/publish-nightly.yml
Due: none

fix(nightly): fix to preid (#4286)
  .github/workflows/publish-nightly.yml
Due: none

Update packages/web-components/README.md
  packages/web-components/README.md
Due: prettier --write

Update packages/web-components/docs/server-side-template.md
  packages/web-components/docs/server-side-template.md
Due: prettier --write

chore(styles): renamed files to match task names
  packages/styles/gulp/tasks/sass-ltr.js
  packages/styles/gulp/tasks/sass-rtl.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(logo-grid): test added
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/__tests__/logo-grid.test.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
  packages/web-components/tests/snapshots/dds-logo-grid.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(examples): force 16 columns Carbon grid (#4278)
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/.storybook/webpack.config.js
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/components/content-block-simple/src/index.scss
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead-search/src/index.scss
  packages/web-components/examples/codesandbox/components/masthead/src/index.scss
  packages/web-components/examples/codesandbox/components/video-player/src/index.scss
  packages/web-components/examples/codesandbox/usage/handlebars/webpack.config.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.scss
  packages/web-components/examples/codesandbox/usage/webpack-sass/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(leadspace-w-search): updating prop-types comments
  packages/react/src/components/LeadspaceWithSearch/LeadspaceWithSearch.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tag): used tokens
  packages/styles/scss/themes/expressive/components/_tag.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tag): renamed tag content in storybook
  packages/styles/src/carbon-stories/Tag/Tag-story.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(quote): fixed spacing for closing quote
  packages/web-components/src/components/quote/quote.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(lightbox-m-viewer): adding again `autoPlay` to video
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tag): reverting to unitless for the moment
  packages/styles/scss/themes/expressive/components/_tag.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(styles): introduced RTL dist package (#4229)
  .yarn/offline-mirror/gulp-rtlcss-1.4.1.tgz
  packages/styles/gulp/build/default.js
  packages/styles/gulp/config.js
  packages/styles/gulp/tasks/sass-ltr.js
  packages/styles/gulp/tasks/sass-rtl.js
  packages/styles/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(overflow): change to css left properties
  packages/react/src/components/Masthead/HeaderNavContainer.js
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
