Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

test(e2e): add more browsers to browserstack testing config
  packages/react/.gitignore
  packages/react/tests/e2e-storybook/browserstack.json
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/e2e-storybook/browserstack.json
Due: none

fix(content-section): update styles
  packages/react/src/components/ContentSection/ContentSection.js
  packages/react/src/components/ContentSection/__stories__/ContentSection.stories.js
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/content-section/content-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ui-shell header): improve header accessibility (#711)
  packages/carbon-web-components/src/components/ui-shell/header-menu.ts
  packages/carbon-web-components/src/components/ui-shell/header-nav-item.ts
  packages/carbon-web-components/src/components/ui-shell/header-nav.ts
  packages/carbon-web-components/src/components/ui-shell/header.scss
  packages/carbon-web-components/src/components/ui-shell/side-nav-menu-item.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav-menu.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav.scss
  packages/carbon-web-components/tests/snapshots/ui-shell.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-item-horizontal): fixed react breakpoints
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): remove extra borer-left from react language combobox
  packages/styles/scss/components/footer/_footer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-section): update styles
  packages/styles/scss/internal/content-section/_content-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): update react footer legal-nav spacing
  packages/styles/scss/components/footer/_legal-nav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): update react footer accordion sizing
  packages/styles/scss/components/footer/_footer-nav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-block): fix medium breakpoint layout and spacing (#7398)
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block-stories.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): update footer subcomponent spacing
  packages/web-components/src/components/footer/footer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Revert "fix(styles): temporarily hard-code breakpoint values (#6557)"
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): add more browsers to browserstack testing config (#7412)
  packages/react/.gitignore
  packages/react/tests/e2e-storybook/browserstack.json
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/e2e-storybook/browserstack.json
Due: none

fix(e2e): added wait for locale search input field
  packages/web-components/tests/e2e-storybook/cypress/integration/locale-modal/locale-modal.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(styles): revert - temporarily hard-code breakpoint values (#6557) (#7418)
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(leadspace-with-search): added sticky scroll functionality
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(megamenu): ensure no weird interactions
  packages/react/src/components/Masthead/Masthead.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-section-offset): remove console log
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(e2e): moving e2e testing to Github Actions
  .github/workflows/e2e-tests.yml
Due: none

fix(quote): use Plex serif font in Storybook previews (#5434)
  packages/react/.storybook/_container.scss
  packages/web-components/.storybook/container.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(locale-modal): added wait for locale search input field (#7419)
  .github/workflows/e2e-tests.yml
  packages/web-components/tests/e2e-storybook/cypress/integration/locale-modal/locale-modal.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(e2e): bumping up timeout configs for Github Actions
  packages/react/tests/e2e/cypress.json
  packages/web-components/tests/e2e/cypress.json
Due: none

test(e2e): bumping up timeout configs for Github Actions (#7438)
  packages/react/tests/e2e/cypress.json
  packages/web-components/tests/e2e/cypress.json
Due: none

fix(cdn): provide serif font in Plex CDN helper (#5434)
  packages/web-components/src/globals/scss/plex.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cdn): document addition of serif font to CDN helper (#5434)
  packages/web-components/docs/carbon-cdn-style-helpers.md
Due: prettier --write

fix(content-section): update sm breakpoint styles
  packages/react/src/components/ContentSection/__stories__/ContentSection.stories.js
  packages/styles/scss/internal/content-section/_content-section.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(quote): Load Plex Serif font into Storybook previews (#7437)
  packages/react/.storybook/_container.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/src/globals/scss/plex.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-item-horizontal): fixed thumnmail link list spacing
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card): remove margin from empty card__copy
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tag-group): remove extra padding from tag-links
  packages/styles/scss/components/tag-group/_tag-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card): remove unnecessary inherited styles from featured card footers
  packages/web-components/src/components/feature-card/feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deps): remove node-sass and update gulp-sass
  .yarn/offline-mirror/gulp-sass-4.0.2.tgz
  .yarn/offline-mirror/gulp-sass-5.0.0.tgz
  .yarn/offline-mirror/replace-ext-2.0.0.tgz
  .yarn/offline-mirror/transfob-1.0.0.tgz
  packages/styles/gulp/tasks/sass-ltr.js
  packages/styles/gulp/tasks/sass-rtl.js
  packages/styles/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
