Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(logo): update masthead logo svg; fixes #411
  .yarn/offline-mirror/babel-plugin-inline-react-svg-1.1.0.tgz
  .yarn/offline-mirror/clap-1.2.3.tgz
  .yarn/offline-mirror/coa-1.0.4.tgz
  .yarn/offline-mirror/colors-1.1.2.tgz
  .yarn/offline-mirror/csso-2.3.2.tgz
  .yarn/offline-mirror/esprima-2.7.3.tgz
  .yarn/offline-mirror/js-yaml-3.7.0.tgz
  .yarn/offline-mirror/svgo-0.7.2.tgz
  .yarn/offline-mirror/whet.extend-0.9.9.tgz
  packages/react/babel.config.js
  packages/react/package.json
  packages/react/src/components/Icon/IbmLogo.js
  packages/styles/icons/svg/IBM-8bar-logo--h23.svg
  yarn.lock
Due: prettier --write, eslint packages

fix(footer): move footer ibm logo to styles package
  packages/react/src/components/Footer/FooterLogo.js
  packages/styles/icons/svg/IBM-8bar-logo--h65-white.svg
Due: prettier --write, eslint packages

fix(component): fixed dark theme class on parent element
  packages/react/src/components/TableOfContents/README.md
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/styles/scss/components/tableofcontents/README.md
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/styles/scss/components/tableofcontents/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(babel): update plugin load order
  packages/react/babel.config.js
Due: prettier --write, eslint packages

fix(component): readme updated
  packages/react/src/components/TableOfContents/README.md
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/react/src/components/TableOfContents/__stories__/TableOfContents.stories.js
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/styles/scss/components/tableofcontents/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): remove relative paths for icons
  packages/react/src/components/Footer/FooterLogo.js
  packages/react/src/components/Icon/IbmLogo.js
  packages/styles/package.json
Due: prettier --write, eslint packages

feat(vanilla-masthead): re-model approach
  .yarn/offline-mirror/@carbon-icons-10.6.1.tgz
  .yarn/offline-mirror/classname-0.0.0.tgz
  packages/vanilla/package.json
  packages/vanilla/src/components/masthead/__stories__/data/mastheadLinks.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/index.js
  packages/vanilla/src/components/masthead/mashteadHeaderGlobalBar.template.js
  packages/vanilla/src/components/masthead/mashteadLeftNav.template.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadHeader.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderGlobalBar.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderMenu.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderMenuButton.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderMenuItem.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderName.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderNavigation.template.js
  packages/vanilla/src/components/masthead/mastheadHeaderSearch.template.js
  packages/vanilla/src/components/masthead/mastheadIbmLogo.template.js
  packages/vanilla/src/components/masthead/mastheadLeftNav.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
  packages/vanilla/src/components/masthead/mastheadSkipToContent.template.js
  packages/vanilla/src/components/masthead/mastheadTopNav.template.js
  yarn.lock
Due: prettier --write, eslint packages

fix(leadspace-centered): add button styling for correct theme color
  packages/patterns-react/src/patterns/LeadSpaceCentered/README.md
  packages/patterns-react/src/patterns/LeadSpaceCentered/__stories__/LeadSpaceCentered.stories.js
  packages/patterns-react/src/patterns/LeadSpaceCentered/__stories__/index.scss
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/patterns/leadspace-centered/_leadspace-centered.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace-centered): gradient and button styling tweaks
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/patterns/leadspace-centered/_leadspace-centered.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(readme): update leadspacecentered readme to include title
  packages/patterns-react/src/patterns/LeadSpaceCentered/README.md
Due: prettier --write

fix(button): support icon-only buttons (#207)
  packages/carbon-web-components/src/components/button/button-story-angular.ts
  packages/carbon-web-components/src/components/button/button-story-react.tsx
  packages/carbon-web-components/src/components/button/button-story-vue.ts
  packages/carbon-web-components/src/components/button/button-story.ts
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/tests/snapshots/bx-btn.md
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(readme): readme updated
  packages/react/src/components/TableOfContents/README.md
Due: prettier --write

fix(pattern): updated readme files
  packages/patterns-react/src/patterns/CardsWithoutImages/__stories__/CardsWithoutImages.stories.js
  packages/patterns-react/src/patterns/LeadSpace/LeadSpace.js
  packages/patterns-react/src/patterns/LeadSpace/README.md
  packages/patterns-react/src/patterns/LeadSpaceCentered/README.md
  packages/patterns-react/src/patterns/ListSection/README.md
  packages/patterns-react/src/patterns/ListSection/__stories__/ListSection.stories.js
  packages/patterns-react/src/patterns/SimpleLongForm/README.md
  packages/patterns-react/src/patterns/UseCases/README.md
Due: prettier --write, eslint packages

fix(leadspace): fixed leadspace feature flag name in the story
  packages/patterns-react/src/patterns/LeadSpace/__stories__/LeadSpace.stories.js
Due: prettier --write, eslint packages

fix(webpack): remove custom css variable flag
  packages/patterns-react/.storybook/webpack.config.js
Due: prettier --write, eslint packages

fix(storybook): configure custom properties from carbon expressive flag
  packages/patterns-react/.storybook/webpack.config.js
  packages/react/.storybook/webpack.config.js
Due: prettier --write, eslint packages

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

fix(webpack): put back custom css variable flag
  packages/patterns-react/.storybook/webpack.config.js
Due: prettier --write, eslint packages

feat(footer): removal of feature flag for the locale selector in footer
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/Footer/__tests__/LocaleButton.test.js
  packages/react/src/internal/FeatureFlags.js
  packages/utilities/src/utilities/featureflag/featureflag.js
Due: prettier --write, eslint packages

fix(locale): fix locale detection based on location and browser lang
  packages/services/src/services/Locale/Locale.js
Due: prettier --write, eslint packages

fix(locale): remove relative package reference
  packages/react/src/components/LocaleModal/LocaleModal.js
Due: prettier --write, eslint packages

feat(component): add locale modal component
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/LocaleModal/index.js
  packages/react/src/components/index.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(component): add locale modal component
  packages/react/src/components/Footer/LocaleButton.js
Due: prettier --write, eslint packages

feat(component): add locale modal component
  packages/react/src/components/CardLink/__stories__/Card.stories.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/LocaleModal/__stories__/index.scss
  packages/react/src/components/LocaleModal/index.js
  packages/styles/scss/components/card-link/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): use local css for footer component
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Footer/__stories__/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): use local css for component (test)
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/__stories__/Card.stories.js
  packages/react/src/components/CardLink/__stories__/index.scss
  packages/react/src/components/CardLink/__tests__/CardLink.test.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(locale): responsive css fixes
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/LocaleModal/__stories__/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(test): add LocaleModal test
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.test.js
Due: prettier --write, eslint packages

fix(css): update locale modal outer margins to expressive
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(locale): fixes issue where only one language of a country listed
  packages/react/src/components/LocaleModal/LocaleModal.js
Due: prettier --write, eslint packages

feat(locale): bump alpha version to use new endpiont
  packages/react/package.json
  packages/react/src/components/Footer/LocaleButton.js
  packages/services/package.json
  packages/services/src/services/Locale/Locale.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): fix card link css import
  packages/styles/scss/components/card-link/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): update settings release version
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/patterns-react/CHANGELOG.md
  packages/patterns-react/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

chore(release): bump up to release v1.2.0-rc.0
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.2.0-alpha.1070.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.2.0-alpha.1070.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.2.0-alpha.1088.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.2.0-alpha.1146.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.2.0-alpha.1070.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.2.0-alpha.1075.tgz
  packages/patterns-react/package.json
  packages/react/examples/create-react-app/package.json
  packages/react/examples/nextjs/package.json
  packages/react/package.json
  packages/vanilla/package.json
  yarn.lock
Due: none

feat(locale): method for getting the language/locale display name
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
Due: prettier --write, eslint packages
