Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): update snapshot file
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(docs): updated doc
  packages/react/src/components/Masthead/README.md
Due: prettier --write

fix(console): various fixes to console errors
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/ButtonGroup.js
Due: prettier --write, eslint packages

fix(expressive-theme): removing __docgenInfo references
  packages/styles/src/carbon-stories/ComboBox/ComboBox-story.js
  packages/styles/src/carbon-stories/InlineLoading/InlineLoading-story.js
Due: prettier --write, eslint packages

style(locale-modal): underline added to the eyebrow link
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(languageselector): adding language selector option for the footer
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/LanguageSelector.js
  packages/react/src/components/Footer/README.md
  packages/react/src/components/Footer/__data__/language-items.json
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(languageselector): adding id to combo box
  packages/react/src/components/Footer/LanguageSelector.js
Due: prettier --write, eslint packages

docs(languageselector): updating docs for language selector
  packages/react/src/components/Footer/README.md
Due: prettier --write

fix(console): add icondescription and keys
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
Due: prettier --write, eslint packages

fix(css): fix masthead button hover/active colors; fixes #2204
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

style(locale-modal): applying correct type size
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): update masthead nav chevron size; fixes #2069
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): adjusting spacing to use tokens
  packages/styles/scss/components/footer/_language-selector.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(languageselector): uncommenting initialSelectedItem
  packages/react/src/components/Footer/LanguageSelector.js
Due: prettier --write, eslint packages

chore(carbon-upgrade): update to yarn offline mirror
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  yarn.lock
Due: none

fix(issue-1857): storybook knobs
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
Due: prettier --write, eslint packages

feat(callout): first commit
  packages/react/src/patterns/sub-patterns/Callout/Callout.js
  packages/react/src/patterns/sub-patterns/Callout/README.md
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
  packages/react/src/patterns/sub-patterns/Callout/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Callout/index.js
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): update to snapshot file
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(snapshot): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(proptypes): edit proptypes def for imagewithcaption and featurecard
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
Due: prettier --write, eslint packages

feat(callout): fixed grid spacing and added empty story example
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(dotcomshell): passing additional footer props through dotcomshell
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, eslint packages

docs(dotcomshell): tweaks to the DotcomShell docs
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, eslint packages

fix(languageselector): properly pass the selected item to the callback
  packages/react/src/components/Footer/LanguageSelector.js
Due: prettier --write, eslint packages

feat(pattern): quote pattern created
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Quote/Quote.js
  packages/react/src/patterns/sub-patterns/Quote/README.md
  packages/react/src/patterns/sub-patterns/Quote/__stories__/Quote.stories.js
  packages/react/src/patterns/sub-patterns/Quote/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Quote/__tests__/Quote.test.js
  packages/react/src/patterns/sub-patterns/Quote/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/quote/_quote.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(callout): added readme and storysnapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Callout/Callout.js
  packages/react/src/patterns/sub-patterns/Callout/README.md
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(masthead): unit test for MastheadLeftNav
  packages/react/src/components/Masthead/__tests__/MastheadLeftNav.test.js
Due: prettier --write, eslint packages

chore(branch): reverted commits
  packages/react/src/patterns/sub-patterns/Quote/README.md
Due: prettier --write

chore(snapshot): snapshot updated
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/Callout/__tests__/Callout.test.js
  packages/styles/scss/ibm-dotcom-styles.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(jest): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(jest): snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(components): expando announcing content (#376)
  packages/carbon-web-components/src/components/accordion/accordion-item.ts
  packages/carbon-web-components/src/components/tile/expandable-tile.ts
  packages/carbon-web-components/src/components/tile/tile-story-angular.ts
  packages/carbon-web-components/src/components/tile/tile-story-react.tsx
  packages/carbon-web-components/src/components/tile/tile-story-vue.ts
  packages/carbon-web-components/src/components/tile/tile-story.ts
Due: none

feat(react-wrapper): support non-attribute props (#367)
  packages/carbon-web-components/src/globals/wrappers/createReactCustomElementType.ts
  packages/carbon-web-components/tests/spec/createReactCustomElementType_spec.ts
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, eslint packages

fix(floating-menu): support for modal (#373)
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
Due: none

chore(components): upgrade to Carbon 10.11.x (#370)
  packages/carbon-web-components/examples/codesandbox/angular/package.json
  packages/carbon-web-components/examples/codesandbox/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/angular/package.json
  packages/carbon-web-components/examples/codesandbox/form/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/redux-form/package.json
  packages/carbon-web-components/examples/codesandbox/ie/package.json
  packages/carbon-web-components/examples/codesandbox/react/package.json
  packages/carbon-web-components/examples/codesandbox/rtl/package.json
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/package.json
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/package.json
  packages/carbon-web-components/examples/codesandbox/vue/package.json
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

fix(checkbox): fix padding (#372)
  packages/carbon-web-components/src/components/checkbox/checkbox.ts
  packages/carbon-web-components/tests/snapshots/bx-checkbox.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
