Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(eslint): remove unsupported properties in lint config
  packages/eslint-config-ibmdotcom/index.js
Due: prettier --write, eslint packages

fix(patterns): remove patterns package
  packages/patterns-react/.env
Due: none

fix(scss): fixed wrong scss selector issues in storybook
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentArrayGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/index.scss
  packages/styles/scss/patterns/blocks/listsection/_listsection-group.scss
  packages/styles/scss/patterns/blocks/listsection/_listsection.scss
  packages/styles/scss/patterns/blocks/listsection/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(ssr-test): adding ssr-test env to the release branch
  .eslintignore
  .prettierignore
  packages/react/ssr-tests/nextjs/.gitignore
  packages/react/ssr-tests/nextjs/README.md
  packages/react/ssr-tests/nextjs/manifest-staging.yml
  packages/react/ssr-tests/nextjs/manifest.yml
  packages/react/ssr-tests/nextjs/next.config.js
  packages/react/ssr-tests/nextjs/package.json
  packages/react/ssr-tests/nextjs/pages/_app.js
  packages/react/ssr-tests/nextjs/pages/_document.js
  packages/react/ssr-tests/nextjs/pages/index.js
  packages/react/ssr-tests/nextjs/public/favicon.ico
  packages/react/ssr-tests/nextjs/server.js
  packages/react/ssr-tests/nextjs/yarn.lock
Due: prettier --write, eslint packages

fix(ssr-test): adding missing ssr test files
  packages/react/ssr-tests/nextjs/components/altlang.js
  packages/react/ssr-tests/nextjs/components/data/altlang.json
Due: prettier --write, eslint packages

fix(rollup): remove unsupported property in build script
  packages/utilities/scripts/build.js
Due: prettier --write, eslint packages

feat(utils): add parsing for <p /> in markdown; fixes #1256
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Due: prettier --write, eslint packages

fix(vanilla): adding process null check for vanilla
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/MarketingSearch/MarketingSearch.js
  packages/services/src/services/Profile/Profile.js
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/services/src/services/Translation/Translation.js
  packages/utilities/src/utilities/geolocation/geolocation.js
Due: prettier --write, eslint packages

docs(footer): adding data structure docs for the footer
  packages/vanilla/src/components/footer/README.md
Due: prettier --write

fix(vanilla): added missing dependency
  .yarn/offline-mirror/@carbon-icons-10.8.2.tgz
  packages/vanilla/package.json
  yarn.lock
Due: none

fix(nextjs-test): updated yarn lock file
  packages/react/ssr-tests/nextjs/yarn.lock
Due: none

feat(component): updated the buttonGrp and featureCard
  packages/react/src/components/CTA/CTA.js
Due: prettier --write, eslint packages

feat(component): changed the event from onClick to onMouseDown event
  packages/react/src/components/CTA/CTA.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Due: prettier --write, eslint packages

feat(component): revert the change back to onClick event
  packages/react/src/components/CTA/CTA.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Due: prettier --write, eslint packages

fix(styles): folder name for featured link
  packages/styles/scss/patterns/featuredlink/README.md
  packages/styles/scss/patterns/featuredlink/_featuredlink.scss
  packages/styles/scss/patterns/featuredlink/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(component): add ContentBlockMedia story and README
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
Due: prettier --write, eslint packages

feat(component): add ContentBlock component
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
Due: prettier --write, eslint packages

feat(styles): add ContentBlock styles
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(blocks): rename UseCases to ContentBlockMedia
  packages/react/src/patterns/blocks/UseCases/README.md
  packages/react/src/patterns/blocks/UseCases/UseCases.js
  packages/react/src/patterns/blocks/UseCases/UseCasesGroup.js
  packages/react/src/patterns/blocks/UseCases/UseCasesItem.js
  packages/react/src/patterns/blocks/UseCases/__stories__/UseCases.stories.js
  packages/react/src/patterns/blocks/UseCases/__stories__/index.scss
  packages/react/src/patterns/blocks/UseCases/index.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): contentBlockMedia pattern replaces UseCases; fixes #1238
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
Due: prettier --write, eslint packages

feat(vanilla): adding overview to vanilla storybook
  .yarn/offline-mirror/showdown-1.9.1.tgz
  .yarn/offline-mirror/yargs-14.2.2.tgz
  .yarn/offline-mirror/yargs-parser-15.0.0.tgz
  packages/vanilla/.storybook/config.js
  packages/vanilla/package.json
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/footer/__stories__/footer.stories.js
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/overview.js
  yarn.lock
Due: prettier --write, eslint packages

feat(css): update ContentBlockMedia css
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media-group.scss
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(component): content blocks initial commit
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/README.md
  packages/react/src/patterns/sub-patterns/ContentBlock/index.js
  packages/react/src/patterns/sub-patterns/index.js
Due: prettier --write, eslint packages

fix(blocks): rename UseCases to ContentBlockMedia
  packages/react/src/patterns/blocks/UseCases/README.md
  packages/react/src/patterns/blocks/UseCases/UseCases.js
  packages/react/src/patterns/blocks/UseCases/UseCasesItem.js
  packages/react/src/patterns/blocks/UseCases/__stories__/UseCases.stories.js
  packages/react/src/patterns/blocks/UseCases/__stories__/index.scss
  packages/react/src/patterns/blocks/UseCases/index.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(patterns): remove UseCase export
  .yarn/offline-mirror/@carbon-icons-10.8.0.tgz
  packages/react/src/patterns/blocks/index.js
Due: prettier --write, eslint packages

feat(vanilla): cleanup of vanilla storybook
  packages/react/.env.example
  packages/vanilla/.env.example
  packages/vanilla/.storybook/config.js
  packages/vanilla/README.md
  packages/vanilla/src/overview/markdown.css
  packages/vanilla/src/overview/overview.js
Due: prettier --write, eslint packages

feat(vanilla): cleanup of vanilla storybook
  packages/vanilla/src/components/footer/__stories__/footer.stories.js
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
Due: prettier --write, eslint packages

feat(vanilla): changed to linking to sample data instead
  packages/react/src/components/Footer/__data__/footer-legal.json
  packages/react/src/components/Footer/__data__/footer-menu.json
  packages/react/src/components/Footer/__data__/footer-thin.json
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/react/src/components/Footer/__tests__/FooterNav.test.js
  packages/react/src/components/Footer/__tests__/FooterNavGroup.test.js
  packages/react/src/components/Footer/__tests__/LegalNav.test.js
  packages/vanilla/src/components/footer/README.md
Due: prettier --write, eslint packages

docs(footer): adding sample data links for footer react
  packages/react/src/components/Footer/README.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
