Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(pricing-table): temporarily ignore ts error for ci (#8393)
  packages/web-components/src/components/pricing-table/pricing-table-header-row.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

update leadspace-with-search styles & scroll handling
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(storybook): remove a11y
  .yarn/offline-mirror/babel-plugin-polyfill-corejs3-0.1.7.tgz
  .yarn/offline-mirror/better-opn-2.1.1.tgz
  .yarn/offline-mirror/bytes-3.0.0.tgz
  .yarn/offline-mirror/compressible-2.0.18.tgz
  .yarn/offline-mirror/compression-1.7.4.tgz
  .yarn/offline-mirror/cp-file-7.0.0.tgz
  .yarn/offline-mirror/cpy-8.1.2.tgz
  .yarn/offline-mirror/dezalgo-1.0.4.tgz
  .yarn/offline-mirror/domelementtype-2.2.0.tgz
  .yarn/offline-mirror/domelementtype-2.3.0.tgz
  .yarn/offline-mirror/downshift-6.1.7.tgz
  .yarn/offline-mirror/electron-to-chromium-1.4.105.tgz
  .yarn/offline-mirror/electron-to-chromium-1.4.106.tgz
  .yarn/offline-mirror/endent-2.1.0.tgz
  .yarn/offline-mirror/error-stack-parser-2.0.7.tgz
  .yarn/offline-mirror/fast-json-parse-1.0.3.tgz
  .yarn/offline-mirror/fork-ts-checker-webpack-plugin-4.1.6.tgz
  .yarn/offline-mirror/fs-monkey-1.0.3.tgz
  .yarn/offline-mirror/glob-promise-3.4.0.tgz
  .yarn/offline-mirror/has-glob-1.0.0.tgz
  .yarn/offline-mirror/highlight.js-10.7.3.tgz
  packages/web-components/.storybook/main.js
  packages/web-components/.storybook/preview.ts
  packages/web-components/.storybook/react/preview.tsx
  packages/web-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

fix(props): remove hardcoded data and use props
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(video-player): ensure only automatic thumbnails get updated. (#8680)
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(actions): remove cypress e2e Firefox tests
  .github/workflows/e2e-tests.yml
Due: none

replicate sticky search bar animations
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

use design tokens, remove debugging styles
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pictogram-item): changing some names and fixing broken SVGs
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/defs.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(pictogram-item): adding a prop and knob for pictogram color
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/defs.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): add `skip-to-content` web component (#8677)
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/.storybook/config.ts
  packages/web-components/examples/codesandbox/components/structured-list/src/index.js
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/skip-to-content.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/index.ts
  packages/web-components/src/components/structured-list/structured-list-body.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
  packages/web-components/src/components/structured-list/structured-list-group.ts
  packages/web-components/src/components/structured-list/structured-list-head.ts
  packages/web-components/src/components/structured-list/structured-list-header-cell.ts
  packages/web-components/src/components/structured-list/structured-list-header-row.ts
  packages/web-components/src/components/structured-list/structured-list-row.ts
  packages/web-components/src/components/structured-list/structured-list.scss
  packages/web-components/src/components/structured-list/structured-list.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(cypress): add moderate impacts to react tests
  packages/react/tests/e2e-storybook/cypress/support/commands.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix testing errors
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pricing-table): compound selectors cannot be extended (#8393)
  packages/styles/scss/components/pricing-table/_pricing-table.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix sticky search heading alignment
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix sticky search threshold
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(format): use prettier
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/Masthead/Masthead.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(pictogram-item): Allow for changing of Pictogram color (#8682)
  packages/styles/scss/components/pictogram-item/_pictogram-item.scss
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/defs.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
