Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): define position & z-index on cloud masthead container
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block-media): removed feature-card large
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-media): removed eyebrow and copy from FC
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(e2e): close to working build script
  packages/web-components/examples/codesandbox/components/masthead/.sassrc
  packages/web-components/examples/codesandbox/components/pictogram-item/.sassrc
  packages/web-components/examples/codesandbox/components/quote/.sassrc
  packages/web-components/examples/codesandbox/components/scroll-animations/.sassrc
  packages/web-components/examples/codesandbox/components/table-of-contents/.sassrc
  packages/web-components/examples/codesandbox/components/video-player/.sassrc
  packages/web-components/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/build/examples-scaffold/package.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(e2e): adding quotes around folders to account for spaces
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(leadspace): updating e2e test file
  packages/tests-e2e/__tests__/leadspace/leadspace.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(lightbox-video-player): update videoID and only open if playing mode is lightbox (#6226)
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(utilities): use util package for deprecate
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(cloud-foundry): updating manifest confic to force https
  packages/react/manifest-canary.yml
  packages/react/manifest-experimental.yml
  packages/react/manifest-expressive.yml
  packages/react/manifest-rtl.yml
  packages/react/manifest-staging.yml
  packages/react/manifest.yml
  packages/services/manifest.yml
  packages/styles/manifest.yml
  packages/utilities/manifest.yml
  packages/web-components/manifest-canary.yml
  packages/web-components/manifest-experimental.yml
  packages/web-components/manifest-react.yml
  packages/web-components/manifest-rtl.yml
  packages/web-components/manifest-staging.yml
  packages/web-components/manifest.yml
Due: none

fix(leadspace): breadcrumb style import
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(utilities): use util package for deprecate instead of relative path (#6235)
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): take out column count and use flexbox instead
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): running yarn build individually to avoid memory issues
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(cloud-foundry): updating manifest configs to force https (#6238)
  packages/react/manifest-canary.yml
  packages/react/manifest-experimental.yml
  packages/react/manifest-expressive.yml
  packages/react/manifest-rtl.yml
  packages/react/manifest-staging.yml
  packages/react/manifest.yml
  packages/services/manifest.yml
  packages/styles/manifest.yml
  packages/utilities/manifest.yml
  packages/web-components/manifest-canary.yml
  packages/web-components/manifest-experimental.yml
  packages/web-components/manifest-react.yml
  packages/web-components/manifest-rtl.yml
  packages/web-components/manifest-staging.yml
  packages/web-components/manifest.yml
Due: none

fix(e2e): fixing the folder name for the dist example output
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace): breadcrumb style import (#6239)
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(leadspace): updating deprecation warning in favour of the new utility
  packages/react/src/components/LeadSpace/LeadSpace.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace): updating the Deprecate utility import path
  packages/react/src/components/LeadSpace/LeadSpace.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block): ensure heading stays close to the grid
  packages/react/src/internal/components/ContentBlock/ContentBlock.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): adjust the user svg color for react
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(notification): add low contrast mode (#646)
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/inline-notification.ts
  packages/carbon-web-components/src/components/notification/notification-story-angular.ts
  packages/carbon-web-components/src/components/notification/notification-story-react.tsx
  packages/carbon-web-components/src/components/notification/notification-story-vue.ts
  packages/carbon-web-components/src/components/notification/notification-story.ts
  packages/carbon-web-components/src/components/notification/toast-notification.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(block-segmented): remove left padding for content w/link list
  packages/styles/scss/components/content-block-segmented/_content-block-segmented.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(e2e): adding console logs for troubleshooting node_modules pathing
  packages/web-components/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/build/examples-scaffold/lerna.json
  packages/web-components/tests/e2e/build/examples-scaffold/package.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(dotcom-shell): add checks if ToC exist
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(e2e): removing console logs
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(dotcom-shell): add checks if ToC exist (#6257)
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): fix cloud top nav name padding issue
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): light color scheme when border
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix: adding kennylam's suggestions from pr #6102
  packages/react/src/components/AudioPlayer/AudioPlayer.js
  packages/react/src/components/AudioPlayer/AudioPlayerPlaybackRateMenu.js
  packages/react/src/components/AudioPlayer/AudioPlayerVolumeControl.js
  packages/react/src/components/AudioPlayer/README.stories.mdx
  packages/styles/scss/components/audio-player/_audio-player.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix: removing the keyword video for audio and media
  packages/react/src/components/AudioPlayer/AudioPlayer.js
  packages/react/src/components/AudioPlayer/AudioPlayerCaptionText.js
  packages/react/src/components/AudioPlayer/AudioPlayerCaptionsMenu.js
  packages/react/src/components/AudioPlayer/AudioPlayerScrubber.js
  packages/react/src/components/AudioPlayer/AudioPlayerThumbnail.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(prettier): adding examples scaffold to prettierignore
  .prettierignore
Due: none

fix(masthead-search): delay position for cursor focus (#6208)
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix: disabled icons are forcefully -03
  packages/styles/scss/components/audio-player/_audio-player.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
