Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

feat(rtl-arrow): clean up link-list story for rtl arrows
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): clean up tabs-extended-media story for rtl arrows
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): clean up tabs-extended story for rtl arrows
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): remove unused import
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): support using correct arrow in rtl
  packages/web-components/src/component-mixins/cta/cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat: instrument with telemetry JS scope
  packages/carbon-web-components/package.json
  packages/services/package.json
  packages/services/telemetry.yml
  packages/styles/package.json
  packages/utilities/package.json
  packages/utilities/telemetry.yml
  packages/web-components/package.json
  packages/web-components/telemetry.yml
  yarn.lock
Due: none

feat(link-with-icon): add cta mixin to link-with-icon
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): css logical properties for card
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(rtl-arrow): clean up stories for rtl arrows
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): clean up stories for rtl arrows
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-group-banner/__stories__/content-group-banner.stories.ts
  packages/web-components/src/components/content-group-cards/__stories__/content-group-cards.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(menu): hover effects
  packages/carbon-web-components/src/components/menu/menu-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(menu): context ontegration
  .yarn/cache/@lit-context-npm-1.1.1-7fcf90296c-18b78d9123.zip
  .yarn/cache/@lit-labs-ssr-dom-shim-npm-1.2.0-6bda8c35cb-33679defe0.zip
  .yarn/cache/@lit-reactive-element-npm-2.0.4-4836436301-16aa5a8d91.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/menu/menu-context.ts
  packages/carbon-web-components/src/components/menu/menu-item-radio-group.ts
  packages/carbon-web-components/src/components/menu/menu-item-selectable.ts
  packages/carbon-web-components/src/components/menu/menu-item.ts
  packages/carbon-web-components/src/components/menu/menu.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): clean up stories for rtl arrows
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/link-list-section/__stories__/link-list-section.stories.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat: instrument with telemetry JS scope (#11747)
  packages/carbon-web-components/package.json
  packages/services/package.json
  packages/services/telemetry.yml
  packages/styles/package.json
  packages/utilities/package.json
  packages/utilities/telemetry.yml
  packages/web-components/package.json
  packages/web-components/telemetry.yml
  yarn.lock
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(rtl-arrow): clean up stories for rtl arrows
  packages/web-components/src/components/button-group/__stories__/button-group.stories.ts
  packages/web-components/src/components/content-block-card-static/__stories__/content-block-card-static.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.c3d1e14b0b16da7aa87d.manager.bundle.js
  canary/web-components-experimental/main.ecdc15bcd170a7bf401c.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.6b25f27c.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.888f765b.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.888f765b.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.94dbde78a74f3fe9d7da.manager.bundle.js
  canary/web-components-react/main.9c3b9658903c87a4b504.manager.bundle.js
  canary/web-components-react/main~c98f95f3.1455ed37.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.1455ed37.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.2dc29b8b.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.c3d1e14b0b16da7aa87d.manager.bundle.js
  canary/web-components-rtl/main.ecdc15bcd170a7bf401c.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.6b25f27c.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.888f765b.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.888f765b.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.c3d1e14b0b16da7aa87d.manager.bundle.js
  canary/web-components/main.ecdc15bcd170a7bf401c.manager.bundle.js
  canary/web-components/main~c98f95f3.6b25f27c.iframe.bundle.js
  canary/web-components/main~c98f95f3.888f765b.iframe.bundle.js
  canary/web-components/main~c98f95f3.888f765b.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(rtl-arrow): set the padding back, taken care of by rtl bundle
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(menu): context for menu item
  packages/carbon-web-components/src/components/menu/menu-context.ts
  packages/carbon-web-components/src/components/menu/menu-item.ts
  packages/carbon-web-components/src/components/menu/menu.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(group-item): remove role and aria-level
  packages/web-components/src/components/content-group/content-group-heading.ts
  packages/web-components/src/components/content-item/content-item-heading.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): remove unnecessary portions
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): clean up stories
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): fix linting errors
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(sticky-header): use more descriptive property name
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): remove commented code
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): consistently use self reference
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(test): deploy preview workflow test
  .github/workflows/deploy-preview-carbon-web-components.yml
Due: none

fix(sticky-header): more consistently use self reference
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): search must be at top before adding to scrollaway
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(rtl-arrow): prettier for changed stories files
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-group-banner/__stories__/content-group-banner.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): run formatter
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-group): support RTL card groups
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): avoid halting execution on null element
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(parent-visibility): decouple tab from parent visibility
  packages/web-components/src/component-mixins/parent-visibility/parent-visibility.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(breadcrumb): add overflow-menu-import (#11745)
  packages/carbon-web-components/src/components/breadcrumb/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
