Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block-mixed): remove conflicting element IDs (#8219)
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Services to GitHub Pages
  services/AnalyticsAPI.html
  services/DDOAPI.html
  services/KalturaPlayerAPI.html
  services/LocaleAPI.html
  services/MarketingSearchAPI.html
  services/MastheadLogoAPI.html
  services/ProfileAPI.html
  services/SearchTypeaheadAPI.html
  services/TranslationAPI.html
  services/VideoPlayerAPI.html
  services/global.html
  services/index.html
  services/index.js.html
  services/services_Analytics_Analytics.js.html
  services/services_CloudAccountAuth_CloudAccountAuth.js.html
  services/services_DDO_DDO.js.html
  services/services_KalturaPlayer_KalturaPlayer.js.html
  services/services_Locale_Locale.js.html
  services/services_MarketingSearch_MarketingSearch.js.html
  services/services_MastheadLogo_MastheadLogo.js.html
  services/services_Profile_Profile.js.html
  services/services_SearchTypeahead_SearchTypeahead.js.html
  services/services_Translation_Translation.js.html
  services/services_VideoPlayer_VideoPlayer.js.html
  services/services_global_global.js.html
  services/services_global_index.js.html
  services/services_index.js.html
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

fix(locale-modal): add aria-live announcement to search results
  packages/web-components/src/components/locale-modal/locale-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): make locale-items listitems
  packages/web-components/src/components/locale-modal/locale-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): update focus managment logic
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(cypress-axe-core): in web components
  .yarn/offline-mirror/axe-core-4.4.1.tgz
  .yarn/offline-mirror/cypress-axe-0.14.0.tgz
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress.json
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-simple/card-section-simple.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-group-pictograms/content-group-pictograms.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-item/content-item.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/_tests.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button-cta.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/text-cta.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/leadspace/leadspace.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/lightbox-media-viewer/lightbox-media-viewer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/end-of-section.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/horizontal.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/vertical.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-with-icon/default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/locale-modal/locale-modal.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/logo-grid/logo-grid.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-custom-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-l1.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-platform.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-scoped-search.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead-search-onload.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/pictogram-item/pictogram-item.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/table-of-contents/table-of-contents.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/plugins/index.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
  packages/web-components/tests/e2e-storybook/cypress/support/index.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cypress-axe-core): card format
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead): reinstate cloud-masthead urlObject
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cypress-axe-core): introduce react
  .yarn/offline-mirror/cypress-9.3.1.tgz
  .yarn/offline-mirror/cypress-9.4.1.tgz
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress/integration/CTA/ButtonCTA.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Feature.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/TextCTA.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/_tests.js
  packages/react/tests/e2e-storybook/cypress/integration/CalloutQuote/CalloutQuote.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardLink/CardLink.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionImages/CardSectionImages.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardSectionSimple/CardSectionSimple.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/ContentGroupPictograms/ContentGroupPictograms.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/ContentItem/ContentItem.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/FeatureCard/FeatureCard.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LeadSpace/LeadSpace.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LightboxMediaViewer/LightboxMediaViewer.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/Default.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/EndOfSection.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/Horizontal.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/Vertical.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LinkWithIcon/Default.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LocaleModal/LocaleModal.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/LogoGrid/LogoGrid.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Masthead/Masthead.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/PictogramItem/PictogramItem.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/Quote/Quote.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/TableOfContents/TableOfContents.e2e.js
  packages/react/tests/e2e-storybook/cypress/plugins/index.js
  packages/react/tests/e2e-storybook/cypress/support/commands.js
  packages/react/tests/e2e-storybook/cypress/support/index.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cypress-axe-core): format wc
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead): add test for scrolling navbar at narrow desktop
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/cloud/cloud-masthead.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): update unit test snapshots
  packages/web-components/tests/snapshots/dds-expressive-modal.md
  packages/web-components/tests/snapshots/dds-locale-modal.md
  packages/web-components/tests/snapshots/dds-locale-search.md
  packages/web-components/tests/snapshots/dds-region-item.md
Due: prettier --write

Update cypress.json
  packages/web-components/tests/e2e-storybook/cypress.json
Due: none

feat(filter-panel): document event name getter (#7405)
  packages/web-components/src/components/filter-panel/filter-group-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(filter-panel): do not rely on type casting (#7405)
  packages/web-components/src/components/filter-panel/filter-group-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(universal-banner): create component
  packages/storybook-images/assets/universal-banner/universal-banner-4-col-image.jpg
  packages/storybook-images/assets/universal-banner/universal-banner-8-col-image.jpg
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/dotcom-shell/__stories__/README.stories.mdx
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/universal-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/universal-banner/__stories__/README.stories.react.mdx
  packages/web-components/src/components/universal-banner/__stories__/search-with-typeahead.stories.react.tsx
  packages/web-components/src/components/universal-banner/__stories__/universal-banner.stories.ts
  packages/web-components/src/components/universal-banner/index.ts
  packages/web-components/src/components/universal-banner/universal-banner-copy.ts
  packages/web-components/src/components/universal-banner/universal-banner-heading.ts
  packages/web-components/src/components/universal-banner/universal-banner-image.ts
  packages/web-components/src/components/universal-banner/universal-banner.scss
  packages/web-components/src/components/universal-banner/universal-banner.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cloud-masthead): replace cookie auth with window object status (#8149)
  packages/services-store/src/actions/cloudAccountAuthAPI.ts
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(link-with-icon): adjust left icon placement style & clean up
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(universal-banner): remove image class if not needed
  packages/web-components/src/components/universal-banner/universal-banner.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(universal-banner): fixed ci checks
  packages/web-components/src/components/universal-banner/universal-banner.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(cta): optional video thumbnail (#8200)
  packages/web-components/src/components/card-in-card/card-in-card.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/card-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
