Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(ContentItemHorizontal): fixed grid alignment added padding so items could be aligned with grid position
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ContentGroup): text lengths
  packages/styles/scss/internal/content-group/_content-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(VideoPlayer): ensure only the video thumbnail for the video clicked gets removed from DOM (#2857)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/VideoImageOverlay.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(ContentItemHorizontal): fixed grid alignment added padding so items could be aligned with position
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(callout-data)
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/CalloutData/CalloutData.js
  packages/react/src/patterns/blocks/CalloutData/README.stories.mdx
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
  packages/react/src/patterns/blocks/CalloutData/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
  packages/styles/scss/patterns/blocks/callout-data/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): update storyshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(actions): updating merge actions token name
  .github/workflows/automerge.yml
Due: none

feat(callout-data): pattern created
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/CalloutData/CalloutData.js
  packages/react/src/patterns/blocks/CalloutData/README.stories.mdx
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
  packages/react/src/patterns/blocks/CalloutData/index.js
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

chore(test): updated snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

test(react): add test for bundle size
  .yarn/offline-mirror/@babel-cli-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-annotate-as-pure-7.10.1.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.7.4.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.9.0.tgz
  .yarn/offline-mirror/@babel-helper-validator-identifier-7.10.3.tgz
  .yarn/offline-mirror/@babel-parser-7.5.5.tgz
  .yarn/offline-mirror/@babel-parser-7.7.4.tgz
  .yarn/offline-mirror/@babel-parser-7.9.4.tgz
  .yarn/offline-mirror/@babel-types-7.10.3.tgz
  .yarn/offline-mirror/glob-7.1.6.tgz
  .yarn/offline-mirror/output-file-sync-2.0.1.tgz
  .yarn/offline-mirror/regjsparser-0.6.0.tgz
  .yarn/offline-mirror/rollup-plugin-scss-2.5.0.tgz
  .yarn/offline-mirror/rollup-plugin-virtual-1.0.1.tgz
  package.json
  packages/eslint-config-ibmdotcom/index.js
  packages/react/package.json
  packages/react/tests/bundle-size-test.js
  tasks/babel-plugin-temporarily-eliminate-react-redundant-code.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CTASection): adjust spacing when no content items
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(code): clean up unused code
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CTASection): content items optional
  packages/react/src/patterns/sections/CTASection/CTASection.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(CardImageHover): updated filter brightness (#2864)
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(dependencies): add in missing offline mirror
  .yarn/offline-mirror/@babel-cli-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.5.5.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.7.4.tgz
  .yarn/offline-mirror/@babel-helper-module-transforms-7.9.0.tgz
  .yarn/offline-mirror/@babel-parser-7.5.5.tgz
  .yarn/offline-mirror/@babel-parser-7.7.4.tgz
  .yarn/offline-mirror/@babel-parser-7.9.4.tgz
  .yarn/offline-mirror/output-file-sync-2.0.1.tgz
  .yarn/offline-mirror/regjsparser-0.6.0.tgz
Due: none

chore(storybook): update story and storyshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/data/content.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(callout-data): fixed wrong proptypes
  packages/react/src/patterns/blocks/CalloutData/CalloutData.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(callout-data): fixed wrong proptypes
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

test(integration): run bundle size test in different CI
  .github/workflows/test-integration-react.yml
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/tests/integration/bundle/bundle-size.test.js
  packages/react/tests/integration/bundle/jest.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block): updated copy token to match updated designs
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(link-with-icon): added inverse theming
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(link-with-icon): added inverse theming
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LinkWithIcon/__tests__/LinkWithIcon.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(LinkList): added back max-width and hang mixin Replacing margin-left and margin-right with hang mixin and set max-width back to 640px
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LeadspaceBlock): removed unecessary width Removed unecessary width and max-width from HR, also removed max-width from link-list in order to make it fit into leadspaceBlock grid size
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LeadspaceBlock): top & bottom spacing
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LinkList): fixed rulers overlap (#2870)
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ToC): styling changes
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(yarn): updating yarn dependencies
  .yarn/offline-mirror/@dabh-diagnostics-2.0.2.tgz
  .yarn/offline-mirror/async-3.2.0.tgz
  .yarn/offline-mirror/colornames-1.1.1.tgz
  .yarn/offline-mirror/diagnostics-1.1.1.tgz
  .yarn/offline-mirror/enabled-1.0.2.tgz
  .yarn/offline-mirror/enabled-2.0.0.tgz
  .yarn/offline-mirror/env-variable-0.0.6.tgz
  .yarn/offline-mirror/fecha-2.3.3.tgz
  .yarn/offline-mirror/fecha-4.2.0.tgz
  .yarn/offline-mirror/fn.name-1.1.0.tgz
  .yarn/offline-mirror/is-stream-2.0.0.tgz
  .yarn/offline-mirror/kuler-1.0.1.tgz
  .yarn/offline-mirror/kuler-2.0.0.tgz
  .yarn/offline-mirror/logform-2.1.2.tgz
  .yarn/offline-mirror/logform-2.2.0.tgz
  .yarn/offline-mirror/one-time-0.0.4.tgz
  .yarn/offline-mirror/one-time-1.0.0.tgz
  .yarn/offline-mirror/puppeteer-3.1.0.tgz
  .yarn/offline-mirror/winston-3.2.1.tgz
  .yarn/offline-mirror/winston-3.3.3.tgz
  .yarn/offline-mirror/winston-transport-4.3.0.tgz
  .yarn/offline-mirror/winston-transport-4.4.0.tgz
  yarn.lock
Due: none

chore(workflow): adding github action for running e2e tests
  .github/workflows/test-e2e-react.yml
Due: none

fix(ToC): styling changes
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(dependencies): add missing package
  .yarn/offline-mirror/babel-plugin-transform-react-remove-prop-types-0.4.24.tgz
Due: none
