Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(CTA): updating stories to accept custom video title
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/card-cta-footer.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(text-CTA): removing useless attribute
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/text-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image): support optional image borders #6528
  packages/styles/scss/components/image/_image.scss
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(lightbox-m-viewer): typo and syntax fixes and prop descriptions update
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cloud-masthead): adjust the cookie to PROD
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cloud-masthead): increase the z-index of cloud-masthead-container
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cloud-masthead): add inline styling for the z-index
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cloud-masthead): add a comment
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): submenu triggers selected item
  packages/react/src/components/Masthead/MastheadTopNav.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image): properly set dynamic classes #6528
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): hc-2132 restore selectedMenuItem functionality
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cloud-masthead): adjust the cookie to PROD ID & overlapping issue on v18 L1 Nav (#7037)
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(lightbox-m-viewer): updating prop description
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(video-player-composite): support image and caption overrides (#7025)
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

fix(cloud-masthead): adjust the cookie to PROD ID & overlapping issue on v18 L1 Nav (#7037) (#7043)
  packages/services/src/services/CloudAccountAuth/CloudAccountAuth.js
  packages/services/src/services/CloudAccountAuth/__tests__/CloudAccountAuth.test.js
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(Logo-grid): changed the card heading style to expressive
  packages/styles/scss/components/logo-grid/_logo-grid.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(component): make function private
  packages/react/src/components/Masthead/MastheadTopNav.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(LightboxMediaViewer): typo and syntax fixes and prop descriptions update (#7036)
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(text-CTA): removing useless properties
  packages/web-components/src/components/cta/text-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(feature-card): added min height
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): height auto for short variation
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(table-of-contents): add heading content story in wrapper
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(node): adding default package exports for services/utilities
  packages/services/package.json
  packages/utilities/package.json
Due: none

chore(housekeeping): deprecate experimental components
  packages/react/src/components/CalloutData/CalloutData.js
  packages/react/src/components/CalloutData/__stories__/CalloutData.stories.js
  packages/react/src/components/PromoBanner/PromoBanner.js
  packages/react/src/components/PromoBanner/__stories__/PromoBanner.stories.js
  packages/react/src/components/SimpleBenefits/SimpleBenefits.js
  packages/react/src/components/SimpleBenefits/__stories__/SimpleBenefits.stories.js
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image): support optional image borders (#7035)
  packages/styles/scss/components/image/_image.scss
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(housekeeping): remove other use of deprecated flags
  packages/react/.env.example
  packages/react/src/internal/FeatureFlags.js
  packages/web-components/.env.example
  packages/web-components/src/components/callout-data/__tests__/callout-data.test.ts
  packages/web-components/tests/karma.conf.js
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(housekeeping): deleting the components
  packages/react/src/components/CalloutData/CalloutData.js
  packages/react/src/components/CalloutData/README.stories.mdx
  packages/react/src/components/CalloutData/index.js
  packages/react/src/components/PromoBanner/PromoBanner.js
  packages/react/src/components/PromoBanner/README.stories.mdx
  packages/react/src/components/PromoBanner/index.js
  packages/react/src/components/SimpleBenefits/README.stories.mdx
  packages/react/src/components/SimpleBenefits/SimpleBenefits.js
  packages/react/src/components/SimpleBenefits/SimpleBenefitsItem.js
  packages/react/src/components/SimpleBenefits/index.js
  packages/react/src/components/index.js
  packages/styles/scss/components/callout-data/_callout-data.scss
  packages/styles/scss/components/callout-data/index.scss
  packages/styles/scss/components/promo-banner/index.scss
  packages/styles/scss/components/promo-banner/promo-banner.scss
  packages/styles/scss/components/simplebenefits/README.md
  packages/styles/scss/components/simplebenefits/_simplebenefits-item.scss
  packages/styles/scss/components/simplebenefits/_simplebenefits.scss
  packages/styles/scss/components/simplebenefits/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/simplebenefits/README.md
  packages/styles/scss/patterns/sections/simplebenefits/_simplebenefits-item.scss
  packages/styles/scss/patterns/sections/simplebenefits/_simplebenefits.scss
  packages/styles/scss/patterns/sections/simplebenefits/index.scss
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__tests__/callout-data.test.ts
  packages/web-components/src/components/callout-data/callout-data-copy.ts
  packages/web-components/src/components/callout-data/callout-data-heading.ts
  packages/web-components/src/components/callout-data/callout-data-source.ts
  packages/web-components/src/components/callout-data/callout-data.scss
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/src/components/callout-data/index.ts
  packages/web-components/tests/karma.conf.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(snapshots): update snapshots
  packages/web-components/tests/snapshots/dds-callout-data.md
Due: prettier --write

fix(table-of-contents): prevent extra space above Table of Contents (#6981)
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.scss
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-10.0.0.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  .yarn/offline-mirror/uuid-8.3.2.tgz
  yarn.lock
Due: none

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tests-e2e/CHANGELOG.md
  packages/tests-e2e/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write
