Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(masthead): integrate enhancements from alpha branch (#11183)
  packages/styles/scss/components/masthead/_masthead.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): support all CMaaS CTA types for L1 CTA (#11597)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(table-of-contents): fix horizontal react wrapper variation
  packages/styles/scss/components/tableofcontents/_table-of-contents.scss
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.react.mdx
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(toc): adjust mobile selector, should always be navbar (#11589)
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

fix(content-block): add story and fix issues
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-block/__stories__/data/content.js
  packages/web-components/src/components/content-block/content-block.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(headings/copy): spacing
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(table-of-contents): react wrapper - update horizontal variation attribute name in (#11657)
  packages/styles/scss/components/tableofcontents/_table-of-contents.scss
  packages/web-components/src/components/table-of-contents/__stories__/README.stories.react.mdx
  packages/web-components/src/components/table-of-contents/__stories__/table-of-contents.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(button-group): extend button icon styles for button-group-item
  packages/styles/scss/components/button-group/_button-group.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~8e0c9f68.4f4b68ba.iframe.bundle.js
  canary/web-components-experimental/main~8e0c9f68.4f4b68ba.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~8e0c9f68.f681e7b2.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.a9ef0246.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.c1ca1254.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.c1ca1254.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~a0cae88c.3b598c0a.iframe.bundle.js
  canary/web-components-react/main~a0cae88c.3b598c0a.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~a0cae88c.6da79c11.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.7c5a41ac.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.7c5a41ac.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.7c6ee999.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~8e0c9f68.4f4b68ba.iframe.bundle.js
  canary/web-components-rtl/main~8e0c9f68.4f4b68ba.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~8e0c9f68.f681e7b2.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.a9ef0246.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.c1ca1254.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.c1ca1254.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~8e0c9f68.4f4b68ba.iframe.bundle.js
  canary/web-components/main~8e0c9f68.4f4b68ba.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~8e0c9f68.f681e7b2.iframe.bundle.js
  canary/web-components/main~c98f95f3.a9ef0246.iframe.bundle.js
  canary/web-components/main~c98f95f3.c1ca1254.iframe.bundle.js
  canary/web-components/main~c98f95f3.c1ca1254.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block): use cta-type for button-group
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lit): add ?lit suffix to css import
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(css): remove `rtl` artifact builds (#11486)
  .yarn/cache/browserslist-npm-4.23.0-8126a959d4-496c3862df.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001588-4c3a70951f-09150ef2da.zip
  .yarn/cache/core-js-compat-npm-3.35.1-1088e0320e-9a153c6659.zip
  .yarn/cache/core-js-compat-npm-3.36.0-340503af6c-633c49a254.zip
  .yarn/cache/rtlcss-npm-3.5.0-86a685a37e-141ffcb031.zip
  .yarn/cache/sass-npm-1.70.0-153257249c-f933545d72.zip
  .yarn/cache/sass-npm-1.71.0-38088726c4-5616f0ef0d.zip
  .yarn/cache/terser-npm-5.27.0-c18b449e2e-9b2c5cb007.zip
  .yarn/cache/terser-npm-5.27.1-04445d9384-4b5c8c6554.zip
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/gulp-tasks/build/dist.js
  packages/carbon-web-components/gulp-tasks/build/modules/css.js
  packages/carbon-web-components/gulp-tasks/build/modules/icons.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tsconfig.json
  packages/styles/scss/components/in-page-banner/_in-page-banner.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/.storybook/preview.ts
  packages/web-components/.storybook/react/preview.tsx
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/enable-rtl.stories.mdx
  packages/web-components/gulp-tasks/build/components.js
  packages/web-components/gulp-tasks/build/dist.js
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/package.json
  packages/web-components/src/components/button/__stories__/button.mdx
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(rtl): add wc storybook rtl cmd back in for testing (#11618)
  packages/web-components/package.json
Due: none

chore(storybook): cwc remove stackblitz iframes from storybook (#11495)
  packages/carbon-web-components/docs/form.mdx
  packages/carbon-web-components/docs/styling.mdx
  packages/carbon-web-components/docs/welcome.mdx
Due: none

chore(rtl): remove unused docs and deps (#11592)
  .yarn/cache/@babel-code-frame-npm-7.22.13-2782581d20-bf6ae6ba3a.zip
  .yarn/cache/@babel-highlight-npm-7.22.20-5de7aba88d-1aabc95b2c.zip
  .yarn/cache/@carbon-ibm-products-styles-npm-2.28.0-809aeccc71-e895f56284.zip
  .yarn/cache/@choojs-findup-npm-0.2.1-13bdf9d041-550c58aac2.zip
  .yarn/cache/@types-qs-npm-6.9.10-ce6b6e69f0-3e479ee056.zip
  .yarn/cache/@types-qs-npm-6.9.11-e12802ac61-620ca1628b.zip
  .yarn/cache/browserslist-npm-4.23.0-8126a959d4-496c3862df.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001588-4c3a70951f-09150ef2da.zip
  .yarn/cache/core-js-compat-npm-3.32.0-86eb2f7323-a460119231.zip
  .yarn/cache/core-js-compat-npm-3.36.0-340503af6c-633c49a254.zip
  .yarn/cache/gulp-rtlcss-npm-1.4.2-a61671ca13-a4c6680927.zip
  .yarn/cache/postcss-npm-6.0.23-b0e5acc785-218e21b4f4.zip
  .yarn/cache/rtlcss-npm-2.6.2-6a5419b73c-6d3cb2ea10.zip
  .yarn/cache/sass-npm-1.71.0-38088726c4-5616f0ef0d.zip
  .yarn/cache/terser-npm-5.27.0-c18b449e2e-9b2c5cb007.zip
  .yarn/cache/terser-npm-5.27.1-04445d9384-4b5c8c6554.zip
  packages/carbon-web-components/docs/styling.md
  packages/carbon-web-components/src/globals/internal/storybook-cdn.ts
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/styles/gulp/build/default.js
  packages/styles/gulp/config.js
  packages/styles/gulp/tasks/sass-rtl.js
  packages/styles/gulp/tasks/watch.js
  packages/styles/package.json
  packages/web-components/IMPLEMENTATION_NOTES.md
  packages/web-components/README.md
  packages/web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(button-group): extend button icon styles for button-group-item (#11659)
  packages/styles/scss/components/button-group/_button-group.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
