Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(cta): add hover styles test
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardLink/CardLink.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(video): set react thumbnails to generate using dynamic widths
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/Image/Image.js
  packages/react/src/components/VideoPlayer/VideoImageOverlay.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(cta): Add tests for card-type CTAs (#7827)
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Feature.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardLink/CardLink.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(codesandbox): skip-to-content (#913)
  packages/carbon-web-components/examples/codesandbox/basic/components/input/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/skip-to-content/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(storybook): update card-group story and readme
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(link-with-icon): add e2e tests (#7915)
  packages/react/tests/e2e-storybook/cypress/integration/LinkWithIcon/Default.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-with-icon/default.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(storybook): remove extra ticks
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
Due: none

docs(storybook): fix syntax
  packages/web-components/src/components/card-in-card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
Due: none

docs(card): update card-group, card-in-card, and image readmes (#7912)
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-in-card/__stories__/README.stories.mdx
  packages/web-components/src/components/card-in-card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/src/components/image/__stories__/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-group): update storybook
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-group): react wrapper storybook updates
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): align react and wc mobile menu styles
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): remove console.log
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): remove unused component
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): used correct icon for wc section title
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(deps): update dependency axios to ^0.24.0
  .yarn/offline-mirror/axios-0.24.0.tgz
  .yarn/offline-mirror/follow-redirects-1.14.6.tgz
  package.json
  packages/services/package.json
  packages/utilities/package.json
  yarn.lock
Due: none

fix(deps): update dependency marked to v1.2.9
  .yarn/offline-mirror/marked-1.1.0.tgz
  .yarn/offline-mirror/marked-1.2.9.tgz
  packages/utilities/package.json
  yarn.lock
Due: none

chore(deps): update dependency @percy/storybook to v4
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-react-percy-api-client-0.4.6.tgz
  .yarn/offline-mirror/@percy-storybook-3.3.0.tgz
  .yarn/offline-mirror/@percy-storybook-4.1.0.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.4.9.tgz
  .yarn/offline-mirror/@storybook-router-6.4.9.tgz
  .yarn/offline-mirror/core-js-3.20.1.tgz
  .yarn/offline-mirror/es6-error-4.1.1.tgz
  .yarn/offline-mirror/extract-zip-1.7.0.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/history-5.0.0.tgz
  .yarn/offline-mirror/history-5.2.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/qs-6.10.2.tgz
  .yarn/offline-mirror/react-router-6.2.1.tgz
  .yarn/offline-mirror/react-router-dom-6.2.1.tgz
  .yarn/offline-mirror/slugify-1.4.0.tgz
  .yarn/offline-mirror/ts-dedent-2.2.0.tgz
  .yarn/offline-mirror/ws-6.2.1.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13
  .yarn/offline-mirror/@rollup-plugin-node-resolve-13.1.2.tgz
  .yarn/offline-mirror/@rollup-plugin-node-resolve-8.4.0.tgz
  .yarn/offline-mirror/deep-freeze-0.0.1.tgz
  packages/react/package.json
  packages/services/package.json
  packages/utilities/package.json
  yarn.lock
Due: none

chore(deps): update dependency @storybook/addon-knobs to v6
  .yarn/offline-mirror/@icons-material-0.2.4.tgz
  .yarn/offline-mirror/@storybook-addon-knobs-5.3.19.tgz
  .yarn/offline-mirror/@storybook-addon-knobs-6.4.0.tgz
  .yarn/offline-mirror/@types-react-color-3.0.1.tgz
  .yarn/offline-mirror/core-js-3.20.1.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/material-colors-1.2.6.tgz
  .yarn/offline-mirror/qs-6.10.2.tgz
  .yarn/offline-mirror/react-color-2.17.3.tgz
  .yarn/offline-mirror/react-colorful-5.5.1.tgz
  .yarn/offline-mirror/react-input-autosize-2.2.2.tgz
  .yarn/offline-mirror/react-input-autosize-3.0.0.tgz
  .yarn/offline-mirror/react-select-3.1.0.tgz
  .yarn/offline-mirror/react-select-3.2.0.tgz
  .yarn/offline-mirror/reactcss-1.2.3.tgz
  .yarn/offline-mirror/tinycolor2-1.4.1.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deps): update dependency acorn to v8
  .yarn/offline-mirror/acorn-8.7.0.tgz
  packages/react/package.json
  yarn.lock
Due: none

fix(masthead): align react and wc mobile menu styles (#7925)
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(support): update fireline roster for sprint 1
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Due: none

test(LightboxMediaViewer): add embedded video player e2e tests
  packages/react/tests/e2e-storybook/cypress/integration/LightboxMediaViewer/LightboxMediaViewer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(lightbox-media-viewer): add embedded video player e2e tests
  packages/web-components/tests/e2e-storybook/cypress/integration/lightbox-media-viewer/lightbox-media-viewer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(lightbox-media-viewer): refactor media metadata check
  packages/react/tests/e2e-storybook/cypress/integration/LightboxMediaViewer/LightboxMediaViewer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/lightbox-media-viewer/lightbox-media-viewer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-group): avoid nesting
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-group): default to 5
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(lightbox-media-viewer): add embedded video player e2e tests (#7870)
  packages/react/tests/e2e-storybook/cypress/integration/LightboxMediaViewer/LightboxMediaViewer.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/lightbox-media-viewer/lightbox-media-viewer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(file-uploader): correct file uploader events docs (#919)
  packages/carbon-web-components/src/components/file-uploader/file-uploader-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-section): unset wrong p styles from markdown
  packages/web-components/src/components/content-section/content-section-copy.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(styles): hides horizontal scroll
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): prettier
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
