Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(modal): suppport keyboard gesture for close button (#3134)
  .yarn/offline-mirror/carbon-custom-elements-1.1.0.tgz
  .yarn/offline-mirror/carbon-custom-elements-1.1.1.tgz
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/modal/modal.scss
  yarn.lock
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ContentGroupHorizontal): remove bottom padding
  packages/styles/scss/patterns/blocks/content-group-horizontal/_content-group-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(Card): reduce bottom margin when link has text
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/Card.js
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(styles): remove feature flag for expressive theme (#3142)
  packages/styles/.storybook/_container.scss
  packages/styles/scss/globals/_feature-flags.scss
  packages/styles/scss/themes/expressive/README.md
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/index.scss
  packages/web-components/src/components/button/button.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(VideoPlayer): add aspect ratio overrides (#3139)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/VideoPlayer/VideoPlayer.js
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
  packages/styles/scss/components/video-player/_video-player.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(lightbox-media-viewer): add stable selector
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): add style for search close state (#3135)
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/snapshots/dds-masthead-search.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(lightbox-media-viewer): update snapshot
  packages/web-components/tests/snapshots/dds-lightbox-video-player.md
Due: prettier --write

fix(Card): reduce bottom margin when link has text (#3144)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/Card.js
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(LanguageSelector): added JSDoc
  packages/react/src/components/Footer/LanguageSelector.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(LocaleModal): increased test coverage
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js.bkp
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update carbon-components package
  .yarn/offline-mirror/carbon-components-10.11.0.tgz
  .yarn/offline-mirror/carbon-components-10.14.0.tgz
  .yarn/offline-mirror/carbon-components-10.15.0.tgz
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

Update packages/web-components/src/components/card-link/card-link.ts
  packages/web-components/src/components/card-link/card-link.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(e2e-tests): fixed initial e2e tests for webdriverio
  packages/react/.env.example
  packages/react/src/patterns/blocks/CalloutQuote/__tests__/CalloutQuote.e2e.js
  packages/react/src/patterns/sections/CardSectionSimple/__tests__/CardSectionSimple.e2e.js
  packages/react/src/patterns/sections/CardSectionSimple/__tests__/CardSectionSimple.e2e.py
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CardGroup): allow CardGroup to set Card with cta copy
  packages/react/src/components/CardGroup/CardGroup.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(CardLink): styling improvements
  packages/styles/scss/components/card-link/_card-link.scss
  packages/web-components/src/components/card-link/__stories__/card-link.stories.js
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/card-link/card-link.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): adding ContentBlockMixed tests
  packages/react/src/patterns/blocks/CalloutQuote/__tests__/CalloutQuote.e2e.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.py
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(e2e): moving e2e test action to ci-check
  .github/workflows/ci-check.yml
  .github/workflows/test-e2e-react.yml
Due: none

chore(CardGroup): separate CardGroup knobs into stories
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): add cta text to the card json
  packages/react/src/components/CardGroup/__stories__/data/cards.json
Due: none

chore(snapshot): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

test(e2e): changing github action to run on master
  .github/workflows/ci-check.yml
  .github/workflows/e2e-test.yml
Due: none

chore(CardGroup): separate CardGroup knobs into stories (#3165)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(kodiak): adding kodiak config for auto merging and updating
  .kodiak.toml
Due: none

chore(snapshot): updated snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

test(e2e): adding FeatureCardBlockMedium tests
  packages/react/src/components/FeatureCard/__tests__/FeatureCard.e2e.py
  packages/react/src/patterns/blocks/CalloutQuote/__tests__/CalloutQuote.e2e.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/__tests__/FeatureCardBlockMedium.e2e.js
  packages/react/src/patterns/sections/CardSectionImages/__tests__/CardSectionImages.e2e.js
  packages/react/src/patterns/sections/CardSectionSimple/__tests__/CardSectionSimple.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lightbox-media-viewer): add stable selector (#3155)
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
  packages/web-components/tests/snapshots/dds-lightbox-video-player.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update carbon-components package (#3163)
  .yarn/offline-mirror/carbon-components-10.11.0.tgz
  .yarn/offline-mirror/carbon-components-10.14.0.tgz
  .yarn/offline-mirror/carbon-components-10.15.0.tgz
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(kodiak): adding kodiak config for auto merging and updating (#3167)
  .kodiak.toml
Due: none

fix(Card): border covering 4 sides of the Card (#3140)
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CardGroup): allow CardGroup to set Card with cta copy (#3164)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardGroup/__stories__/data/cards.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(examples): video player examples in CodeSandbox
  packages/web-components/examples/codesandbox/components/cta/.babelrc
  packages/web-components/examples/codesandbox/components/cta/.gitignore
  packages/web-components/examples/codesandbox/components/cta/index.html
  packages/web-components/examples/codesandbox/components/cta/package.json
  packages/web-components/examples/codesandbox/components/cta/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cta/src/index.js
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/.babelrc
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/.gitignore
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/index.html
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/sandbox.config.json
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(components): fix import paths
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(LightboxMediaViewer): fix a11y
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(LeadSpace): prevent content from being cut in mobile
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): fix import path
  packages/react/src/components/CTASection/__tests__/CTASection.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(components): fix import paths (#3178)
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
