Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): introduce separate L1 nav variant (#4574)
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav-l1.ts
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): alternative logo in web components (#4581)
  packages/services-store/src/types/translateAPI.ts
  packages/services/src/services/MastheadLogo/MastheadLogo.js
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/tests/snapshots/dds-masthead-logo.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): adjust breakpoints
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(devenv): standalone carousel demo
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-item-horizontal): remove extra padding for link listfocus (#4583)
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(content-section): update
  packages/web-components/src/components/carousel/__tests__/carousel.test.ts
  packages/web-components/src/components/content-section/__tests__/content-section.test.ts
  packages/web-components/tests/snapshots/dds-card-section-images.md
  packages/web-components/tests/snapshots/dds-card-section-simple.md
  packages/web-components/tests/snapshots/dds-carousel.md
  packages/web-components/tests/snapshots/dds-content-section.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-block-media): removed unused method override
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(link-with-icon): fixed uncentered arrow icons on Safari (#4563)
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(docs): added stable selectors
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
Due: none

chore(devenv): add back content section heading
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(carousel): introduction (#4478)
  packages/styles/scss/components/carousel/_carousel.scss
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/.storybook/config.ts
  packages/web-components/examples/codesandbox/components/carousel/.gitignore
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/examples/codesandbox/components/carousel/package.json
  packages/web-components/examples/codesandbox/components/carousel/sandbox.config.json
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/carousel/__tests__/carousel.test.ts
  packages/web-components/src/components/carousel/carousel.scss
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/content-section/__tests__/content-section.test.ts
  packages/web-components/src/components/content-section/content-section-copy.ts
  packages/web-components/src/components/content-section/content-section-heading.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/table-of-contents/__tests__/table-of-contents.test.ts
  packages/web-components/tests/snapshots/dds-card-section-images.md
  packages/web-components/tests/snapshots/dds-card-section-simple.md
  packages/web-components/tests/snapshots/dds-carousel.md
  packages/web-components/tests/snapshots/dds-content-section.md
  packages/web-components/tests/utils/mock-layout-observer.ts
  packages/web-components/tests/utils/mock-resize-observer.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): upgrading chromedriver to 87
  .yarn/offline-mirror/chromedriver-83.0.1.tgz
  .yarn/offline-mirror/chromedriver-87.0.0.tgz
  .yarn/offline-mirror/extract-zip-2.0.1.tgz
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  packages/react/package.json
  packages/react/src/components/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): fixing yarn offline cache
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  yarn.lock
Due: none

feat(card-hc): add a card variant pulling from the HC design library
  packages/web-components/src/components/card-hc/__stories__/README.stories.mdx
  packages/web-components/src/components/card-hc/__stories__/card-hc.stories.ts
  packages/web-components/src/components/card-hc/__tests__/card-hc.test.ts
  packages/web-components/src/components/card-hc/card-hc-footer.ts
  packages/web-components/src/components/card-hc/card-hc.scss
  packages/web-components/src/components/card-hc/card-hc.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(card-hc): update README
  packages/web-components/src/components/card-hc/__stories__/README.stories.mdx
  packages/web-components/src/components/card-hc/card-hc.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(locale-modal): link with icon replacement (#4568)
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/locale-modal/__tests__/locale-modal.test.ts
  packages/web-components/src/components/locale-modal/locale-modal.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/tests/snapshots/dds-locale-modal.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(Masthead): add custom search event onEnter (#4584)
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(ContentGroupHorizontal): row to 100% width for consistent alignment
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): upgrading chromedriver to 87 (#4597)
  .yarn/offline-mirror/chromedriver-83.0.1.tgz
  .yarn/offline-mirror/chromedriver-87.0.0.tgz
  .yarn/offline-mirror/extract-zip-2.0.1.tgz
  packages/react/package.json
  packages/react/src/components/ContentBlockMixed/__tests__/ContentBlockMixed.e2e.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): reset message upon unavailability (#4587)
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): adjust breakpoints (#4593)
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-block-mixed): introducing content-block-mixed (#4532)
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-mixed/content-block-mixed.scss
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): workaround Safari bug in Shadow DOM
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(callout): apply theme zoning
  packages/react/src/components/CalloutQuote/CalloutQuote.js
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/callout/_callout.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ContentGroupHorizontal): row to 100% width for consistent alignment (#4601)
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card-hc): run Prettier format
  packages/web-components/src/components/card-hc/__stories__/card-hc.stories.ts
  packages/web-components/src/components/card-hc/__tests__/card-hc.test.ts
  packages/web-components/src/components/card-hc/card-hc.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

progress
  packages/web-components/src/components/link-list-section/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list-section/__stories__/link-list-section.stories.ts
  packages/web-components/src/components/link-list-section/link-list-section.scss
  packages/web-components/src/components/link-list-section/link-list-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(test): updated snapshot
  packages/web-components/src/components/content-block-media/__tests__/content-block-media.test.ts
  packages/web-components/tests/snapshots/dds-content-block-media.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-block-media): added scss to content-block
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(layout): added readme file and updated styles readme
  packages/web-components/src/components/layout/__stories__/README.stories.mdx
  packages/web-components/src/components/layout/__stories__/layout.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-block-media): web-component created (#4572)
  packages/styles/scss/components/content-block-media/_content-block-media.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/examples/codesandbox/components/content-block-media/.gitignore
  packages/web-components/examples/codesandbox/components/content-block-media/index.html
  packages/web-components/examples/codesandbox/components/content-block-media/package.json
  packages/web-components/examples/codesandbox/components/content-block-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components/content-block-media/snowpack.config.json
  packages/web-components/examples/codesandbox/components/content-block-media/src/index.js
  packages/web-components/examples/codesandbox/components/content-block-media/src/index.scss
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-media/__tests__/content-block-media.test.ts
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
  packages/web-components/src/components/content-block-media/content-block-media.scss
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/tests/snapshots/dds-content-block-media.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-block-headlines): introduce content block headlines wc
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/content-block-headlines/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-headlines/__stories__/content-block-headlines.stories.ts
  packages/web-components/src/components/content-block-headlines/__tests__/content-block-headlines.test.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines-item.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines.scss
  packages/web-components/src/components/content-block-headlines/content-block-headlines.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leaving-ibm): add dialog role and associating with heading
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-heading.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): workaround Safari bug in Shadow DOM (#4602)
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
