Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(storybook): missed one
  packages/tests-e2e/__tests__/leadspace/leadspace.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(lerna): increasing max buffer amount
  .github/workflows/ci-check.yml
Due: none

fix(lerna): switching to stream and increase max buffer
  .github/workflows/ci-check.yml
Due: none

fix(quote): changed position in story
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-simple): added max-width to media components
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(video-player): fixed focus state (#5785)
  packages/styles/scss/components/video-player/_video-player.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(lerna): rolling back max buffer size in ci check
  .github/workflows/ci-check.yml
Due: none

fix(masthead): search triggering overflow (#5790)
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): fixed active section
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): updated comment
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-simple): added max-width to media components (#5792)
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(integration): fixes to the integration build tests in react
  .yarn/offline-mirror/@types-node-14.14.34.tgz
  .yarn/offline-mirror/balanced-match-1.0.0.tgz
  .yarn/offline-mirror/base64-js-1.3.1.tgz
  .yarn/offline-mirror/base64-js-1.5.1.tgz
  .yarn/offline-mirror/bl-4.0.2.tgz
  .yarn/offline-mirror/extract-zip-2.0.0.tgz
  .yarn/offline-mirror/ieee754-1.1.13.tgz
  .yarn/offline-mirror/ieee754-1.2.1.tgz
  .yarn/offline-mirror/tar-fs-2.1.0.tgz
  .yarn/offline-mirror/tar-stream-2.1.2.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.2.tgz
  .yarn/offline-mirror/ws-7.3.0.tgz
  packages/react/package.json
  packages/react/tests/integration/build/dotcomshell_steps.js
  packages/react/tests/integration/build/footer_steps.js
  packages/react/tests/integration/build/masthead_steps.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): add eyebrow to card pictogram wc story
  packages/web-components/src/components/card/__stories__/card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): updating offline mirror
  .yarn/offline-mirror/@carbon-icon-helpers-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.30.0.tgz
  .yarn/offline-mirror/@types-node-14.14.41.tgz
  .yarn/offline-mirror/balanced-match-1.0.2.tgz
  .yarn/offline-mirror/bl-4.1.0.tgz
  .yarn/offline-mirror/buffer-5.7.1.tgz
  .yarn/offline-mirror/chownr-1.1.4.tgz
  .yarn/offline-mirror/tar-fs-2.1.1.tgz
  .yarn/offline-mirror/tar-stream-2.2.0.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.3.tgz
Due: none

fix: text line length change
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/globals/utils/_content-width.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(toc-content): added type
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(integration): fixes to the integration build tests in react (#5797)
  .yarn/offline-mirror/@carbon-icon-helpers-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.30.0.tgz
  .yarn/offline-mirror/@types-node-14.14.34.tgz
  .yarn/offline-mirror/@types-node-14.14.41.tgz
  .yarn/offline-mirror/balanced-match-1.0.0.tgz
  .yarn/offline-mirror/balanced-match-1.0.2.tgz
  .yarn/offline-mirror/base64-js-1.3.1.tgz
  .yarn/offline-mirror/base64-js-1.5.1.tgz
  .yarn/offline-mirror/bl-4.0.2.tgz
  .yarn/offline-mirror/bl-4.1.0.tgz
  .yarn/offline-mirror/buffer-5.7.1.tgz
  .yarn/offline-mirror/chownr-1.1.4.tgz
  .yarn/offline-mirror/extract-zip-2.0.0.tgz
  .yarn/offline-mirror/ieee754-1.1.13.tgz
  .yarn/offline-mirror/ieee754-1.2.1.tgz
  .yarn/offline-mirror/tar-fs-2.1.0.tgz
  .yarn/offline-mirror/tar-fs-2.1.1.tgz
  .yarn/offline-mirror/tar-stream-2.1.2.tgz
  .yarn/offline-mirror/tar-stream-2.2.0.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.2.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.3.tgz
  .yarn/offline-mirror/ws-7.3.0.tgz
  packages/react/package.json
  packages/react/tests/integration/build/dotcomshell_steps.js
  packages/react/tests/integration/build/footer_steps.js
  packages/react/tests/integration/build/masthead_steps.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-search): overriding carbon core button styles
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead-search): overriding carbon core button styles (#5804)
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): ensure search closes properly & close on blur
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(dotcom-shell): fixed language only stories]
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): reorganized focus functions within file
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix: applied fix to md and above
  packages/styles/scss/globals/utils/_content-width.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): ensure search closes properly & close on blur (#5812)
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): now using throttled scroll HostListener
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): activate last item upon reaching the end of page
  packages/react/src/components/TableOfContents/TableOfContents.js
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): fix ci checks
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): search icon does nothing when input empty
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(Masthead): use specific selectors to remove tooltip
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta): variant order
  packages/react/src/components/CTA/__stories__/CTA.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): fixes prefix selector for input focus
  packages/web-components/src/components/locale-modal/locale-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(Masthead): use specific selectors to remove tooltip (#5821)
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(callout-with-media): update styles
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-copy.ts
  packages/web-components/src/components/callout-with-media/callout-with-media.scss
  packages/web-components/src/components/content-block/content-block.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): search icon does nothing when input empty (#5820)
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): prefix selector for input focus (#5822)
  packages/web-components/src/components/locale-modal/locale-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CalloutWithMedia): align vertical spacing with specs
  packages/web-components/src/components/callout-with-media/callout-with-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
