Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(dotcomshell): fixed import reference in codesandbox example (#3671)
  packages/web-components/examples/codesandbox/components/dotcom-shell/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CardGroup): passing pictogram prop to card from CardGroup (#3689)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Card/Card.js
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/CardGroup/CardGroup.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(localemodal): corrected arrow color
  packages/web-components/src/components/locale-modal/locale-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(MegaMenu): disable scrolling for mobile nav (#3692)
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(expressivetheme): enable css custom properties with the theme
  packages/styles/.storybook/_container.scss
  packages/styles/.storybook/webpack.config.js
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(support): updating support roster for sprint 17 (anna subbing)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

fix(expressivetheme): enable css custom properties with the theme
  packages/react/.storybook/webpack.config.js
  packages/styles/.storybook/webpack.config.js
  packages/styles/scss/themes/expressive/README.md
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linklist): refactor methods
  packages/web-components/src/components/card-link/card-link.ts
  packages/web-components/src/components/link-list/link-list-item.ts
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): locked focus while left menu active
  packages/react/src/components/Masthead/MastheadLeftNav.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): ssr fix for masthead scroll fix
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): ssr fix for masthead scroll fix
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): ssr fix for scroll check (#3704)
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/carbon-components-react/UIShell/HeaderMenu.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): locked focus while left menu active
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(expressivetheme): enable css custom properties with the theme (#3699)
  packages/react/.storybook/webpack.config.js
  packages/styles/.storybook/_container.scss
  packages/styles/.storybook/webpack.config.js
  packages/styles/scss/themes/expressive/README.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(dependencies): upgrade autoprefixer
  .yarn/offline-mirror/autoprefixer-9.6.1.tgz
  .yarn/offline-mirror/autoprefixer-9.7.6.tgz
  .yarn/offline-mirror/autoprefixer-9.8.0.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001041.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001084.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001117.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/vanilla/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(dependencies): fix offline mirror
  .yarn/offline-mirror/autoprefixer-9.8.6.tgz
  .yarn/offline-mirror/colorette-1.2.1.tgz
Due: none

fix(masthead): locked focus while left menu active (#3705)
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(integration): make page navigation test stable (#3690)
  .github/workflows/ci-check.yml
  .yarn/offline-mirror/jpeg-js-0.4.1.tgz
  .yarn/offline-mirror/playwright-1.2.1.tgz
  .yarn/offline-mirror/playwright-1.3.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(dependencies): upgrade autoprefixer (#3706)
  .yarn/offline-mirror/autoprefixer-9.6.1.tgz
  .yarn/offline-mirror/autoprefixer-9.7.6.tgz
  .yarn/offline-mirror/autoprefixer-9.8.0.tgz
  .yarn/offline-mirror/autoprefixer-9.8.6.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001041.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001084.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001117.tgz
  .yarn/offline-mirror/colorette-1.2.1.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/vanilla/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

chore(services-store): add store for search API (#3625)
  .yarn/offline-mirror/cross-fetch-3.0.5.tgz
  .yarn/offline-mirror/fetch-mock-9.10.3.tgz
  .yarn/offline-mirror/glob-to-regexp-0.4.1.tgz
  .yarn/offline-mirror/jest-fetch-mock-3.0.3.tgz
  .yarn/offline-mirror/path-to-regexp-2.4.0.tgz
  .yarn/offline-mirror/promise-polyfill-8.1.3.tgz
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-container.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/__tests__/masthead-container.test.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/globals/services-store/actions/__tests__/searchAPI.test.ts
  packages/web-components/src/globals/services-store/actions/searchAPI.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/searchAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/index.ts
  packages/web-components/src/globals/services-store/reducers/searchAPI.ts
  packages/web-components/src/globals/services-store/types/searchAPI.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
  packages/web-components/tests/typings/snapshot.d.ts
  packages/web-components/tests/unit/setup.js
  packages/web-components/tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-search): performance improvements
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(test-integration-ui): change env var
  .github/workflows/ci-check.yml
  packages/react/tests/integration/ui/setup-env.js
  packages/web-components/tests/integration/ui/setup-env.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-search): fix clear button
  packages/web-components/src/components/locale-modal/__tests__/locale-search.test.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/globals/mixins/throttled-input.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

refactor(TOC): remove unnecessary prefixes
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(TOC): font-size on ios landscape mode (#3614)
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(Card): moved scss to the styles package (#3688)
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/locale-modal/locale-modal.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(expressivetheme): updating docs for expressive theme
  packages/react/README.md
  packages/styles/README.md
Due: prettier --write

docs(expressivetheme): updating docs for expressive theme
  packages/web-components/README.md
Due: prettier --write

docs(expressivetheme): updating docs for expressive theme (#3717)
  packages/react/README.md
  packages/styles/README.md
  packages/web-components/README.md
Due: prettier --write

chore(test): improve locale test coverage (#3481)
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(LinkList): method refactor
  packages/web-components/src/components/link-list/link-list-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-search): performance improvements (#3710)
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(MegaMenu): add scroll for submenu
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(masthead): fix to masthead import line
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Due: none

fix(MegaMenu): add scroll for submenu (#3720)
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(test-integration-ui): change env var (#3713)
  .github/workflows/ci-check.yml
  packages/react/tests/integration/ui/setup-env.js
  packages/web-components/tests/integration/ui/setup-env.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(footer): adding locale modal import to the footer
  packages/web-components/src/components/footer/locale-button.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(Masthead): lock focus in sub menus
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
