Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(feature-card): correct cta object structure for icon
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/FeaturedLink/FeaturedLink.js
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/styles/scss/patterns/blocks/FeaturedLink/_featuredlink.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(feature-card): update readme and prop docs
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
Due: prettier --write, eslint packages

fix(feature-card): update prop type
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
Due: prettier --write, eslint packages

fix(scss): adjusted padding on mobile version to match design specs
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/index.scss
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(feature-card): remove unnecessary index scss file
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/FeatureCard/__stories__/index.scss
  packages/styles/scss/patterns/blocks/feature-card/README.md
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
  packages/styles/scss/patterns/blocks/feature-card/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(feature-card): pass in correct card prop
  packages/react/src/patterns/blocks/FeatureCard/FeatureCard.js
Due: prettier --write, eslint packages

fix(feature-card): pass icon to featurecard in story
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
Due: prettier --write, eslint packages

fix(feature-card): set card to hang into gutters
  packages/styles/scss/globals/utils/_hang.scss
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(feature-card): revert change
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
Due: prettier --write, eslint packages

Revert "fix(feature-card): pass icon to featurecard in story"
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
Due: prettier --write, eslint packages

fix(feature-card): set card itself to hang
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(settings): update version
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

chore(examples): update dependencies (#304)
  packages/carbon-web-components/examples/codesandbox/angular/package.json
  packages/carbon-web-components/examples/codesandbox/basic/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/angular/package.json
  packages/carbon-web-components/examples/codesandbox/form/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/redux-form/.babelrc
  packages/carbon-web-components/examples/codesandbox/form/redux-form/.gitignore
  packages/carbon-web-components/examples/codesandbox/form/redux-form/index.html
  packages/carbon-web-components/examples/codesandbox/form/redux-form/package.json
  packages/carbon-web-components/examples/codesandbox/ie/package.json
  packages/carbon-web-components/examples/codesandbox/react/.babelrc
  packages/carbon-web-components/examples/codesandbox/react/.gitignore
  packages/carbon-web-components/examples/codesandbox/react/index.html
  packages/carbon-web-components/examples/codesandbox/react/package.json
  packages/carbon-web-components/examples/codesandbox/react/src/index.js
  packages/carbon-web-components/examples/codesandbox/rtl/package.json
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/.babelrc
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/package.json
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/.babelrc
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/package.json
  packages/carbon-web-components/examples/codesandbox/vue/.babelrc
  packages/carbon-web-components/examples/codesandbox/vue/package.json
Due: prettier --write, eslint packages

docs(readme): misc updates
  packages/carbon-web-components/README.md
Due: prettier --write

feat(util): add decode string utility
  packages/utilities/src/utilities/decodeString/decodeString.js
  packages/utilities/src/utilities/decodeString/index.js
  packages/utilities/src/utilities/index.js
Due: prettier --write, eslint packages

feat(util): add decode string util tests
  packages/utilities/src/utilities/decodeString/__tests__/decodeString.test.js
Due: prettier --write, eslint packages

fix(image): align image props to func specs
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/README.md
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__tests__/ContentBlockSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
Due: prettier --write, eslint packages

fix(card-section): add card class to themed items in cardsection scss
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(utility): removed smoothScroll args, parameters from curly braces
  packages/react/src/components/CTA/CTA.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCMobile.js
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Due: prettier --write, eslint packages

fix(scss): adjusted bottom padding of the pattern
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(settings): update version to `v1.4.1`
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages

fix(leadspace): fixed alignment
  packages/react/src/patterns/sections/LeadSpace/LeadSpace.js
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(localebutton): added prop to disable the locale button
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, eslint packages

fix(pattern): fix block-level autoid structure; fixes #1490
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/ContentBlockMixed.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(pattern): remove unused ContentBlockMedia files
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaGroup.js
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMediaItem.js
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media-group.scss
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media-item.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): adds missing css to block-level patterns; fixes #1488
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media.scss
  packages/styles/scss/patterns/blocks/content-block-media/index.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/index.scss
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/patterns/blocks/content-block-segmented/index.scss
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
  packages/styles/scss/patterns/blocks/content-block-simple/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): updated styles main entry point
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/index.scss
  packages/styles/scss/patterns/blocks/usecases/README.md
  packages/styles/scss/patterns/blocks/usecases/_usecases-group.scss
  packages/styles/scss/patterns/blocks/usecases/_usecases-item.scss
  packages/styles/scss/patterns/blocks/usecases/_usecases.scss
  packages/styles/scss/patterns/blocks/usecases/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

chore(story): update CardSection knobs to use exports
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSection/__stories__/data/CardKnobs.js
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
Due: prettier --write, eslint packages

fix(images): update FPO image host
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__tests__/ContentBlockSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/FeaturedLink.stories.js
Due: prettier --write, eslint packages

chore(jest): update storyshots
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(component): update Image component props
  packages/react/src/components/Image/Image.js
Due: prettier --write, eslint packages

fix(images): update storybook fpo image host; fixes #1463
  packages/react/src/components/CTA/README.md
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/components/Image/README.md
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/LinkWithIcon/__tests__/LinkWithIcon.test.js
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__tests__/ContentBlockSegmented.test.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__tests__/ContentBlockSimple.test.js
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__tests__/ContentGroupSimple.test.js
  packages/react/src/patterns/blocks/FeaturedLink/__stories__/FeaturedLink.stories.js
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/blocks/LogoGrid/__stories__/data/logos.json
  packages/react/src/patterns/sections/CardSection/__stories__/data/CardKnobs.js
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/patterns/sections/LeadSpace/__tests__/LeadSpaceImage.test.js
  packages/react/src/patterns/sections/LeadSpaceCentered/__stories__/LeadSpaceCentered.stories.js
  packages/react/src/patterns/sub-patterns/Card/__stories__/Card.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__stories__/ContentItem.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
Due: prettier --write, eslint packages

chore(docs): update readme
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
Due: prettier --write

chore(stories): clean up storybook stories
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/__tests__/ContentItem.test.js
Due: prettier --write, eslint packages

docs(contentblock): updated READMES for content block/groups
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
Due: prettier --write

fix(image-with-caption): add grid to image with caption story
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
Due: prettier --write, eslint packages

fix(leadspace): updated title padding
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/Image.js
Due: prettier --write, eslint packages
