Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.4b068f91deae81d7b171.manager.bundle.js
  canary/web-components-experimental/main~44e5d6d5.6e53c1d2.iframe.bundle.js
  canary/web-components-experimental/main~44e5d6d5.6e53c1d2.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~493df0b3.100cb9f6.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.100cb9f6.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~eb50c575.604dfebb.iframe.bundle.js
  canary/web-components-experimental/main~eb50c575.604dfebb.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.032bb75f271768d2c1a8.manager.bundle.js
  canary/web-components-react/main~44e5d6d5.05094470.iframe.bundle.js
  canary/web-components-react/main~44e5d6d5.05094470.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~493df0b3.65aa1f81.iframe.bundle.js
  canary/web-components-react/main~493df0b3.65aa1f81.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~eb50c575.c4f088d3.iframe.bundle.js
  canary/web-components-react/main~eb50c575.c4f088d3.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.4b068f91deae81d7b171.manager.bundle.js
  canary/web-components-rtl/main~44e5d6d5.6e53c1d2.iframe.bundle.js
  canary/web-components-rtl/main~44e5d6d5.6e53c1d2.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~493df0b3.584e9aec.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.584e9aec.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~eb50c575.604dfebb.iframe.bundle.js
  canary/web-components-rtl/main~eb50c575.604dfebb.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.4b068f91deae81d7b171.manager.bundle.js
  canary/web-components/main~44e5d6d5.6e53c1d2.iframe.bundle.js
  canary/web-components/main~44e5d6d5.6e53c1d2.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~493df0b3.100cb9f6.iframe.bundle.js
  canary/web-components/main~493df0b3.100cb9f6.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~eb50c575.604dfebb.iframe.bundle.js
  canary/web-components/main~eb50c575.604dfebb.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(side-panel): yarn.lock
  yarn.lock
Due: none

feat(stack): update to v7
  packages/carbon-web-components/src/components/stack/stack-story.ts
  packages/carbon-web-components/src/components/stack/stack.mdx
  packages/carbon-web-components/src/components/stack/stack.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(main): adjust configs and added story-source
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/.storybook/preview.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(dropdown): remove excess border of first dropdown element (#11400)
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~54b96c22.2b80c539.iframe.bundle.js
  canary/web-components-experimental/main~54b96c22.ae44de02.iframe.bundle.js
  canary/web-components-experimental/main~54b96c22.ae44de02.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~3a7cb783.1d2624f7.iframe.bundle.js
  canary/web-components-react/main~3a7cb783.1d2624f7.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~3a7cb783.ef31955d.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~54b96c22.2b80c539.iframe.bundle.js
  canary/web-components-rtl/main~54b96c22.ae44de02.iframe.bundle.js
  canary/web-components-rtl/main~54b96c22.ae44de02.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~54b96c22.2b80c539.iframe.bundle.js
  canary/web-components/main~54b96c22.ae44de02.iframe.bundle.js
  canary/web-components/main~54b96c22.ae44de02.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(events): added missing events to docs (#11479)
  packages/carbon-web-components/src/components/data-table/table-header-row.ts
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/data-table/table.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.ts
  packages/carbon-web-components/src/components/layer/layer.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-group.ts
  packages/carbon-web-components/src/components/select/select.ts
  packages/carbon-web-components/src/components/slider/slider.ts
  packages/carbon-web-components/src/components/tile/radio-tile.ts
  packages/carbon-web-components/src/components/tile/tile-group.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav-menu.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~227d378d.bb13ee24.iframe.bundle.js
  canary/web-components-experimental/main~227d378d.bb13ee24.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~f075b844.1a9bf4a0.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.1a9bf4a0.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~f075b844.b867c718.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~227d378d.53698deb.iframe.bundle.js
  canary/web-components-react/main~227d378d.53698deb.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~227d378d.bb13ee24.iframe.bundle.js
  canary/web-components-rtl/main~227d378d.bb13ee24.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~f075b844.1a9bf4a0.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.1a9bf4a0.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~f075b844.b867c718.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~227d378d.bb13ee24.iframe.bundle.js
  canary/web-components/main~227d378d.bb13ee24.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~f075b844.1a9bf4a0.iframe.bundle.js
  canary/web-components/main~f075b844.1a9bf4a0.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~f075b844.b867c718.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(sidepanel): introduce side panel component (#11201)
  .yarn/cache/@carbon-ibm-products-styles-npm-2.20.1-1f210e0807-a069cae6b7.zip
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/.sassrc
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/src/index.js
  packages/carbon-web-components/examples/codesandbox/basic/components/side-panel/src/styles.scss
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/button/button-set.ts
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/side-panel/defs.ts
  packages/carbon-web-components/src/components/side-panel/index.ts
  packages/carbon-web-components/src/components/side-panel/side-panel-button-set.ts
  packages/carbon-web-components/src/components/side-panel/side-panel-story.mdx
  packages/carbon-web-components/src/components/side-panel/side-panel-story.ts
  packages/carbon-web-components/src/components/side-panel/side-panel.scss
  packages/carbon-web-components/src/components/side-panel/side-panel.ts
  packages/carbon-web-components/src/components/side-panel/story-styles.scss
  packages/carbon-web-components/src/globals/settings.ts
  packages/utilities/src/utilities/settings/settings.js
  tasks/get-changelog.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(datatable): selection enabled by default with out i seletable attribute
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(datatable): sorting issue for expnasion logic updated to include sort direction
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lint): ran yarn format
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(data-table): Sorting and expansion doesn't work together (#11416)
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(css): remove rtl artifact builds
  .yarn/cache/rtlcss-npm-3.5.0-86a685a37e-141ffcb031.zip
  packages/carbon-web-components/gulp-tasks/build/dist.js
  packages/carbon-web-components/gulp-tasks/build/modules/css.js
  packages/carbon-web-components/gulp-tasks/build/modules/icons.js
  packages/carbon-web-components/package.json
  packages/styles/scss/components/in-page-banner/_in-page-banner.scss
  packages/web-components/gulp-tasks/build/components.js
  packages/web-components/gulp-tasks/build/dist.js
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
