Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(tabs-extended): avoid opening to middle of accordion content (#11554)
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v1.56.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/iframe.html
  v1/next/carbon-web-components/index.html
  v1/next/carbon-web-components/main.60e4b6e7.iframe.bundle.js
  v1/next/carbon-web-components/main.60e4b6e7.iframe.bundle.js.map
  v1/next/carbon-web-components/main.9a93f3fb.iframe.bundle.js
  v1/next/carbon-web-components/main.9a93f3fb.iframe.bundle.js.LICENSE.txt
  v1/next/carbon-web-components/main.9a93f3fb.iframe.bundle.js.map
  v1/next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.047b37ac6fc6f4207398.manager.bundle.js
  next/web-components-react/main.9b1d2eaea3483ac7bdbe.manager.bundle.js
  next/web-components-react/main~c98f95f3.28c46200.iframe.bundle.js
  next/web-components-react/main~c98f95f3.d85dccdb.iframe.bundle.js
  next/web-components-react/main~c98f95f3.d85dccdb.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.2b67fe7ee92f4a0caff8.manager.bundle.js
  next/web-components-rtl/main.7748f53633917bb0f097.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.606c080d.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.b15b9709.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.b15b9709.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.2b67fe7ee92f4a0caff8.manager.bundle.js
  next/web-components/main.7748f53633917bb0f097.manager.bundle.js
  next/web-components/main~c98f95f3.606c080d.iframe.bundle.js
  next/web-components/main~c98f95f3.b15b9709.iframe.bundle.js
  next/web-components/main~c98f95f3.b15b9709.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.10c6bd1b06f58182dd7a.manager.bundle.js
  canary/web-components-experimental/main.b91090e5ae238aba5db4.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.0705d5e2.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.0705d5e2.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c98f95f3.ad67fe18.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.6e3a08c6a29a452e724d.manager.bundle.js
  canary/web-components-react/main.74093818610a55c9d279.manager.bundle.js
  canary/web-components-react/main~c98f95f3.79c0f75a.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.79c0f75a.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.f2a27d4a.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.10c6bd1b06f58182dd7a.manager.bundle.js
  canary/web-components-rtl/main.b91090e5ae238aba5db4.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.0705d5e2.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.0705d5e2.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c98f95f3.ad67fe18.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.10c6bd1b06f58182dd7a.manager.bundle.js
  canary/web-components/main.b91090e5ae238aba5db4.manager.bundle.js
  canary/web-components/main~c98f95f3.0705d5e2.iframe.bundle.js
  canary/web-components/main~c98f95f3.0705d5e2.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c98f95f3.ad67fe18.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(slider): two knobs
  packages/carbon-web-components/src/components/slider/slider-input.ts
  packages/carbon-web-components/src/components/slider/slider.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(modal): ci issue fix
  packages/carbon-web-components/src/components/modal/modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(datepicker): flatpickr version update
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/date-picker/range-plugin.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(date picker): flatpickr update
  yarn.lock
Due: none

fix(date picker): flatpickr update
  .yarn/cache/flatpickr-npm-4.6.13-06399933fc-0e32f2fbd4.zip
  .yarn/cache/flatpickr-patch-9090094964-720e102d03.zip
Due: none

Merge branch 'main' into cwc-tearsheet
  .yarn/cache/@carbon-ibm-products-styles-npm-2.27.0-alpha.4-c2ddd18885-bc552ad46e.zip
  .yarn/cache/@carbon-ibm-products-styles-npm-2.27.1-936e33a14a-42ef53c93c.zip
  packages/carbon-web-components/package.json
  yarn.lock
Due: none

feat(slider): support two knobs
  packages/carbon-web-components/src/components/slider/slider-input.ts
  packages/carbon-web-components/src/components/slider/slider.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(datatable): is sortable console error
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(datatable): is sortable console error (#11568)
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/project.json
  next/web-components-rtl/project.json
  next/web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.22f67d9d62027849e069.manager.bundle.js
  next/web-components-react/main.9b1d2eaea3483ac7bdbe.manager.bundle.js
  next/web-components-react/main~c98f95f3.d85dccdb.iframe.bundle.js
  next/web-components-react/main~c98f95f3.fc1eff66.iframe.bundle.js
  next/web-components-react/main~c98f95f3.fc1eff66.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.5b07ef6b40c5d44a9ae8.manager.bundle.js
  next/web-components-rtl/main.7748f53633917bb0f097.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.712cf81f.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.712cf81f.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.b15b9709.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.5b07ef6b40c5d44a9ae8.manager.bundle.js
  next/web-components/main.7748f53633917bb0f097.manager.bundle.js
  next/web-components/main~c98f95f3.712cf81f.iframe.bundle.js
  next/web-components/main~c98f95f3.712cf81f.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.b15b9709.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.695aee5d372fb5ec8b23.manager.bundle.js
  canary/web-components-experimental/main.b91090e5ae238aba5db4.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.0705d5e2.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.84d35295.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.84d35295.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.6e3a08c6a29a452e724d.manager.bundle.js
  canary/web-components-react/main.7c566b9295d5c6135e26.manager.bundle.js
  canary/web-components-react/main~c98f95f3.2fd533f2.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.2fd533f2.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.79c0f75a.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.695aee5d372fb5ec8b23.manager.bundle.js
  canary/web-components-rtl/main.b91090e5ae238aba5db4.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.0705d5e2.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.84d35295.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.84d35295.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.695aee5d372fb5ec8b23.manager.bundle.js
  canary/web-components/main.b91090e5ae238aba5db4.manager.bundle.js
  canary/web-components/main~c98f95f3.0705d5e2.iframe.bundle.js
  canary/web-components/main~c98f95f3.84d35295.iframe.bundle.js
  canary/web-components/main~c98f95f3.84d35295.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(side-nav): update max-block-size; closes #10936
  packages/carbon-web-components/src/components/ui-shell/side-nav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(update): web-component version
  packages/web-components/package.json
Due: none

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/project.json
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
