Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(deps): update to latest cypress dependencies
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
  .github/workflows/e2e-tests.yml
  .yarn/offline-mirror/@types-sinonjs__fake-timers-6.0.4.tgz
  .yarn/offline-mirror/cypress-8.7.0.tgz
  .yarn/offline-mirror/cypress-9.4.1.tgz
  .yarn/offline-mirror/ramda-0.27.2.tgz
  packages/react/package.json
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress/support/index.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): update offline mirror
  .yarn/offline-mirror/@babel-plugin-proposal-decorators-7.10.1.tgz
  .yarn/offline-mirror/@babel-plugin-syntax-decorators-7.10.1.tgz
  .yarn/offline-mirror/@percy-cli-1.0.8.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.8.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.8.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.8.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.8.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.8.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.8.tgz
  .yarn/offline-mirror/@percy-client-1.0.8.tgz
  .yarn/offline-mirror/@percy-config-1.0.8.tgz
  .yarn/offline-mirror/@percy-core-1.0.8.tgz
  .yarn/offline-mirror/@percy-dom-1.0.8.tgz
  .yarn/offline-mirror/@percy-env-1.0.8.tgz
  .yarn/offline-mirror/@percy-logger-1.0.8.tgz
  .yarn/offline-mirror/@percy-sdk-utils-1.0.8.tgz
  .yarn/offline-mirror/@rollup-plugin-commonjs-21.1.0.tgz
  .yarn/offline-mirror/@storybook-web-components-5.3.19.tgz
  .yarn/offline-mirror/cypress-9.5.4.tgz
  .yarn/offline-mirror/pupa-2.0.1.tgz
  .yarn/offline-mirror/ts-simple-type-0.3.7.tgz
  .yarn/offline-mirror/web-component-analyzer-1.0.3.tgz
  .yarn/offline-mirror/yaml-2.0.0.tgz
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(yarn): update offline mirror
  .github/workflows/e2e-tests.yml
  .yarn/offline-mirror/@types-jasmine-3.10.6.tgz
  .yarn/offline-mirror/@types-jasmine-3.5.10.tgz
  .yarn/offline-mirror/builtin-modules-3.2.0.tgz
  .yarn/offline-mirror/camel-case-4.1.1.tgz
  .yarn/offline-mirror/camel-case-4.1.2.tgz
  .yarn/offline-mirror/clean-css-4.2.4.tgz
  .yarn/offline-mirror/dot-case-3.0.3.tgz
  .yarn/offline-mirror/dot-case-3.0.4.tgz
  .yarn/offline-mirror/globule-1.2.1.tgz
  .yarn/offline-mirror/globule-1.3.3.tgz
  .yarn/offline-mirror/graceful-fs-4.2.10.tgz
  .yarn/offline-mirror/is-builtin-module-3.0.0.tgz
  .yarn/offline-mirror/is-builtin-module-3.1.0.tgz
  .yarn/offline-mirror/js-base64-2.5.1.tgz
  .yarn/offline-mirror/js-base64-2.6.4.tgz
  .yarn/offline-mirror/lower-case-2.0.1.tgz
  .yarn/offline-mirror/lower-case-2.0.2.tgz
  .yarn/offline-mirror/minimatch-3.0.8.tgz
  .yarn/offline-mirror/nan-2.15.0.tgz
  .yarn/offline-mirror/no-case-3.0.3.tgz
  .yarn/offline-mirror/no-case-3.0.4.tgz
  .yarn/offline-mirror/param-case-3.0.3.tgz
  .yarn/offline-mirror/param-case-3.0.4.tgz
  .yarn/offline-mirror/pascal-case-3.1.1.tgz
  .yarn/offline-mirror/pascal-case-3.1.2.tgz
  .yarn/offline-mirror/tslib-2.3.1.tgz
  yarn.lock
Due: none

chore(react): remove @percy/agency
  .yarn/offline-mirror/@oclif-color-0.1.2.tgz
  .yarn/offline-mirror/@oclif-command-1.5.19.tgz
  .yarn/offline-mirror/@oclif-command-1.8.0.tgz
  .yarn/offline-mirror/@oclif-config-1.17.0.tgz
  .yarn/offline-mirror/@oclif-errors-1.3.4.tgz
  .yarn/offline-mirror/@oclif-linewrap-1.0.0.tgz
  .yarn/offline-mirror/@oclif-parser-3.8.5.tgz
  .yarn/offline-mirror/@oclif-plugin-help-2.2.3.tgz
  .yarn/offline-mirror/@oclif-plugin-help-3.2.2.tgz
  .yarn/offline-mirror/@oclif-plugin-not-found-1.2.4.tgz
  .yarn/offline-mirror/@oclif-screen-1.0.4.tgz
  .yarn/offline-mirror/@percy-agent-0.28.7.tgz
  .yarn/offline-mirror/ansicolors-0.3.2.tgz
  .yarn/offline-mirror/cardinal-2.1.1.tgz
  .yarn/offline-mirror/clean-stack-3.0.1.tgz
  .yarn/offline-mirror/cli-ux-4.9.3.tgz
  .yarn/offline-mirror/devtools-protocol-0.0.818844.tgz
  .yarn/offline-mirror/escape-string-regexp-4.0.0.tgz
  .yarn/offline-mirror/extract-stack-1.0.0.tgz
  .yarn/offline-mirror/follow-redirects-1.12.1.tgz
  .yarn/offline-mirror/generic-pool-3.7.1.tgz
  .yarn/offline-mirror/has-flag-2.0.0.tgz
  .yarn/offline-mirror/hyperlinker-1.0.0.tgz
  .yarn/offline-mirror/image-size-0.8.3.tgz
  .yarn/offline-mirror/mkdirp-classic-0.5.3.tgz
  .yarn/offline-mirror/password-prompt-1.1.2.tgz
  .yarn/offline-mirror/puppeteer-5.5.0.tgz
  .yarn/offline-mirror/queue-6.0.1.tgz
  .yarn/offline-mirror/redeyed-2.1.1.tgz
  .yarn/offline-mirror/retry-axios-1.0.2.tgz
  .yarn/offline-mirror/supports-hyperlinks-1.0.1.tgz
  .yarn/offline-mirror/tar-fs-2.1.1.tgz
  .yarn/offline-mirror/treeify-1.1.0.tgz
  .yarn/offline-mirror/tslib-2.1.0.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.3.tgz
  .yarn/offline-mirror/widest-line-2.0.1.tgz
  .yarn/offline-mirror/wrap-ansi-4.0.0.tgz
  packages/react/package.json
  yarn.lock
Due: none

chore(deps): update dependency karma-spec-reporter to v0.0.34
  .yarn/offline-mirror/karma-spec-reporter-0.0.33.tgz
  .yarn/offline-mirror/karma-spec-reporter-0.0.34.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix carbon grid layout at max breakpoint
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(github-actions): bump timeout for web components to 120 mins
  .github/workflows/e2e-tests.yml
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress.json
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress.json
Due: none

chore(rollup): revert commit
  .yarn/offline-mirror/@babel-code-frame-7.16.7.tgz
  .yarn/offline-mirror/@babel-highlight-7.17.9.tgz
  .yarn/offline-mirror/@types-jasmine-3.10.6.tgz
  .yarn/offline-mirror/@types-jasmine-3.5.10.tgz
  .yarn/offline-mirror/builtin-modules-3.2.0.tgz
  .yarn/offline-mirror/camel-case-4.1.1.tgz
  .yarn/offline-mirror/camel-case-4.1.2.tgz
  .yarn/offline-mirror/clean-css-4.2.4.tgz
  .yarn/offline-mirror/dot-case-3.0.3.tgz
  .yarn/offline-mirror/dot-case-3.0.4.tgz
  .yarn/offline-mirror/globule-1.2.1.tgz
  .yarn/offline-mirror/globule-1.3.3.tgz
  .yarn/offline-mirror/graceful-fs-4.2.10.tgz
  .yarn/offline-mirror/is-builtin-module-3.0.0.tgz
  .yarn/offline-mirror/is-builtin-module-3.1.0.tgz
  .yarn/offline-mirror/js-base64-2.5.1.tgz
  .yarn/offline-mirror/js-base64-2.6.4.tgz
  .yarn/offline-mirror/lower-case-2.0.1.tgz
  .yarn/offline-mirror/lower-case-2.0.2.tgz
  .yarn/offline-mirror/minimatch-3.0.8.tgz
  .yarn/offline-mirror/nan-2.15.0.tgz
  .yarn/offline-mirror/no-case-3.0.3.tgz
  .yarn/offline-mirror/no-case-3.0.4.tgz
  .yarn/offline-mirror/param-case-3.0.3.tgz
  .yarn/offline-mirror/param-case-3.0.4.tgz
  .yarn/offline-mirror/pascal-case-3.1.1.tgz
  .yarn/offline-mirror/pascal-case-3.1.2.tgz
  .yarn/offline-mirror/rollup-plugin-terser-7.0.2.tgz
  .yarn/offline-mirror/serialize-javascript-4.0.0.tgz
  .yarn/offline-mirror/terser-5.12.1.tgz
  .yarn/offline-mirror/tslib-2.3.1.tgz
  yarn.lock
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/@rollup-plugin-commonjs-21.1.0.tgz
  .yarn/offline-mirror/@types-estree-0.0.51.tgz
  .yarn/offline-mirror/@types-node-12.7.2.tgz
  .yarn/offline-mirror/fast-glob-3.2.11.tgz
  .yarn/offline-mirror/filesize-4.1.2.tgz
  .yarn/offline-mirror/filesize-4.2.1.tgz
  .yarn/offline-mirror/in-publish-2.0.0.tgz
  .yarn/offline-mirror/in-publish-2.0.1.tgz
  .yarn/offline-mirror/magic-string-0.25.9.tgz
  .yarn/offline-mirror/micromatch-4.0.5.tgz
  .yarn/offline-mirror/picomatch-2.3.1.tgz
  .yarn/offline-mirror/rollup-1.20.2.tgz
  .yarn/offline-mirror/rollup-1.32.1.tgz
  .yarn/offline-mirror/rollup-plugin-scss-2.5.0.tgz
  .yarn/offline-mirror/rollup-plugin-scss-2.6.1.tgz
  .yarn/offline-mirror/serialize-javascript-1.8.0.tgz
  .yarn/offline-mirror/serialize-javascript-1.9.1.tgz
  .yarn/offline-mirror/source-map-support-0.5.21.tgz
  yarn.lock
Due: none

feat(sticky header utility): update storybook story & remove old dotcom-shell code (#8684)
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/masthead/masthead.ts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
  packages/web-components/src/components/universal-banner/universal-banner.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(web-components): merge updates
  .yarn/offline-mirror/@types-node-17.0.24.tgz
  .yarn/offline-mirror/@types-node-17.0.25.tgz
  .yarn/offline-mirror/abab-2.0.5.tgz
  .yarn/offline-mirror/abab-2.0.6.tgz
  .yarn/offline-mirror/electron-to-chromium-1.4.110.tgz
  .yarn/offline-mirror/electron-to-chromium-1.4.111.tgz
  .yarn/offline-mirror/fecha-4.2.2.tgz
  .yarn/offline-mirror/fecha-4.2.3.tgz
  .yarn/offline-mirror/fs-extra-10.0.1.tgz
  .yarn/offline-mirror/fs-extra-10.1.0.tgz
  .yarn/offline-mirror/nanoid-3.3.2.tgz
  .yarn/offline-mirror/nanoid-3.3.3.tgz
  .yarn/offline-mirror/prismjs-1.28.0.tgz
  .yarn/offline-mirror/use-callback-ref-1.2.5.tgz
  .yarn/offline-mirror/use-callback-ref-1.3.0.tgz
  .yarn/offline-mirror/use-sidecar-1.0.5.tgz
  .yarn/offline-mirror/use-sidecar-1.1.2.tgz
  .yarn/offline-mirror/v8-compile-cache-lib-3.0.0.tgz
  .yarn/offline-mirror/v8-compile-cache-lib-3.0.1.tgz
  .yarn/offline-mirror/yaml-2.0.0.tgz
  .yarn/offline-mirror/yaml-2.0.1.tgz
  yarn.lock
Due: none

chore(cwc): downgrade lodash dependency and tsconfig updates
  .yarn/offline-mirror/@types-lodash-es-4.17.5.tgz
  .yarn/offline-mirror/@types-lodash-es-4.17.6.tgz
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tsconfig-angular-esm2015.json
  packages/carbon-web-components/tsconfig.json
  yarn.lock
Due: none

fix(github-actions): remove xvfb for e2e integration tests
  .github/workflows/e2e-integration.yml
Due: none
