Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.4f1a92064b9e8684876f.manager.bundle.js
  next/web-components-react/main.859e507a3b9d8f18fa52.manager.bundle.js
  next/web-components-react/main~c98f95f3.05cc3f59.iframe.bundle.js
  next/web-components-react/main~c98f95f3.05cc3f59.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.94d6c57f.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.5f56323ae0c3b7b16025.manager.bundle.js
  next/web-components-rtl/main.9ba3d4c37c81df5f9aa7.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.0209bd2e.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.0209bd2e.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.a7708cab.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.5f56323ae0c3b7b16025.manager.bundle.js
  next/web-components/main.9ba3d4c37c81df5f9aa7.manager.bundle.js
  next/web-components/main~c98f95f3.0209bd2e.iframe.bundle.js
  next/web-components/main~c98f95f3.0209bd2e.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.a7708cab.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.5f56323ae0c3b7b16025.manager.bundle.js
  canary/web-components-experimental/main.9ba3d4c37c81df5f9aa7.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.0209bd2e.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.0209bd2e.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c98f95f3.a7708cab.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.4f1a92064b9e8684876f.manager.bundle.js
  canary/web-components-react/main.859e507a3b9d8f18fa52.manager.bundle.js
  canary/web-components-react/main~c98f95f3.05cc3f59.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.05cc3f59.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.94d6c57f.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.5f56323ae0c3b7b16025.manager.bundle.js
  canary/web-components-rtl/main.9ba3d4c37c81df5f9aa7.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.0209bd2e.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.0209bd2e.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c98f95f3.a7708cab.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.5f56323ae0c3b7b16025.manager.bundle.js
  canary/web-components/main.9ba3d4c37c81df5f9aa7.manager.bundle.js
  canary/web-components/main~c98f95f3.0209bd2e.iframe.bundle.js
  canary/web-components/main~c98f95f3.0209bd2e.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c98f95f3.a7708cab.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.4f1a92064b9e8684876f.manager.bundle.js
  next/web-components-react/main.b08ca30c5c14b538c844.manager.bundle.js
  next/web-components-react/main~c98f95f3.05cc3f59.iframe.bundle.js
  next/web-components-react/main~c98f95f3.4c8069c2.iframe.bundle.js
  next/web-components-react/main~c98f95f3.4c8069c2.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.589e1100bf2a435ebffe.manager.bundle.js
  next/web-components-rtl/main.5f56323ae0c3b7b16025.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.0209bd2e.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.33a69c08.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.33a69c08.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.589e1100bf2a435ebffe.manager.bundle.js
  next/web-components/main.5f56323ae0c3b7b16025.manager.bundle.js
  next/web-components/main~c98f95f3.0209bd2e.iframe.bundle.js
  next/web-components/main~c98f95f3.33a69c08.iframe.bundle.js
  next/web-components/main~c98f95f3.33a69c08.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.589e1100bf2a435ebffe.manager.bundle.js
  canary/web-components-experimental/main.5f56323ae0c3b7b16025.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.0209bd2e.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.33a69c08.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.33a69c08.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.4f1a92064b9e8684876f.manager.bundle.js
  canary/web-components-react/main.b08ca30c5c14b538c844.manager.bundle.js
  canary/web-components-react/main~c98f95f3.05cc3f59.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.4c8069c2.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.4c8069c2.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.589e1100bf2a435ebffe.manager.bundle.js
  canary/web-components-rtl/main.5f56323ae0c3b7b16025.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.0209bd2e.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.33a69c08.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.33a69c08.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.589e1100bf2a435ebffe.manager.bundle.js
  canary/web-components/main.5f56323ae0c3b7b16025.manager.bundle.js
  canary/web-components/main~c98f95f3.0209bd2e.iframe.bundle.js
  canary/web-components/main~c98f95f3.33a69c08.iframe.bundle.js
  canary/web-components/main~c98f95f3.33a69c08.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/countdown/countdown.ts
  packages/web-components/src/components/countdown/countdown.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(countdown): unitdisplay fix
  packages/web-components/src/components/countdown/__stories__/README.stories.mdx
  packages/web-components/src/components/countdown/countdown.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(promo-banner): copy from CAEM
  packages/web-components/src/components/promo-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/promo-banner/__stories__/promo-banner.stories.ts
  packages/web-components/src/components/promo-banner/index.ts
  packages/web-components/src/components/promo-banner/promo-banner.scss
  packages/web-components/src/components/promo-banner/promo-banner.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): update to Lit v2 import syntax
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
  packages/web-components/src/components/tile/tile-group.ts
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): remove unnecessary data-autoid from story
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): remove commented code
  packages/web-components/src/components/tile/tile.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): update caem prefix to c4d
  packages/web-components/src/components/tile/tile.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): formatting
  packages/web-components/src/components/tile/tile.scss
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): update argTypes to knobs
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): yarn format
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(promo-banner): updating license import paths and prefixes
  packages/web-components/src/components/promo-banner/__stories__/README.stories.mdx
  packages/web-components/src/components/promo-banner/__stories__/promo-banner.stories.ts
  packages/web-components/src/components/promo-banner/index.ts
  packages/web-components/src/components/promo-banner/promo-banner.scss
  packages/web-components/src/components/promo-banner/promo-banner.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(promo-banner): update to Lit v2 import syntax
  packages/web-components/src/components/promo-banner/__stories__/promo-banner.stories.ts
  packages/web-components/src/components/promo-banner/promo-banner.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(promo-banner): update to Lit v2 import syntax
  packages/web-components/src/components/promo-banner/__stories__/promo-banner.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): stylelint --fix
  packages/web-components/src/components/tile/tile.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(promo-banner): update argTypes to knobs
  packages/web-components/src/components/promo-banner/__stories__/promo-banner.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): simplify knobs setup for tsc
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(card): lingering unit test snapshots
  packages/web-components/tests/snapshots/c4d-card-in-card.md
  packages/web-components/tests/snapshots/c4d-card.md
  packages/web-components/tests/snapshots/c4d-feature-card.md
Due: prettier --write

feat(promo-banner): yarn format
  packages/web-components/src/components/promo-banner/promo-banner.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(star-rating): moved the files from CAEM
  packages/web-components/src/components/star-rating/__stories__/README.stories.mdx
  packages/web-components/src/components/star-rating/__stories__/star-rating.stories.ts
  packages/web-components/src/components/star-rating/index.ts
  packages/web-components/src/components/star-rating/star-rating.scss
  packages/web-components/src/components/star-rating/star-rating.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(structured-list, pricing-table): correct coloration, spacing & alignment
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): refactor tile knobs to match other components
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): remote argTypes which are redundant
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): pass arguments to Tile stories correctly
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v2.15.1
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/main~493df0b3.41c81ccd.iframe.bundle.js
  next/web-components-react/main~493df0b3.41c81ccd.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~493df0b3.5b63e077.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/main~493df0b3.05506e7a.iframe.bundle.js
  next/web-components-rtl/main~493df0b3.05506e7a.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~493df0b3.9ca93e93.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/main~493df0b3.a1d9e4c4.iframe.bundle.js
  next/web-components/main~493df0b3.e5f60280.iframe.bundle.js
  next/web-components/main~493df0b3.e5f60280.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~493df0b3.a1d9e4c4.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.e5f60280.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.e5f60280.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~493df0b3.41c81ccd.iframe.bundle.js
  canary/web-components-react/main~493df0b3.41c81ccd.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~493df0b3.5b63e077.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~493df0b3.05506e7a.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.05506e7a.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~493df0b3.9ca93e93.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~493df0b3.a1d9e4c4.iframe.bundle.js
  canary/web-components/main~493df0b3.e5f60280.iframe.bundle.js
  canary/web-components/main~493df0b3.e5f60280.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(pricing-table): update pricing-table svg styles
  packages/styles/scss/components/pricing-table/_pricing-table.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile, tile-group): add components (#12091)
  packages/web-components/src/components/tile/__stories__/README--tile-group.stories.mdx
  packages/web-components/src/components/tile/__stories__/README--tile.stories.mdx
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
  packages/web-components/src/components/tile/index.ts
  packages/web-components/src/components/tile/tile-group.ts
  packages/web-components/src/components/tile/tile.scss
  packages/web-components/src/components/tile/tile.ts
  packages/web-components/tests/snapshots/c4d-card-in-card.md
  packages/web-components/tests/snapshots/c4d-card.md
  packages/web-components/tests/snapshots/c4d-content-block-card-static.md
  packages/web-components/tests/snapshots/c4d-feature-card.md
  packages/web-components/tests/snapshots/c4d-masthead-profile.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
