Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.6a2422c1382f86a88ffc.manager.bundle.js
  next/web-components-react/main.e2d7ca1ec2abcb2839e0.manager.bundle.js
  next/web-components-react/main~c98f95f3.7a0d47ae.iframe.bundle.js
  next/web-components-react/main~c98f95f3.7a0d47ae.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.ae70b5ad.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.3d59c22d24f4c2576903.manager.bundle.js
  next/web-components-rtl/main.fa56ca7f6fb413e79686.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.20386a3d.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.e0ef83d9.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.e0ef83d9.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.3d59c22d24f4c2576903.manager.bundle.js
  next/web-components/main.fa56ca7f6fb413e79686.manager.bundle.js
  next/web-components/main~c98f95f3.20386a3d.iframe.bundle.js
  next/web-components/main~c98f95f3.e0ef83d9.iframe.bundle.js
  next/web-components/main~c98f95f3.e0ef83d9.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.3d59c22d24f4c2576903.manager.bundle.js
  canary/web-components-experimental/main.fa56ca7f6fb413e79686.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.20386a3d.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.e0ef83d9.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.e0ef83d9.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.6a2422c1382f86a88ffc.manager.bundle.js
  canary/web-components-react/main.e2d7ca1ec2abcb2839e0.manager.bundle.js
  canary/web-components-react/main~c98f95f3.7a0d47ae.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.7a0d47ae.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.ae70b5ad.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.3d59c22d24f4c2576903.manager.bundle.js
  canary/web-components-rtl/main.fa56ca7f6fb413e79686.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.20386a3d.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.e0ef83d9.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.e0ef83d9.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.3d59c22d24f4c2576903.manager.bundle.js
  canary/web-components/main.fa56ca7f6fb413e79686.manager.bundle.js
  canary/web-components/main~c98f95f3.20386a3d.iframe.bundle.js
  canary/web-components/main~c98f95f3.e0ef83d9.iframe.bundle.js
  canary/web-components/main~c98f95f3.e0ef83d9.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: fix path for cwc global in tool
  packages/web-components/tools/rollup-plugin-ibmdotcom-icon.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

feat(content-item-horizontal): add shadow parts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-featured.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/content-item/content-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(content-item-horizontal): fix docs mistype
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

[v1] fix(quote): adjust locale import path (#12036)
  packages/web-components/src/components/quote/quote.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(content-item-horizontal): update snapshots
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
  packages/web-components/tests/snapshots/dds-content-item.md
  packages/web-components/tests/snapshots/dds-pictogram-item.md
Due: prettier --write

[v1] feat(content-item-horizontal): add shadow parts (#12049)
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-featured.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
  packages/web-components/tests/snapshots/dds-content-item.md
  packages/web-components/tests/snapshots/dds-pictogram-item.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v1.64.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/project.json
Due: none

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

test: test cwc deploy preview
  index.html
Due: none

chore(card-group): remove border property that is no longer used
  packages/web-components/src/components/card-group/card-group-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/iframe.html
  v1/next/carbon-web-components/main.3e7893f6.iframe.bundle.js
  v1/next/carbon-web-components/main.3e7893f6.iframe.bundle.js.LICENSE.txt
  v1/next/carbon-web-components/main.3e7893f6.iframe.bundle.js.map
  v1/next/carbon-web-components/main.8157a4e1.iframe.bundle.js
  v1/next/carbon-web-components/main.8157a4e1.iframe.bundle.js.map
  v1/next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

refactor(card-group): remove sameHeight functionality for card-group
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-group): first pass at using subgrid
  packages/styles/scss/components/card-group/_card-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(card): renamed variablecaption
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): hide scroller buttons when there are no menuItems
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): add an option for L1 to use empty menu items
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): add empty l1Data.menuItems test data
  packages/web-components/src/components/masthead/__stories__/links.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): satisfy menuItems type constraints
  packages/web-components/src/components/masthead/__stories__/links.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): component renders multiple headings (#12030)
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~67b152df.9fe91aeb.iframe.bundle.js
  canary/web-components-experimental/main~67b152df.b353eb7a.iframe.bundle.js
  canary/web-components-experimental/main~67b152df.b353eb7a.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~67b152df.b0bc0288.iframe.bundle.js
  canary/web-components-react/main~67b152df.b0bc0288.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~67b152df.b4a3f177.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~67b152df.9fe91aeb.iframe.bundle.js
  canary/web-components-rtl/main~67b152df.b353eb7a.iframe.bundle.js
  canary/web-components-rtl/main~67b152df.b353eb7a.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~67b152df.9fe91aeb.iframe.bundle.js
  canary/web-components/main~67b152df.b353eb7a.iframe.bundle.js
  canary/web-components/main~67b152df.b353eb7a.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-group): slightly better subgrid handling
  packages/styles/scss/components/card-group/_card-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
