Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss'"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.830f1355.iframe.bundle.js
  next/carbon-web-components/main.830f1355.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.830f1355.iframe.bundle.js.map
  next/carbon-web-components/main.b3445c7e.iframe.bundle.js
  next/carbon-web-components/main.b3445c7e.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.6c376694001e709bab09.manager.bundle.js
  next/web-components-react/main.efc9a8c1107f2ac7e010.manager.bundle.js
  next/web-components-react/main~c98f95f3.00583a4b.iframe.bundle.js
  next/web-components-react/main~c98f95f3.00583a4b.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.3797680a.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.6ac170a4ec8a215685cc.manager.bundle.js
  next/web-components-rtl/main.76ab1d08006d0290dc98.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.3e8c0cda.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.3e8c0cda.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.6c2d1298.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.6ac170a4ec8a215685cc.manager.bundle.js
  next/web-components/main.76ab1d08006d0290dc98.manager.bundle.js
  next/web-components/main~c98f95f3.3e8c0cda.iframe.bundle.js
  next/web-components/main~c98f95f3.3e8c0cda.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.6c2d1298.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(carousel): addressed updates
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-block/__stories__/data/content.js
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-section-playground/playground.stories.ts
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/src/components/footer/footer.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

fix(prettify): ran yarn format
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-block/__stories__/data/content.js
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

fix(dotcom shell): set aria label as property
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/legal-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(global-styles): use compiled primitives in utilities
  packages/utilities/.gitignore
  packages/utilities/package.json
  packages/utilities/scripts/rollup.config.js
  packages/utilities/scripts/style-primitives.js
  packages/utilities/src/utilities/carbonStyles/carbonStyles.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(global-styles): TEMP use compiled primitives in web components
  packages/web-components/gulp-tasks/config.js
  packages/web-components/gulp-tasks/vendor.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cdn): CDN publishing of web components artifacts
  .github/workflows/publish-canary-cdn.yml
Due: none

feat(minify shadowroots): add rollup-plugin-minify-html-literals
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/package.json
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(minify html): yarn format
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(minify components): move minify step higher in build process
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(tabs-extended): update changelog
  docs/dotcom-v2-migration.md
Due: prettier --write

refactor(tabs-extended): rename story stylesheet
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended-stories.scss
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(tabs): use v11 styles for extended tabs component
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended-story.scss
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

chore(tabs-extended-media): convert to v11 tabs
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended): adjust tab font size and height
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

docs(tabs-extended): simplify story content
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: lint
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/card-group/card-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

feat(tabs-extended): add `TABS_TYPE` enum
  packages/web-components/src/components/tabs-extended/defs.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: dedupe selector
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

feat(minify html): remove babel template-html-minifier plugin
  packages/carbon-web-components/tools/get-rollup-config.js
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(minify html): remove babel template-html-minifier plugin II
  .yarn/cache/babel-plugin-template-html-minifier-npm-4.1.0-9a3c00055a-d7582da510.zip
  .yarn/cache/is-builtin-module-npm-3.2.1-2f92a5d353-e8f0ffc19a.zip
  packages/carbon-web-components/gulp-tasks/build/modules/scripts.js
  packages/carbon-web-components/package.json
  packages/web-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(minify html): add gulp plugin for npm packages
  .yarn/cache/auto-changelog-npm-2.4.0-eb78e07c8f-6bcedb24a9.zip
  .yarn/cache/eslint-plugin-chai-friendly-npm-0.5.0-ac3831b1af-569ebf6854.zip
  .yarn/cache/gulp-minify-html-literals-npm-1.1.22-f1964c6c00-e34224a393.zip
  .yarn/cache/parse-github-url-npm-1.0.2-290c32ecbc-cb645408cb.zip
  packages/carbon-web-components/gulp-tasks/build/modules/scripts.js
  packages/carbon-web-components/package.json
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(feature-card): hide border on focus
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

chore(feature-card): update prefixes
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(feature-card): update images
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(feature-card): set body-01 on md breakpoint
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

style(feature-card): add Carbon feature flag to component stylesheet
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

fix(feature-card): consolidate image widths
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

fix(feature-card): target inverse color scheme
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

fix(feature-card): update large breakpoint large feature card
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

fix(feature-card): reveal border on sm breakpoint
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

fix(feature-card): update image aspect ratios
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
