Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pricing-table): reset intersection observers on resize (#8420)
  packages/web-components/src/components/pricing-table/pricing-table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(pricing-table): avoid CI issues (#8420)
  packages/web-components/src/components/pricing-table/pricing-table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(react-wrappers): content-block-media/mixed (#8817)
  packages/web-components/examples/codesandbox/components-react/content-block-media/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block-media/index.html
  packages/web-components/examples/codesandbox/components-react/content-block-media/package.json
  packages/web-components/examples/codesandbox/components-react/content-block-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block-media/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block-media/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block-media/webpack.config.js
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/index.html
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/package.json
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block-mixed/webpack.config.js
  packages/web-components/examples/codesandbox/components/content-block-media/cdn.html
  packages/web-components/examples/codesandbox/components/content-block-media/index.html
  packages/web-components/examples/codesandbox/components/content-block-mixed/cdn.html
  packages/web-components/examples/codesandbox/components/content-block-mixed/index.html
  packages/web-components/examples/codesandbox/components/cta-feature/cdn.html
  packages/web-components/examples/codesandbox/usage/markdown-handlebars/index.hbs
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-media/content-block-media-content.ts
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/src/components/content-block-media/index.ts
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.react.tsx
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
  packages/web-components/src/components/content-block-mixed/index.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
  packages/web-components/src/components/content-group-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item/__tests__/content-item.test.ts
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-section/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(callout-with-media): introducing react wrapper (#8823)
  packages/web-components/examples/codesandbox/components-react/callout-with-media/.gitignore
  packages/web-components/examples/codesandbox/components-react/callout-with-media/index.html
  packages/web-components/examples/codesandbox/components-react/callout-with-media/package.json
  packages/web-components/examples/codesandbox/components-react/callout-with-media/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/callout-with-media/src/index.css
  packages/web-components/examples/codesandbox/components-react/callout-with-media/src/index.js
  packages/web-components/examples/codesandbox/components-react/callout-with-media/webpack.config.js
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.react.tsx
  packages/web-components/src/components/callout-with-media/callout-with-media-copy.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-image.ts
  packages/web-components/src/components/callout-with-media/callout-with-media-video.ts
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block-item-row): reset heights on tab selection (#8820)
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/tabs-extended/tab.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block-item-row): add component composition examples (#8820)
  packages/web-components/examples/codesandbox/components/tabs-extended/with-cta-block-item-rows.html
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(structured-list): add e2e storybook testing (#8822)
  packages/web-components/tests/e2e-storybook/cypress/integration/structured-list/structured-list.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block-item-row): import needed components (#8820)
  packages/web-components/examples/codesandbox/components/tabs-extended/src/with-cta-block-item-rows.js
  packages/web-components/examples/codesandbox/components/tabs-extended/with-cta-block-item-rows.html
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

fix(cta-block-item-row): add missing headings (#8820)
  packages/web-components/examples/codesandbox/components/tabs-extended/with-cta-block-item-rows.html
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block): remove extra space above CTA (#8143)
  packages/web-components/src/components/cta-block/cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
