Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

CTA block
  packages/styles/scss/components/cta-block/index.scss
  packages/web-components/src/components/cta-block/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-block/cta-block.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/promo-group/__stories__/promo-group.stories.ts
  packages/web-components/src/components/promo-group/promo-group.ts
  packages/web-components/src/components/promo-item/__stories__/promo-item.stories.ts
  packages/web-components/src/components/promo-item/promo-item-statistic.ts
  packages/web-components/src/components/promo-item/promo-item.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

test(e2e): changed localemodal filter value
  packages/react/src/components/LocaleModal/__tests__/LocaleModal.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(content-group): update base class to new layout
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
  packages/web-components/src/components/content-block-cards/content-block-cards.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines.ts
  packages/web-components/src/components/content-block-media/content-block-media.ts
  packages/web-components/src/components/content-block-mixed/content-block-mixed.ts
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.ts
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/src/components/content-group-pictograms/content-group-pictograms.ts
  packages/web-components/src/components/content-group-simple/content-group-simple.ts
  packages/web-components/src/components/content-group/content-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/.storybook/manager-head.html
  packages/web-components/.storybook/manager-head.html
Due: none

Update packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/README.stories.mdx
Due: none

fix(content-group): fix media/content order
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-group/content-group.ts
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-horizontal.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-cta-section.md
  packages/web-components/tests/snapshots/dds-logo-grid.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(support): updating support roster for sprint 6
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

Add og image to Web components storybook (#5463)
  packages/react/.storybook/manager-head.html
  packages/web-components/.storybook/manager-head.html
Due: none

fix(card-in-card): adjust card in card wrapper width on Collapsed grid mode
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-in-card): ensure that the boder bottom line is visible on all beakpoints
  packages/styles/scss/components/card-in-card/_card-in-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): moved e2e tests to its own package
  .yarn/offline-mirror/@carbon-icons-react-10.26.0.tgz
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  .yarn/offline-mirror/node-notifier-9.0.1.tgz
  .yarn/offline-mirror/uuid-8.3.2.tgz
  .yarn/offline-mirror/wdio-chromedriver-service-6.0.3.tgz
  .yarn/offline-mirror/wdio-chromedriver-service-7.0.0.tgz
  packages/react/package.json
  packages/tests-e2e/.env.example
  packages/tests-e2e/.gitignore
  packages/tests-e2e/babel.config.js
  packages/tests-e2e/package.json
  packages/tests-e2e/tests/locale-modal/locale-modal.e2e.js
  packages/tests-e2e/tests/masthead/masthead.e2e.js
  packages/tests-e2e/wdio.conf.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(e2e): adding more environment variables to the example .env
  packages/tests-e2e/.env.example
Due: none

chore(e2e): changing configuration for chromedriver to run headless
  packages/tests-e2e/wdio.conf.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Select knob for media types
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-group): new story mixed media
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(e2e): adding stubs for switch between web components and react
  .github/workflows/deploy-canary.yml
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  .yarn/offline-mirror/node-notifier-9.0.1.tgz
  .yarn/offline-mirror/uuid-8.3.2.tgz
  packages/tests-e2e/.env.example
  packages/tests-e2e/package.json
  packages/tests-e2e/tests/locale-modal/locale-modal.e2e.js
  packages/tests-e2e/tests/masthead/masthead.e2e.js
  packages/tests-e2e/wdio.conf.js
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/masthead-composite.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): offline mirror fix
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  .yarn/offline-mirror/node-notifier-9.0.1.tgz
  .yarn/offline-mirror/uuid-8.3.2.tgz
  packages/tests-e2e/tests/locale-modal/locale-modal.e2e.js
  packages/tests-e2e/tests/masthead/masthead.e2e.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(wdio): fix to wdio config reference
  packages/tests-e2e/package.json
Due: none

feat(cta-block): cta block and cta section decorator and knob updates
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): using correct token for essentials description text
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(leadspace): adding theme based percy snapshots for leadspace
  packages/tests-e2e/tests/leadspace/leadspace.e2e.js
  packages/tests-e2e/tests/locale-modal/locale-modal.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-group): new card-cta-image 4x3 styles
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/cta/card-cta-image.ts
  packages/web-components/src/components/cta/card-cta.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card-in-card.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-in-card): address feedback
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

(feat:cta-block) Deleted promo group and promo items
  packages/styles/scss/components/cta-block/index.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/__tests__/cta-block.test.ts
  packages/web-components/src/components/promo-group/__stories__/README.stories.mdx
  packages/web-components/src/components/promo-group/__stories__/promo-group.stories.ts
  packages/web-components/src/components/promo-group/__tests__/promo-group.test.ts
  packages/web-components/src/components/promo-group/promo-group.scss
  packages/web-components/src/components/promo-group/promo-group.ts
  packages/web-components/src/components/promo-item/__stories__/README.stories.mdx
  packages/web-components/src/components/promo-item/__stories__/promo-item.stories.scss
  packages/web-components/src/components/promo-item/__stories__/promo-item.stories.ts
  packages/web-components/src/components/promo-item/__tests__/promo-item.test.ts
  packages/web-components/src/components/promo-item/promo-item-statistic.ts
  packages/web-components/src/components/promo-item/promo-item.scss
  packages/web-components/src/components/promo-item/promo-item.ts
  packages/web-components/tests/snapshots/dds-cta-block.md
  packages/web-components/tests/snapshots/dds-cta-section.md
  packages/web-components/tests/snapshots/dds-promo-item.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(featureCard): story fixes
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-card/feature-card.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(featureCard): outline offset fix
  packages/web-components/src/components/feature-card/feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(featureCard): removed knobs
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-group): update story text
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(featureCard): fixes applied to react version
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card/feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace-medium): fixes carbon theme issue on small breakpoints
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): fixes carbon theme issue on small breakpoints
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): using correct token for essentials description text (#5516)
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): fixes carbon theme issue on small breakpoints (#5526)
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
