Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(story): added grid wrapper to leadspace
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
Due: prettier --write, eslint packages

fix(pattern): reduced heading margin on content-group
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pattern): fixed layout on 1056px resolution
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(grid): adding grid classes by default in global import
  packages/react/src/components/LightboxMediaViewer/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ButtonGroup/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Card/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/Layout/__stories__/index.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/patterns/blocks/content-group-cards/index.scss
  packages/styles/scss/patterns/blocks/content-group-simple/index.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): removed unused class
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
Due: prettier --write, eslint packages

fix(cta): refactor cta into subcomponents
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/ButtonGroup.js
Due: prettier --write, eslint packages

fix(circleci): updating yarn version in circleci yml
  .circleci/config.yml
Due: none

fix(cta): simplify to remove duplicate code
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/sub-patterns/ButtonGroup/ButtonGroup.js
Due: prettier --write, eslint packages

fix(scss): fixed content not fully showing scroll bug
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(circleci): moved npm publishing to another devops solution
  .circleci/config.yml
Due: none

fix(cta): pass props to featurecardcta correctly
  packages/react/src/components/CTA/FeatureCTA.js
Due: prettier --write, eslint packages

fix(expressive): bump up invalid icon size for number input
  packages/styles/scss/themes/expressive/components/_number-input.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(node): updating node to 12
  .circleci/config.yml
  .yarn/offline-mirror/lodash.assign-4.2.0.tgz
  .yarn/offline-mirror/lodash.mergewith-4.6.2.tgz
  .yarn/offline-mirror/node-sass-4.10.0.tgz
  .yarn/offline-mirror/node-sass-4.12.0.tgz
  package.json
  packages/react/package.json
  packages/vanilla/package.json
  yarn.lock
Due: none

fix(lightbox-media-viewer): fixed linting error
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tabs): fixed padding for selected tabs
  packages/styles/scss/themes/expressive/components/_tabs.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LocaleModal): press esc key closes the filter
  packages/react/src/components/LocaleModal/LocaleModal.js
Due: prettier --write, eslint packages

fix(select): fixed inline select when invalid
  packages/styles/scss/themes/expressive/components/_select.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(fileuploader): fixes invalid state styling
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): image now scale down on medium and smaller devices
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pattern): undoing spacing change
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(accessibility): added aria-label to back button
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Due: prettier --write, eslint packages

fix(tabs): fixes tabs mobile state styling
  packages/styles/scss/themes/expressive/components/_tabs.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pattern): change spacements to match specs
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(videoplayerAPI): adding VideoPlayerAPI test coverage
  packages/services/src/services/VideoPlayer/__tests__/VideoPlayer.test.js
Due: prettier --write, eslint packages

fix(tabs): fixed active state styling
  packages/styles/scss/themes/expressive/components/_tabs.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(image-with-caption): undoing margin change
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jsdocs): add jsdocs to cta subcomponents
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
Due: prettier --write, eslint packages

chore(cta): simplify props a bit
  packages/react/src/components/CTA/CTA.js
Due: prettier --write, eslint packages

fix(autoid): add autoid to ContentGroup CTA; fixes #1884; fixes 1747
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
Due: prettier --write, eslint packages

fix(tabs): fixes mobile version of tab styling
  packages/styles/scss/themes/expressive/components/_tabs.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): added max-width to dotcom-shell content
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): added max-width to dotcom-shell content
  packages/react/src/patterns/sections/LeadSpace/__stories__/LeadSpace.stories.js
Due: prettier --write, eslint packages

fix(scss): added max-width to video-player description
  packages/styles/scss/components/video-player/_video-player.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(accessibility): added dynamic label to back button
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
Due: prettier --write, eslint packages

chore(dependencies): remove ResizeObserver (#360)
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
  packages/carbon-web-components/src/polyfills/index.ts
Due: none

chore(build): optimized build for modern browsers (#315)
  packages/carbon-web-components/gulp-tasks/build.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: prettier --write, eslint packages

chore(build): update package.json
  packages/carbon-web-components/package.json
Due: none

chore(example): fix IE example
  packages/carbon-web-components/examples/codesandbox/ie/package.json
Due: none

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
