Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

feat(content-block): paragraph collapse if no text (#12198)
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~3584125e.0d20892e.iframe.bundle.js
  canary/web-components-experimental/main~3584125e.6022b0f9.iframe.bundle.js
  canary/web-components-experimental/main~3584125e.6022b0f9.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-experimental/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  canary/web-components-experimental/vendors~main~a353122d.f227641f.iframe.bundle.js
  canary/web-components-experimental/vendors~main~a353122d.f227641f.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/iframe.html
  canary/web-components-react/main~3584125e.5fb18ed5.iframe.bundle.js
  canary/web-components-react/main~3584125e.5fb18ed5.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~3584125e.d19b5a75.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-react/vendors~main~a353122d.9decfdc7.iframe.bundle.js
  canary/web-components-react/vendors~main~a353122d.9decfdc7.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/vendors~main~a353122d.e7f5cb97.iframe.bundle.js
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~3584125e.0d20892e.iframe.bundle.js
  canary/web-components-rtl/main~3584125e.6022b0f9.iframe.bundle.js
  canary/web-components-rtl/main~3584125e.6022b0f9.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components-rtl/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  canary/web-components-rtl/vendors~main~a353122d.f227641f.iframe.bundle.js
  canary/web-components-rtl/vendors~main~a353122d.f227641f.iframe.bundle.js.LICENSE.txt
  canary/web-components/iframe.html
  canary/web-components/main~3584125e.0d20892e.iframe.bundle.js
  canary/web-components/main~3584125e.6022b0f9.iframe.bundle.js
  canary/web-components/main~3584125e.6022b0f9.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
  canary/web-components/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  canary/web-components/vendors~main~a353122d.f227641f.iframe.bundle.js
  canary/web-components/vendors~main~a353122d.f227641f.iframe.bundle.js.LICENSE.txt
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(carousel): hide controls when no content overflow (#12197)
  packages/web-components/src/components/carousel/carousel.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~24eb9ab1.04e1b297.iframe.bundle.js
  canary/web-components-experimental/main~24eb9ab1.ce80700a.iframe.bundle.js
  canary/web-components-experimental/main~24eb9ab1.ce80700a.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~24eb9ab1.606c5917.iframe.bundle.js
  canary/web-components-react/main~24eb9ab1.7d92dadb.iframe.bundle.js
  canary/web-components-react/main~24eb9ab1.7d92dadb.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~24eb9ab1.04e1b297.iframe.bundle.js
  canary/web-components-rtl/main~24eb9ab1.ce80700a.iframe.bundle.js
  canary/web-components-rtl/main~24eb9ab1.ce80700a.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~24eb9ab1.04e1b297.iframe.bundle.js
  canary/web-components/main~24eb9ab1.ce80700a.iframe.bundle.js
  canary/web-components/main~24eb9ab1.ce80700a.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: bump version number
  packages/services/package.json
  packages/styles/package.json
  packages/web-components/package.json
Due: none

Revert "chore: bump version number"
  packages/services/package.json
  packages/styles/package.json
  packages/web-components/package.json
Due: none

Combine Email and Phone fixed Issue for NoticeOnly (#12196)
  packages/web-components/src/components/notice-choice/__stories__/README.stories.mdx
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~c64e6414.8cdfff34.iframe.bundle.js
  canary/web-components-experimental/main~c64e6414.93215f00.iframe.bundle.js
  canary/web-components-experimental/main~c64e6414.93215f00.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~f075b844.4604a29a.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.4604a29a.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~f075b844.9942473f.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~c64e6414.8cdfff34.iframe.bundle.js
  canary/web-components-rtl/main~c64e6414.93215f00.iframe.bundle.js
  canary/web-components-rtl/main~c64e6414.93215f00.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~f075b844.4604a29a.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.4604a29a.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~f075b844.9942473f.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~c64e6414.8cdfff34.iframe.bundle.js
  canary/web-components/main~c64e6414.93215f00.iframe.bundle.js
  canary/web-components/main~c64e6414.93215f00.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~f075b844.4604a29a.iframe.bundle.js
  canary/web-components/main~f075b844.4604a29a.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~f075b844.9942473f.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v2.17.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~493df0b3.c2f43507.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.c2f43507.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~493df0b3.c53fc6d2.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~493df0b3.00ea3a42.iframe.bundle.js
  canary/web-components-react/main~493df0b3.eb4b08bb.iframe.bundle.js
  canary/web-components-react/main~493df0b3.eb4b08bb.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~493df0b3.910473ab.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.d96b702d.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.d96b702d.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~493df0b3.c2f43507.iframe.bundle.js
  canary/web-components/main~493df0b3.c2f43507.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~493df0b3.c53fc6d2.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.b9f6ebecf265ee330f26.manager.bundle.js
  next/web-components-react/main.fd2f36cb0757676c0775.manager.bundle.js
  next/web-components-react/main~c98f95f3.40aadb25.iframe.bundle.js
  next/web-components-react/main~c98f95f3.9a862637.iframe.bundle.js
  next/web-components-react/main~c98f95f3.9a862637.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.3443bc1b4bc6615574cb.manager.bundle.js
  next/web-components-rtl/main.d80ec05533855d8396f2.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.418819de.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.418819de.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.f2c4d00c.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.3443bc1b4bc6615574cb.manager.bundle.js
  next/web-components/main.d80ec05533855d8396f2.manager.bundle.js
  next/web-components/main~c98f95f3.418819de.iframe.bundle.js
  next/web-components/main~c98f95f3.418819de.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.f2c4d00c.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.3443bc1b4bc6615574cb.manager.bundle.js
  canary/web-components-experimental/main.d80ec05533855d8396f2.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.418819de.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.418819de.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c98f95f3.f2c4d00c.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.b9f6ebecf265ee330f26.manager.bundle.js
  canary/web-components-react/main.fd2f36cb0757676c0775.manager.bundle.js
  canary/web-components-react/main~c98f95f3.40aadb25.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.9a862637.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.9a862637.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.3443bc1b4bc6615574cb.manager.bundle.js
  canary/web-components-rtl/main.d80ec05533855d8396f2.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.418819de.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.418819de.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c98f95f3.f2c4d00c.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.3443bc1b4bc6615574cb.manager.bundle.js
  canary/web-components/main.d80ec05533855d8396f2.manager.bundle.js
  canary/web-components/main~c98f95f3.418819de.iframe.bundle.js
  canary/web-components/main~c98f95f3.418819de.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c98f95f3.f2c4d00c.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.6e91aedde6da4e72e68f.manager.bundle.js
  next/web-components-react/main.b9f6ebecf265ee330f26.manager.bundle.js
  next/web-components-react/main~c98f95f3.6f140f72.iframe.bundle.js
  next/web-components-react/main~c98f95f3.6f140f72.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.9a862637.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  next/web-components-rtl/main.d80ec05533855d8396f2.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.418819de.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.e9093c94.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.e9093c94.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  next/web-components/main.d80ec05533855d8396f2.manager.bundle.js
  next/web-components/main~c98f95f3.418819de.iframe.bundle.js
  next/web-components/main~c98f95f3.e9093c94.iframe.bundle.js
  next/web-components/main~c98f95f3.e9093c94.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  canary/web-components-experimental/main.d80ec05533855d8396f2.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.418819de.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.e9093c94.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.e9093c94.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.6e91aedde6da4e72e68f.manager.bundle.js
  canary/web-components-react/main.b9f6ebecf265ee330f26.manager.bundle.js
  canary/web-components-react/main~c98f95f3.6f140f72.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.6f140f72.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.9a862637.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  canary/web-components-rtl/main.d80ec05533855d8396f2.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.418819de.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.e9093c94.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.e9093c94.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  canary/web-components/main.d80ec05533855d8396f2.manager.bundle.js
  canary/web-components/main~c98f95f3.418819de.iframe.bundle.js
  canary/web-components/main~c98f95f3.e9093c94.iframe.bundle.js
  canary/web-components/main~c98f95f3.e9093c94.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: update github actions ubuntu version to latest
  .github/workflows/add-to-project.yml
  .github/workflows/automerge.yml
  .github/workflows/check-cdn.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dco.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-masthead-v2.yml
  .github/workflows/deploy-next.yml
  .github/workflows/e2e-tests-parallel.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-alpha.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/publish-v2alpha-cdn.yml
  .github/workflows/release-preflight.yml
Due: none

chore: update github actions ubuntu version to latest (#12206)
  .github/workflows/add-to-project.yml
  .github/workflows/automerge.yml
  .github/workflows/check-cdn.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dco.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-masthead-v2.yml
  .github/workflows/deploy-next.yml
  .github/workflows/e2e-tests-parallel.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-alpha.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/publish-v2alpha-cdn.yml
  .github/workflows/release-preflight.yml
Due: none

feat(card): with pictograms hover behavior similar v1
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card): heading is hiding, small screen working
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card): behavior improvements
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(toc): centering clicked tabs in mobile
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card): space gutters for mobile
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
