Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(date-picker): support changing date format (#214)
  packages/carbon-web-components/src/components/date-picker/date-picker-story-angular.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story-react.tsx
  packages/carbon-web-components/src/components/date-picker/date-picker-story-vue.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.ts
Due: none

fix(slider): fix rtl (#206)
  packages/carbon-web-components/src/components/slider/slider.scss
  packages/carbon-web-components/src/components/slider/slider.ts
  packages/carbon-web-components/tests/snapshots/bx-slider.md
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(devenv): migrate CSF for Vue (#197)
  packages/carbon-web-components/.storybook/vue/config.ts
  packages/carbon-web-components/src/components/accordion/accordion-story-vue.ts
  packages/carbon-web-components/src/components/button/button-story-vue.ts
  packages/carbon-web-components/src/components/checkbox/checkbox-story-vue.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story-vue.ts
  packages/carbon-web-components/src/components/combo-box/combo-box-story-vue.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story-vue.ts
  packages/carbon-web-components/src/components/copy-button/copy-button-story-vue.ts
  packages/carbon-web-components/src/components/data-table/data-table-story-vue.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story-vue.ts
  packages/carbon-web-components/src/components/dropdown/dropdown-story-vue.ts
  packages/carbon-web-components/src/components/inline-loading/inline-loading-story-vue.ts
  packages/carbon-web-components/src/components/loading/loading-story-vue.ts
  packages/carbon-web-components/src/components/modal/modal-story-vue.ts
  packages/carbon-web-components/src/components/multi-select/multi-select-story-vue.ts
  packages/carbon-web-components/src/components/notification/notification-story-vue.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu-story-vue.ts
  packages/carbon-web-components/src/components/progress-indicator/progress-indicator-story-vue.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-story-vue.ts
  packages/carbon-web-components/src/components/search/search-story-vue.ts
  packages/carbon-web-components/src/components/slider/slider-story-vue.ts
  packages/carbon-web-components/src/components/structured-list/structured-list-story-vue.ts
  packages/carbon-web-components/src/components/tabs/tabs-story-vue.ts
  packages/carbon-web-components/src/components/tag/tag-story-vue.ts
  packages/carbon-web-components/src/components/textarea/textarea-story-vue.ts
  packages/carbon-web-components/src/components/tile/tile-story-vue.ts
  packages/carbon-web-components/src/components/toggle/toggle-story-vue.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-story-vue.ts
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story-vue.ts
Due: none

fix(scss): added min-width variable
  packages/styles/scss/patterns/leadspace/_leadspace.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(expressive): icon only button expressive styling
  packages/styles/scss/themes/expressive/components/_button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(expressive): field button expressive styling
  packages/styles/scss/themes/expressive/components/_button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(circleci): fixed nightlies and ignore publish if token is not set
  .circleci/config.yml
Due: none

fix(expressive): small expressive theme styling
  packages/styles/scss/themes/expressive/components/_button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/patterns-react/CHANGELOG.md
  packages/patterns-react/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

feat(utility): changed sameheight to work as a function an array param
  packages/utilities/src/utilities/sameheight/sameheight.js
Due: prettier --write, eslint packages

fix(number-input): fix for React (#230)
  packages/carbon-web-components/gulp-tasks/build.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/number-input/number-input.ts
Due: prettier --write, eslint packages

chore(build): improve PostCSS plugin for host (#231)
  packages/carbon-web-components/postcss-fix-host-pseudo.js
Due: prettier --write, eslint packages

chore(settings): update selectorTabbable (#232)
  packages/carbon-web-components/src/globals/settings.ts
Due: none

chore(components): update entrypoint (#233)
  packages/carbon-web-components/src/index.ts
Due: none

feat(markdown-converter): implement markdown converter utility
  packages/utilities/src/utilities/index.js
  packages/utilities/src/utilities/markdownconverter/index.js
  packages/utilities/src/utilities/markdownconverter/markdownconverter.js
Due: prettier --write, eslint packages

feat(markdown-converter): add tests and double space checking
  packages/utilities/src/utilities/markdownconverter/__tests__/markdownconverter.test.js
  packages/utilities/src/utilities/markdownconverter/markdownconverter.js
Due: prettier --write, eslint packages

feat(markdown-converter): add expected output in example
  packages/utilities/src/utilities/markdownconverter/markdownconverter.js
Due: prettier --write, eslint packages

fix(footer): add carbon accordion styles to theme mixin
  packages/styles/scss/components/footer/_footer-nav.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): add carbon button style under theme mixin
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

update to version dds.v.1.2.1
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages

fix(footer): move styles within footer classes
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): move button and accordion within classes
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(number-input): manually call requestUpdate (#238)
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/yarn.lock
Due: none

fix(footer): include expressive styling
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): fix locale button theming
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(component): implement Lightbox component
  packages/react/.env.example
  packages/react/src/components/Lightbox/Lightbox.js
  packages/react/src/components/Lightbox/README.md
  packages/react/src/components/Lightbox/__stories__/Lightbox.stories.js
  packages/react/src/components/Lightbox/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/lightbox/_lightbox.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(slider): normalize properties to string (#237)
  packages/carbon-web-components/src/components/slider/slider.ts
Due: none

chore(build): update package.json (#235)
  packages/carbon-web-components/package.json
Due: none

feat(utility): added minSize parameter, documentation updated
  packages/utilities/src/utilities/sameheight/sameheight.js
Due: prettier --write, eslint packages

fix(utility): documentation fixed
  packages/utilities/src/utilities/sameheight/sameheight.js
Due: prettier --write, eslint packages

fix(utility): update on samheight function
  packages/utilities/src/utilities/sameheight/sameheight.js
Due: prettier --write, eslint packages

fix(expressive): bring in button variables matching carbons
  packages/styles/scss/themes/expressive/components/_button.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(markdown-converter): add carbon classes option + fixes
  package.json
  packages/utilities/src/utilities/index.js
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
  packages/utilities/src/utilities/markdownToHtml/index.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
  packages/utilities/src/utilities/markdownconverter/markdownconverter.js
Due: prettier --write, eslint packages

feat(markdown-converter): yarn update
  yarn.lock
Due: none

feat(publish): adding release automation script (wip)
  tasks/publish.sh
  tasks/tag-release.sh
Due: none

fix(component): readme & uri object structure update
  packages/react/src/components/Lightbox/Lightbox.js
  packages/react/src/components/Lightbox/README.md
  packages/react/src/components/Lightbox/__stories__/Lightbox.stories.js
  packages/react/src/components/Lightbox/__stories__/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(markdown-converter): use semantic html with classes
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Due: prettier --write, eslint packages

fix(components): move component.scss into application.scss
  packages/react/src/components/ButtonGroup/README.md
  packages/react/src/components/CardLink/README.md
  packages/react/src/components/ExpressiveModal/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Layout/README.md
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/TableOfContents/README.md
Due: prettier --write

fix: scss token update
  packages/styles/scss/components/lightbox/_lightbox.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
