Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(image-with-caption): update caption and storybook
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): language and platform object passed
  packages/web-components/.storybook/config.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(styles): update content-block styles
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(storybook): restore react webpack fast-sass-loader
  .yarn/offline-mirror/cli-source-preview-1.1.0.tgz
  .yarn/offline-mirror/fast-sass-loader-2.0.0.tgz
  .yarn/offline-mirror/fs-extra-3.0.1.tgz
  .yarn/offline-mirror/jsonfile-3.0.1.tgz
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/styles/scss/components/ctasection/_ctasection.scss
  packages/styles/scss/themes/expressive/_tokens.scss
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(storybook): restore cache-loader
  packages/react/.storybook/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): variable names
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): sample update
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(styles): fix styling inconsistencies
  packages/styles/scss/components/ctasection/_ctasection.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): remove null css property variables
  packages/styles/scss/themes/expressive/_tokens.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(background-media): apply suggestions based on code feedback
  packages/styles/scss/components/background-media/_background-media.scss
  packages/web-components/src/components/background-media/background-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): updated masthead cloud
  packages/web-components/.storybook/config.ts
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(mastehead): reverted config ts
  packages/web-components/.storybook/config.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(FeatureCTA): adjust prop cta structure to set target correctly
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/ContentBlockMedia/README.stories.mdx
  packages/react/src/components/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): restore react storybook webpack fast-sass-loader (#6581)
  .yarn/offline-mirror/cli-source-preview-1.1.0.tgz
  .yarn/offline-mirror/fast-sass-loader-2.0.0.tgz
  .yarn/offline-mirror/fs-extra-3.0.1.tgz
  .yarn/offline-mirror/jsonfile-3.0.1.tgz
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/styles/scss/components/ctasection/_ctasection.scss
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(e2e): change baseline target to master branch
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
Due: none

fix(background-media): adjust top to bottom gradient
  packages/styles/scss/components/background-media/_background-media.scss
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/background-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Revert "fix(background-media): adjust top to bottom gradient"
  packages/styles/scss/components/background-media/_background-media.scss
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/background-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(background-media): adjust the end percentage of top-to-bottom
  packages/styles/scss/components/background-media/_background-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(e2e): change baseline target to master branch (#6593)
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
Due: none

feat(masthead): updated readme,
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): updated readme
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Due: none

fix(callout-with-media): image caption update
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(select): add custom selected event for select component (#667)
  packages/carbon-web-components/src/components/select/select-story.ts
  packages/carbon-web-components/src/components/select/select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(filter-panel): modal closing functionality and modal header
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/web-components/src/components/filter-panel/__stories__/README.stories.mdx
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.scss
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
  packages/web-components/src/components/filter-panel/filter-panel-modal.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/src/components/filter-panel/filter-panel.ts
  packages/web-components/src/components/filter-panel/input_select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): fix margin styles
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/card-group/card-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(filter-panel): deleted unused events
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(filter-panel): added components to index and fixed path variable
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(filter-panel): added readme
  packages/web-components/src/components/filter-panel/__stories__/README.stories.mdx
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(styles): remove unused hang util
  packages/web-components/src/components/card-group/card-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(storybook): remove comments
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(content-block-cards): restore heading margin
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(filter-panel): added scroll and fixed scss imports
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/web-components/src/components/filter-panel/checkbox.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-modal.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-in-card): fixes various styles
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/src/components/image/image.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): update snapshots
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Due: prettier --write

feat(background-media): add "Background media" UI component (#6548)
  packages/storybook-images/assets/leadspace/fpo--leadspace--16x9--1594x891--005.jpg
  packages/storybook-images/assets/leadspace/fpo--leadspace--4x3--480x360--005.jpg
  packages/styles/scss/components/background-media/README.md
  packages/styles/scss/components/background-media/_background-media.scss
  packages/web-components/src/components/background-media/__stories__/README.stories.mdx
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/background-media/__tests__/background-media.test.ts
  packages/web-components/src/components/background-media/background-media.scss
  packages/web-components/src/components/background-media/background-media.ts
  packages/web-components/src/components/background-media/defs.ts
  packages/web-components/src/components/background-media/index.ts
  packages/web-components/tests/snapshots/dds-background-media.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
