Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(bug): expose search placeholder prop; fixes #631
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, eslint packages

Merge pull request #643 from kennylam/feat/localized-search-placeholder
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, eslint packages

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

fix(yarn): offline mirror dependencies
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.1.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.1.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0.tgz
  yarn.lock
Due: none

fix(masthead): ssr fix for missing document
  packages/react/src/components/Masthead/MastheadSearchInput.js
Due: prettier --write, eslint packages

fix(imports): multiple import fixes for styles
  packages/styles/gulp/tasks/sass.js
  packages/styles/package.json
  packages/styles/scss/components/accordion/_accordion-expressive.scss
  packages/styles/scss/components/button/_button-expressive.scss
  packages/styles/scss/components/card-link/index.scss
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/footer/index.scss
  packages/styles/scss/components/link/_link-expressive.scss
  packages/styles/scss/components/masthead/index.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/globals/_mixins.scss
  packages/styles/scss/globals/_vars.scss
  packages/styles/scss/patterns/leadspace/index.scss
  yarn.lock
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(imports): updating global import of components for main scss
  packages/styles/scss/ibm-dotcom-styles.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(examples): adding example with create-react-app
  .yarn/offline-mirror/react-scripts-3.2.0.tgz
  packages/react/examples/create-react-app/config/env.js
  packages/react/examples/create-react-app/config/jest/cssTransform.js
  packages/react/examples/create-react-app/config/jest/fileTransform.js
  packages/react/examples/create-react-app/config/modules.js
  packages/react/examples/create-react-app/config/paths.js
  packages/react/examples/create-react-app/config/pnpTs.js
  packages/react/examples/create-react-app/config/webpack.config.js
  packages/react/examples/create-react-app/config/webpackDevServer.config.js
  packages/react/examples/create-react-app/package.json
  packages/react/examples/create-react-app/public/index.html
  packages/react/examples/create-react-app/public/robots.txt
  packages/react/examples/create-react-app/scripts/build.js
  packages/react/examples/create-react-app/scripts/start.js
  packages/react/examples/create-react-app/scripts/test.js
  packages/react/examples/create-react-app/src/App.css
  packages/react/examples/create-react-app/src/App.js
  packages/react/examples/create-react-app/src/content.js
  packages/react/examples/create-react-app/src/index.css
  packages/react/examples/create-react-app/src/index.js
  packages/react/examples/create-react-app/yarn.lock
  packages/react/examples/nextjs/pages/index.js
Due: prettier --write, eslint packages

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat(radio-button): introduce radio button (#157)
  packages/carbon-web-components/src/components/radio-button/radio-button-group.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-story-angular.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-story-react.tsx
  packages/carbon-web-components/src/components/radio-button/radio-button-story-vue.ts
  packages/carbon-web-components/src/components/radio-button/radio-button-story.ts
  packages/carbon-web-components/src/components/radio-button/radio-button.scss
  packages/carbon-web-components/src/components/radio-button/radio-button.ts
  packages/carbon-web-components/src/components/structured-list/structured-list-row.ts
  packages/carbon-web-components/src/globals/internal/radio-group-manager.ts
  packages/carbon-web-components/tests/snapshots/bx-radio-button.md
  packages/carbon-web-components/tests/spec/radio-button_spec.ts
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): bump up package versions to 1.1.1
  packages/react/package.json
  packages/services/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/vanilla/package.json
Due: none

chore(release): unbump package versions
  packages/react/package.json
  packages/services/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/vanilla/package.json
Due: none

test(react-wrapper): add tests (#161)
  packages/carbon-web-components/tests/spec/createReactCustomElementType_spec.ts
Due: none

feat(angular): introduce form directives (#165)
  packages/carbon-web-components/gulp-tasks/build.js
  packages/carbon-web-components/gulp-tasks/lint.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/directives-angular/checkbox.ts
  packages/carbon-web-components/src/directives-angular/index.ts
  packages/carbon-web-components/src/directives-angular/input.ts
  packages/carbon-web-components/src/directives-angular/slider.ts
  packages/carbon-web-components/src/typings/vendor.d.ts
  packages/carbon-web-components/tests/karma.conf.js
  packages/carbon-web-components/tests/polyfills/.eslintrc
  packages/carbon-web-components/tests/polyfills/angular.ts
  packages/carbon-web-components/tests/spec/checkbox-angular_spec.ts
  packages/carbon-web-components/tests/spec/input-angular_spec.ts
  packages/carbon-web-components/tests/spec/slider-angular_spec.ts
  packages/carbon-web-components/tsconfig-angular-esm2015.json
  packages/carbon-web-components/tsconfig-angular-esm5.json
  packages/carbon-web-components/yarn.lock
Due: prettier --write, eslint packages

feat(pattern): sticky table of contents
  packages/patterns-react/package.json
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/TableOfContents/README.md
  packages/patterns-react/src/patterns/TableOfContents/TableOfContents.js
  packages/patterns-react/src/patterns/TableOfContents/__stories__/TableOfContents.stories.js
  packages/patterns-react/src/patterns/TableOfContents/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/tableofcontents/README.md
  packages/styles/scss/patterns/tableofcontents/_tableofcontents.scss
  packages/styles/scss/patterns/tableofcontents/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix: adjusted transition value for menu border
  packages/styles/scss/patterns/tableofcontents/_tableofcontents.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

fix(publish): fix to properly graduate a patch release
  tasks/publish.sh
Due: none

docs(masthead): updated documentation for the masthead to clarify props
  packages/react/src/components/Masthead/README.md
Due: prettier --write

docs(masthead): tweak to platform prop README for Masthead
  packages/react/src/components/Masthead/README.md
Due: prettier --write

fix(storybook): render with styles on reload
  packages/react/.storybook/Container.js
Due: prettier --write, eslint packages

fix(masthead): shrink masthead L1 when it becomes sticky
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(lint): add file extensions to cover (#169)
  packages/carbon-web-components/.eslintignore
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/input/input-story-react.tsx
  packages/carbon-web-components/src/components/textarea/textarea-story-react.tsx
Due: none

feat(code-snippet): introduce code snippet (#166)
  packages/carbon-web-components/src/components/code-snippet/README.md
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story-angular.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story-react.tsx
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story-vue.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet-story.ts
  packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
  packages/carbon-web-components/src/components/code-snippet/code-snippet.ts
  packages/carbon-web-components/src/components/copy-button/copy-button-story-angular.ts
  packages/carbon-web-components/src/components/copy-button/copy-button-story-react.tsx
  packages/carbon-web-components/src/components/copy-button/copy-button-story-vue.ts
  packages/carbon-web-components/src/components/copy-button/copy-button-story.ts
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/copy-button/copy-button.ts
  packages/carbon-web-components/tests/snapshots/bx-code-snippet.md
  packages/carbon-web-components/tests/snapshots/bx-copy-button.md
  packages/carbon-web-components/tests/spec/code-snippet_spec.ts
  packages/carbon-web-components/tests/spec/copy-button_spec.ts
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(lint): introduce reviewdog (#170)
  packages/carbon-web-components/.github/workflows/reviewdog.yml
Due: none

chore(dependencies): upgrade node-sass (#172)
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

fix(masthead): share more css rules to masthead l1
  packages/react/src/components/Masthead/MastheadL1.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(build): ship sass code (#164)
  packages/carbon-web-components/gulp-tasks/build.js
  packages/carbon-web-components/gulp-tasks/clean.js
  packages/carbon-web-components/gulp-tasks/config.js
  packages/carbon-web-components/gulpfile.js
Due: prettier --write, eslint packages

feat(date-picker): propagate error from Flatpickr (#171)
  packages/carbon-web-components/src/components/date-picker/date-picker-story-angular.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story-react.tsx
  packages/carbon-web-components/src/components/date-picker/date-picker-story-vue.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.ts
Due: none

feat(pattern): use cases pattern
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/UseCases/README.md
  packages/patterns-react/src/patterns/UseCases/UseCases.js
  packages/patterns-react/src/patterns/UseCases/UseCasesGroup.js
  packages/patterns-react/src/patterns/UseCases/UseCasesItem.js
  packages/patterns-react/src/patterns/UseCases/__stories__/UseCases.stories.js
  packages/patterns-react/src/patterns/UseCases/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/usecases/README.md
  packages/styles/scss/patterns/usecases/_usecases-group.scss
  packages/styles/scss/patterns/usecases/_usecases-item.scss
  packages/styles/scss/patterns/usecases/_usecases.scss
  packages/styles/scss/patterns/usecases/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): use contextual selector for short l1
  packages/react/src/components/Masthead/MastheadL1.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(settings): updated settings version to v1.1.2
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages

fix(css): update back link color
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
