Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linkList): update focus styles and masthead spelling
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LinkList): fix linklist card padding (#4825)
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(profile): use new endpoint for profile log in status
  packages/services/src/services/Profile/Profile.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): bump styles package version to 1.14.0
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
Due: none

chore(deps): bump styles package version to 1.14.0 (#4836)
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
Due: none

feat(footer): added fixes
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/language-selector.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(footer): ran prettier
  packages/web-components/src/components/footer/__stories__/language-list.ts
  packages/web-components/src/components/footer/footer-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(devenv): filter out internal props from docs
  packages/web-components/.storybook/react/filterDocgenInfoProps.js
  packages/web-components/src/components/leaving-ibm/__stories__/README.stories.react.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(link): added methods from dds-link (#568)
  packages/carbon-web-components/src/components/link/link.ts
  packages/carbon-web-components/tests/snapshots/bx-link.md
  packages/carbon-web-components/tests/snapshots/bx-tile.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): recreate IntersectionObserver upon showing/hiding nav
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(callout-data): introduce componetns for heading, etc
  packages/styles/scss/components/callout-data/_callout-data.scss
  packages/web-components/examples/codesandbox/components/callout-data/index.html
  packages/web-components/examples/codesandbox/components/callout-data/src/index.js
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/callout-data/callout-data-copy.ts
  packages/web-components/src/components/callout-data/callout-data-heading.ts
  packages/web-components/src/components/callout-data/callout-data-source.ts
  packages/web-components/src/components/callout-data/callout-data.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(callout-data): remove redundant annotation
  packages/web-components/src/components/callout-data/callout-data-heading.ts
  packages/web-components/src/components/callout-data/callout-data-source.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(quote): introduce componetns for heading, etc
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/internal/callout/_callout.scss
  packages/web-components/examples/codesandbox/components/callout-quote/index.html
  packages/web-components/examples/codesandbox/components/callout-quote/src/index.js
  packages/web-components/examples/codesandbox/components/quote/src/index.js
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/quote-source-bottom-copy.ts
  packages/web-components/src/components/quote/quote-source-copy.ts
  packages/web-components/src/components/quote/quote-source-heading.ts
  packages/web-components/src/components/quote/quote.scss
  packages/web-components/src/components/quote/quote.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(callout-data): update snapshot
  packages/web-components/tests/snapshots/dds-callout-data.md
Due: prettier --write

test(quote): update snapshot
  packages/web-components/tests/snapshots/dds-callout-quote.md
  packages/web-components/tests/snapshots/dds-quote.md
Due: prettier --write

chore(leadspace): introduce a component to heading
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(quote): update story for dotcom shell
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(leadspace-block): introduce content for heading, etc
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/web-components/examples/codesandbox/components/leadspace-block/index.html
  packages/web-components/examples/codesandbox/components/leadspace-block/src/index.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-heading.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/tests/snapshots/dds-leadspace-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(content-item-horizontal): introduce eyebrow component
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/web-components/examples/codesandbox/components/content-group-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-group-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/src/components/content-group-horizontal/__stories__/content-group-horizontal.stories.ts
  packages/web-components/src/components/content-group-horizontal/__tests__/content-group-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-eyebrow.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.scss
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(content-item-horizontal): update snapshot
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Due: prettier --write

chore(leaving-ibm): introduce supplemental component
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-body.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm-modal-supplemental.ts
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(build): change build order (#570)
  packages/carbon-web-components/.github/workflows/deploy.yml
Due: none

fix(leaving-ibm-modal): fix missing import
  packages/web-components/src/components/leaving-ibm/leaving-ibm-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(footer): addressed comments and updated snapshots
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/footer/language-selector.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

progress
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/defs.ts
  packages/web-components/src/components/quote/quote.scss
  packages/web-components/src/components/quote/quote.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(Footer): swap out translation host default endpoint for FF
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-section): fixed external buttons not opening in a new tab
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(Footer): swap out translation host default endpoint for FF (#4848)
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(link-list): corrected focus state on end variant
  packages/web-components/src/components/link-list/link-list.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(link-list): corrected focus state on end variant
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linkList): update focus styles and masthead spelling (#4826)
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): recreate IntersectionObserver upon showing/hiding nav (#4838)
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(footer): using property binding to deserialize list
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(fade-in-out): reimplemented into web and react components
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/FadeInOut/FadeInOut.js
  packages/styles/scss/internal/scroll-into-view/_scroll-into-view.scss
  packages/utilities/src/utilities/scrollIntoView/index.js
  packages/utilities/src/utilities/scrollIntoView/scrollIntoView.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/fade-in-out/fade-in-out.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(language-selector): addressed more comments
  packages/web-components/src/components/footer/__stories__/language-list.ts
  packages/web-components/src/components/footer/defs.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/language-selector.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(feature-card-block-medium): rename heading slot to block-heading
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium-block-heading.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(content-item-horizontal): update README
  packages/web-components/src/components/content-group-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
Due: none

docs(leadspace): update README
  packages/web-components/src/components/leadspace-block/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
