Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(test): updated test
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(pattern): props description
  packages/react/src/patterns/sub-patterns/ButtonGroup/README.stories.mdx
Due: none

fix(pattern): lint fix
  packages/react/src/patterns/blocks/ContentGroupHorizontal/ContentGroupHorizontal.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(docs): add readme props; fix expressive modal header size
  packages/react/src/components/CardLink/README.md
  packages/react/src/components/CardLink/README.stories.mdx
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(sub-patterns): adding deprecation and breadcrumb imports (#2577)
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
  packages/styles/scss/patterns/sub-patterns/card-group/_card-group.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
  packages/styles/scss/patterns/sub-patterns/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/patterns/sub-patterns/feature-card/_feature-card.scss
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
  packages/styles/scss/patterns/sub-patterns/quote/_quote.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): style type
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(cardlink): adds cardlink (#2506)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/react/src/components/CardLink/index.js
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/react/src/components/index.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/utilities/src/utilities/smoothScroll/smoothScroll.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pattern): fixed border style on focus
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(calloutwithmedia): style fixes (#2505)
  packages/styles/scss/components/callout/_callout.scss
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/styles/scss/patterns/blocks/callout-with-media/_callout-with-media.scss
  packages/styles/scss/patterns/blocks/callout-with-media/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(styles): update carbon imports
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/globals/_tokens.scss
  packages/styles/scss/temp-carbon-expressive/_temp-carbon-expressive.scss
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_accordion.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/components/_code-snippet.scss
  packages/styles/scss/themes/expressive/components/_combo-box.scss
  packages/styles/scss/themes/expressive/components/_content-switcher.scss
  packages/styles/scss/themes/expressive/components/_copy-button.scss
  packages/styles/scss/themes/expressive/components/_data-table.scss
  packages/styles/scss/themes/expressive/components/_date-picker.scss
  packages/styles/scss/themes/expressive/components/_dropdown.scss
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
  packages/styles/scss/themes/expressive/components/_inline-loading.scss
  packages/styles/scss/themes/expressive/components/_inline-notifications.scss
  packages/styles/scss/themes/expressive/components/_list-box.scss
  packages/styles/scss/themes/expressive/components/_loading.scss
  packages/styles/scss/themes/expressive/components/_modal.scss
  packages/styles/scss/themes/expressive/components/_number-input.scss
  packages/styles/scss/themes/expressive/components/_overflow-menu.scss
  packages/styles/scss/themes/expressive/components/_progressive-indicator.scss
  packages/styles/scss/themes/expressive/components/_search.scss
  packages/styles/scss/themes/expressive/components/_select.scss
  packages/styles/scss/themes/expressive/components/_structured-list.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/components/_tag.scss
  packages/styles/scss/themes/expressive/components/_text-area.scss
  packages/styles/scss/themes/expressive/components/_text-input.scss
  packages/styles/scss/themes/expressive/components/_tile.scss
  packages/styles/scss/themes/expressive/components/_time-picker.scss
  packages/styles/scss/themes/expressive/components/_tooltip.scss
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): removed heading style
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(sub-patterns): adding deprecation warning message for imports
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
  packages/styles/scss/patterns/sub-patterns/card-group/_card-group.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
  packages/styles/scss/patterns/sub-patterns/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/patterns/sub-patterns/feature-card/_feature-card.scss
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
  packages/styles/scss/patterns/sub-patterns/quote/_quote.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(styles): update carbon imports (#2581)
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/globals/_imports.scss
  packages/styles/scss/globals/_tokens.scss
  packages/styles/scss/temp-carbon-expressive/_temp-carbon-expressive.scss
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_accordion.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/components/_code-snippet.scss
  packages/styles/scss/themes/expressive/components/_combo-box.scss
  packages/styles/scss/themes/expressive/components/_content-switcher.scss
  packages/styles/scss/themes/expressive/components/_copy-button.scss
  packages/styles/scss/themes/expressive/components/_data-table.scss
  packages/styles/scss/themes/expressive/components/_date-picker.scss
  packages/styles/scss/themes/expressive/components/_dropdown.scss
  packages/styles/scss/themes/expressive/components/_file-uploader.scss
  packages/styles/scss/themes/expressive/components/_inline-loading.scss
  packages/styles/scss/themes/expressive/components/_inline-notifications.scss
  packages/styles/scss/themes/expressive/components/_list-box.scss
  packages/styles/scss/themes/expressive/components/_loading.scss
  packages/styles/scss/themes/expressive/components/_modal.scss
  packages/styles/scss/themes/expressive/components/_number-input.scss
  packages/styles/scss/themes/expressive/components/_overflow-menu.scss
  packages/styles/scss/themes/expressive/components/_progressive-indicator.scss
  packages/styles/scss/themes/expressive/components/_search.scss
  packages/styles/scss/themes/expressive/components/_select.scss
  packages/styles/scss/themes/expressive/components/_structured-list.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/components/_tag.scss
  packages/styles/scss/themes/expressive/components/_text-area.scss
  packages/styles/scss/themes/expressive/components/_text-input.scss
  packages/styles/scss/themes/expressive/components/_tile.scss
  packages/styles/scss/themes/expressive/components/_time-picker.scss
  packages/styles/scss/themes/expressive/components/_tooltip.scss
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(sub-patterns): adding deprecation warning message for imports (#2582)
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
  packages/styles/scss/patterns/sub-patterns/card-group/_card-group.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
  packages/styles/scss/patterns/sub-patterns/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/patterns/sub-patterns/feature-card/_feature-card.scss
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
  packages/styles/scss/patterns/sub-patterns/pictogram-item/_pictogram-item.scss
  packages/styles/scss/patterns/sub-patterns/quote/_quote.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(storybook): adding a new storybook story to the masthead
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(storyshoot): updating snapshot test
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(devenv): bring decorator back
  packages/react/.storybook/config.js
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Layout/__stories__/Layout.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(videoplayer): exposing the environment variables in JSDocs
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): hiding video link in linklist for percy tests
  packages/react/.storybook/preview-head.html
Due: none

style(pattern): fix feature-card-block-large styles
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(beta-releases): adding beta release creation script
  tasks/beta-releases.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): hiding video link in linklist for percy tests (#2596)
  packages/react/.storybook/preview-head.html
Due: none

feat(beta-releases): adding beta release creation script (#2599)
  tasks/beta-releases.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(featurecard): fixed feature card style type (#2579)
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(videoplayer): adjusted docs to include examples
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(pattern): CTA and button default - no icon
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTALogic.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(pattern): default props
  packages/react/src/components/CTA/ButtonCTA.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(storybook): bug happening in the masthead iframe view (#2593)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(videoplayer): exposing the environment variables in JSDocs (#2592)
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(devenv): cope with masthead story change
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(test): updated snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

feat(component): adding `copy` prop to the ContentGroup
  packages/react/src/internal/components/ContentGroup/ContentGroup.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

style(content-group): margins added for the component
  packages/styles/scss/internal/content-group/_content-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(beta-releases): minor fix to remove the delimiter
  tasks/beta-releases.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(patterns): adding the `copy` prop in the `ContentGroup`
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/ContentGroupPictograms.js
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(patterns): `copy` prop stable selector added to README's
  packages/react/src/internal/components/ContentGroup/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupCards/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.stories.mdx
  packages/react/src/patterns/blocks/ContentGroupSimple/README.stories.mdx
Due: none

fix(2400): icon size corrected
  packages/styles/scss/patterns/blocks/feature-card-block-large/_feature-card-block-large.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
