Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(logo-grid): update grid responsive layout
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(logo-grid): add `parseAspectRatio` utility
  packages/utilities/src/utilities/parseAspectRatio/index.js
  packages/utilities/src/utilities/parseAspectRatio/parseAspectRatio.js
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image): merge image-with-caption with regular image
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/__stories__/README.stories.mdx
  packages/web-components/src/components/image-with-caption/__stories__/README.stories.react.mdx
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.react.tsx
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.ts
  packages/web-components/src/components/image-with-caption/__tests__/image-with-caption.test.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/src/components/image/__stories__/README.stories.mdx
  packages/web-components/src/components/image/__stories__/README.stories.react.mdx
  packages/web-components/src/components/image/__stories__/image.stories.react.tsx
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(callout-with-media): updated extended image component
  packages/web-components/src/components/callout-with-media/callout-with-media-image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.react.tsx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block): restore CTA spacing (#8143)
  packages/web-components/src/components/cta-block/cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore: remove eslint ignore rule
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(back-to-top): reset tab order on click
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(quote): update max breakpoint corner bracket position
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(CalloutQuote): add corner bracket quote type
  packages/react/src/components/CalloutQuote/__stories__/CalloutQuote.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(video-player): introduce react wrapper
  packages/web-components/src/components-react/video-player/video-player-composite.tsx
  packages/web-components/src/components-react/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/__stories__/README.stories.react.mdx
  packages/web-components/src/components/video-player/__stories__/video-player.stories.react.tsx
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cta-section): add parseAspectRatio utility
  packages/utilities/src/utilities/parseAspectRatio/index.js
  packages/utilities/src/utilities/parseAspectRatio/parseAspectRatio.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(pricing-table): make sticky header full width (#8420)
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/web-components/src/components/pricing-table/pricing-table.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(prettier): yarn format
  packages/web-components/examples/codesandbox/components-react/pictogram-item/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(prettier): yarn format
  packages/web-components/examples/codesandbox/components-react/quote/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
  packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

refactor(quote): use spacing tokens
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(back-to-top): reset tab order on click (#8906)
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(content-block-horizontal): introducing react wrapper (#8828)
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/.gitignore
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/index.html
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/package.json
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/src/index.css
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components-react/content-block-horizontal/webpack.config.js
  packages/web-components/src/components/content-block-horizontal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.react.tsx
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block): use correct spacing (#8900)
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-block/cta-block.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/tests/snapshots/dds-cta-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(Quote): quote react wrapper (#8899)
  packages/web-components/examples/codesandbox/components-react/quote/.gitignore
  packages/web-components/examples/codesandbox/components-react/quote/index.html
  packages/web-components/examples/codesandbox/components-react/quote/package.json
  packages/web-components/examples/codesandbox/components-react/quote/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/quote/src/index.css
  packages/web-components/examples/codesandbox/components-react/quote/src/index.js
  packages/web-components/examples/codesandbox/components-react/quote/webpack.config.js
  packages/web-components/src/components/quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(quote): update max breakpoint corner bracket position (#8907)
  packages/react/src/components/CalloutQuote/__stories__/CalloutQuote.stories.js
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
