Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(test): forgot record key in command
  packages/web-components/package.json
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

fix(test): try without command
  .github/workflows/e2e-tests.yml
Due: none

fix(test): specifying cypress json
  .github/workflows/e2e-tests.yml
Due: none

fix(test): use start parameter
  .github/workflows/e2e-tests.yml
Due: none

fix(test): use pull request target
  .github/workflows/e2e-tests.yml
Due: none

fix(test): checkout pr
  .github/workflows/e2e-tests.yml
Due: none

feat(tests): enable parallelization
  .github/workflows/e2e-tests.yml
Due: none

feat: notice & choice react component, a privacy complaince feature
  packages/react/examples/codesandbox/components/NoticeChoice/.gitignore
  packages/react/src/components/NoticeChoice/NoticeChoice.js
  packages/react/src/components/NoticeChoice/__stories__/NoticeChoice.stories.js
  packages/react/src/components/NoticeChoice/services.js
  packages/react/src/components/NoticeChoice/utils.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix: resolve conclicts
  packages/react/src/components/NoticeChoice/__stories__/NoticeChoice.stories.js
  packages/react/src/components/NoticeChoice/services.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

refactor: remove unused methods
  packages/react/src/components/NoticeChoice/NoticeChoice.js
  packages/react/src/components/NoticeChoice/api-path.js
  packages/react/src/components/NoticeChoice/services.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(footer): ensure label has descriptive text
  packages/web-components/src/components/footer/dropdown.ts
  packages/web-components/src/components/footer/footer-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix: replace indexOf with startsWith as per codeQL
  packages/react/src/components/NoticeChoice/NoticeChoice.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(pricing-table): expose feature flag elements in CI env (#8780)
  .github/workflows/e2e-tests.yml
Due: none

fix(pricing-table): compare against stable value (#9050)
  packages/web-components/src/components/pricing-table/pricing-table-header-cell.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): require node 16
  .yarn/offline-mirror/camelcase-2.1.1.tgz
  .yarn/offline-mirror/camelcase-keys-2.1.0.tgz
  .yarn/offline-mirror/css-loader-5.2.0.tgz
  .yarn/offline-mirror/css-loader-5.2.7.tgz
  .yarn/offline-mirror/indent-string-2.1.0.tgz
  .yarn/offline-mirror/meow-3.7.0.tgz
  .yarn/offline-mirror/meow-9.0.0.tgz
  .yarn/offline-mirror/node-sass-5.0.0.tgz
  .yarn/offline-mirror/node-sass-6.0.1.tgz
  .yarn/offline-mirror/redent-1.0.0.tgz
  .yarn/offline-mirror/sass-loader-10.1.1.tgz
  .yarn/offline-mirror/sass-loader-10.3.1.tgz
  .yarn/offline-mirror/strip-indent-1.0.1.tgz
  .yarn/offline-mirror/trim-newlines-1.0.0.tgz
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

test(webpack): temp downgrade to 4.46
  package.json
  yarn.lock
Due: none

chore(github): update node version in workflows
  .github/workflows/check-cdn.yml
  .github/workflows/ci-check.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-next.yml
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/release-preflight.yml
  .github/workflows/snapshot-update.yml
Due: none

fix(react): temp build with webpack 4
  packages/react/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(footer): ensure label is hidden w/o affecting position
  packages/web-components/src/components/footer/dropdown.ts
  packages/web-components/src/components/footer/footer.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer): ensure slot is zero height
  packages/web-components/src/components/footer/footer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(codeQl): remove non-prod opt out form link
  packages/react/src/components/NoticeChoice/NoticeChoice.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
