Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

docs(leadspace-w-search): updating readme
  packages/react/src/components/LeadspaceWithSearch/README.stories.mdx
Due: none

fix(leadspace-w-search): adding required prop to search inpu
  packages/react/src/components/LeadspaceWithSearch/__stories__/LeadspaceWithSearch.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Link list item support cta (#4277)
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/cta/link-list-item-card-cta.ts
  packages/web-components/src/components/cta/link-list-item-cta.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-text-cta.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(translation): resolved conflict and merge
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(translation): changed string
  packages/services/src/services/Translation/__tests__/data/timestamp_response.json
Due: none

chore(logo-grid): changed order
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/examples/codesandbox/components/logo-grid/package.json
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(logo-grid): changed order
  packages/web-components/tests/snapshots/dds-logo-grid.md
Due: prettier --write

feat(translation): removed changing id
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/services/src/services/Translation/__tests__/data/timestamp_response.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): ensure input field is cleared on reset (#4296)
  packages/web-components/src/components/locale-modal/__tests__/locale-search.test.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image-with-caption): support responsive image
  packages/web-components/src/components/image-with-caption/__stories__/image-with-caption.stories.ts
  packages/web-components/src/components/image-with-caption/__tests__/image-with-caption.test.ts
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/__tests__/image.test.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(image): fix TS error
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(translation): removed dynamic imports
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(translation): removed unique id from production
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/services/src/services/Translation/__tests__/data/timestamp_response.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(translation): added cache property
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(example): introduce RTL example
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/enable-rtl.stories.mdx
  packages/web-components/examples/codesandbox/usage/rtl/index.hbs
  packages/web-components/examples/codesandbox/usage/rtl/package.json
  packages/web-components/examples/codesandbox/usage/rtl/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/rtl/src/index.js
  packages/web-components/examples/codesandbox/usage/rtl/webpack.config.js
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(locale-modal): update snapshot
  packages/web-components/tests/snapshots/dds-locale-modal.md
Due: prettier --write

fix(callout-quote): adjust grid classes for calloutquote story
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.scss
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(test): updated snapshot
  packages/web-components/tests/snapshots/dds-callout.md
Due: prettier --write

fix(quote): adjust quote grid classes in storybook (#4304)
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.scss
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.scss
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cardgroup): fix card focus styles
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/link-list/link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): update various card focus styles
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/link-list/link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(translation): introduce cache busting logic (#4240)
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
  packages/services/src/services/Translation/__tests__/data/timestamp_response.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(linklist): fix link list item focus styles
  packages/web-components/src/components/link-list/link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(locale): update locale country list
  packages/react/.storybook/preview-head.html
  packages/react/src/components/LocaleModal/__data__/locale-data.json
Due: none

docs(example): introduce RTL example (#4317)
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/enable-rtl.stories.mdx
  packages/web-components/examples/codesandbox/usage/rtl/index.hbs
  packages/web-components/examples/codesandbox/usage/rtl/package.json
  packages/web-components/examples/codesandbox/usage/rtl/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/rtl/src/index.js
  packages/web-components/examples/codesandbox/usage/rtl/webpack.config.js
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(locale): update locale list
  packages/react/.storybook/preview-head.html
  packages/react/src/components/LocaleModal/__data__/locale-data.json
Due: none

chore(upgrade): upgrade carbon deps
  .yarn/offline-mirror/@carbon-themes-10.20.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.21.0.tgz
  .yarn/offline-mirror/carbon-components-10.22.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.21.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.22.0.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(upgrade): update missing dependencies
  .yarn/offline-mirror/carbon-components-10.21.0.tgz
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  packages/services-store/package.json
  packages/styles/package.json
  yarn.lock
Due: none

chore(yarn): update yarn lock
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  yarn.lock
Due: none

fix(card): fixes various card styles
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(component): extract header from feature card block medium
  packages/styles/scss/components/feature-card-block-medium/_feature-card-block-medium.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.scss
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): udpate snapshot
  packages/web-components/tests/snapshots/dds-callout.md
  packages/web-components/tests/snapshots/dds-feature-card-block-medium.md
Due: prettier --write

chore(logo-grid): removed commented lines
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

initial component and create content image
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/src/components/callout-with-media/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.scss
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/callout-with-media/__tests__/callout-with-media.test.ts
  packages/web-components/src/components/callout-with-media/callout-with-media.scss
  packages/web-components/src/components/callout-with-media/callout-with-media.ts
  packages/web-components/src/components/content-block-simple/content-block-simple.scss
  packages/web-components/src/components/content-block-simple/content-block-simple__media-image.ts
  packages/web-components/src/components/content-block-simple/content-block-simple__media-video.ts
  packages/web-components/src/components/content-item/content-item.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
