Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(expressive): increase tab after to 40px
  packages/styles/scss/themes/expressive/components/_overflow-menu.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(components): update component list (#263)
  packages/carbon-web-components/src/components/data-table/table-batch-actions.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.ts
  packages/carbon-web-components/src/globals/settings.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
Due: none

fix(inline-loading): fix exception in classList (#264)
  packages/carbon-web-components/src/components/inline-loading/inline-loading.ts
Due: none

feat(masthead): adds vanilla masthead topnav
  packages/vanilla/src/components/masthead/README.md
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/index.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadNav.template.js
Due: prettier --write, eslint packages

feat(masthead): add profile/search elements
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead.template.js
Due: prettier --write, eslint packages

feat(templates): break into component templates
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
  packages/vanilla/src/components/masthead/mastheadNav.template.js
  packages/vanilla/src/components/masthead/mastheadProfile.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
Due: prettier --write, eslint packages

feat(component): add sidenav and overflow carbon init
  packages/vanilla/src/components/carbon-components/ui-shell/header-submenu.js
  packages/vanilla/src/components/index.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead-submenu.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
  packages/vanilla/src/components/masthead/mastheadProfile.template.js
Due: prettier --write, eslint packages

feat(profile): adds ibm profile auth and menus
  packages/vanilla/src/components/index.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadProfile.template.js
Due: prettier --write, eslint packages

feat(icons): use carbon icons
  .yarn/offline-mirror/@carbon-colors-10.7.1.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.2.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.2.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.2.0.tgz
  .yarn/offline-mirror/@carbon-icons-10.8.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.2.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.2.tgz
  .yarn/offline-mirror/@carbon-type-10.8.2.tgz
  packages/patterns-react/stats.html
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadProfile.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
  yarn.lock
Due: prettier --write, eslint packages

feat(search): add search typeahead
  .yarn/offline-mirror/@tarekraafat-autocomplete.js-7.2.0.tgz
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
  yarn.lock
Due: prettier --write, eslint packages

feat(css): add autocomplete results css; add locale to search
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/vanilla/src/components/carbon-components/ui-shell/header-submenu.js
  packages/vanilla/src/components/index.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead-navigation-menu.js
  packages/vanilla/src/components/masthead/masthead-submenu.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
  packages/vanilla/src/components/masthead/mastheadProfile.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(component): add event handlers to search; update search css
  packages/vanilla/src/components/index.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead-navigation-menu.js
  packages/vanilla/src/components/masthead/masthead-submenu.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
Due: prettier --write, eslint packages

feat(nav): optionally render navigation and sidenav
  packages/vanilla/src/components/masthead/masthead.template.js
Due: prettier --write, eslint packages

fix(docs): add jsdocs
  packages/vanilla/src/components/masthead/masthead.js
Due: prettier --write, eslint packages

fix(jsdocs): clean up jsdocs and lint errors
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
  packages/vanilla/src/components/masthead/__stories__/data/Masthead.stories.knobs.js
  packages/vanilla/src/components/masthead/__stories__/data/MastheadLinks.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead-navigation-menu.js
  packages/vanilla/src/components/masthead/masthead-sidenav.js
  packages/vanilla/src/components/masthead/masthead-submenu.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
  packages/vanilla/src/components/masthead/mastheadPlatform.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(dotcomshell): adds dotcomshell vanilla component
  packages/vanilla/src/components/dotcomshell/__stories__/data/content.js
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/dotcomshell/__stories__/templates/wrapper.template.js
  packages/vanilla/src/components/dotcomshell/dotcomshell.template.js
  packages/vanilla/src/components/dotcomshell/index.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
Due: prettier --write, eslint packages

feat(dotcomshell): add dotcomshell component and story
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/dotcomshell/__stories__/index.scss
  packages/vanilla/src/components/dotcomshell/dotcomshell.js
  packages/vanilla/src/components/dotcomshell/dotcomshell.template.js
  packages/vanilla/src/components/dotcomshell/index.js
  packages/vanilla/src/components/masthead/masthead.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(jsdocs): jsdoc param fixes
  packages/vanilla/src/components/dotcomshell/dotcomshell.js
Due: prettier --write, eslint packages

feat(readme): add/update component README
  packages/react/src/components/Masthead/README.md
  packages/vanilla/src/components/dotcomshell/README.md
  packages/vanilla/src/components/footer/README.md
  packages/vanilla/src/components/masthead/README.md
Due: prettier --write

feat(component): fixes #546; fixes #355
  packages/vanilla/src/components/carbon-components/ui-shell/header-submenu.js
  packages/vanilla/src/components/dotcomshell/__stories__/data/content.js
  packages/vanilla/src/components/dotcomshell/__stories__/dotcomshell.stories.js
  packages/vanilla/src/components/dotcomshell/__stories__/index.scss
  packages/vanilla/src/components/dotcomshell/dotcomshell.js
  packages/vanilla/src/components/dotcomshell/dotcomshell.template.js
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
  packages/vanilla/src/components/masthead/masthead-sidenav.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/vanilla/src/components/masthead/masthead.template.js
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
  packages/vanilla/src/components/masthead/mastheadProfile.template.js
  packages/vanilla/src/components/masthead/mastheadSearch.template.js
  yarn.lock
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(package): remove duplicate package entries
  .yarn/offline-mirror/@carbon-colors-10.7.1.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.2.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.2.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.2.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.2.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.2.tgz
  .yarn/offline-mirror/@carbon-type-10.8.2.tgz
  .yarn/offline-mirror/react-dom-16.12.0.tgz
  .yarn/offline-mirror/scheduler-0.18.0.tgz
  packages/patterns-react/stats.html
  packages/vanilla/package.json
  yarn.lock
Due: none

fix(yarn): updates yarn offline packages and lock file
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.1.tgz
  .yarn/offline-mirror/@carbon-pictograms-react-10.8.0.tgz
  .yarn/offline-mirror/@carbon-pictograms-react-10.8.1.tgz
  packages/patterns-react/stats.html
  yarn.lock
Due: none

feat(masthead): add search open on load
  packages/patterns-react/stats.html
  packages/vanilla/src/components/masthead/__stories__/masthead.stories.js
Due: prettier --write, eslint packages

fix(template): replace svg with icon; fix autoid index for menu items
  packages/vanilla/src/components/masthead/mastheadNav.template.js
Due: prettier --write, eslint packages

fix(storybook): add global ibmdotcom styles to storybook container
  packages/vanilla/.storybook/_container.scss
  packages/vanilla/.storybook/config.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(build): update package.json
  packages/carbon-web-components/package.json
Due: none

fix(readme): fix dotcomshell scss import documentation in readme
  packages/vanilla/src/components/dotcomshell/README.md
Due: prettier --write

chore(dependency): update carbon-components dependency
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.2-rc.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.2-rc.0.tgz
  .yarn/offline-mirror/carbon-components-10.9.3-rc.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.3-rc.0.tgz
  packages/styles/package.json
  yarn.lock
Due: none

chore(dependencies): bump up ibmdotcom dependencies
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.3.0-alpha.6.tgz
  packages/react/examples/nextjs/package.json
  packages/react/examples/nextjs/yarn.lock
  packages/react/package.json
  yarn.lock
Due: none

fix(dotcomshell): update readme; dotcomshell getData functions private
  packages/vanilla/src/components/dotcomshell/README.md
  packages/vanilla/src/components/dotcomshell/dotcomshell.js
Due: prettier --write, eslint packages

fix(misc): misc PR comment fixes
  packages/vanilla/src/components/index.js
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
Due: prettier --write, eslint packages

fix(sidenav): add autoid indices to nav items
  packages/vanilla/src/components/masthead/mastheadLeftnav.template.js
  packages/vanilla/src/components/masthead/mastheadNav.template.js
Due: prettier --write, eslint packages

feat(services): added api method and updated the jsdoc
  packages/patterns-react/.env
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/services/.env.example
  packages/services/src/services/VideoPlayer/VideoPlayer.js
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(services): updated the changes
  packages/patterns-react/.env
Due: none

feat(services): updated the changes
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, eslint packages

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/patterns-react/CHANGELOG.md
  packages/patterns-react/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
