Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss'"
  ],
  "*.md": [
    "prettier --write"
  ]
}

removing text from row with icon for stories
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(jest): update snapshots and jest config
  packages/react/jest.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(tests): update link-list test
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(canary): disable React RTL canary environment deployments
  .github/workflows/deploy-canary.yml
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/project.json
  canary/web-components-react/vendors~main~476e6769.567e9f97.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(jest): update snapshots and jest config
  packages/react/jest.config.js
  packages/services-store/jest.config.js
  packages/utilities/jest.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(footer): cleanup
  packages/styles/scss/components/footer/_footer.scss
  packages/web-components/src/components/footer/legal-nav-cookie-preferences-placeholder.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

chore(sb): update storybook type value
  packages/carbon-web-components/src/components/link/link-story.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead-v2): Minimize CMApp on megamenu open (#11085)
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

chore(canary): disable React RTL canary environment deployments (#11129)
  .github/workflows/deploy-canary.yml
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/project.json
  canary/react-experimental/vendors~main~5b0bcb4a.001c7981.iframe.bundle.js
  canary/react-experimental/vendors~main~5b0bcb4a.155d934b.iframe.bundle.js
  canary/react-experimental/vendors~main~5b0bcb4a.155d934b.iframe.bundle.js.LICENSE.txt
  canary/react/iframe.html
  canary/react/main~4ba72edf.0315ac1f.iframe.bundle.js
  canary/react/main~4ba72edf.92955565.iframe.bundle.js
  canary/react/main~b8f0d581.5fe2352d.iframe.bundle.js
  canary/react/main~b8f0d581.6621a49e.iframe.bundle.js
  canary/react/project.json
  canary/react/vendors~main~5b0bcb4a.914e8f6a.iframe.bundle.js
  canary/react/vendors~main~5b0bcb4a.b99ee690.iframe.bundle.js
  canary/react/vendors~main~5b0bcb4a.b99ee690.iframe.bundle.js.LICENSE.txt
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/index.html
  canary/react-experimental/main.1d288282a61b0b290511.manager.bundle.js
  canary/react-experimental/main.a7b49a685fc7efc6b046.manager.bundle.js
  canary/react-experimental/project.json
  canary/react/index.html
  canary/react/main.4ba355d9869039180ddb.manager.bundle.js
  canary/react/main.4ba355d9869039180ddb.manager.bundle.js.LICENSE.txt
  canary/react/main.dbdea6287b8f53adba78.manager.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(video-player): v2 alignment
  packages/styles/scss/components/video-player/_video-player.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

feat(card-group/card-section-offset): v2 updates (#11043)
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/background-media/_background-media.scss
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card-section-offset/_card-section-offset.scss
  packages/styles/scss/components/video-player/_video-player.scss
  packages/web-components/src/components/card-group/__stories__/README.stories.mdx
  packages/web-components/src/components/card-group/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card-group/defs.ts
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.react.tsx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/__tests__/card-section-offset.test.ts
  packages/web-components/src/components/card-section-offset/card-section-offset.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(quote): remove color-scheme (#11120)
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/quote/_quote.scss
  packages/web-components/src/components/quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
  packages/web-components/src/components/quote/defs.ts
  packages/web-components/src/components/quote/quote.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'
