Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(minify-html-literals): Fixing ci check
  packages/carbon-web-components/src/components/checkbox/checkbox-story.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card): use link instead of button for pictogram card (#11225)
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

feat(modal): with slug
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/modal/modal-close-button.ts
  packages/carbon-web-components/src/components/modal/modal-footer.ts
  packages/carbon-web-components/src/components/modal/modal-header.ts
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/tests/snapshots/cds-checkbox.md
  packages/carbon-web-components/tests/snapshots/cds-code-snippet.md
  packages/styles/package.json
  packages/web-components/package.json
  packages/web-components/tests/snapshots/c4d-locale-modal.md
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

chore(deps): upgrade husky to latest
  .yarn/cache/husky-npm-7.0.4-917ba035c6-8fecb619ab.zip
  .yarn/cache/husky-npm-8.0.3-b0b59c5127-b754cf70fd.zip
  package.json
  yarn.lock
Due: none

chore(deps): upgrade lint-staged
  .yarn/cache/commander-npm-11.0.0-7def992f0c-71cf453771.zip
  .yarn/cache/execa-npm-8.0.1-0211bd404c-d2ab5fe1e2.zip
  .yarn/cache/get-stream-npm-8.0.1-c921b4840e-dde5511e2e.zip
  .yarn/cache/human-signals-npm-5.0.0-ed25a9f58c-30f8870d83.zip
  .yarn/cache/lint-staged-npm-13.3.0-f729900eb4-6620f70a0e.zip
  .yarn/cache/lint-staged-npm-15.1.0-b45b212a0d-77aacab303.zip
  .yarn/cache/listr2-npm-6.6.1-74fafa58ff-3cc618d9de.zip
  .yarn/cache/listr2-npm-7.0.2-42ddc71dba-42cda57649.zip
  .yarn/cache/yaml-npm-2.3.1-743f5688d1-66501d597e.zip
  package.json
  yarn.lock
Due: none

feat(github-actions): add workflow for publish masthead v2 alpha
  .github/workflows/publish-v2alpha-cdn.yml
Due: none

fix(github actions): fix ignore flags for deploy-canary workflow
  .github/workflows/deploy-canary.yml
Due: none

feat(github-actions): restore workflow for publish masthead v2 alpha (#11249)
  .github/workflows/publish-v2alpha-cdn.yml
Due: none

feat(storybook): files are ready to work on
  packages/carbon-web-components/.storybook/knob-text-nullable.ts
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/.storybook/templates/with-layer.scss
  packages/carbon-web-components/.storybook/templates/with-layer.ts
  packages/carbon-web-components/src/components/copy-button/copy-button-story.ts
  packages/carbon-web-components/src/components/copy-button/copy-button.mdx
  packages/carbon-web-components/src/components/copy-button/copy-button.stories.ts
  packages/carbon-web-components/tools/vite-svg-result-carbon-icon-loader.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(link): migrated to controls
  packages/carbon-web-components/src/components/link/link-story.ts
  packages/carbon-web-components/src/components/link/link.mdx
  packages/carbon-web-components/src/components/link/link.stories.ts
  packages/carbon-web-components/tests/spec/link_spec.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(format): ran prettier
  packages/carbon-web-components/.storybook/main.ts
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/src/components/button/button-story.mdx
  packages/carbon-web-components/src/components/copy-button/copy-button.stories.ts
  packages/carbon-web-components/src/components/test-story.ts
  packages/carbon-web-components/src/stories/Button.ts
  packages/carbon-web-components/src/stories/Header.ts
  packages/carbon-web-components/src/stories/Page.ts
  packages/carbon-web-components/tools/vite-svg-result-carbon-icon-loader.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): remove sample stories
  packages/carbon-web-components/src/stories/Button.stories.ts
  packages/carbon-web-components/src/stories/Button.ts
  packages/carbon-web-components/src/stories/Configure.mdx
  packages/carbon-web-components/src/stories/Header.stories.ts
  packages/carbon-web-components/src/stories/Header.ts
  packages/carbon-web-components/src/stories/Page.stories.ts
  packages/carbon-web-components/src/stories/Page.ts
  packages/carbon-web-components/src/stories/assets/accessibility.png
  packages/carbon-web-components/src/stories/assets/accessibility.svg
  packages/carbon-web-components/src/stories/assets/addon-library.png
  packages/carbon-web-components/src/stories/assets/assets.png
  packages/carbon-web-components/src/stories/assets/avif-test-image.avif
  packages/carbon-web-components/src/stories/assets/context.png
  packages/carbon-web-components/src/stories/assets/discord.svg
  packages/carbon-web-components/src/stories/assets/docs.png
  packages/carbon-web-components/src/stories/assets/figma-plugin.png
  packages/carbon-web-components/src/stories/assets/github.svg
  packages/carbon-web-components/src/stories/assets/share.png
  packages/carbon-web-components/src/stories/assets/styling.png
  packages/carbon-web-components/src/stories/assets/testing.png
  packages/carbon-web-components/src/stories/assets/theming.png
  packages/carbon-web-components/src/stories/assets/tutorials.svg
  packages/carbon-web-components/src/stories/assets/youtube.svg
  packages/carbon-web-components/src/stories/button.css
  packages/carbon-web-components/src/stories/header.css
  packages/carbon-web-components/src/stories/page.css
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update commander import
  packages/carbon-web-components/gulp-tasks/config.js
  packages/services/gulp-tasks/config.js
  tasks/deploy_preview_comment.js
  tasks/get-changelog.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update commander import
  package.json
  tasks/deploy_preview_comment.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(minify-html-literals): removing blank line from package.json
  packages/web-components/package.json
Due: none

feat(lightbox): detect URL fragment to trigger the lightbox to open
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): deprecate navLinks props in favor of l0Data
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): make required spacing Sass functions available
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

feat(lightbox): move cta video trigger code into cta mixin
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): remove unused import
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): remove cloud-specific masthead
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/cloud-masthead-composite.test.ts
  packages/web-components/src/components/masthead/cloud/cloud-button-cta.ts
  packages/web-components/src/components/masthead/cloud/cloud-left-nav-item.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-global-bar.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-profile.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-heading.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link-group.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-left-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tab.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tabs.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu.ts
  packages/web-components/src/components/masthead/cloud/cloud-top-nav-name.ts
  packages/web-components/src/components/masthead/cloud/index.ts
  packages/web-components/src/components/masthead/defs.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(masthead): untangle left and top nav rendering
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): add consistency to render method doc blocks
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): split rendering into discrete methods
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(masthead): remove references to outdated data structures
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(services-store): remove outdated translateAPI types
  packages/services-store/src/actions/__tests__/translateAPI.test.ts
  packages/services-store/src/reducers/__tests__/translateAPI.test.ts
  packages/services-store/src/types/translateAPI.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(lightbox): revert changes to the expressive modal, not needed
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-v2): ensure L1 dropdown targets exist
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss': any of: **/*.scss
