Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, cross-env BABEL_ENV=test jest, yarn lint:styles

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "cross-env BABEL_ENV=test jest",
    "git add"
  ],
  "packages/components/**/*.scss": [
    "prettier --write",
    "yarn lint:styles",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(components): fix .focus() for non-Chrome (#124)
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/src/components/checkbox/checkbox.ts
  packages/carbon-web-components/src/components/notification/inline-notification.ts
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.ts
  packages/carbon-web-components/src/components/search/search.ts
  packages/carbon-web-components/src/components/structured-list/structured-list.ts
  packages/carbon-web-components/src/components/tile/clickable-tile.ts
  packages/carbon-web-components/src/components/tile/selectable-tile.ts
  packages/carbon-web-components/src/components/ui-shell/header-menu-button.ts
  packages/carbon-web-components/src/components/ui-shell/header-menu.ts
  packages/carbon-web-components/src/components/ui-shell/header-name.ts
  packages/carbon-web-components/src/components/ui-shell/header-nav-item.ts
Due: none

feat(analytics): fix event for logo
  packages/react/src/components/Icon/IbmLogo.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(input): add input component (#87)
  packages/carbon-web-components/.gitignore
  packages/carbon-web-components/src/components/form/form-item.scss
  packages/carbon-web-components/src/components/form/form-item.ts
  packages/carbon-web-components/src/components/input/input-story-angular.ts
  packages/carbon-web-components/src/components/input/input-story-react.tsx
  packages/carbon-web-components/src/components/input/input-story.ts
  packages/carbon-web-components/src/components/input/input.scss
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/input/stories/helpers.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/src/polyfills/index.ts
Due: none

fix(dropdown): fix programmatic change (#125)
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.ts
  packages/carbon-web-components/src/components/dropdown/dropdown-item.ts
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.ts
  packages/carbon-web-components/src/components/multi-select/multi-select-item.ts
  packages/carbon-web-components/src/components/multi-select/multi-select.ts
  packages/carbon-web-components/tests/spec/dropdown_spec.ts
Due: none

chore(coverage): added 80% coverage threshold
  jest.config.js
  packages/patterns-react/jest.config.js
  packages/react/jest.config.js
  packages/services/jest.config.js
  packages/utilities/jest.config.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(util): adds global settings to utilities
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadProfile.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/Masthead/README.md
  packages/utilities/src/utilities/settings/index.js
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(components): use dds prefix for stable selectors
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/FooterLogo.js
  packages/react/src/components/Footer/FooterNav.js
  packages/react/src/components/Footer/FooterNavGroup.js
  packages/react/src/components/Footer/LegalNav.js
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/HorizontalRule.js
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Icon/IbmLogo.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(analytics): create analytics services
  .lintstagedrc
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/index.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(templates): adding issue templates to IBM.com Library
  .github/ISSUE_TEMPLATE/design-kit---.md
  .github/ISSUE_TEMPLATE/design_story--.md
  .github/ISSUE_TEMPLATE/ideation---.md
  .github/ISSUE_TEMPLATE/user_story--.md
Due: prettier --write

feat(analytics): scroll tracker
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/preview-head.html
  packages/react/src/components/Masthead/Masthead.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(analytics): scroll tracker analytics service
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/index.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(templates): adding issue templates to IBM.com Library
  .github/ISSUE_TEMPLATE/design_kit.md
  .github/ISSUE_TEMPLATE/design_story.md
  .github/ISSUE_TEMPLATE/ideation.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: prettier --write

fix(settings): revert carbon prefix and update dds with new one
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/FooterLogo.js
  packages/react/src/components/Footer/FooterNav.js
  packages/react/src/components/Footer/FooterNavGroup.js
  packages/react/src/components/Footer/LegalNav.js
  packages/react/src/components/HorizontalRule/HorizontalRule.js
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Icon/IbmLogo.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadProfile.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(prefix): fix incorrect prefix name
  packages/react/src/components/Footer/LegalNav.js
  packages/react/src/components/Footer/LocaleButton.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(templates): removing design story template
  .github/ISSUE_TEMPLATE/design_story.md
Due: prettier --write

feat(analytics): moving scroll tracking to dotcomshell
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/Masthead/Masthead.js
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/index.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(analytics): example of eventData object jsDoc
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(jsDocs): remove return doc
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(jsDocs): small tweak to doc
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(devenv): upgrade Storybook (#129)
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

feat(analytics): add env var to enable/disable scroll
  packages/services/.env.example
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): css fixes; fixes #104, fixes #107, fixes #108, fixes #110, fixes #113, fixes #119, fixes #125
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: none

feat(analytics): add more description to jsDocs
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(ddo): adding ddo service
  packages/services/src/services/DDO/DDO.js
  packages/services/src/services/DDO/__tests__/DDO.test.js
  packages/services/src/services/DDO/__tests__/data/response.json
  packages/services/src/services/DDO/index.js
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(analytics): adjusted logic as previous did not work
  packages/react/.env.example
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(ddo): adding getAll method for getting the full DDO
  packages/services/src/services/DDO/DDO.js
  packages/services/src/services/DDO/__tests__/DDO.test.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(analytics): add global file
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/global.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(docs): renaming method
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/global.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(analytics): remove wrapper func
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/global.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): css fixes; fixes #112, fixes #115, fixes #116, fixes #118, fixes #124, fixes #126
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(ddo): adding setVersion of DDO in the global import
  packages/react/src/global.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(styles): fixing reference to themes in carbon
  packages/styles/scss/globals/_vars.scss
Due: none

fix(prettier): fix prettier css errors
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: none

fix(ddo): commenting out global call for now
  packages/react/src/global.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(ddo): updating export of the DDO service
  packages/services/src/services/index.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(ddo): repointing services package to alpha 507 with DDO API
  .yarn/offline-mirror/@carbon-ibmdotcom-services-0.6.0-alpha.507.tgz
  packages/react/package.json
  packages/react/src/global.js
  packages/styles/scss/globals/_vars.scss
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(ddo): adding babel runtime helpers for services package
  packages/react/babel.config.js
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/global.js
  packages/services/babel.config.js
  packages/services/package.json
  packages/services/scripts/rollup.config.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(ddo): bumping services dependency to alpha 509
  .yarn/offline-mirror/@carbon-ibmdotcom-services-0.6.0-alpha.507.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-0.6.0-alpha.509.tgz
  packages/react/package.json
  yarn.lock
Due: none

chore(global): updated version in settings
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/patterns-react/CHANGELOG.md
  packages/patterns-react/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier --write
