Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(search-with-typeahead): remove focusout code
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(search-with-typeahead): remove focusOut code
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): revert changes to card feature
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Revert "chore(card-group): fixed card border-top and grid mode transition"
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(masthead): revert change to masthead search focusOut
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(search-with-typeahead): remove focusout code
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: prevents actions from forks (#744)
  packages/carbon-web-components/.github/workflows/percy-update-base.yml
  packages/carbon-web-components/.github/workflows/publish.yml
Due: none

fix(search-with-typeahead): remove focusout code (#7596)
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(footer): reduced class selectors in tests
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(background-media): replace @carbon/icons
  packages/web-components/src/components/background-media/background-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

fix(card): fixed icon placement on react feature card
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(lit): removing lit-html/lit-element from devDependencies
  packages/web-components/package.json
Due: none

test(footer): update visibility assertion
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lit): upgrading to latest v1 lit-element/lit-html
  .yarn/offline-mirror/lit-element-2.4.0.tgz
  .yarn/offline-mirror/lit-element-2.5.1.tgz
  .yarn/offline-mirror/lit-html-1.3.0.tgz
  .yarn/offline-mirror/lit-html-1.4.1.tgz
  package.json
  packages/web-components/package.json
  yarn.lock
Due: none

feat(background-media): class/style updates to prepare for leadspace integration
  packages/web-components/src/components/background-media/background-media.scss
  packages/web-components/src/components/background-media/background-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/axios-0.21.1.tgz
  .yarn/offline-mirror/axios-0.21.2.tgz
  .yarn/offline-mirror/follow-redirects-1.13.1.tgz
  .yarn/offline-mirror/follow-redirects-1.14.1.tgz
  .yarn/offline-mirror/follow-redirects-1.14.5.tgz
Due: none

chore(cla-assistant): introduce CLA aassistant github workflow
  .github/workflows/cla.yml
Due: none

chore(lit): update lit dependencies (#745)
  packages/carbon-web-components/.yarn/offline-mirror/lit-element-2.3.1.tgz
  packages/carbon-web-components/.yarn/offline-mirror/lit-element-2.5.1.tgz
  packages/carbon-web-components/.yarn/offline-mirror/lit-html-1.3.0.tgz
  packages/carbon-web-components/.yarn/offline-mirror/lit-html-1.4.1.tgz
  packages/carbon-web-components/examples/codesandbox/data-table/package.json
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

chore(upgrade): upgrade to Carbon 10.47.1
  .yarn/offline-mirror/carbon-components-10.47.0.tgz
  .yarn/offline-mirror/carbon-components-10.47.1.tgz
  .yarn/offline-mirror/carbon-components-react-7.47.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.47.2.tgz
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-10.0.0.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-10.0.0.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  yarn.lock
Due: none

chore(lit): update lit dependencies
  package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(upgrade): upgrade to Carbon 10.47.1 (#750)
  packages/carbon-web-components/.yarn/offline-mirror/carbon-components-10.47.0.tgz
  packages/carbon-web-components/.yarn/offline-mirror/carbon-components-10.47.1.tgz
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

test(footer): add e2e tests for default language only and micro
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Footer/__stories__/footer.stories.scss
  packages/react/tests/e2e-storybook/cypress.json
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/web-components/src/components/footer/__stories__/footer.stories.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/tests/e2e-storybook/cypress.json
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update cypress.json
  packages/react/tests/e2e-storybook/cypress.json
Due: none

Update cypress.json
  packages/web-components/tests/e2e-storybook/cypress.json
Due: none

chore(github-actions): switch `actions/checkout` to v2
  .github/workflows/automerge.yml
  .github/workflows/ci-check.yml
  .github/workflows/dependabot-yarn-mirror.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base-wc-e2e-codesandbox.yml
  .github/workflows/percy-update-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  .github/workflows/publish-staging.yml
  .github/workflows/release-preflight.yml
Due: none

chore(cla-assistant): introduce CLA aassistant github workflow (#7602)
  .github/workflows/cla.yml
Due: none

chore(footer): lint issues
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/Footer/__stories__/footer.stories.scss
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
  packages/web-components/src/components/footer/__stories__/footer.stories.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(search-with-typeahead): remove gap between search actions
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cla-assistant): updated kodiakhq name for allowlist
  .github/workflows/cla.yml
Due: none

chore(upgrade): upgrade to Carbon 10.47.1 (#7604)
  .yarn/offline-mirror/carbon-components-10.47.0.tgz
  .yarn/offline-mirror/carbon-components-10.47.1.tgz
  .yarn/offline-mirror/carbon-components-react-7.47.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.47.2.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

feat(leadspace & button group): add print friendly styles
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/button/button.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cla): fixing signature comment and description
  .github/workflows/cla.yml
Due: none

fix(cla-assistant): updated kodiakhq name for allowlist (#7607)
  .github/workflows/cla.yml
Due: none

chore: update cla document path
  .github/workflows/cla.yml
Due: none
