Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(translation): implemented tests for cache busting logic
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(callout-quote): web component created
  packages/web-components/src/component-mixins/callout/callout.scss
  packages/web-components/src/component-mixins/callout/callout.ts
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/src/components/callout/__tests__/callout.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(template): introduce Handlebars example
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/usage/handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/handlebars/package.json
  packages/web-components/examples/codesandbox/usage/handlebars/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/handlebars/src/index.js
  packages/web-components/examples/codesandbox/usage/handlebars/src/index.scss
  packages/web-components/examples/codesandbox/usage/handlebars/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(FeatureCard): remove unused styles (#4243)
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(services-store): added null check of services-store vendor folder
  packages/web-components/gulp-tasks/config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(developers): instruction on symlinks
  docs/developing.md
Due: prettier --write

chore(services-store): changed the servicesStoreLink from null
  packages/web-components/gulp-tasks/config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update docs/developing.md
  docs/developing.md
Due: prettier --write

chore: update ToC
  docs/developing.md
Due: prettier --write

docs(developers): instruction on symlinks (#4268)
  docs/developing.md
Due: prettier --write

feat(overflow): use intersectionObserver for arrow navigation
  packages/react/src/components/Masthead/HeaderNavContainer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(overflow): use intersectionObserver for arrow navigation
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(services-store): added null check of services-store vendor folder (#4267)
  packages/web-components/gulp-tasks/config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

progress
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid.scss
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(linklist): update web component story links
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(snapshot): update snapshot
  packages/web-components/tests/snapshots/dds-leadspace.md
Due: prettier --write

chore(locale-modal): misc changes (#4163)
  packages/web-components/src/components/locale-modal/locale-modal-composite.scss
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(feature-card-block-large): focus outline now wraps around card properly (#4139)
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(rtl): adding documentation on how to enable RTL (#4157)
  docs/enable-rtl.md
  packages/react/.storybook/_container.scss
  packages/react/.storybook/config.js
  packages/react/docs/enable-rtl.stories.mdx
  packages/web-components/docs/enable-rtl.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): update platform name responsive css (#4165)
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(masthead): remove data type (#4161)
  packages/web-components/src/components/masthead/masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(rename): renaming to the new repo url (#4203)
  .github/CONTRIBUTING.md
  README.md
  docs/contributing-license.md
  docs/developing.md
  package.json
  packages/react/CHANGELOG.md
  packages/react/docs/contributing-to-react.md
  packages/react/src/components/Card/README.stories.mdx
  packages/react/src/components/CardGroup/README.stories.mdx
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/PictogramItem/README.stories.mdx
  packages/services/CHANGELOG.md
  packages/services/src/services/Analytics/README.md
  packages/vanilla/.storybook/config.js
  tasks/beta-releases.js
  tasks/deploy_preview_comment.js
  tasks/tag-release.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lightbox-video-player): remove redundant method (#4162)
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): fix menu (#4180)
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(megamenu): fixed mega menu link height (#4184)
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(link-with-icon): added icon-placement property (#4117)
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/src/components/link-with-icon/__stories__/link-with-icon.stories.ts
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
  packages/web-components/tests/snapshots/dds-link-with-icon.md
  packages/web-components/tests/snapshots/dds-text-cta.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(dotcom-shell): rename composite SCSS (#4194)
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.scss
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(feature-card-block-large): changed hover background color (#4202)
  packages/styles/scss/components/feature-card-block-large/_feature-card-block-large.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(settings): updated version
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(feature-flag): adding feature flag capability in web components (#4220)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-canary.yml
  packages/react/docs/feature-flags.md
  packages/web-components/.env.example
  packages/web-components/.prettierignore
  packages/web-components/.storybook/config.ts
  packages/web-components/.storybook/manager-head.html
  packages/web-components/.storybook/theme.js
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/developer.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/feature-flags.stories.mdx
  packages/web-components/docs/stable-selectors.md
  packages/web-components/manifest-experimental.yml
  packages/web-components/package.json
  packages/web-components/src/components/callout-data/__stories__/README.stories.mdx
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/callout-data/__tests__/callout-data.test.ts
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/src/globals/internal/feature-flags.ts
  packages/web-components/tests/karma.conf.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(support): updating support roster for sprint 21
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
