Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(react-wrappers): bring back cwc react wrapper code
  carbon-web-components/packages/carbon-web-components/gulp-tasks/build/modules.js
  carbon-web-components/packages/carbon-web-components/gulp-tasks/build/modules/react-defs.js
  carbon-web-components/packages/carbon-web-components/gulp-tasks/build/modules/react-types.js
  carbon-web-components/packages/carbon-web-components/gulp-tasks/build/modules/react.js
  carbon-web-components/packages/carbon-web-components/package.json
  carbon-web-components/packages/carbon-web-components/src/globals/wrappers/createReactCustomElementType.ts
  carbon-web-components/packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type-def.js
  carbon-web-components/packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(react-wrappers): bring back cwc react wrapper code
  .yarn/offline-mirror/react-is-16.9.0.tgz
  packages/carbon-web-components/gulp-tasks/build/modules.js
  packages/carbon-web-components/gulp-tasks/build/modules/react-defs.js
  packages/carbon-web-components/gulp-tasks/build/modules/react-types.js
  packages/carbon-web-components/gulp-tasks/build/modules/react.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/globals/wrappers/createReactCustomElementType.ts
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type-def.js
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cta-block): react wrapper (#9408)
  packages/web-components/examples/codesandbox/components-react/cta-block/.gitignore
  packages/web-components/examples/codesandbox/components-react/cta-block/index.html
  packages/web-components/examples/codesandbox/components-react/cta-block/package.json
  packages/web-components/examples/codesandbox/components-react/cta-block/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/cta-block/src/index.css
  packages/web-components/examples/codesandbox/components-react/cta-block/src/index.js
  packages/web-components/examples/codesandbox/components-react/cta-block/webpack.config.js
  packages/web-components/src/components/cta-block/__stories__/README.stories.react.mdx
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.react.tsx
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/project.json
  canary/react-rtl/project.json
  canary/react/project.json
Due: none

fix(storybook): dotcomshell/lightbox missing imports
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(storybook): dotcomshell/lightbox missing imports (#9426)
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(filter-panel-input-select): aria expanded
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-section): addressed react wrapper
  packages/web-components/src/components/content-section/__stories__/content-section.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(lightbox-with-carousel): fix overflow clipping
  packages/styles/scss/components/carousel/_carousel.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(cwc): update dependencies
  carbon-web-components/packages/carbon-web-components/package.json
Due: none

chore(cwc): update dependencies
  .yarn/offline-mirror/css-loader-6.7.1.tgz
  .yarn/offline-mirror/karma-spec-reporter-0.0.33.tgz
  .yarn/offline-mirror/strip-comments-2.0.1.tgz
  .yarn/offline-mirror/web-component-analyzer-1.1.6.tgz
  packages/carbon-web-components/package.json
  yarn.lock
Due: none

fix(filter-panel-input-select): aria expanded (#9435)
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/components-filter-panel-__stories__-filter-panel-stories~493df0b3.c15661a9.iframe.bundle.js
  canary/web-components-experimental/components-filter-panel-__stories__-filter-panel-stories~493df0b3.e72bf192.iframe.bundle.js
  canary/web-components-experimental/components-filter-panel-__stories__-filter-panel-stories~493df0b3.e72bf192.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/project.json
  canary/web-components-experimental/runtime~main.640f498f.iframe.bundle.js
  canary/web-components-experimental/runtime~main.e4457d83.iframe.bundle.js
  canary/web-components-react/iframe.html
  canary/web-components-react/main~1ca6b36b.65c6983e.iframe.bundle.js
  canary/web-components-react/main~1ca6b36b.9f467105.iframe.bundle.js
  canary/web-components-react/main~1ca6b36b.9f467105.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/components-filter-panel-__stories__-filter-panel-stories~493df0b3.c15661a9.iframe.bundle.js
  canary/web-components-rtl/components-filter-panel-__stories__-filter-panel-stories~493df0b3.e72bf192.iframe.bundle.js
  canary/web-components-rtl/components-filter-panel-__stories__-filter-panel-stories~493df0b3.e72bf192.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/project.json
  canary/web-components-rtl/runtime~main.130190fe.iframe.bundle.js
  canary/web-components-rtl/runtime~main.6f81c592.iframe.bundle.js
  canary/web-components/components-filter-panel-__stories__-filter-panel-stories~493df0b3.c15661a9.iframe.bundle.js
  canary/web-components/components-filter-panel-__stories__-filter-panel-stories~493df0b3.e72bf192.iframe.bundle.js
  canary/web-components/components-filter-panel-__stories__-filter-panel-stories~493df0b3.e72bf192.iframe.bundle.js.LICENSE.txt
  canary/web-components/iframe.html
  canary/web-components/project.json
  canary/web-components/runtime~main.130190fe.iframe.bundle.js
  canary/web-components/runtime~main.6f81c592.iframe.bundle.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(notice-choice): update callback functions (#9421)
  packages/react/src/components/NoticeChoice/NoticeChoice.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~e8f40822.1ca4cfe9.iframe.bundle.js
  canary/react-experimental/main~e8f40822.1ca4cfe9.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/main~e8f40822.ea41f728.iframe.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~e8f40822.1ca4cfe9.iframe.bundle.js
  canary/react-rtl/main~e8f40822.1ca4cfe9.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/main~e8f40822.ea41f728.iframe.bundle.js
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~e8f40822.1ca4cfe9.iframe.bundle.js
  canary/react/main~e8f40822.1ca4cfe9.iframe.bundle.js.LICENSE.txt
  canary/react/main~e8f40822.ea41f728.iframe.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

fix(image): add image caption to aria-describedby attribute
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix: outline link with icon thumbnail svg
  thumbnails/link-with-icon.svg
Due: none

fix: indexed external docs paths
  packages/react/carbon.yml
  packages/styles/carbon.yml
  packages/web-components/carbon.yml
Due: none

fix(LocaleModal): assign focus on close
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/LocaleModal/LocaleModal.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(upgrade): upgrade to Carbon 10.58.3 (#9432)
  .yarn/offline-mirror/carbon-components-10.58.2.tgz
  .yarn/offline-mirror/carbon-components-10.58.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.59.2.tgz
  .yarn/offline-mirror/carbon-components-react-7.59.3.tgz
  packages/react/package.json
  packages/styles/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/index.html
  canary/react-experimental/main.70c533de71c5c350cc94.manager.bundle.js
  canary/react-experimental/main.ed50c7ffdba1a8718e82.manager.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/index.html
  canary/react-rtl/main.70c533de71c5c350cc94.manager.bundle.js
  canary/react-rtl/main.ed50c7ffdba1a8718e82.manager.bundle.js
  canary/react-rtl/project.json
  canary/react/index.html
  canary/react/main.70c533de71c5c350cc94.manager.bundle.js
  canary/react/main.ed50c7ffdba1a8718e82.manager.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
