Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(pattern): html entities now work in leadspace pattern
  packages/react/src/patterns/sections/LeadSpace/LeadSpace.js
Due: prettier --write, eslint packages

chore(documentation): add Analytics README
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/Analytics/README.md
Due: prettier --write, eslint packages

chore(jsdocs): small formatting fix
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages

feat(embedded-vp): first pass at trying to render vp in lightbox
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/VideoPlayer/VideoPlayer.js
Due: prettier --write, eslint packages

fix(scss): reinforced link-list pattern styling selectors
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(analytics): updating jsdocs for video metrics method
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, eslint packages

fix(leadspace): switched to carbon-mini-units
  packages/styles/scss/patterns/sub-patterns/buttongroup/_buttongroup.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): set width for video player in lightbox
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(issue-1663-masthead): correct placement of svg css
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Fix/issue 1663 masthead (#1729)
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): force gpu acceleration rendering on ios
  packages/styles/scss/patterns/sub-patterns/layout/_layout.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): fix layout with carbon-col
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(build): update license for built files (#332)
  packages/carbon-web-components/tools/license.js
Due: prettier --write, eslint packages

chore(build): upgrade to TypeScript 3.8 (#335)
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

chore(components): upgrade to Carbon 10.10.x (#339)
  packages/carbon-web-components/examples/codesandbox/angular/package.json
  packages/carbon-web-components/examples/codesandbox/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/angular/package.json
  packages/carbon-web-components/examples/codesandbox/form/basic/package.json
  packages/carbon-web-components/examples/codesandbox/form/redux-form/package.json
  packages/carbon-web-components/examples/codesandbox/ie/package.json
  packages/carbon-web-components/examples/codesandbox/react/package.json
  packages/carbon-web-components/examples/codesandbox/rtl/package.json
  packages/carbon-web-components/examples/codesandbox/styling/custom-style/package.json
  packages/carbon-web-components/examples/codesandbox/styling/theme-zoning/package.json
  packages/carbon-web-components/examples/codesandbox/vue/package.json
  packages/carbon-web-components/package.json
  packages/carbon-web-components/yarn.lock
Due: none

chore(tag): change default type (#345)
  packages/carbon-web-components/src/components/tag/tag-story.ts
  packages/carbon-web-components/src/components/tag/tag.ts
Due: none

chore(build): update package.json
  packages/carbon-web-components/package.json
Due: none

fix(cardsection): fixed the aspect ratio on images
  packages/react/src/patterns/sections/CardSection/__stories__/data/cards.json
  packages/styles/scss/globals/utils/_ratio-base.scss
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(inline-loading): add tests (#314)
  packages/carbon-web-components/tests/snapshots/bx-inline-loading.md
  packages/carbon-web-components/tests/spec/inline-loading_spec.ts
Due: prettier --write

chore(docs): updated docs with scss issue workaround
  packages/react/src/components/CTA/README.md
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/ExpressiveModal/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Image/README.md
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/VideoPlayer/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sections/CardSectionSimple/README.md
  packages/react/src/patterns/sections/LeadSpace/README.md
  packages/react/src/patterns/sections/SimpleBenefits/README.md
  packages/react/src/patterns/sections/SimpleOverview/README.md
  packages/react/src/patterns/sub-patterns/ButtonGroup/README.md
  packages/react/src/patterns/sub-patterns/Card/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentSection/README.md
  packages/react/src/patterns/sub-patterns/Layout/README.md
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/PictogramItem/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
Due: prettier --write

chore(docs): included note on the main styles readme
  packages/react/src/components/CTA/README.md
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/ExpressiveModal/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Image/README.md
  packages/react/src/components/ImageWithCaption/README.md
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/LocaleModal/README.md
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/VideoPlayer/README.md
  packages/react/src/patterns/blocks/ContentBlockMedia/README.md
  packages/react/src/patterns/blocks/ContentBlockMixed/README.md
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.md
  packages/react/src/patterns/blocks/ContentBlockSimple/README.md
  packages/react/src/patterns/blocks/ContentGroupCards/README.md
  packages/react/src/patterns/blocks/ContentGroupPictograms/README.md
  packages/react/src/patterns/blocks/ContentGroupSimple/README.md
  packages/react/src/patterns/blocks/FeatureCard/README.md
  packages/react/src/patterns/blocks/LogoGrid/README.md
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSectionImages/README.md
  packages/react/src/patterns/sections/CardSectionSimple/README.md
  packages/react/src/patterns/sections/LeadSpace/README.md
  packages/react/src/patterns/sections/SimpleBenefits/README.md
  packages/react/src/patterns/sections/SimpleOverview/README.md
  packages/react/src/patterns/sub-patterns/ButtonGroup/README.md
  packages/react/src/patterns/sub-patterns/Card/README.md
  packages/react/src/patterns/sub-patterns/ContentGroup/README.md
  packages/react/src/patterns/sub-patterns/ContentItem/README.md
  packages/react/src/patterns/sub-patterns/ContentSection/README.md
  packages/react/src/patterns/sub-patterns/Layout/README.md
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/PictogramItem/README.md
  packages/react/src/patterns/sub-patterns/TableOfContents/README.md
  packages/styles/README.md
Due: prettier --write

fix(link-with-icon): fixed type size
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(accessibility): focus now change to the content heading on toc
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
Due: prettier --write, eslint packages

docs(sameHeight): fix to JSDocs for sameHeight import reference
  packages/utilities/src/utilities/sameHeight/sameHeight.js
Due: prettier --write, eslint packages

docs(sameHeight): fix to sameHeight import name in JSDocs
  packages/utilities/src/utilities/sameHeight/sameHeight.js
Due: prettier --write, eslint packages

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

fix(scss): added max-width to card content
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(storybook): add additional images and aspect ratios
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
Due: prettier --write, eslint packages

fix(css): update lightboxmedia css for responsive
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(css): remove comments
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(issue-1622-content-text-not-readable): drop heading styles in TOC
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): changed scss to use content-width scss mixin
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(deps): add missing dependencies to vanilla package
  packages/vanilla/package.json
Due: none

fix(accessibility): focus now change to the content heading on toc (#1787)
  packages/react/src/patterns/sub-patterns/TableOfContents/TOCDesktop.js
Due: prettier --write, eslint packages

chore(deps): add offline files
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0.tgz
  yarn.lock
Due: none

fix(issue-1622): remove TOC header text color
  packages/styles/scss/patterns/sub-patterns/tableofcontents/_tableofcontents.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(accessibilit): add aria role to CTA card; fixes #1426
  packages/react/src/components/CTA/CTA.js
Due: prettier --write, eslint packages
