Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(masthead): add default value for section id
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(codesandbox): fixed duplicate workspace names
  packages/web-components/examples/codesandbox/components/cta-button/package.json
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Services to GitHub Pages
  services/AnalyticsAPI.html
  services/DDOAPI.html
  services/KalturaPlayerAPI.html
  services/LocaleAPI.html
  services/MarketingSearchAPI.html
  services/MastheadLogoAPI.html
  services/ProfileAPI.html
  services/SearchTypeaheadAPI.html
  services/TranslationAPI.html
  services/VideoPlayerAPI.html
  services/global.html
  services/index.html
  services/index.js.html
  services/services_Analytics_Analytics.js.html
  services/services_CloudAccountAuth_CloudAccountAuth.js.html
  services/services_DDO_DDO.js.html
  services/services_KalturaPlayer_KalturaPlayer.js.html
  services/services_Locale_Locale.js.html
  services/services_MarketingSearch_MarketingSearch.js.html
  services/services_MastheadLogo_MastheadLogo.js.html
  services/services_Profile_Profile.js.html
  services/services_SearchTypeahead_SearchTypeahead.js.html
  services/services_Translation_Translation.js.html
  services/services_VideoPlayer_VideoPlayer.js.html
  services/services_global_global.js.html
  services/services_global_index.js.html
  services/services_index.js.html
Due: none

chore(snapshot): update snapshot
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Due: prettier --write

fix(locale-modal): fix focus trapping
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): remove unused _delay function
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): ensure sectionUrl is passed in and has default value (#8084)
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-in-card): add if conditional
  packages/web-components/src/components/card-in-card/card-in-card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(browserstack): add build names to browserstack automate runs (#8069)
  packages/react/package.json
  packages/web-components/package.json
Due: none

feat(search-with-typeahead): introduce scoped search
  packages/services/src/services/SearchTypeahead/SearchTypeahead.js
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.ts
  packages/web-components/src/components/search-with-typeahead/index.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown-mobile.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(github-pages): introduce react wrapper next environment
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-next.yml
  packages/web-components/examples/codesandbox/components/cta-button/package.json
Due: none

test(footer): increase selector specificity to avoid false negatives
  packages/react/tests/e2e-storybook/cypress/integration/Footer/Footer.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended): tooltip calculation
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended): add example in storybook
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): fix erroneous heading check (#8059)
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
