Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~1d28105c.0becb56e.iframe.bundle.js
  canary/react-experimental/main~1d28105c.0becb56e.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/main~1d28105c.f2d1385b.iframe.bundle.js
  canary/react-experimental/main~b59217a9.2a9d04ee.iframe.bundle.js
  canary/react-experimental/main~b59217a9.96c39766.iframe.bundle.js
  canary/react-experimental/main~b59217a9.96c39766.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~1d28105c.0becb56e.iframe.bundle.js
  canary/react-rtl/main~1d28105c.0becb56e.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/main~1d28105c.f2d1385b.iframe.bundle.js
  canary/react-rtl/main~b59217a9.2a9d04ee.iframe.bundle.js
  canary/react-rtl/main~b59217a9.96c39766.iframe.bundle.js
  canary/react-rtl/main~b59217a9.96c39766.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~1d28105c.0becb56e.iframe.bundle.js
  canary/react/main~1d28105c.0becb56e.iframe.bundle.js.LICENSE.txt
  canary/react/main~1d28105c.f2d1385b.iframe.bundle.js
  canary/react/main~b59217a9.2a9d04ee.iframe.bundle.js
  canary/react/main~b59217a9.96c39766.iframe.bundle.js
  canary/react/main~b59217a9.96c39766.iframe.bundle.js.LICENSE.txt
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

fix(MastheadLeftNav): trap focus on mobile masthead for VO
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuSection.js
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(sass): fix calc() interpolation
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(react): storybook experimental/rtl gh-pages
  packages/react/package.json
Due: none

fix(expressive-modal): add role and aria-level to expressive-modal-heading for screenreader (#9451)
  packages/web-components/src/components/expressive-modal/expressive-modal-heading.ts
  packages/web-components/tests/snapshots/dds-locale-modal.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/project.json
  canary/react-rtl/project.json
  canary/react/project.json
Due: none

Update packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block): fix cta alignment for mobile viewport (#9453)
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~51699ebf.39d7602e.iframe.bundle.js
  canary/react-experimental/main~51699ebf.519a2c64.iframe.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~51699ebf.264d96d4.iframe.bundle.js
  canary/react-rtl/main~51699ebf.ab20ea64.iframe.bundle.js
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~51699ebf.39d7602e.iframe.bundle.js
  canary/react/main~51699ebf.519a2c64.iframe.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead-v2): change auto-merge target
  .github/workflows/automerge-mastheadv2.yml
Due: none

chore(masthead-v2): update automerge target
  .github/workflows/automerge-mastheadv2.yml
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~432c8694.04863803.iframe.bundle.js
  canary/react-experimental/main~432c8694.04863803.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/main~432c8694.661ec858.iframe.bundle.js
  canary/react-experimental/main~51699ebf.39d7602e.iframe.bundle.js
  canary/react-experimental/main~51699ebf.d84ff7e9.iframe.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~432c8694.04863803.iframe.bundle.js
  canary/react-rtl/main~432c8694.04863803.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/main~432c8694.661ec858.iframe.bundle.js
  canary/react-rtl/main~51699ebf.264d96d4.iframe.bundle.js
  canary/react-rtl/main~51699ebf.71492aed.iframe.bundle.js
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~432c8694.04863803.iframe.bundle.js
  canary/react/main~432c8694.04863803.iframe.bundle.js.LICENSE.txt
  canary/react/main~432c8694.661ec858.iframe.bundle.js
  canary/react/main~51699ebf.39d7602e.iframe.bundle.js
  canary/react/main~51699ebf.d84ff7e9.iframe.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(text-cta): add visually-hidden helper text
  packages/web-components/src/component-mixins/cta/cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(TextCTA): add visually hidden helper text
  packages/react/src/components/CTA/TextCTA.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(react): storybook experimental/rtl gh-pages (#9455)
  packages/react/package.json
Due: none

fix: indexed external docs paths (#9448)
  packages/react/carbon.yml
  packages/styles/carbon.yml
  packages/web-components/carbon.yml
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~432c8694.0ab08d6b.iframe.bundle.js
  canary/react-experimental/main~432c8694.0ab08d6b.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/main~432c8694.462a5872.iframe.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~432c8694.0ab08d6b.iframe.bundle.js
  canary/react-rtl/main~432c8694.0ab08d6b.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/main~432c8694.462a5872.iframe.bundle.js
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~432c8694.04863803.iframe.bundle.js
  canary/react/main~432c8694.cdec6819.iframe.bundle.js
  canary/react/main~432c8694.cdec6819.iframe.bundle.js.LICENSE.txt
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
