Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(logo-grid): remove story knobs
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(story): use raw container in storybook layout
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(audio-player): last ui fixes based on pr #6102 comment 844121164
  packages/styles/scss/components/audio-player/_audio-player.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): update snapshot
  packages/web-components/tests/snapshots/dds-leadspace.md
Due: prettier --write

chore(conflicts): resolve conflict
  packages/web-components/examples/codesandbox/components/content-item-horizontal/src/index.js
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(csb): update lightbox-media-viewer html
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/index.html
Due: none

fix(custom-events): onloadend type defined
  packages/web-components/src/typings/resources.d.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(e2e): fixing folder reference in npm script
  packages/web-components/package.json
Due: none

test(e2e): removing unneccessary folders
  packages/web-components/tests/e2e/packages/carbon-ibmdotcom-services.tar.gz
  packages/web-components/tests/e2e/packages/ibmdotcom-services/CHANGELOG.md
  packages/web-components/tests/e2e/packages/ibmdotcom-services/README.md
  packages/web-components/tests/e2e/packages/ibmdotcom-services/package.json
Due: prettier --write

fix(code-snippet): expressive code snippet carbon 10.31.0 update adjustments (#6171)
  packages/styles/scss/themes/expressive/components/_code-snippet.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): add super variation and tag group (#6154)
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/defs.ts
  packages/web-components/src/components/leadspace/index.ts
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card): introducing static variant with tag-group (#6133)
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/README.stories.mdx
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.scss
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/tag-group/tag-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(eslint): fix lint errors
  packages/web-components/examples/codesandbox/components/lightbox-media-viewer/package.json
  packages/web-components/examples/codesandbox/components/quote/src/index.js
  packages/web-components/src/components/cta/button-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update caniuse-lite
  .yarn/offline-mirror/caniuse-lite-1.0.30001038.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001090.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001117.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001131.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001230.tgz
  packages/web-components/gulp-tasks/build.js
  packages/web-components/tests/karma.conf.js
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-bloc-card-static): initial commit
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/content-block-card-static/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-card-static/__stories__/content-block-card-static.stories.ts
  packages/web-components/src/components/content-block-card-static/__tests__/content-block-card-static.test.ts
  packages/web-components/src/components/content-block-card-static/content-block-card-static.scss
  packages/web-components/src/components/content-block-card-static/content-block-card-static.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(custom-events): onloadend type defined
  packages/web-components/src/component-mixins/cta/video.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-global-bar.ts
  packages/web-components/src/components/masthead/masthead-logo.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead-search.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player.ts
  packages/web-components/src/typings/resources.d.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update caniuse-lite (#6189)
  .yarn/offline-mirror/caniuse-lite-1.0.30001038.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001090.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001117.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001131.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001230.tgz
  packages/web-components/gulp-tasks/build.js
  packages/web-components/tests/karma.conf.js
  packages/web-components/tools/get-rollup-config.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): add inline z-index to cloud masthead to fix overlapping
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linklist): video heading link style is broken (#6184)
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): put back productive token include
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): remove inline z-index and change it on the global instead
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): removed padding fixed knob
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): remove /jsononly from the api url and set type to true
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): static random titles
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): put back missing productive-tokens
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): unused value
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-group): unused item
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): remove unused productive token mixin
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(gulp): fix to gulp config after commander update
  packages/web-components/gulp-tasks/config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-search): delay position for cursor focus
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
