Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(structured-list): address feedback
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/web-components/src/components/pricing-table/pricing-table-header-cell-description.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(playground-test): created playground story
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/playground/__stories__/playground.stories.scss
  packages/web-components/src/components/playground/__stories__/playground.stories.ts
  packages/web-components/src/components/universal-banner/__stories__/universal-banner.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(attribute-transpose): introduced alt attribute transposing (#8967)
  packages/web-components/src/components/video-player/video-player-container.ts
  packages/web-components/src/globals/mixins/stable-selector.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(masthead): created react wrapper
  packages/web-components/examples/codesandbox/components-react/masthead-l1/.gitignore
  packages/web-components/examples/codesandbox/components-react/masthead-l1/index.html
  packages/web-components/examples/codesandbox/components-react/masthead-l1/package.json
  packages/web-components/examples/codesandbox/components-react/masthead-l1/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/masthead-l1/src/index.css
  packages/web-components/examples/codesandbox/components-react/masthead-l1/src/index.js
  packages/web-components/examples/codesandbox/components-react/masthead-l1/webpack.config.js
  packages/web-components/examples/codesandbox/components-react/masthead/.gitignore
  packages/web-components/examples/codesandbox/components-react/masthead/index.html
  packages/web-components/examples/codesandbox/components-react/masthead/package.json
  packages/web-components/examples/codesandbox/components-react/masthead/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/masthead/src/index.css
  packages/web-components/examples/codesandbox/components-react/masthead/src/index.js
  packages/web-components/examples/codesandbox/components-react/masthead/webpack.config.js
  packages/web-components/src/components/masthead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.react.tsx
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(logo-grid): introducing react wrapper (#8973)
  packages/web-components/examples/codesandbox/components-react/logo-grid/.gitignore
  packages/web-components/examples/codesandbox/components-react/logo-grid/index.html
  packages/web-components/examples/codesandbox/components-react/logo-grid/package.json
  packages/web-components/examples/codesandbox/components-react/logo-grid/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/logo-grid/src/index.css
  packages/web-components/examples/codesandbox/components-react/logo-grid/src/index.js
  packages/web-components/examples/codesandbox/components-react/logo-grid/webpack.config.js
  packages/web-components/src/components/logo-grid/__stories__/README.stories.react.mdx
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.react.tsx
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid-link.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(video-player): introduces react-wrapper
  packages/web-components/src/components-react/video-player/video-player-composite.tsx
  packages/web-components/src/components-react/video-player/video-player-container.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.react.tsx
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): clean up `tabs-extended-media` story (#8970)
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.react.tsx
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(structured-list): remove margin-bottom in component shadowroot
  packages/styles/scss/components/structured-list/_structured-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(storybook): update story and readme
  packages/web-components/src/components/video-player/__stories__/README.stories.react.mdx
  packages/web-components/src/components/video-player/__stories__/video-player.stories.react.tsx
  packages/web-components/src/components/video-player/video-player-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(video-player): revert attribute name
  packages/web-components/src/components/video-player/video-player-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): created react wrapper (#9007)
  packages/web-components/examples/codesandbox/components-react/masthead-l1/.gitignore
  packages/web-components/examples/codesandbox/components-react/masthead-l1/index.html
  packages/web-components/examples/codesandbox/components-react/masthead-l1/package.json
  packages/web-components/examples/codesandbox/components-react/masthead-l1/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/masthead-l1/src/index.css
  packages/web-components/examples/codesandbox/components-react/masthead-l1/src/index.js
  packages/web-components/examples/codesandbox/components-react/masthead-l1/webpack.config.js
  packages/web-components/examples/codesandbox/components-react/masthead/.gitignore
  packages/web-components/examples/codesandbox/components-react/masthead/index.html
  packages/web-components/examples/codesandbox/components-react/masthead/package.json
  packages/web-components/examples/codesandbox/components-react/masthead/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/masthead/src/index.css
  packages/web-components/examples/codesandbox/components-react/masthead/src/index.js
  packages/web-components/examples/codesandbox/components-react/masthead/webpack.config.js
  packages/web-components/src/components/masthead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.react.tsx
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(playground): set default story
  packages/web-components/src/components/playground/__stories__/playground.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(card-section): update stories and deprecate card-section-images (#8961)
  packages/web-components/examples/codesandbox/components/card-section-images/.babelrc
  packages/web-components/examples/codesandbox/components/card-section-images/.gitignore
  packages/web-components/examples/codesandbox/components/card-section-images/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-images/index.html
  packages/web-components/examples/codesandbox/components/card-section-images/package.json
  packages/web-components/examples/codesandbox/components/card-section-images/sandbox.config.json
  packages/web-components/examples/codesandbox/components/card-section-images/src/index.js
  packages/web-components/src/components/card-section-images/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-images/__stories__/card-section-images.stories.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-images/card-section-images.ts
  packages/web-components/src/components/card-section-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-simple/__stories__/card-section-simple.stories.ts
  packages/web-components/src/components/card-section-simple/index.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-images/card-section-images.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card-section-simple/card-section-simple.e2e.js
  packages/web-components/tests/snapshots/dds-card-section-images.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(pricing-table): add sticky header (#8824)
  .yarn/offline-mirror/@carbon-motion-11.0.0.tgz
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/package.json
  packages/web-components/src/components/lightbox-media-viewer/__stories__/lightbox-media-viewer.stories.ts
  packages/web-components/src/components/lightbox-media-viewer/index.ts
  packages/web-components/src/components/pricing-table/pricing-table-header-row.ts
  packages/web-components/src/components/pricing-table/pricing-table.ts
  packages/web-components/src/components/pricing-table/utils.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(cta-block): ensure sameHeight function runs within tabs-extended (#8991)
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/cta-block/cta-block.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
