Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(env): removing .env file
  packages/tests-e2e/.env
Due: none

fix(tabs-extended-media): Added styling.
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended/tabs-extended-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tabs-extended-media): Prettied up code.
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
  packages/web-components/src/components/tabs-extended/tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tabs-extended-media): Ran prettier on story.
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended-media): Added docs.
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.mdx
Due: none

fix(tabs-extended-media): Fixed import order in tabs-extended story.
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cta-section): created component
  packages/styles/scss/components/cta-block/README.md
  packages/styles/scss/components/cta-block/_cta-block.scss
  packages/styles/scss/components/cta-block/index.scss
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/examples/codesandbox/components/cta-block/.gitignore
  packages/web-components/examples/codesandbox/components/cta-block/index.html
  packages/web-components/examples/codesandbox/components/cta-block/package.json
  packages/web-components/examples/codesandbox/components/cta-block/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cta-block/snowpack.config.json
  packages/web-components/examples/codesandbox/components/cta-block/src/index.js
  packages/web-components/examples/codesandbox/components/cta-block/src/index.scss
  packages/web-components/examples/codesandbox/components/cta-section/index.html
  packages/web-components/src/components/cta-block/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/__tests__/cta-block.test.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/cta-block/cta-block-item.ts
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-block/cta-block.ts
  packages/web-components/src/components/cta-section/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.scss
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/__tests__/cta-section.test.ts
  packages/web-components/src/components/cta-section/cta-section-copy.ts
  packages/web-components/src/components/cta-section/cta-section-item-copy.ts
  packages/web-components/src/components/cta-section/cta-section-item-heading.ts
  packages/web-components/src/components/cta-section/cta-section-item.ts
  packages/web-components/src/components/cta-section/cta-section.scss
  packages/web-components/src/components/cta-section/cta-section.ts
  packages/web-components/tests/snapshots/dds-cta-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(branch): updated from master
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended-media): Broke up js imports in documentation.
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended/tabs-extended-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): removing chore branch from percy update github action
  .github/workflows/percy-update-base.yml
Due: none

fix(MastheadLeftNav): set aria-hidden to unseen menu panels
  packages/react/src/components/carbon-components-react/UIShell/SideNavMenuSection.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/cta-section/cta-section.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-block/cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/web-components/src/components/cta-block/__stories__/README.stories.mdx
  packages/web-components/src/components/cta-block/__stories__/README.stories.mdx
Due: none

Update packages/styles/scss/components/cta-block/_cta-block.scss
  packages/styles/scss/components/cta-block/_cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tabs-extended-media): Design QA fixes.
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended-media/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
  packages/web-components/src/components/tabs-extended-media/__tests__/tabs-extended-media.test.ts
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
  packages/web-components/src/components/tabs-extended/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended/__stories__/tabs-extended.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(example): identation corrected
  packages/web-components/examples/codesandbox/components/cta-block/index.html
Due: none

fix(expressive-modal): add role dialog to modal
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/tests/snapshots/dds-tabs-extended.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tabs-extended-media): introduce tabs extended with media component (#5759)
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended-media/__stories__/README.stories.mdx
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
  packages/web-components/src/components/tabs-extended-media/__tests__/tabs-extended-media.test.ts
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.scss
  packages/web-components/src/components/tabs-extended-media/tabs-extended-media.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(percy): adding fixes for false positive percy reports
  packages/tests-e2e/__tests__/masthead/masthead.e2e.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block): added hang style
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(percy): removing chore branch from percy update github action (#5768)
  .github/workflows/percy-update-base.yml
Due: none

fix(card): update to default Tile
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/CardGroup/CardGroup.js
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): ran prettier on files
  packages/web-components/examples/codesandbox/components/cta-block/index.html
  packages/web-components/examples/codesandbox/components/cta-block/src/index.js
  packages/web-components/examples/codesandbox/components/cta-section/index.html
  packages/web-components/examples/codesandbox/components/cta-section/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(percy): adding space for the placeholder in percy
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cloud-megamenu): megamenu tabbing functionality foundation (#5751)
  packages/services-store/src/types/translateAPI.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead.scss
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-heading.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link-group.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-category-link.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-left-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tab.ts
  packages/web-components/src/components/masthead/cloud/cloud-megamenu-tabs.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card): update renderFooter heading copy
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/Card/Card.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): lightbox logic
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/Card/Card.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-block): story styling
  packages/web-components/src/components/cta-block/__stories__/cta-block-stories.scss
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(masthead): adding more missing awaits for e2e tests
  packages/tests-e2e/__tests__/masthead/masthead.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): adding fixes for false positive percy reports (#5773)
  packages/tests-e2e/__tests__/masthead/masthead.e2e.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
