Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(feature-section): expand cta-type options for feature-section
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(feature-section): support video in feature-section story
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(a11y): temp remove a11y tests for now
  .github/workflows/ci-check.yml
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card-group/defs.ts
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/card-section-offset.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(story): update story types
  packages/carbon-web-components/src/components/link/link-story.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lint): remove unused vars
  packages/carbon-web-components/.eslintrc.js
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-expansion-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-selection-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-sorting-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-toolbar-story.ts
  packages/carbon-web-components/src/components/data-table/table-skeleton.ts
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.ts
  packages/carbon-web-components/tests/typings/snapshot.d.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(feature-section): remove unused variable
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lint): remove unused vars
  packages/carbon-web-components/.eslintrc.js
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-expansion-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-selection-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-sorting-story.ts
  packages/carbon-web-components/src/components/data-table/stories/data-table-toolbar-story.ts
  packages/carbon-web-components/src/components/data-table/table-skeleton.ts
  packages/carbon-web-components/src/components/floating-menu/floating-menu.ts
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip-story.ts
  packages/carbon-web-components/tests/typings/snapshot.d.ts
  packages/web-components/src/components/link-list/__tests__/link-list.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(modal): focus trap issue fix in v2
  packages/carbon-web-components/src/components/modal/modal.ts
  packages/carbon-web-components/src/globals/settings.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(feature-section): remove unnecessary hover style
  packages/web-components/src/components/card/card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

fix(card-w-pictogram): updating unit tests
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-card-in-card.md
  packages/web-components/tests/snapshots/dds-card.md
  packages/web-components/tests/snapshots/dds-feature-card.md
  packages/web-components/tests/snapshots/dds-feature-cta.md
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Due: prettier --write

chore(gulp): fix spread import path
  packages/web-components/gulp-tasks/build/modules/icons.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(gulp): fix spread import path (#11170)
  packages/web-components/gulp-tasks/build/modules/icons.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

chore(deploy): deploy Web Components v2 to GitHub Pages
  v2/web-components-experimental/project.json
  v2/web-components-react/project.json
  v2/web-components-rtl/project.json
  v2/web-components/project.json
Due: none

chore(release): publish
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.81fa78328a37f28686d6.manager.bundle.js
  next/web-components-react/main.f7a3f8ddab31154327fe.manager.bundle.js
  next/web-components-react/main~c98f95f3.3b8623ee.iframe.bundle.js
  next/web-components-react/main~c98f95f3.dd650807.iframe.bundle.js
  next/web-components-react/main~c98f95f3.dd650807.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.1bf9ab562db403184612.manager.bundle.js
  next/web-components-rtl/main.e835eb097b531e9c599e.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.9e9630f3.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.9e9630f3.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.fb022538.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.1bf9ab562db403184612.manager.bundle.js
  next/web-components/main.e835eb097b531e9c599e.manager.bundle.js
  next/web-components/main~c98f95f3.26f51d15.iframe.bundle.js
  next/web-components/main~c98f95f3.26f51d15.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.458825cd.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(lit): update lit 2 imports
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/src/components/cta/cta.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.react.tsx
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/leadspace-block/leadspace-block-media.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/scoped-search-masthead.stories.ts
  packages/web-components/src/components/masthead/left-nav-cta-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-category-heading.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/masthead-button-cta.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-contact.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
  packages/web-components/src/components/masthead/megamenu-category-group.ts
  packages/web-components/src/components/masthead/megamenu-category-heading.ts
  packages/web-components/src/components/masthead/megamenu-category-link-group.ts
  packages/web-components/src/components/masthead/megamenu-category-link.ts
  packages/web-components/src/components/masthead/megamenu-heading.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
  packages/web-components/src/components/masthead/megamenu-tab.ts
  packages/web-components/src/components/masthead/megamenu-tabs.ts
  packages/web-components/src/components/masthead/megamenu.ts
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/pricing-table/pricing-table-head.ts
  packages/web-components/src/components/search-with-typeahead/scoped-search-dropdown.ts
  packages/web-components/src/globals/mixins/throttled-input.ts
  packages/web-components/tools/rollup-plugin-lit-scss.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs): Restore the highlight style when tab is selected
  packages/carbon-web-components/src/components/tabs/tabs.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

chore(deps): add on.js to utils; fix imports
  packages/utilities/src/utilities/focuswrap/focuswrap.js
  packages/utilities/src/utilities/on/index.js
  packages/utilities/src/utilities/on/on.js
  packages/web-components/src/components/button/button-expressive.ts
  packages/web-components/src/components/card/__stories__/README.stories.react.mdx
  packages/web-components/tools/babel-plugin-create-react-custom-element-type.js
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(styles): update to-rem mixin name
  packages/styles/scss/components/button-group/_button-group.scss
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/card-section-offset/_card-section-offset.scss
  packages/styles/scss/components/content-block-media/_content-block-media.scss
  packages/styles/scss/components/content-block-simple/_content-block-simple.scss
  packages/styles/scss/components/content-item-row-media/_content-item-row-media.scss
  packages/styles/scss/components/content-item-row/_content-item-row.scss
  packages/styles/scss/components/cta-block/_cta-block.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/global-banner/_global-banner.scss
  packages/styles/scss/components/horizontal-rule/_horizontal-rule.scss
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/styles/scss/components/tableofcontents/_table-of-contents.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/styles/scss/components/tag-link/_tag-link.scss
  packages/utilities/src/utilities/focuswrap/focuswrap.js
  packages/utilities/src/utilities/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

chore(styles): remove unused vars
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

fix(styles): update leadspace styles
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/styles/scss/patterns/blocks/leadspace-block/_leadspace-block.scss
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.81fa78328a37f28686d6.manager.bundle.js
  next/web-components-react/main.d119c87aa0ba6862b117.manager.bundle.js
  next/web-components-react/main~c98f95f3.e76b2ff1.iframe.bundle.js
  next/web-components-react/main~c98f95f3.e76b2ff1.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.f0ceebc3.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.1bf9ab562db403184612.manager.bundle.js
  next/web-components-rtl/main.3d2f6df5b56d43411a5e.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.48965c0f.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.48965c0f.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.88e3f534.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.1bf9ab562db403184612.manager.bundle.js
  next/web-components/main.3d2f6df5b56d43411a5e.manager.bundle.js
  next/web-components/main~c98f95f3.203b249a.iframe.bundle.js
  next/web-components/main~c98f95f3.203b249a.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.4340f479.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(global-styles): TEMP determine necessary button styles
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/button/button.ts
  packages/carbon-web-components/src/globals/CarbonBase.ts
  packages/styles/scss/globals/primitives/layout.scss
  packages/utilities/src/utilities/carbonStyles/carbonStyles.js
  packages/web-components/src/components/button/button.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

feat(form-items): add slug and fix stack
  .yarn/cache/@carbon-styles-npm-1.44.0-rc.0-56ec03c819-d51e415f1e.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-input.ts
  packages/carbon-web-components/src/components/date-picker/date-picker.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.ts
  packages/carbon-web-components/src/components/form-group/form-group-story.ts
  packages/carbon-web-components/src/components/multi-select/multi-select.scss
  packages/carbon-web-components/src/components/multi-select/multi-select.ts
  packages/carbon-web-components/src/components/number-input/number-input.scss
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/select/select.scss
  packages/carbon-web-components/src/components/select/select.ts
  packages/carbon-web-components/src/components/slug/slug-story.scss
  packages/carbon-web-components/src/components/slug/slug-story.ts
  packages/carbon-web-components/src/components/slug/slug.scss
  packages/carbon-web-components/src/components/slug/slug.ts
  packages/carbon-web-components/src/components/stack/stack.scss
  packages/carbon-web-components/src/components/stack/stack.ts
  packages/carbon-web-components/src/components/text-input/text-input.scss
  packages/carbon-web-components/src/components/text-input/text-input.ts
  packages/carbon-web-components/src/components/textarea/textarea.scss
  packages/carbon-web-components/src/components/textarea/textarea.ts
  packages/carbon-web-components/src/components/toggle-tip/toggletip.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss'

fix(combo-box): when isclosable
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss'

chore(docs): ....more
  packages/web-components/examples/stackblitz/components/card-link/cdn.html
  packages/web-components/examples/stackblitz/components/card-link/index.html
  packages/web-components/examples/stackblitz/components/content-block-media/cdn.html
  packages/web-components/examples/stackblitz/components/content-block-media/index.html
  packages/web-components/examples/stackblitz/components/content-block-mixed/cdn.html
  packages/web-components/examples/stackblitz/components/content-block-mixed/index.html
  packages/web-components/examples/stackblitz/components/content-block/cdn.html
  packages/web-components/examples/stackblitz/components/content-block/index.html
  packages/web-components/examples/stackblitz/components/content-group/cdn.html
  packages/web-components/examples/stackblitz/components/content-group/index.html
  packages/web-components/examples/stackblitz/components/cta-card-link/cdn.html
  packages/web-components/examples/stackblitz/components/cta-card-link/index.html
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss': any of: **/*.scss
