Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(e2e): add react to cross browser e2e tests
  .github/workflows/e2e-tests.yml
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/e2e-storybook/cypress-canary.json
  packages/web-components/tests/e2e-storybook/cypress-staging.json
Due: none

test(e2e): ignore web components package in react runs
  .github/workflows/e2e-tests.yml
Due: none

chore(PictogramItem): update README code example (#7820)
  packages/react/src/components/PictogramItem/README.stories.mdx
Due: none

Update packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: split the ci-check steps (#892)
  packages/carbon-web-components/.github/workflows/ci-check.yml
Due: none

test(e2e): add mock for Kaltura API calls (#7823)
  .github/workflows/e2e-tests.yml
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress-canary.json
  packages/react/tests/e2e-storybook/cypress-staging.json
  packages/react/tests/e2e-storybook/cypress/fixtures/kaltura.json
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
  packages/react/tests/e2e-storybook/cypress/support/commands.js
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress-canary.json
  packages/web-components/tests/e2e-storybook/cypress-staging.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/kaltura.json
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/support/commands.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(combo-box): ensure only div scrolls upon input (#901)
  packages/carbon-web-components/src/components/combo-box/combo-box.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-pictogram): adjust test since border styling class changed
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/card/card.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-pictogram): adjust ani to use height instead of absolute
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(cta): add WC card & card-link test coverage
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card-link.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(quote): added increased max width for heading
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(storybook-image): realligned web component and react images
  packages/react/src/components/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/components/CardGroup/__stories__/data/cards.js
  packages/react/src/components/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/components/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/components/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/components/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Revert "feat(card-pictogram): adjust ani to use height instead of absolute"
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(cta-block): add border story knob (#7482)
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-pictogram): add line clamp for the heading & adjust width
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card-pictogram): fix errors on react e2e test
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-pictogram): fix errors on react e2e test 2
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-pictogram): revert back to react border check
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(cta): add react package e2e-storybook tests for card ctas
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Card.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/Feature.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CardLink/CardLink.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(ContentBlockHorizontal): add border-bottom option & knob
  packages/react/src/components/ContentBlockHorizontal/ContentBlockHorizontal.js
  packages/react/src/components/ContentBlockHorizontal/__stories__/ContentBlockHorizontal.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Revert "chore(ImageWithCaption): make caption required (#7257)"
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(github-actions): fix changelog generation for publishing releases (#846)
  packages/carbon-web-components/.github/workflows/publish.yml
Due: none

chore(ImageWithCaption): revert make caption required (#7834)
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/tests/snapshots/dds-image-with-caption.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(karma): add accessibility checker
  .github/workflows/ci-check.yml
Due: none

chore(index): sort
  packages/react/src/components/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: export ContentItem
  packages/react/src/components/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: export ContentSection
  packages/react/src/components/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: export ContentBlock
  packages/react/src/components/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore: export ContentGroup
  packages/react/src/components/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(localemodal): disable region button when no countries present
  packages/react/.storybook/preview-head.html
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
  packages/react/src/components/LocaleModal/LocaleModalRegions.js
  packages/web-components/.storybook/preview-head.html
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(cta): add e2e tests for text and button variants (#7753, #7754)
  packages/web-components/tests/e2e-storybook/cypress-local.json
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/_tests.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/text.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(cta): check for custom knob values (#7753, #7754)
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/_tests.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/text.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(cta): rename files (#7753, #7754)
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button-cta.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/text-cta.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(cta): add text and button variants React e2e tests (#7753, #7754)
  packages/react/tests/e2e-storybook/cypress/integration/CTA/ButtonCTA.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/TextCTA.e2e.js
  packages/react/tests/e2e-storybook/cypress/integration/CTA/_tests.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace): allow background color to extend to full viewport width
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(storybook-images): dco recheck
  packages/react/src/components/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(storybook): fix story
  packages/react/src/components/CalloutWithMedia/__stories__/CalloutWithMedia.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
