Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(leadspace): update story config
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(feature-section): update test
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): announce content change on keyboard focus
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): set default aria-label
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): add role to interactive pictogram card
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(leadspace): update e2e tests
  packages/web-components/tests/e2e-storybook/cypress/integration/leadspace/leadspace.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(leadspace): update snapshots
  packages/web-components/tests/snapshots/dds-background-media.md
Due: prettier --write

fix(leadspace): fix scrollable component
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(video): fix linting error
  packages/web-components/src/components/cta/video-cta-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(feature-section): add e2e-storybook (#8025)
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-card/feature-card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Services to GitHub Pages
  services/AnalyticsAPI.html
  services/DDOAPI.html
  services/KalturaPlayerAPI.html
  services/LocaleAPI.html
  services/MarketingSearchAPI.html
  services/MastheadLogoAPI.html
  services/ProfileAPI.html
  services/SearchTypeaheadAPI.html
  services/TranslationAPI.html
  services/VideoPlayerAPI.html
  services/global.html
  services/index.html
  services/index.js.html
  services/services_Analytics_Analytics.js.html
  services/services_CloudAccountAuth_CloudAccountAuth.js.html
  services/services_DDO_DDO.js.html
  services/services_KalturaPlayer_KalturaPlayer.js.html
  services/services_Locale_Locale.js.html
  services/services_MarketingSearch_MarketingSearch.js.html
  services/services_MastheadLogo_MastheadLogo.js.html
  services/services_Profile_Profile.js.html
  services/services_SearchTypeahead_SearchTypeahead.js.html
  services/services_Translation_Translation.js.html
  services/services_VideoPlayer_VideoPlayer.js.html
  services/services_global_global.js.html
  services/services_global_index.js.html
  services/services_index.js.html
Due: none

chore(deps): update dependency @babel/plugin-transform-runtime to v7.16.8
  .yarn/offline-mirror/@babel-plugin-transform-runtime-7.16.7.tgz
  .yarn/offline-mirror/@babel-plugin-transform-runtime-7.16.8.tgz
  .yarn/offline-mirror/babel-plugin-polyfill-corejs3-0.4.0.tgz
  .yarn/offline-mirror/babel-plugin-polyfill-corejs3-0.5.0.tgz
  .yarn/offline-mirror/browserslist-4.19.1.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001299.tgz
  .yarn/offline-mirror/core-js-compat-3.19.3.tgz
  .yarn/offline-mirror/core-js-compat-3.20.2.tgz
  .yarn/offline-mirror/electron-to-chromium-1.4.46.tgz
  packages/services/package.json
  yarn.lock
Due: none

chore(deps): update dependency karma-spec-reporter to v0.0.33
  .yarn/offline-mirror/karma-spec-reporter-0.0.32.tgz
  .yarn/offline-mirror/karma-spec-reporter-0.0.33.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deps): update dependency cross-env to v7
  .yarn/offline-mirror/cross-env-5.2.0.tgz
  .yarn/offline-mirror/cross-env-7.0.3.tgz
  package.json
  packages/react/package.json
  packages/services/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deps): update dependency cypress to v9
  .yarn/offline-mirror/@cypress-request-2.88.10.tgz
  .yarn/offline-mirror/@cypress-request-2.88.6.tgz
  .yarn/offline-mirror/cli-table3-0.6.0.tgz
  .yarn/offline-mirror/cli-table3-0.6.1.tgz
  .yarn/offline-mirror/cypress-8.7.0.tgz
  .yarn/offline-mirror/cypress-9.2.1.tgz
  .yarn/offline-mirror/http-signature-1.3.6.tgz
  .yarn/offline-mirror/json-schema-0.4.0.tgz
  .yarn/offline-mirror/jsprim-2.0.2.tgz
  .yarn/offline-mirror/ramda-0.27.1.tgz
  .yarn/offline-mirror/sshpk-1.17.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deps): update dependency del to v6
  .yarn/offline-mirror/del-2.2.2.tgz
  .yarn/offline-mirror/del-6.0.0.tgz
  .yarn/offline-mirror/globby-5.0.0.tgz
  .yarn/offline-mirror/is-path-cwd-2.2.0.tgz
  packages/services-store/package.json
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(support): update fireline roster for sprint 2
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Due: none

fix(card): announce content change on keyboard focus (#8031)
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): fix erroneous heading check
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): revert changes to resizeObserver
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(github-actions): move slack webhook url to under slack action
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-next.yml
Due: none

fix(github-actions): restricts e2e tests on release branches for next
  .github/workflows/e2e-tests-browserstack-next.yml
Due: none

feat(masthead): hide and show upon scroll on mobile (#7982)
  packages/react/src/components/Masthead/Masthead.js
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
