Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, cross-env BABEL_ENV=test jest, yarn lint:styles

chore(test): remove proptype errors being thrown in tests
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0-alpha.610.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0-alpha.676.tgz
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(inline-notification): add outline on button (#153)
  packages/carbon-web-components/src/components/notification/inline-notification.scss
Due: none

fix(button): remove redundant focus outline (#152)
  packages/carbon-web-components/src/components/button/button.scss
Due: none

fix(buttongroup): adding ButtonGroup
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/README.md
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/ButtonGroup/__tests__/ButtonGroup.test.js
  packages/react/src/components/ButtonGroup/index.js
  packages/react/src/components/index.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(buttongroup): fixes to ButtonGroup props and unit tests
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/__tests__/ButtonGroup.test.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

docs(buttongroup): added ButtonGroup documentation fix
  packages/react/src/components/ButtonGroup/README.md
Due: prettier --write

feat(buttongroup): added feature flag for ButtonGroup
  packages/react/.env.example
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/README.md
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/internal/FeatureFlags.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(locale): displays list of countries/regions in dropdown
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.0.0-alpha.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0-alpha.677.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0-alpha.677.tgz
  packages/react/package.json
  packages/react/src/components/Footer/LocaleButton.js
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Locale/__tests__/Locale.test.js
  packages/services/src/services/Translation/Translation.js
  packages/styles/scss/components/footer/index.scss
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(locale): footer hooked up to reload translation
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/LocaleButton.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(buttongroup): simplified buttongroup layout
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(vanilla): updated options to be part of the template
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/horizontalrule/horizontalrule.template.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(vanilla): added readme addon for storybook vanilla
  packages/vanilla/.storybook/config.js
  packages/vanilla/src/components/horizontalrule/README.md
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(vanilla): added storyshot testing (wip)
  .yarn/offline-mirror/harmony-reflect-1.6.1.tgz
  .yarn/offline-mirror/identity-obj-proxy-3.0.0.tgz
  packages/vanilla/.storybook/config.js
  packages/vanilla/config/jest/setup.js
  packages/vanilla/jest.config.js
  packages/vanilla/package.json
  packages/vanilla/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/vanilla/src/components/__tests__/storyshots.test.js
  packages/vanilla/src/components/horizontalrule/README.md
  packages/vanilla/src/components/horizontalrule/horizontalrule.template.js
  packages/vanilla/src/components/horizontalrule/index.js
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(translation): adjust masthead for diff data structures
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(locale): check if list first
  packages/react/src/components/Footer/LocaleButton.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(vanilla): tweaked jsdocs output
  .eslintignore
  packages/vanilla/.gitignore
  packages/vanilla/config/jest/setup.js
  packages/vanilla/jest.config.js
  packages/vanilla/jsdoc.json
  packages/vanilla/package.json
  packages/vanilla/src/components/__tests__/storyshots.test.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(unit-tests): update unit tests for translationapi
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(unit-tests): update unit tests for translationapi
  packages/services/src/services/Translation/Translation.js
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(package): update services package version
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0-alpha.677.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0-alpha.696.tgz
  packages/react/package.json
  yarn.lock
Due: none

fix(buttongroup): removed cap for number of buttons in the group
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/__tests__/ButtonGroup.test.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(buttongroup): updated button group to allow any icons
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/README.md
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(hr): added hr options for checking against with props
  packages/vanilla/.storybook/manager-head.html
  packages/vanilla/.storybook/webpack.config.js
  packages/vanilla/README.md
  packages/vanilla/config/polyfills.js
  packages/vanilla/package.json
  packages/vanilla/src/components/horizontalrule/horizontalrule.template.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(hr): changed grid reference to @carbon/grid
  packages/vanilla/package.json
  packages/vanilla/src/components/horizontalrule/__stories__/horizontalrule.stories.js
  packages/vanilla/src/components/horizontalrule/horizontalrule.template.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

fix(buttongroup): adjustment to the buttongroup story
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(buttongroup): various fixes to the ButtonGroup layout
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(pattern): created simple long form pattern, resolves #466
  .yarn/offline-mirror/acorn-7.1.0.tgz
  .yarn/offline-mirror/acorn-globals-4.3.4.tgz
  .yarn/offline-mirror/cssom-0.4.1.tgz
  .yarn/offline-mirror/cssstyle-2.0.0.tgz
  .yarn/offline-mirror/dompurify-2.0.6.tgz
  .yarn/offline-mirror/jsdom-15.2.0.tgz
  .yarn/offline-mirror/parse5-5.1.0.tgz
  .yarn/offline-mirror/saxes-3.1.11.tgz
  .yarn/offline-mirror/tough-cookie-3.0.1.tgz
  .yarn/offline-mirror/w3c-xmlserializer-1.1.2.tgz
  .yarn/offline-mirror/ws-7.1.2.tgz
  .yarn/offline-mirror/xmlchars-2.2.0.tgz
  packages/patterns-react/package.json
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/SimpleLongForm/CardLink.js
  packages/patterns-react/src/patterns/SimpleLongForm/JumpLink.js
  packages/patterns-react/src/patterns/SimpleLongForm/README.md
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLink.js
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
  packages/patterns-react/src/patterns/SimpleLongForm/index.js
  packages/styles/scss/patterns/simplelongform/README.md
  packages/styles/scss/patterns/simplelongform/_cardlink.scss
  packages/styles/scss/patterns/simplelongform/_jumplink.scss
  packages/styles/scss/patterns/simplelongform/_simplelink.scss
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
  packages/styles/scss/patterns/simplelongform/index.scss
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(buttongroup): various fixes to the Buttons and documentation
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/react/src/components/ButtonGroup/README.md
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(buttongroup): fixed ButtonGroup story props
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(packages): updating carbon
  .yarn/offline-mirror/@carbon-colors-10.5.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.7.0.tgz
  .yarn/offline-mirror/@carbon-type-10.5.1.tgz
  .yarn/offline-mirror/@carbon-type-10.6.0.tgz
  .yarn/offline-mirror/carbon-components-10.7.1.tgz
  yarn.lock
Due: none

feat(cardlink): added new cardlink component
  packages/react/.env.example
  packages/react/.storybook/webpack.config.js
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/README.md
  packages/react/src/components/CardLink/__stories__/Card.stories.js
  packages/react/src/components/CardLink/__tests__/CardLink.test.js
  packages/react/src/components/CardLink/index.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/index.js
  packages/styles/package.json
  packages/styles/scss/components/card-link/README.md
  packages/styles/scss/components/card-link/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(block-link): added feature flag
  .yarn/offline-mirror/@carbon-colors-10.5.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.7.0.tgz
  .yarn/offline-mirror/carbon-components-10.7.1.tgz
  packages/react/src/components/CardLink/CardLink.js
  packages/react/src/components/CardLink/__tests__/CardLink.test.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/package.json
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(cardlink): removed consoles
  packages/react/src/components/CardLink/CardLink.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

refactor: jumplink scss clean up
  packages/styles/scss/patterns/simplelongform/_jumplink.scss
Due: none

fix: wrapped stories with feature flag
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(snapshot): updating
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

feat(layout): first commit to layout sticky component
  packages/react/src/components/Layout/Layout.js
  packages/react/src/components/Layout/README.md
  packages/react/src/components/Layout/__stories__/Layout.stories.js
  packages/react/src/components/Layout/index.js
  packages/react/src/components/index.js
  packages/styles/scss/components/layout/_layout.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

feat(layout): updated scss file and fixed layout.js
  packages/react/src/components/Layout/Layout.js
  packages/react/src/components/Layout/__stories__/Layout.stories.js
  packages/styles/scss/components/layout/_layout.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: packages/components/**/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  cross-env BABEL_ENV=test jest: any of: **/*.js
  yarn lint:styles: any of: packages/components/**/*.scss
