Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(jest): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

style(CalloutData): fixed source text width
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CalloutData): moving all knobs to same tab Added `groupId` paremeter to 'source' knob since it was missing
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

refactor(CalloutData): removing white space
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CTASection): add buttongroup for cta (#2992)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sections/CTASection/CTASection.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/styles/scss/patterns/sections/ctasection/_ctasection.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LeadSpace): lower z-index of overlay to prevent clash with masthead
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Revert "fix(LeadSpace): lower z-index of overlay to prevent clash with masthead"
  packages/styles/scss/patterns/sections/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

refactor(CalloutData): replacing px with mixin
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

style(CalloutData): fixing pattern paddings
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(modal): add open/close doc
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/tests/snapshots/dds-modal.md
Due: prettier --write

feat(ContentBlockHeadlines): add new pattern
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/README.stories.mdx
  packages/react/src/patterns/blocks/ContentBlockHeadlines/__stories__/ContentBlockHeadlines.stories.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/__stories__/data/items.json
  packages/react/src/patterns/blocks/ContentBlockHeadlines/index.js
  packages/react/src/patterns/blocks/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/blocks/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/patterns/blocks/content-block-headlines/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(featureflag): add feature flag
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/internal/FeatureFlags.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/__stories__/ContentBlockHeadlines.stories.js
  packages/styles/scss/patterns/blocks/content-block-headlines/_content-block-headlines.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(masthead): support data-autoid
  packages/web-components/README.md
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/left-nav-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  packages/web-components/src/components/masthead/masthead.ts
  packages/web-components/src/components/masthead/top-nav-item.ts
  packages/web-components/src/components/masthead/top-nav-menu-item.ts
  packages/web-components/src/components/masthead/top-nav-name.ts
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/globals/mixins/stable-selector.ts
  packages/web-components/src/typings/constructor.d.ts
Due: prettier --write

test(a11y): support multiple matrix of parameters
  packages/react/.storybook/config.js
  packages/react/package.json
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/react/src/components/ContentItemHorizontal/__stories__/ContentItemHorizontal.stories.js
  packages/react/src/components/FeatureCard/__stories__/FeatureCard.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LinkList/__stories__/LinkList.stories.js
  packages/react/src/components/PictogramItem/__stories__/PictogramItem.stories.js
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentGroupHorizontal/__stories__/ContentGroupHorizontal.stories.js
  packages/react/src/patterns/blocks/ContentGroupPictograms/__stories__/ContentGroupPictograms.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/ContentGroupSimple.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockLarge/__stories__/FeatureCardBlockLarge.stories.js
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/__stories__/FeatureCardBlockMedium.stories.js
  packages/react/src/patterns/blocks/LeadSpaceBlock/__stories__/LeadSpaceBlock.stories.js
  packages/react/src/patterns/blocks/LogoGrid/__stories__/LogoGrid.stories.js
  packages/react/src/patterns/sections/CTASection/__stories__/CTASection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/react/tests/a11y/karma-test-shim.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead-container): update snapshot
  packages/web-components/tests/snapshots/dds-masthead-container.md
Due: prettier --write

test: update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CalloutData): update pattern spacing
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(quote): fix color of optional copy
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CalloutData): moving all knobs to same tab (#3028)
  packages/react/src/patterns/blocks/CalloutData/__stories__/CalloutData.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

style(CalloutData): fixed source text width (#3025)
  packages/styles/scss/patterns/blocks/callout-data/_callout-data.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(TableOfContents): increased test coverage (#3004)
  packages/react/src/components/TableOfContents/__tests__/TableOfContents.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(styles): update grid styles
  packages/react/src/patterns/blocks/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/react/src/patterns/blocks/ContentBlockHeadlines/__stories__/ContentBlockHeadlines.stories.js
  packages/styles/scss/patterns/blocks/content-block-headlines/_content-block-headlines.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CallOutWithMedia): media spacing adjustments (#3022)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/CalloutWithMedia/CalloutWithMedia.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/styles/scss/components/quote/_quote.scss
  packages/styles/scss/patterns/blocks/callout-with-media/_callout-with-media.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ContentBlockCards): add cta and change CardGroup to use CTA
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardGroup/__stories__/data/cards.json
  packages/react/src/patterns/blocks/ContentBlockCards/ContentBlockCards.js
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(CardSectionSimple): remove filter for card eyebrow
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): adding percy automated visual regression to web-components
  packages/web-components/.gitignore
  packages/web-components/package.json
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: none

fix(styles): fix grid alignment
  packages/styles/scss/patterns/blocks/content-block-headlines/_content-block-headlines.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CardLink): update story and add md max-width
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(expressive-modal): introduce Web Components (#3024)
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/button/__stories__/button.stories.ts
  packages/web-components/src/components/button/button.scss
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/modal.stories.ts
  packages/web-components/src/components/modal/__tests__/modal.test.ts
  packages/web-components/src/components/modal/modal-body.ts
  packages/web-components/src/components/modal/modal-close-button.ts
  packages/web-components/src/components/modal/modal-footer.ts
  packages/web-components/src/components/modal/modal-header.ts
  packages/web-components/src/components/modal/modal-heading.ts
  packages/web-components/src/components/modal/modal.scss
  packages/web-components/src/components/modal/modal.ts
  packages/web-components/tests/snapshots/dds-modal.md
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

refactor(MastheadL1): component with dynamic data now
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(MastheadL1): added navigation default prop to validate test
  packages/react/src/components/Masthead/MastheadL1.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update bug issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

chore(webcomponents): adding @carbon/ibmdotcom-styles as dependency
  packages/web-components/package.json
Due: none

fix(ContentBlockCards): styling and story updates
  packages/react/src/components/CardGroup/CardGroup.js
  packages/react/src/components/CardGroup/__stories__/data/cards.json
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/patterns/blocks/content-block-cards/_content-block-cards.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ContentBlockCards): update snapshots
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none
