Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(spacing): added correct spacing for card
  .yarn/offline-mirror/@carbon-grid-10.8.3.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/__stories__/ContentGroupCards.stories.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/styles/package.json
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards.scss
  packages/styles/scss/patterns/sub-patterns/card/index.scss
  yarn.lock
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(spacing): initial pass to fix contentitem spacing
  packages/react/src/components/ImageWithCaption/ImageWithCaption.js
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(spacing): fixes spacing on the content group for the moment
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(spacing): a little cleanup
  packages/react/src/patterns/blocks/ContentBlockSegmented/ContentBlockSegmented.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/ContentBlockSimple.stories.js
  packages/react/src/patterns/blocks/ContentBlockSimple/__stories__/index.scss
  packages/react/src/patterns/blocks/ContentGroupSimple/ContentGroupSimple.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
  packages/styles/scss/patterns/sub-patterns/content-item/_content-item.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(spacing): worked to fix spacing in content block
  .yarn/offline-mirror/@carbon-layout-10.5.0.tgz
  .yarn/offline-mirror/@carbon-type-10.5.1.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  packages/react/src/patterns/blocks/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
  packages/react/src/patterns/blocks/ContentBlockMixed/__stories__/ContentBlockMixed.stories.js
  packages/react/src/patterns/blocks/ContentBlockSegmented/__stories__/ContentBlockSegmented.stories.js
  packages/react/src/patterns/blocks/ContentGroupCards/ContentGroupCards.js
  packages/react/src/patterns/blocks/ContentGroupSimple/__stories__/data/ContentGroupSimple.knobs.js
  packages/react/src/patterns/sub-patterns/ContentBlock/ContentBlock.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/ContentBlock.stories.js
  packages/react/src/patterns/sub-patterns/ContentBlock/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentGroup/ContentGroup.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/ContentGroup.stories.js
  packages/react/src/patterns/sub-patterns/ContentGroup/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/ContentSection.stories.js
  packages/react/src/patterns/sub-patterns/ContentSection/__stories__/index.scss
  packages/styles/package.json
  packages/styles/scss/patterns/blocks/content-block-media/_content-block-media.scss
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
  packages/styles/scss/patterns/blocks/content-block-segmented/_content-block-segmented.scss
  packages/styles/scss/patterns/blocks/content-block-simple/_content-block-simple.scss
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards-item.scss
  packages/styles/scss/patterns/blocks/content-group-cards/_content-group-cards.scss
  packages/styles/scss/patterns/blocks/content-group-cards/index.scss
  packages/styles/scss/patterns/blocks/content-group-pictograms/_content-group-pictograms.scss
  packages/styles/scss/patterns/blocks/content-group-simple/_content-group-simple.scss
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
  packages/styles/scss/patterns/sub-patterns/content-block/_content-block.scss
  packages/styles/scss/patterns/sub-patterns/content-group/_content-group.scss
  yarn.lock
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(spacing): ci-check corrections
  packages/react/src/patterns/blocks/ContentBlockSimple/ContentBlockSimple.js
Due: prettier --write, eslint packages

feat(pattern): created LinkList pattern
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/index.scss
  packages/react/src/patterns/sub-patterns/LinkList/__tests__/LinkList.test.js
  packages/react/src/patterns/sub-patterns/LinkList/index.js
  packages/react/src/patterns/sub-patterns/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): added the README files for pattern and scss
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/README.md
Due: prettier --write

feat(pattern): updated the documents based on review
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/README.md
Due: prettier --write

feat(pattern): updated the scss selector
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/styles/scss/patterns/sub-patterns/link-list/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated the scss selector and rules
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/index.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated the scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated the jsx, documentation, story and scss
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated the scss and story
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): small scss change
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): small parameter changes
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
Due: prettier --write, eslint packages

feat(pattern): added hr line color and removed margintop
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated CTA style to card and updated styles
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pattern): updated according review comments
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): added unit test case
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/sub-patterns/LinkList/__tests__/LinkList.test.js
Due: prettier --write, eslint packages

feat(pattern): updated the imports and README
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated as per the review comments
  packages/react/src/patterns/sub-patterns/LinkList/LinkList.js
  packages/react/src/patterns/sub-patterns/LinkList/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/README.md
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): centered the LinkList in storybook
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
Due: prettier --write, eslint packages

feat(pattern): added carbon before token
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): added card scss import
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): changed the heading to copy
  packages/react/src/patterns/sub-patterns/LinkList/__stories__/LinkList.stories.js
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): updated the modifier hyphen to underscore
  packages/react/src/components/CTA/CTA.js
  packages/styles/scss/patterns/sub-patterns/card/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): added p tag selector for copy
  packages/styles/scss/patterns/sub-patterns/link-list/_link-list.scss
  packages/styles/scss/patterns/sub-patterns/link-list/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): removed unused scss modifiers of inverse
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): added CTA inverse for cardSection simple
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/CardSectionSimple.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): added little condition to add cta based pattern type
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
Due: prettier --write, eslint packages

feat(pattern): updated the README
  packages/react/src/patterns/sections/CardSection/CardSection.js
Due: prettier --write, eslint packages

feat(pattern): updated the README
  packages/react/src/patterns/sections/CardSection/README.md
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
Due: prettier --write, eslint packages

feat(pattern): made changes as per review comments
  packages/react/src/patterns/sections/CardSection/CardSection.js
  packages/react/src/patterns/sections/CardSection/README.md
  packages/styles/scss/patterns/sections/card-section/_card-section.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): made CTA inverse optional as a knob
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
Due: prettier --write, eslint packages

feat(pattern): added boolean knob in cardSection -simple story
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
Due: prettier --write, eslint packages

feat(pattern): added boolean knob to control a cta prop
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
  packages/react/src/patterns/sections/CardSectionSimple/__stories__/CardSectionSimple.stories.js
Due: prettier --write, eslint packages

feat(pattern): moved heading text knob to above
  packages/react/src/patterns/sections/CardSection/__stories__/CardSection.stories.js
Due: prettier --write, eslint packages

feat(learntest): adding learn test page
  packages/react/src/patterns/blocks/ContentBlockMedia/ContentBlockMedia.js
  packages/react/ssr-tests/nextjs/package.json
  packages/react/ssr-tests/nextjs/pages/learn.js
  packages/react/ssr-tests/nextjs/yarn.lock
Due: prettier --write, eslint packages

feat(pattern): removed cta prop from CardSectionImages story
  packages/react/src/patterns/sections/CardSectionImages/__stories__/CardSectionImages.stories.js
Due: prettier --write, eslint packages
