Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore: bump v1.31.1 package versions
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.31.0.tgz
  packages/react/package.json
  packages/utilities/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix(filter-panel): reset filter element focus on selection (#8307)
  packages/web-components/src/components/filter-panel/filter-panel-checkbox.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select-item.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(filter-panel): composite sets focused element on selection (#8307)
  packages/web-components/src/components/filter-panel/filter-panel-checkbox.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select-item.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(structured-list): finish intial extension
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/index.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
  packages/web-components/src/components/structured-list/structured-list-group.ts
  packages/web-components/src/components/structured-list/structured-list-head.ts
  packages/web-components/src/components/structured-list/structured-list-header-cell.ts
  packages/web-components/src/components/structured-list/structured-list-header-row.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(structured-list): yarn format
  packages/styles/scss/components/structured-list/_structured-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(deps): update dependency @carbon/grid to v10.43.0
  .yarn/offline-mirror/@carbon-grid-10.43.0.tgz
  packages/styles/package.json
  yarn.lock
Due: none

fix(deps): update dependency @carbon/themes to v10.53.1
  .yarn/offline-mirror/@carbon-grid-10.43.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.52.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.53.1.tgz
  .yarn/offline-mirror/@carbon-type-10.43.1.tgz
  packages/styles/package.json
  yarn.lock
Due: none

fix(Tabs & Tabs extended with media): adjust the layout to align with the defined grid (#8394)
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended-media/__stories__/tabs-extended-media.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deps): update dependency @carbon/pictograms-react to v11.24.0
  .yarn/offline-mirror/@carbon-pictograms-react-11.23.0.tgz
  .yarn/offline-mirror/@carbon-pictograms-react-11.24.0.tgz
  packages/react/package.json
  yarn.lock
Due: none
