Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(deps): upgrade @percy/storybook to v4
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.67.tgz
  packages/react/.percy.json
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix(feature-cta): add wait to test (#7992)
  packages/web-components/tests/e2e-storybook/cypress-local.json
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/feature.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.71.tgz
  .yarn/offline-mirror/@percy-storybook-4.1.0.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.4.10.tgz
  .yarn/offline-mirror/@storybook-router-6.4.10.tgz
  .yarn/offline-mirror/core-js-3.20.2.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/history-5.0.0.tgz
  .yarn/offline-mirror/history-5.2.0.tgz
  .yarn/offline-mirror/qs-6.10.2.tgz
  .yarn/offline-mirror/react-router-6.2.1.tgz
  .yarn/offline-mirror/react-router-dom-6.2.1.tgz
  .yarn/offline-mirror/ts-dedent-2.2.0.tgz
Due: none

test(karma): resolve lint errors in karma-test-shim
  packages/web-components/.eslintrc.js
  packages/web-components/tests/a11y/karma-test-shim.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): add output url to the script command
  packages/react/package.json
  packages/web-components/package.json
Due: none

feat(eslint): aChecker to true
  packages/web-components/.eslintrc.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(karma-test-shim): remove comments
  packages/web-components/tests/a11y/karma-test-shim.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(slider): fix slider usability on touch devices (#914)
  packages/carbon-web-components/src/components/slider/slider.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(cdn): remove reference to next tag (#920)
  packages/carbon-web-components/src/globals/internal/storybook-cdn.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(achecker-compliance): remove console warning
  packages/web-components/tests/utils/achecker-compliance.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): enable javascript for snapshot tests
  packages/react/.percy.json
  packages/web-components/.percy.json
Due: none

fix(masthead): alphabetical imports
  packages/react/src/components/Masthead/Masthead.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block): paragraph styles (#7942)
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(deps): update dependency marked to v2 [security]
  .yarn/offline-mirror/marked-1.2.9.tgz
  packages/utilities/package.json
  yarn.lock
Due: none

chore(yarn): fix merge conflicts
  .yarn/offline-mirror/cli-progress-3.9.1.tgz
  yarn.lock
Due: none

chore(e2e): add card-section-carousel integration tests
  packages/web-components/tests/e2e/cypress/integration/card-section-carousel/card-section-carousel.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/card-section-carousel/card-section-carousel.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/cli-progress-3.10.0.tgz
Due: none

chore(github): update carbon main branch name
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(karma): change to use test:a11y
  packages/web-components/gulp-tasks/test.js
  packages/web-components/package.json
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/tests/karma-accessibility-checker.conf.js
  packages/web-components/tests/karma-test-shim.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(lerna): run full lerna runs for react and web components
  .github/workflows/ci-check.yml
  packages/react/package.json
  packages/web-components/package.json
Due: none

chore(support): add assignees for issue templates (#923)
  packages/carbon-web-components/.github/ISSUE_TEMPLATE/bug_report.yaml
  packages/carbon-web-components/.github/ISSUE_TEMPLATE/feature_request.yaml
  packages/carbon-web-components/.github/ISSUE_TEMPLATE/question.yaml
  packages/carbon-web-components/.github/ISSUE_TEMPLATE/user_story.yaml
Due: none

chore(github): update carbon `main` branch name (#8000)
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): remove platform knob
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): hide "With custom navigation" story
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): rename platform
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-composite): prevent unintended platform render
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): remove all links from with platform story
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-composite): hide top nav if empty
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): update L1 masthead data
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): remove hidden story
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead): remove custom nav tests
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): update story knob values
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): update cypress tests with new storybook updates
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): remove platform knob from story
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead): update menu translation data to match upstream
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/tests/cdn-build/cypress/fixtures/translation.json
  packages/web-components/tests/e2e-storybook/cypress/fixtures/translation.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead-composite): account for empty navlinks object
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(browserstack-cypress-cli): downgrade
  .yarn/offline-mirror/@sindresorhus-is-0.14.0.tgz
  .yarn/offline-mirror/@szmarczak-http-timer-1.1.2.tgz
  .yarn/offline-mirror/boxen-5.1.2.tgz
  .yarn/offline-mirror/browserstack-cypress-cli-1.11.1.tgz
  .yarn/offline-mirror/cacheable-request-6.1.0.tgz
  .yarn/offline-mirror/cli-boxes-2.2.1.tgz
  .yarn/offline-mirror/cli-progress-3.10.0.tgz
  .yarn/offline-mirror/decompress-response-3.3.0.tgz
  .yarn/offline-mirror/defer-to-connect-1.1.3.tgz
  .yarn/offline-mirror/duplexer3-0.1.4.tgz
  .yarn/offline-mirror/got-9.6.0.tgz
  .yarn/offline-mirror/has-yarn-2.1.0.tgz
  .yarn/offline-mirror/import-lazy-2.1.0.tgz
  .yarn/offline-mirror/is-npm-5.0.0.tgz
  .yarn/offline-mirror/is-yarn-global-0.3.0.tgz
  .yarn/offline-mirror/json-buffer-3.0.0.tgz
  .yarn/offline-mirror/keyv-3.1.0.tgz
  .yarn/offline-mirror/latest-version-5.1.0.tgz
  .yarn/offline-mirror/lowercase-keys-1.0.1.tgz
  .yarn/offline-mirror/p-cancelable-1.1.0.tgz
  .yarn/offline-mirror/package-json-6.5.0.tgz
  .yarn/offline-mirror/prepend-http-2.0.0.tgz
  .yarn/offline-mirror/pupa-2.1.1.tgz
  .yarn/offline-mirror/registry-auth-token-4.2.1.tgz
  .yarn/offline-mirror/registry-url-5.1.0.tgz
  .yarn/offline-mirror/responselike-1.0.2.tgz
  .yarn/offline-mirror/semver-diff-3.1.1.tgz
  .yarn/offline-mirror/to-readable-stream-1.0.0.tgz
  .yarn/offline-mirror/type-fest-0.20.2.tgz
  .yarn/offline-mirror/update-notifier-5.1.0.tgz
  .yarn/offline-mirror/url-parse-lax-3.0.0.tgz
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none
