Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(locale-modal): add CodeSandbox example (#3379)
  packages/web-components/examples/codesandbox/components/locale-modal/.babelrc
  packages/web-components/examples/codesandbox/components/locale-modal/.gitignore
  packages/web-components/examples/codesandbox/components/locale-modal/index.html
  packages/web-components/examples/codesandbox/components/locale-modal/package.json
  packages/web-components/examples/codesandbox/components/locale-modal/sandbox.config.json
  packages/web-components/examples/codesandbox/components/locale-modal/src/index.js
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/locale-modal.stories.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(services): better error handling (#3393)
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Masthead/Masthead.js
  packages/services/src/services/Translation/Translation.js
  packages/vanilla/babel.config.js
  packages/vanilla/src/components/footer/footer.js
  packages/vanilla/src/components/footer/footer.template.js
  packages/vanilla/src/components/masthead/masthead.js
  packages/web-components/src/components/masthead/masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(host-listener): support dash in event name (#458)
  packages/carbon-web-components/src/globals/mixins/host-listener.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(build): update package.json
  packages/carbon-web-components/package.json
Due: none

chore(dependencies): upgrade carbon-custom-elements
  .yarn/offline-mirror/carbon-custom-elements-1.2.0.tgz
  .yarn/offline-mirror/carbon-custom-elements-1.2.1.tgz
  package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix(focuswrap): fix for FF
  packages/utilities/src/utilities/focuswrap/focuswrap.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(footer): introduction
  packages/styles/scss/components/footer/_components.scss
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/footer/_temp-breakpoints.scss
  packages/web-components/src/components/cta/cta-container.ts
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
  packages/web-components/src/components/footer/__stories__/footer.stories.scss
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/__stories__/legal-links.ts
  packages/web-components/src/components/footer/__stories__/links.ts
  packages/web-components/src/components/footer/__tests__/footer-composite.test.ts
  packages/web-components/src/components/footer/__tests__/footer-container.test.ts
  packages/web-components/src/components/footer/__tests__/footer-logo.test.ts
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/__tests__/footer-nav-item.test.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-container.ts
  packages/web-components/src/components/footer/footer-logo.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/footer/footer-nav-item.ts
  packages/web-components/src/components/footer/footer-nav.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/footer/legal-nav-item.ts
  packages/web-components/src/components/footer/legal-nav.ts
  packages/web-components/src/components/footer/locale-button.ts
  packages/web-components/src/globals/mixins/modal-render.ts
  packages/web-components/src/globals/services-store/types/translateAPI.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
  packages/web-components/tests/snapshots/dds-footer-logo.md
  packages/web-components/tests/snapshots/dds-footer-nav-group.md
  packages/web-components/tests/snapshots/dds-footer-nav-item.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(components): fix CI
  packages/web-components/src/components/cta/__tests__/cta-container.test.ts
  packages/web-components/src/globals/services-store/actions/__tests__/translateAPI.test.ts
  packages/web-components/src/globals/services-store/reducers/__tests__/translateAPI.test.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(DotcomShell): adding a new storybook story
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(DotcomShell): adding footer props
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(DotcomShell): new storybook story
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(support): updating support roster for sprint 16
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

feat(DotcomShell): adding new story
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(storyshots): updating snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

feat(MegaMenu): type and margin ui tweaks
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(contentblockmedia): updated aside story
  packages/react/src/components/ContentBlockMedia/__stories__/ContentBlockMedia.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(DotcomShell): storybook cleanup (#3414)
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(VideoPlayerAPI): stop video when modal closes
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(percy): fix for percy generating false positives for sameheight
  packages/react/.storybook/Container.js
  packages/react/.storybook/preview-head.html
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): made README more adopter friendly
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Due: none

docs(masthead): tweak to the custom nav documentation
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Due: none

feat(VideoPlayer): adding story for 1x1 aspect ratio
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(VideoPlayer): adding story for 4x3 aspect ratio
  packages/react/src/components/VideoPlayer/__stories__/VideoPlayer.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(webcomponents): additional component README cleanup
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
Due: none

feat(left-nav): support focus wrapping (#3348)
  .yarn/offline-mirror/carbon-custom-elements-1.1.3.tgz
  .yarn/offline-mirror/carbon-custom-elements-1.2.1.tgz
  package.json
  packages/react/babel.config.js
  packages/react/scripts/env.js
  packages/utilities/babel.config.js
  packages/utilities/src/utilities/focuswrap/focuswrap.js
  packages/web-components/package.json
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/masthead-menu-button.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(webcomponents): additional component README cleanup
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/building-for-ibm.stories.mdx
  packages/web-components/docs/stable-selectors.md
  packages/web-components/docs/stable-selectors.stories.mdx
  packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/modal/__stories__/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(web-components): fix undefined attribute in icons (#3394)
  packages/web-components/tools/svg-result-carbon-icon.js
  packages/web-components/tools/svg-result-ibmdotcom-icon-loader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(VideoPlayerAPI): add for web components
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/README.md
  packages/web-components/README.md
Due: prettier --write

Update packages/web-components/src/components/button/__stories__/README.stories.mdx
  packages/web-components/src/components/button/__stories__/README.stories.mdx
Due: none

Update packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
  packages/web-components/src/components/locale-modal/__stories__/README.stories.mdx
Due: none

Update packages/web-components/src/components/card-link/__stories__/README.stories.mdx
  packages/web-components/src/components/card-link/__stories__/README.stories.mdx
Due: none

Update packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
Due: none

Update packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
Due: none

Update packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
  packages/web-components/src/components/link-with-icon/__stories__/README.stories.mdx
Due: none

docs(footer): update doc
  packages/web-components/src/components/footer/__stories__/README.stories.mdx
Due: none

fix(LinkwithIcon): disabled hover styling (#3384)
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(VideoPlayerAPI): return kdp in api
  packages/react/src/components/ExpressiveModal/ExpressiveModal.js
  packages/services/src/services/VideoPlayer/VideoPlayer.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): creating github actions for percy
  .github/workflows/percy-update-base.yml
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
