Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead-cart): initial implementation missing business logic
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-cart.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead-cart): add locale logic to vary the cart URL by locale
  packages/web-components/src/components/masthead/masthead-cart.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead-cart): add business logic to check for an active cart
  packages/services/src/services/SAPCommerce/SAPCommerce.js
  packages/services/src/services/SAPCommerce/index.js
  packages/services/src/services/index.js
  packages/web-components/src/components/masthead/masthead-cart.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead-cart): add knob to masthead stories to mock cart cookie
  packages/services/src/services/SAPCommerce/SAPCommerce.js
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead-cart): fix some obv misses in masthead story
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

revert
  packages/web-components/src/components/masthead/megamenu-tab.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(megamenu-tab): revert revert, add super call
  packages/web-components/src/components/masthead/megamenu-tab.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): copy from CAEM
  packages/web-components/src/components/tile/__stories__/README--tile-group.stories.mdx
  packages/web-components/src/components/tile/__stories__/README--tile.stories.mdx
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
  packages/web-components/src/components/tile/index.ts
  packages/web-components/src/components/tile/tile-group.ts
  packages/web-components/src/components/tile/tile.scss
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead-cart): switch to a hidden attribute approach
  packages/web-components/src/components/masthead/masthead-cart.ts
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead-cart): add attribute for cart-label
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta): prevent an infinate loop of fetching video details (#12084)
  packages/web-components/src/component-mixins/cta/cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~c98f95f3.7bcfc4bb.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.a7708cab.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.a7708cab.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~c98f95f3.644b6cf4.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.644b6cf4.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.b67b8eb9.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~c98f95f3.7bcfc4bb.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.a7708cab.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.a7708cab.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~c98f95f3.7bcfc4bb.iframe.bundle.js
  canary/web-components/main~c98f95f3.a7708cab.iframe.bundle.js
  canary/web-components/main~c98f95f3.a7708cab.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): update import paths and prefixes
  packages/web-components/src/components/tile/__stories__/README--tile-group.stories.mdx
  packages/web-components/src/components/tile/__stories__/README--tile.stories.mdx
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
  packages/web-components/src/components/tile/tile-group.ts
  packages/web-components/src/components/tile/tile.scss
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): yarn format
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tile): add license text
  packages/web-components/src/components/tile/__stories__/README--tile-group.stories.mdx
  packages/web-components/src/components/tile/__stories__/README--tile.stories.mdx
  packages/web-components/src/components/tile/__stories__/tile-group.stories.ts
  packages/web-components/src/components/tile/__stories__/tile.stories.ts
  packages/web-components/src/components/tile/index.ts
  packages/web-components/src/components/tile/tile-group.ts
  packages/web-components/src/components/tile/tile.scss
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tile): use relative paths for resources from this package
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(unit-tests): update outstanding snapshots
  packages/web-components/tests/snapshots/c4d-card-in-card.md
  packages/web-components/tests/snapshots/c4d-card.md
  packages/web-components/tests/snapshots/c4d-content-block-card-static.md
  packages/web-components/tests/snapshots/c4d-feature-card.md
  packages/web-components/tests/snapshots/c4d-masthead-profile.md
Due: prettier --write

feat(tile): yarn format
  packages/web-components/src/components/tile/tile.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

(card): Remove class form footer to make compnent clickable
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(countdown): copy from CAEM
  packages/web-components/src/components/countdown/__stories__/README.stories.mdx
  packages/web-components/src/components/countdown/__stories__/countdown.stories.ts
  packages/web-components/src/components/countdown/countdown.ts
  packages/web-components/src/components/countdown/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(countdown): updating license import paths and prefixes
  packages/web-components/src/components/countdown/__stories__/README.stories.mdx
  packages/web-components/src/components/countdown/__stories__/countdown.stories.ts
  packages/web-components/src/components/countdown/countdown.ts
  packages/web-components/src/components/countdown/index.ts
  packages/web-components/src/globals/internal/storybook-decorators.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

[feature] Add cart icon to Masthead for SAP Commerce integration (#12089)
  packages/services/src/services/SAPCommerce/SAPCommerce.js
  packages/services/src/services/SAPCommerce/index.js
  packages/services/src/services/index.js
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-cart.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block-segmented): remove content-layout class
  packages/web-components/src/components/content-block-segmented/content-block-segmented.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card): fix arrow positioning
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): put the style for footer back
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

(card): Remove class form footer to make component clickable (#12097)
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(settings): update settings to v2.15.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~493df0b3.a1d9e4c4.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.a1d9e4c4.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~493df0b3.e29d5be1.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~493df0b3.4b6a63f6.iframe.bundle.js
  canary/web-components-react/main~493df0b3.5b63e077.iframe.bundle.js
  canary/web-components-react/main~493df0b3.5b63e077.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~493df0b3.5f9a2dc5.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.9ca93e93.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.9ca93e93.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~493df0b3.a1d9e4c4.iframe.bundle.js
  canary/web-components/main~493df0b3.a1d9e4c4.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~493df0b3.e29d5be1.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
