Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(browserstack): add browserstack automate nightly runs
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
Due: none

test(feature-section): add e2e storybook tests
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(github-actions): rename from `staging` to `next` (#8022)
  .github/workflows/deploy-next.yml
  packages/react/package.json
  packages/react/tests/e2e-storybook/cypress-next.json
  packages/web-components/package.json
  packages/web-components/tests/e2e-storybook/cypress-next.json
Due: none

docs(cta): add button-cta documentation
  packages/web-components/examples/codesandbox/components/cta-button/.babelrc
  packages/web-components/examples/codesandbox/components/cta-button/.gitignore
  packages/web-components/examples/codesandbox/components/cta-button/cdn.html
  packages/web-components/examples/codesandbox/components/cta-button/index.html
  packages/web-components/examples/codesandbox/components/cta-button/package.json
  packages/web-components/examples/codesandbox/components/cta-button/sandbox.config.json
  packages/web-components/examples/codesandbox/components/cta-button/src/index.js
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Services to GitHub Pages
  services/AnalyticsAPI.html
  services/DDOAPI.html
  services/KalturaPlayerAPI.html
  services/LocaleAPI.html
  services/MarketingSearchAPI.html
  services/MastheadLogoAPI.html
  services/ProfileAPI.html
  services/SearchTypeaheadAPI.html
  services/TranslationAPI.html
  services/VideoPlayerAPI.html
  services/global.html
  services/index.html
  services/index.js.html
  services/services_Analytics_Analytics.js.html
  services/services_CloudAccountAuth_CloudAccountAuth.js.html
  services/services_DDO_DDO.js.html
  services/services_KalturaPlayer_KalturaPlayer.js.html
  services/services_Locale_Locale.js.html
  services/services_MarketingSearch_MarketingSearch.js.html
  services/services_MastheadLogo_MastheadLogo.js.html
  services/services_Profile_Profile.js.html
  services/services_SearchTypeahead_SearchTypeahead.js.html
  services/services_Translation_Translation.js.html
  services/services_VideoPlayer_VideoPlayer.js.html
  services/services_global_global.js.html
  services/services_global_index.js.html
  services/services_index.js.html
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

test(feature-section): format
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

docs(masthead): update masthead platform url docs
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
Due: none

test(content-item): improve consistency with other tests (#7842)
  packages/react/tests/e2e-storybook/cypress/integration/ContentItem/ContentItem.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-item/content-item.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(content-item): take screenshots during each test (#7842)
  packages/react/tests/e2e-storybook/cypress/integration/ContentItem/ContentItem.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-item/content-item.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(browserstack): add browserstack automate nightly runs (#8023)
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
Due: none

test(button-cta): e2e test for codesandbox button-cta example
  packages/web-components/tests/e2e/cypress/integration/cta-button/cta-button.cdn.e2e.js
  packages/web-components/tests/e2e/cypress/integration/cta-button/cta-button.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): addressing feedback
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead-item.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(search): ran prettier
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(format): adjust format
  packages/web-components/examples/codesandbox/components/cta-button/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): cicheck stuff
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(feature-section): adjust numbers
  packages/web-components/tests/e2e-storybook/cypress/integration/feature-section/feature-section.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(content-item): add e2e tests (#8018)
  packages/react/tests/e2e-storybook/cypress/integration/ContentItem/ContentItem.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/content-item/content-item.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): add e2e tests and fix checks
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/CardCTA.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Update packages/react/src/components/VideoPlayer/VideoImageOverlay.js
  packages/react/src/components/VideoPlayer/VideoImageOverlay.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
