Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.5d31dfcdc51f1175299a.manager.bundle.js
  next/web-components-react/main.fc84212843257516635e.manager.bundle.js
  next/web-components-react/main~c98f95f3.752282b3.iframe.bundle.js
  next/web-components-react/main~c98f95f3.752282b3.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.8fb61dd1.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.9df8e985a268a9482617.manager.bundle.js
  next/web-components-rtl/main.b76746edaeb66ae34b06.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.19cdd209.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.19cdd209.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.8e217d50.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.9df8e985a268a9482617.manager.bundle.js
  next/web-components/main.b76746edaeb66ae34b06.manager.bundle.js
  next/web-components/main~c98f95f3.19cdd209.iframe.bundle.js
  next/web-components/main~c98f95f3.19cdd209.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.8e217d50.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.9df8e985a268a9482617.manager.bundle.js
  canary/web-components-experimental/main.b76746edaeb66ae34b06.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.19cdd209.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.19cdd209.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c98f95f3.8e217d50.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.5d31dfcdc51f1175299a.manager.bundle.js
  canary/web-components-react/main.fc84212843257516635e.manager.bundle.js
  canary/web-components-react/main~c98f95f3.752282b3.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.752282b3.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.8fb61dd1.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.9df8e985a268a9482617.manager.bundle.js
  canary/web-components-rtl/main.b76746edaeb66ae34b06.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.19cdd209.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.19cdd209.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c98f95f3.8e217d50.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.9df8e985a268a9482617.manager.bundle.js
  canary/web-components/main.b76746edaeb66ae34b06.manager.bundle.js
  canary/web-components/main~c98f95f3.19cdd209.iframe.bundle.js
  canary/web-components/main~c98f95f3.19cdd209.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c98f95f3.8e217d50.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

[v1] fix(parent-visibility): decouple tab from parent visibility (#11761)
  packages/web-components/src/component-mixins/parent-visibility/parent-visibility.ts
  packages/web-components/src/components/tabs-extended/defs.ts
  packages/web-components/src/components/tabs-extended/tab.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): ensure opened L1 mobile dropdown is visible while there is also a ToC (#11734)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(sticky-header): satisfy linter
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(sticky-header): satisfy linter
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-grounp): fixing heading styles
  packages/web-components/src/components/content-item/content-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): ensure opened L1 mobile dropdown is visible while there is also a ToC (#11734) (#11766)
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-grounp): formatting styles
  packages/web-components/src/components/content-item/content-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-layout): adding part attr to content-layout element
  packages/web-components/src/components/content-block/content-block.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-group): Update content-group-heading styles
  packages/web-components/src/components/content-group/content-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(dotcom-shell): use masthead container and support newer L0 data prop
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): reference new banner name
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(dotcom-shell): reference correct story props and clean up bloat
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cta-block): update unit test snapshots
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
  packages/web-components/tests/snapshots/dds-content-block-media.md
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
  packages/web-components/tests/snapshots/dds-content-group-banner.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-cta-block.md
Due: prettier --write

fix(content-item): inherit heading element font rules
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.scss
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-item/content-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-group): adding h-tags to headings (#11738)
  packages/carbon-web-components/tests/snapshots/bx-checkbox.md
  packages/carbon-web-components/tests/snapshots/bx-pagination.md
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.scss
  packages/web-components/src/components/content-group/content-group-heading.ts
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-item/content-item-heading.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(cta-block): add CSS shadowpart
  packages/carbon-web-components/tests/snapshots/bx-checkbox.md
  packages/carbon-web-components/tests/snapshots/bx-pagination.md
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-group/content-group-heading.ts
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-item/content-item-heading.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
  packages/web-components/tests/snapshots/dds-content-block-media.md
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
  packages/web-components/tests/snapshots/dds-content-group-banner.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-cta-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(settings): update settings to v1.59.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cta-block): add CSS shadowpart
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
  packages/web-components/tests/snapshots/dds-content-block-media.md
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
  packages/web-components/tests/snapshots/dds-content-group-banner.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-cta-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/project.json
Due: none

feat(content-group): inherit font styles to heading element
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-item/content-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(cta-block): add CSS shadowpart (#11777)
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/tests/snapshots/dds-callout-with-media.md
  packages/web-components/tests/snapshots/dds-content-block-cards.md
  packages/web-components/tests/snapshots/dds-content-block-headlines.md
  packages/web-components/tests/snapshots/dds-content-block-horizontal.md
  packages/web-components/tests/snapshots/dds-content-block-media.md
  packages/web-components/tests/snapshots/dds-content-block-segmented.md
  packages/web-components/tests/snapshots/dds-content-block-simple.md
  packages/web-components/tests/snapshots/dds-content-group-banner.md
  packages/web-components/tests/snapshots/dds-content-group-cards.md
  packages/web-components/tests/snapshots/dds-content-group-simple.md
  packages/web-components/tests/snapshots/dds-cta-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/iframe.html
  v1/next/carbon-web-components/main.361ba710.iframe.bundle.js
  v1/next/carbon-web-components/main.361ba710.iframe.bundle.js.LICENSE.txt
  v1/next/carbon-web-components/main.361ba710.iframe.bundle.js.map
  v1/next/carbon-web-components/main.47fac42f.iframe.bundle.js
  v1/next/carbon-web-components/main.47fac42f.iframe.bundle.js.map
  v1/next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): prevent megamenus from overlaying global banner
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/top-nav-menu.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(conten-group): replicate v1 changes
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/src/components/content-group/content-group-heading.ts
  packages/web-components/src/components/content-group/content-group.scss
  packages/web-components/src/components/content-item/content-item-heading.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/tests/snapshots/c4d-callout-with-media.md
  packages/web-components/tests/snapshots/c4d-content-block-card-static.md
  packages/web-components/tests/snapshots/c4d-content-block-cards.md
  packages/web-components/tests/snapshots/c4d-content-block-headlines.md
  packages/web-components/tests/snapshots/c4d-content-block-horizontal.md
  packages/web-components/tests/snapshots/c4d-content-block-media.md
  packages/web-components/tests/snapshots/c4d-content-block-segmented.md
  packages/web-components/tests/snapshots/c4d-content-block-simple.md
  packages/web-components/tests/snapshots/c4d-content-group-cards.md
  packages/web-components/tests/snapshots/c4d-content-group-simple.md
  packages/web-components/tests/snapshots/c4d-cta-block.md
  packages/web-components/tests/snapshots/c4d-in-page-banner.md
  packages/web-components/tests/snapshots/c4d-search-with-typeahead.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): run formatter
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): prevent left nav from overlaying global banner
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(dependency): bump up utilities package in services
  packages/services/package.json
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
