Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, cross-env BABEL_ENV=test jest, yarn lint:styles

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "cross-env BABEL_ENV=test jest",
    "git add"
  ],
  "packages/components/**/*.scss": [
    "prettier --write",
    "yarn lint:styles",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(flags): adding DDS_FLAGS_ALL environment flag
  packages/patterns-react/.env.example
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/react/.env.example
  packages/react/src/internal/FeatureFlags.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: updated heading tags
  packages/patterns-react/src/patterns/ListSection/ListSection.js
  packages/patterns-react/src/patterns/ListSection/ListSectionGroup.js
  packages/patterns-react/src/patterns/ListSection/ListSectionItem.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(react): open by default blur shouldnt close search
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(react): moved initial state inside component func
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(prettier): various fixes for prettier and stylelint
  .prettierignore
  .stylelintignore
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
  packages/styles/scss/patterns/simplelongform/index.scss
Due: none

feat(utilities): expanding featureflag and simplify dds_flags_all
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/LeadSpace/__stories__/LeadSpace.stories.js
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/CardLink/__stories__/Card.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/utilities/.env.example
  packages/utilities/src/internal/FeatureFlags.js
  packages/utilities/src/utilities/featureflag/__tests__/featureflag.test.js
  packages/utilities/src/utilities/featureflag/__tests__/featureflag_override.test.js
  packages/utilities/src/utilities/featureflag/featureflag.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(footer): add navigation prop to footer
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): skipping focusing hidden elements
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(fonts): seperating fonts.scss file from global imports
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Masthead/README.md
  packages/styles/README.md
  packages/styles/scss/globals/_fonts.scss
  packages/styles/scss/globals/_imports.scss
Due: prettier --write

fix(footer): add to readme and be able to turn of custom navigation
  packages/react/src/components/Footer/README.md
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(footer): add to readme and be able to turn of custom navigation
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/README.md
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(masthead): add focus on search button after close
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(fonts): adding font import to missing files
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/Footer/__stories__/Footer.stories.js
  packages/react/src/components/HorizontalRule/__stories__/HorizontalRule.stories.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/footer/index.scss
  packages/styles/scss/components/horizontalrule/_horizontalrule.scss
  packages/styles/scss/components/masthead/index.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(husky): fixed reference for prettier and stylelint check
  .lintstagedrc
Due: none

fix(stylelint): various stylelint fixes
  .lintstagedrc
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/listsection/_listsection-group.scss
  packages/styles/scss/patterns/listsection/_listsection-item.scss
  packages/styles/scss/patterns/listsection/_listsection.scss
Due: none

fix: updated sass formatting
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
  packages/styles/scss/patterns/simplelongform/index.scss
  yarn.lock
Due: none

fix(patterns): fixed ci-check build issues for listsection
  packages/patterns-react/src/patterns/ListSection/ListSectionItem.js
  packages/styles/scss/patterns/listsection/_listsection-item.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(component): add locale modal component
  packages/react/src/components/Footer/LocaleButton.js
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LocaleModal/LocaleModal.js
  packages/react/src/components/LocaleModal/__stories__/LocaleModal.stories.js
  packages/react/src/components/LocaleModal/index.js
  packages/react/src/components/index.js
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(footer): add navigation prop to be passed into Dotcomshell
  packages/react/src/components/DotcomShell/DotcomShell.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(footer): pass params to the translationapi and small lint changes
  .yarn/offline-mirror/react-dom-16.11.0.tgz
  .yarn/offline-mirror/scheduler-0.17.0.tgz
  packages/react/package.json
  packages/react/src/internal/keyboard/index.js
  packages/services/src/services/MarketingSearch/index.js
  packages/services/src/services/Translation/Translation.js
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(jest): fix tests
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/services/src/services/Translation/__tests__/Translation.test.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(readme): update footer readme for ssr
  packages/react/src/components/Footer/README.md
Due: prettier --write

fix(translation): fix undefined lc error
  packages/services/src/services/Translation/Translation.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(readme): update readme
  packages/react/src/components/Footer/README.md
Due: prettier --write

fix(lang-footer): return the lang attr
  packages/services/src/services/Locale/Locale.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(lang): dispatch correct action type
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(layout): added Layout in index export
  packages/react/src/components/index.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(build): update main fields (#163)
  packages/carbon-web-components/package.json
Due: none

docs(planning): add i6 plan (#162)
  packages/carbon-web-components/README.md
  packages/carbon-web-components/plans/i6.md
Due: prettier --write

fix(search-input): set correct key in actions
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(storybook-knobs): move knobs within the add scope
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(storybook): update knob title to be more clear
  packages/react/src/components/Footer/__stories__/Footer.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(fonts): moving carbon font imports, adding instructions to readmes
  packages/patterns-react/.storybook/_container.scss
  packages/patterns-react/src/patterns/LeadSpace/README.md
  packages/patterns-react/src/patterns/ListSection/README.md
  packages/patterns-react/src/patterns/SimpleLongForm/README.md
  packages/react/.storybook/_container.scss
  packages/react/src/components/ButtonGroup/README.md
  packages/react/src/components/CardLink/README.md
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/ExpressiveModal/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Layout/README.md
  packages/react/src/components/LinkWithIcon/README.md
  packages/react/src/components/Masthead/README.md
  packages/styles/scss/globals/_imports.scss
Due: prettier --write

chore(publish): added patch rc.0 script
  tasks/publish.sh
Due: none
