Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

test(link-list): add e2e storybook cypress tests
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(analytics-video): fixed executionpath to expect mediaid
  packages/services/src/services/Analytics/Analytics.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-item-horizontal): write featured media tests (#7269)
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
  packages/web-components/tests/snapshots/dds-content-item-horizontal.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-item-horizontal): add featured media variant (#7269)
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
  packages/web-components/src/components/content-item-horizontal/content-item-horizontal-media-featured.ts
  packages/web-components/src/components/content-item-horizontal/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-item-horizontal): document featured media variant (#7269)
  packages/web-components/examples/codesandbox/components/content-item-horizontal/cdn.html
  packages/web-components/examples/codesandbox/components/content-item-horizontal/index.html
  packages/web-components/src/components/content-item-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item-horizontal/__tests__/content-item-horizontal.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-item-horizontal): properly align videos (#7269)
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(player-analytics): mediacenter-ctas metrics
  packages/services/src/services/Analytics/Analytics.js
  packages/services/src/services/KalturaPlayer/KalturaPlayer.js
  packages/services/src/services/KalturaPlayer/__tests__/KalturaPlayer.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(kaltura-service): bumping coverage over thumbnail service
  packages/services/src/services/KalturaPlayer/__tests__/KalturaPlayer.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(link-list): screenshots for react
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(kaltura-service): bumping coverage over media duration
  packages/services/src/services/KalturaPlayer/__tests__/KalturaPlayer.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-10.0.0.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  yarn.lock
Due: none

feat(kaltura-service): metrics draft
  packages/services/src/services/KalturaPlayer/KalturaPlayer.js
  packages/services/src/services/KalturaPlayer/__tests__/KalturaPlayer.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(ci): fix the yarn offline action (#796)
  packages/carbon-web-components/.github/workflows/dependabot-yarn-mirror.yml
Due: none

Revert "chore: make the forks check dynamic (#753)" (#789)
  packages/carbon-web-components/.github/workflows/percy-update-base.yml
  packages/carbon-web-components/.github/workflows/publish.yml
Due: none

fix(feature-card): correct icon display in Safari (#7575)
  packages/web-components/src/components/feature-card/feature-card-footer.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta-section): remove changes to non-sm breakpoints
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): adjust spacing on heading and copy
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): correct bottom border and padding
  packages/web-components/src/components/cta-block/cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): adjust heading and leading spacing
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): add hr to sm, spacing adjustments
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): add hr styling
  packages/web-components/src/components/cta-block/cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): more spacing adjustments
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): remove bottom padding on item row
  packages/web-components/src/components/cta-block/cta-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta-section): even more spacing adjustments
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/cta-section/cta-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-item-horizontal): make feedback adjustments (#7269)
  packages/styles/scss/components/content-item-horizontal-media/_content-item-horizontal-media.scss
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-item-horizontal): minor updates to knobs (#7269)
  packages/web-components/src/components/content-item-horizontal/__stories__/content-item-horizontal.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(masthead): active l1 selection seen on load
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(masthead): ran prettier
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(leadspace & button group): add print friendly styles (#7608)
  packages/styles/scss/components/buttongroup/_buttongroup.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/button/button.ts
  packages/web-components/tests/snapshots/dds-button-group.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card): move dds-image-logo to /card based on feedback
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/image-logo.ts
  packages/web-components/src/components/card/index.ts
  packages/web-components/src/components/image/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(TOC): remove layout component and align styles with wc
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/web-components/src/components/table-of-contents/table-of-contents.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(link-list): create new util
  packages/react/tests/e2e-storybook/cypress/integration/LinkList/LinkList.e2e.js
  packages/react/tests/utils/get-css-property-for-rule.js
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/link-list.e2e.js
  packages/web-components/tests/utils/get-css-property-for-rule.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(github-actions): add renovate[bot] to dco allowlist
  .github/workflows/dco.yml
Due: none

chore(deps): add renovate.json
  renovate.json
Due: none

feat(TOC): remove Layout component
  packages/react/src/components/TableOfContents/TableOfContents.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
