Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

fix(toc): centering clicked tabs in mobile (#12209)
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~a0cae88c.5057332a.iframe.bundle.js
  canary/web-components-experimental/main~a0cae88c.68aa0330.iframe.bundle.js
  canary/web-components-experimental/main~a0cae88c.68aa0330.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~a0cae88c.7f41a177.iframe.bundle.js
  canary/web-components-react/main~a0cae88c.9bc5beb3.iframe.bundle.js
  canary/web-components-react/main~a0cae88c.9bc5beb3.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~a0cae88c.5057332a.iframe.bundle.js
  canary/web-components-rtl/main~a0cae88c.68aa0330.iframe.bundle.js
  canary/web-components-rtl/main~a0cae88c.68aa0330.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~a0cae88c.5057332a.iframe.bundle.js
  canary/web-components/main~a0cae88c.68aa0330.iframe.bundle.js
  canary/web-components/main~a0cae88c.68aa0330.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-l1): fix unwanted item highlighting
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(masthead-l1): slight refactoring
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-l1): fix unwanted item highlighting (#12212)
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~976628c2.143e169d.iframe.bundle.js
  canary/web-components-experimental/main~976628c2.143e169d.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~976628c2.14977e13.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~040a3e68.11b3ca0c.iframe.bundle.js
  canary/web-components-react/main~040a3e68.b25a4382.iframe.bundle.js
  canary/web-components-react/main~040a3e68.b25a4382.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~976628c2.143e169d.iframe.bundle.js
  canary/web-components-rtl/main~976628c2.143e169d.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~976628c2.14977e13.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~976628c2.143e169d.iframe.bundle.js
  canary/web-components/main~976628c2.143e169d.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~976628c2.14977e13.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Merge Feature - gutters (#12213)
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block-paragraph): fixing the logic to hide the component when no copy
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-paragraph): ran yarn format to fix ci tests
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-paragraph): fixing the logic to hide the component … (#12214)
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/main~3584125e.1f54d4f4.iframe.bundle.js
  next/web-components-react/main~3584125e.1f54d4f4.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~3584125e.5fb18ed5.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-react/vendors~main~a353122d.9decfdc7.iframe.bundle.js
  next/web-components-react/vendors~main~a353122d.e7f5cb97.iframe.bundle.js
  next/web-components-react/vendors~main~a353122d.e7f5cb97.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/iframe.html
  next/web-components-rtl/main~3584125e.29cfade8.iframe.bundle.js
  next/web-components-rtl/main~3584125e.29cfade8.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~3584125e.6022b0f9.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components-rtl/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  next/web-components-rtl/vendors~main~a353122d.0487b9cb.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/vendors~main~a353122d.f227641f.iframe.bundle.js
  next/web-components/iframe.html
  next/web-components/main~3584125e.29cfade8.iframe.bundle.js
  next/web-components/main~3584125e.29cfade8.iframe.bundle.js.LICENSE.txt
  next/web-components/main~3584125e.6022b0f9.iframe.bundle.js
  next/web-components/project.json
  next/web-components/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  next/web-components/vendors~main~a353122d.0487b9cb.iframe.bundle.js.LICENSE.txt
  next/web-components/vendors~main~a353122d.f227641f.iframe.bundle.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~3584125e.46d6d9f0.iframe.bundle.js
  canary/web-components-experimental/main~3584125e.46d6d9f0.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~3584125e.69f07585.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-experimental/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  canary/web-components-experimental/vendors~main~a353122d.0487b9cb.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/vendors~main~a353122d.f227641f.iframe.bundle.js
  canary/web-components-react/iframe.html
  canary/web-components-react/main~3584125e.84ff9f90.iframe.bundle.js
  canary/web-components-react/main~3584125e.8825fc8b.iframe.bundle.js
  canary/web-components-react/main~3584125e.8825fc8b.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-react/vendors~main~a353122d.9decfdc7.iframe.bundle.js
  canary/web-components-react/vendors~main~a353122d.e7f5cb97.iframe.bundle.js
  canary/web-components-react/vendors~main~a353122d.e7f5cb97.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~3584125e.46d6d9f0.iframe.bundle.js
  canary/web-components-rtl/main~3584125e.46d6d9f0.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~3584125e.69f07585.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components-rtl/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  canary/web-components-rtl/vendors~main~a353122d.0487b9cb.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/vendors~main~a353122d.f227641f.iframe.bundle.js
  canary/web-components/iframe.html
  canary/web-components/main~3584125e.46d6d9f0.iframe.bundle.js
  canary/web-components/main~3584125e.46d6d9f0.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~3584125e.69f07585.iframe.bundle.js
  canary/web-components/project.json
  canary/web-components/vendors~main~a353122d.0487b9cb.iframe.bundle.js
  canary/web-components/vendors~main~a353122d.0487b9cb.iframe.bundle.js.LICENSE.txt
  canary/web-components/vendors~main~a353122d.f227641f.iframe.bundle.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v2.17.1
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/main~493df0b3.07e27237.iframe.bundle.js
  next/web-components-react/main~493df0b3.07e27237.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~493df0b3.eb4b08bb.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/main~493df0b3.20c85d2a.iframe.bundle.js
  next/web-components-rtl/main~493df0b3.20c85d2a.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~493df0b3.d96b702d.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/main~493df0b3.7d31194a.iframe.bundle.js
  next/web-components/main~493df0b3.7d31194a.iframe.bundle.js.LICENSE.txt
  next/web-components/main~493df0b3.c2f43507.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~493df0b3.7d31194a.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.7d31194a.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~493df0b3.c2f43507.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~493df0b3.07e27237.iframe.bundle.js
  canary/web-components-react/main~493df0b3.07e27237.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~493df0b3.eb4b08bb.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~493df0b3.20c85d2a.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.20c85d2a.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~493df0b3.d96b702d.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~493df0b3.7d31194a.iframe.bundle.js
  canary/web-components/main~493df0b3.7d31194a.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~493df0b3.c2f43507.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.6e91aedde6da4e72e68f.manager.bundle.js
  next/web-components-react/main.befa2d553f16b90fc596.manager.bundle.js
  next/web-components-react/main~c98f95f3.6f140f72.iframe.bundle.js
  next/web-components-react/main~c98f95f3.b9f267e9.iframe.bundle.js
  next/web-components-react/main~c98f95f3.b9f267e9.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.a79c509ab9f7f93a535a.manager.bundle.js
  next/web-components-rtl/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.5c634d57.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.5c634d57.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.e9093c94.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.a79c509ab9f7f93a535a.manager.bundle.js
  next/web-components/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  next/web-components/main~c98f95f3.5c634d57.iframe.bundle.js
  next/web-components/main~c98f95f3.5c634d57.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.e9093c94.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.a79c509ab9f7f93a535a.manager.bundle.js
  canary/web-components-experimental/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.5c634d57.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.5c634d57.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c98f95f3.e9093c94.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.6e91aedde6da4e72e68f.manager.bundle.js
  canary/web-components-react/main.befa2d553f16b90fc596.manager.bundle.js
  canary/web-components-react/main~c98f95f3.6f140f72.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.b9f267e9.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.b9f267e9.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.a79c509ab9f7f93a535a.manager.bundle.js
  canary/web-components-rtl/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.5c634d57.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.5c634d57.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c98f95f3.e9093c94.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.a79c509ab9f7f93a535a.manager.bundle.js
  canary/web-components/main.b3a13e6d3ed6eb2dec4d.manager.bundle.js
  canary/web-components/main~c98f95f3.5c634d57.iframe.bundle.js
  canary/web-components/main~c98f95f3.5c634d57.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c98f95f3.e9093c94.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card): space gutters for mobile
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-group-cards-item): add gutters for mobile
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card): replicate v1 hover behavior
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card): fix card with pictogram on top
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card): replicate v1 hover behavior (#12218)
  packages/styles/scss/components/card/_card.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-block): switching margin with padding
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-group-cards-item): add gutters for mobile (#12217)
  packages/styles/scss/components/card/_card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-item-row-media): image first then text on mobile
  packages/styles/scss/components/content-item-row-media/_content-item-row-media.scss
  packages/web-components/src/components/content-item-row/content-item-row-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-item-row-media): outdent image to screen edge on mobile
  packages/styles/scss/components/content-item-row-media/_content-item-row-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
