Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(callout-quote): update snapshots
  packages/web-components/tests/snapshots/c4d-callout-quote.md
Due: prettier --write

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(percy): remove cwc snapshots for now
  .github/workflows/percy-update-base.yml
Due: none

feat(callout-quote): simplify part names
  packages/web-components/src/components/callout-quote/callout-quote.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(percy): disable stories that are timing out
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/button/__stories__/button.stories.ts
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/content-item-row/__stories__/content-item-row.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
  packages/web-components/src/components/global-banner/__stories__/global-banner.stories.ts
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): remove duplicate param
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card): adning shadow parts
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card): refreshed the snapshots
  packages/web-components/tests/snapshots/c4d-callout-with-media.md
  packages/web-components/tests/snapshots/c4d-card-in-card.md
  packages/web-components/tests/snapshots/c4d-card.md
  packages/web-components/tests/snapshots/c4d-content-block-cards.md
  packages/web-components/tests/snapshots/c4d-content-block-headlines.md
  packages/web-components/tests/snapshots/c4d-content-block-horizontal.md
  packages/web-components/tests/snapshots/c4d-content-block-media.md
  packages/web-components/tests/snapshots/c4d-content-block-segmented.md
  packages/web-components/tests/snapshots/c4d-content-block-simple.md
  packages/web-components/tests/snapshots/c4d-content-group-cards.md
  packages/web-components/tests/snapshots/c4d-content-group-simple.md
  packages/web-components/tests/snapshots/c4d-cta-block.md
  packages/web-components/tests/snapshots/c4d-feature-card.md
  packages/web-components/tests/snapshots/c4d-in-page-banner.md
  packages/web-components/tests/snapshots/c4d-search-with-typeahead.md
Due: prettier --write

feat(masthead): use more visible box shadow (#11793)
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(structured-list): enable custom max-cols value
  packages/styles/scss/components/structured-list/_structured-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(masthead-v2): get latest from alpha dev into alpha release (#11803)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(percy): update config and story snapshots (#11801)
  .github/workflows/percy-update-base.yml
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/background-media/__stories__/background-media.stories.ts
  packages/web-components/src/components/button/__stories__/button.stories.ts
  packages/web-components/src/components/callout-with-media/__stories__/callout-with-media.stories.ts
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-group-simple/__stories__/content-group-simple.stories.ts
  packages/web-components/src/components/content-item-row/__stories__/content-item-row.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
  packages/web-components/src/components/global-banner/__stories__/global-banner.stories.ts
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/logo-grid/__stories__/logo-grid.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

feat(menu): focus item via Keydown
  packages/carbon-web-components/src/components/menu/menu.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(parent-visibility): Make changes for v2 (#11797)
  packages/web-components/src/component-mixins/parent-visibility/parent-visibility.ts
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/cta-block/cta-block.scss
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(back-to-top): using a better name for the part attribute
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(background-shadow): changing part names to be more consistent
  packages/web-components/src/components/background-media/background-media.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card): ran yarn format
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(background-shadow): updating Snapshots
  packages/web-components/tests/snapshots/c4d-background-media.md
Due: prettier --write

feat(content-group-cards): update unit test snapshots
  packages/web-components/tests/snapshots/c4d-callout-with-media.md
  packages/web-components/tests/snapshots/c4d-content-block-cards.md
  packages/web-components/tests/snapshots/c4d-content-block-headlines.md
  packages/web-components/tests/snapshots/c4d-content-block-horizontal.md
  packages/web-components/tests/snapshots/c4d-content-block-media.md
  packages/web-components/tests/snapshots/c4d-content-block-segmented.md
  packages/web-components/tests/snapshots/c4d-content-block-simple.md
  packages/web-components/tests/snapshots/c4d-content-group-cards.md
  packages/web-components/tests/snapshots/c4d-content-group-simple.md
  packages/web-components/tests/snapshots/c4d-cta-block.md
  packages/web-components/tests/snapshots/c4d-in-page-banner.md
  packages/web-components/tests/snapshots/c4d-search-with-typeahead.md
Due: prettier --write

feat(content-item): add shadow parts
  packages/web-components/src/components/content-item/content-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-group-cards): add shadowparts (#11795)
  packages/web-components/src/components/content-group-cards/content-group-cards.ts
  packages/web-components/tests/snapshots/c4d-callout-with-media.md
  packages/web-components/tests/snapshots/c4d-content-block-cards.md
  packages/web-components/tests/snapshots/c4d-content-block-headlines.md
  packages/web-components/tests/snapshots/c4d-content-block-horizontal.md
  packages/web-components/tests/snapshots/c4d-content-block-media.md
  packages/web-components/tests/snapshots/c4d-content-block-segmented.md
  packages/web-components/tests/snapshots/c4d-content-block-simple.md
  packages/web-components/tests/snapshots/c4d-content-group-cards.md
  packages/web-components/tests/snapshots/c4d-content-group-simple.md
  packages/web-components/tests/snapshots/c4d-cta-block.md
  packages/web-components/tests/snapshots/c4d-in-page-banner.md
  packages/web-components/tests/snapshots/c4d-search-with-typeahead.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(background-media): add shadow parts to bg-media (#11798)
  packages/web-components/src/components/background-media/background-media.ts
  packages/web-components/tests/snapshots/c4d-background-media.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(back-to-top): add shadow part (#11796)
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(callout-quote): add shadow parts (#11800)
  packages/web-components/src/components/callout-quote/callout-quote.ts
  packages/web-components/tests/snapshots/c4d-callout-quote.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(structured-list) stylelint
  packages/styles/scss/components/structured-list/_structured-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(carousel): add shadowparts
  packages/web-components/src/components/carousel/carousel.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
