Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(DotcomShell): update story with latest patterns
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(SimpleOverview): remove SimpleOverview pattern
  packages/react/src/patterns/sections/SimpleOverview/README.stories.mdx
  packages/react/src/patterns/sections/SimpleOverview/SimpleOverview.js
  packages/react/src/patterns/sections/SimpleOverview/__stories__/SimpleOverview.stories.js
  packages/react/src/patterns/sections/SimpleOverview/index.js
  packages/react/src/patterns/sections/index.js
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/sections/simpleoverview/README.md
  packages/styles/scss/patterns/sections/simpleoverview/_simpleoverview.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(html): invalid html
  packages/react/src/components/Footer/LegalNav.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

fix(LearnPageSpacing): styling to content-block-mixed
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card-section-images): added codesandbox implementation
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/index.html
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/package.json
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/src/index.js
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/src/styles.scss
  packages/react/src/patterns/sections/CardSectionImages/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LightboxMediaViewer): have image appear on mobile landscape
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(CardSectionImages): added codesandbox implementation (#2804)
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/index.html
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/package.json
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/src/index.js
  packages/react/examples/codesandbox/patterns/sections/CardSectionImages/src/styles.scss
  packages/react/src/patterns/sections/CardSectionImages/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LanguageSelector): empty placeholder string added
  packages/react/src/components/Footer/LanguageSelector.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(content-block-simple): added codesandbox example implementation
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/src/styles.scss
  packages/react/src/patterns/blocks/ContentBlockSimple/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(storyshot): snapshot update
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

feat(content-block-segmented): added codesandbox example implementation
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/src/styles.scss
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-block-segmented): added codesandbox example implementation
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/package.json
Due: none

feat(ButtonGroup): added line-height style
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(accessibility): add main content id; fixes #2664
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): use relative imports
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/data/content.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(storyshoot): snapshot update
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(DotcomShell): use current patterns for Storybook content
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/DotcomShell/__stories__/DotcomShell.stories.js
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/Footer/LegalNav.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): use latest version
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/package.json
Due: none

chore(deps): use latest version
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/package.json
Due: none

fix(LightboxMediaViewer): set lightbox image to full width and height
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-block-mixed): added codesandbox example implementation
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockMixed/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockMixed/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockMixed/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockMixed/src/styles.scss
  packages/react/src/patterns/blocks/ContentBlockMixed/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(ContentBlockMixed): adjusted margin-top
  packages/styles/scss/patterns/blocks/content-block-mixed/_content-block-mixed.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(ContentBlockSimple): added codesandbox example implementation (#2806)
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSimple/src/styles.scss
  packages/react/src/patterns/blocks/ContentBlockSimple/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deps): use latest version
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockMixed/package.json
Due: none

fix(LanguageSelector): placeholder prop added (#2807)
  packages/react/src/components/Footer/LanguageSelector.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

link with icon changes
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/Card/__stories__/Card.stories.js
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/Quote/Quote.js
  packages/react/src/components/Quote/__stories__/Quote.stories.js
  packages/react/src/patterns/sections/SimpleBenefits/SimpleBenefitsItem.js
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linkwithicon): format and snapshot update
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/CTA/TextCTA.js
  packages/react/src/components/Card/Card.js
  packages/react/src/components/LinkWithIcon/LinkWithIcon.js
  packages/react/src/components/LinkWithIcon/README.stories.mdx
  packages/react/src/components/LinkWithIcon/__stories__/LinkWithIcon.stories.js
  packages/react/src/components/Quote/Quote.js
  packages/react/src/patterns/sections/SimpleBenefits/SimpleBenefitsItem.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(styles): new experimental flag for expressive theme
  packages/styles/.storybook/_container.scss
  packages/styles/scss/globals/_feature-flags.scss
  packages/styles/scss/themes/expressive/README.md
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linkwithicon): build fix
  packages/react/src/components/Card/Card.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(ContentBlockSegmented): added codesandbox example implementation (#2808)
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/index.html
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/package.json
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/src/index.js
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockSegmented/src/styles.scss
  packages/react/src/patterns/blocks/ContentBlockSegmented/README.stories.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LogoGrid): updated border code, CTA margin fix
  packages/react/src/patterns/blocks/LogoGrid/LogoGrid.js
  packages/styles/scss/patterns/blocks/logo-grid/_logo-grid.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(LogoGrid): updated snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(LogoGrid): updating snapshots
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

feat(styles): support container tokens in expressive theme (#2790)
  packages/styles/.storybook/_container.scss
  packages/styles/.storybook/webpack.config.js
  packages/styles/package.json
  packages/styles/scss/globals/_feature-flags.scss
  packages/styles/scss/themes/expressive/README.md
  packages/styles/scss/themes/expressive/_tokens.scss
  packages/styles/scss/themes/expressive/components/_accordion.scss
  packages/styles/scss/themes/expressive/components/_button.scss
  packages/styles/scss/themes/expressive/components/_data-table.scss
  packages/styles/scss/themes/expressive/components/_structured-list.scss
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/components/_tile.scss
  packages/styles/scss/themes/expressive/index.scss
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(LogoGrid): updated snapshots
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(ButtonGroup): vertical alignment for word wrap
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/styles/scss/components/buttongroup/_buttongroup.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(npm): make package private
  packages/react/examples/codesandbox/patterns/blocks/ContentBlockMixed/package.json
Due: none

style(Quote): quotation mark spacing fix
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.js) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
