Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/iframe.html
  v1/next/carbon-web-components/main.729e6f32.iframe.bundle.js
  v1/next/carbon-web-components/main.729e6f32.iframe.bundle.js.map
  v1/next/carbon-web-components/main.e40d4afe.iframe.bundle.js
  v1/next/carbon-web-components/main.e40d4afe.iframe.bundle.js.LICENSE.txt
  v1/next/carbon-web-components/main.e40d4afe.iframe.bundle.js.map
  v1/next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(rtl): add wc storybook rtl cmd back in for testing
  packages/web-components/package.json
Due: none

chore(slug): doc update & safari data-table fix
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-expandable.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/modal/modal-story.scss
  packages/carbon-web-components/src/components/slug/slug-data-table-story.mdx
  packages/carbon-web-components/src/components/slug/slug-data-table-story.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.mdx
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-form-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): support all CMaaS CTA types for L1 CTA (#11597)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

fix(data-table): move examples up
  packages/carbon-web-components/src/components/slug/slug-data-table-story.mdx
Due: none

fix(data-table): remove props
  packages/carbon-web-components/src/components/slug/slug-data-table-story.mdx
Due: none

fix(slug): examples move to top
  packages/carbon-web-components/src/components/slug/slug-story.mdx
Due: none

feat(masthead): support all CMaaS CTA types for L1 CTA (#11597)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

refactor(toc): simplify toc sticky logic
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(rtl): add wc storybook rtl cmd back in for testing (#11618)
  packages/web-components/package.json
Due: none

fix(masthead-v2): replace icon that doesn't exist in earlier carbon version
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(main): revert masthead updates
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__tests__/masthead-composite.test.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/project.json
Due: none

fix(main): revert masthead updates
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead-v2): fix prefixes
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(slug): doc update & safari data-table fix (#11619)
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-expandable.scss
  packages/carbon-web-components/src/components/data-table/_table-selection.scss
  packages/carbon-web-components/src/components/modal/modal-story.scss
  packages/carbon-web-components/src/components/slug/slug-data-table-story.mdx
  packages/carbon-web-components/src/components/slug/slug-data-table-story.ts
  packages/carbon-web-components/src/components/slug/slug-example-story.mdx
  packages/carbon-web-components/src/components/slug/slug-example-story.ts
  packages/carbon-web-components/src/components/slug/slug-form-story.ts
  packages/carbon-web-components/src/components/slug/slug-story.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/project.json
  next/web-components-rtl/project.json
  next/web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(masthead-v2): cherry-pick features from main (#11620)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tabs-extended): adding ability to open and close tabs
  packages/web-components/src/components/tabs-extended/tab.ts
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(masthead-v2): get latest from alpha dev into alpha release (#11622)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/defs.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1-cta.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pricing-table): increasing annotation toggle touch area
  packages/styles/scss/components/pricing-table/_pricing-table.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
