Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

fix(leadspace-gradient): adjust webpack config to allow rtlcss to process directives
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(carbon-element): use carbon element decorator (#11719)
  packages/carbon-web-components/src/components/accordion/accordion-item-skeleton.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/carbon-web-components/src/components/button/button-set-base.ts
  packages/carbon-web-components/src/components/button/button-set.ts
  packages/carbon-web-components/src/components/checkbox/checkbox-skeleton.ts
  packages/carbon-web-components/src/components/data-table/table-cell-content.ts
  packages/carbon-web-components/src/components/data-table/table-header-description.ts
  packages/carbon-web-components/src/components/data-table/table-header-title.ts
  packages/carbon-web-components/src/components/file-uploader/file-uploader-skeleton.ts
  packages/carbon-web-components/src/components/modal/modal-body-content.ts
  packages/carbon-web-components/src/components/notification/actionable-notification-button.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-content.ts
  packages/carbon-web-components/src/components/ui-shell/switcher-divider.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v2.8.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace-gradient): temp remove cache-loader to force recompile static rtl
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.07cef2f0502d8f67e75c.manager.bundle.js
  canary/web-components-experimental/main.68dc36abe2942fe24ec5.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.3cf2d13f.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.970ae58d.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.970ae58d.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.6931d4a003211c02b546.manager.bundle.js
  canary/web-components-react/main.9e5b157936c7cf40aa6c.manager.bundle.js
  canary/web-components-react/main~c98f95f3.45149a92.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.45149a92.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.b6c93929.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.07cef2f0502d8f67e75c.manager.bundle.js
  canary/web-components-rtl/main.68dc36abe2942fe24ec5.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.3cf2d13f.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.970ae58d.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.970ae58d.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.07cef2f0502d8f67e75c.manager.bundle.js
  canary/web-components/main.68dc36abe2942fe24ec5.manager.bundle.js
  canary/web-components/main~c98f95f3.3cf2d13f.iframe.bundle.js
  canary/web-components/main~c98f95f3.970ae58d.iframe.bundle.js
  canary/web-components/main~c98f95f3.970ae58d.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.6931d4a003211c02b546.manager.bundle.js
  next/web-components-react/main.9e5b157936c7cf40aa6c.manager.bundle.js
  next/web-components-react/main~c98f95f3.45149a92.iframe.bundle.js
  next/web-components-react/main~c98f95f3.45149a92.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.b6c93929.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.07cef2f0502d8f67e75c.manager.bundle.js
  next/web-components-rtl/main.68dc36abe2942fe24ec5.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.3cf2d13f.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.970ae58d.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.970ae58d.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.07cef2f0502d8f67e75c.manager.bundle.js
  next/web-components/main.68dc36abe2942fe24ec5.manager.bundle.js
  next/web-components/main~c98f95f3.3cf2d13f.iframe.bundle.js
  next/web-components/main~c98f95f3.970ae58d.iframe.bundle.js
  next/web-components/main~c98f95f3.970ae58d.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

Revert "fix(leadspace-gradient): temp remove cache-loader to force recompile static rtl"
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace-gradient): temp set invalid cache to force rebuild
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Revert "fix(leadspace-gradient): temp set invalid cache to force rebuild"
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace-gradient): use closig tags for stops
  packages/web-components/src/components/leadspace/leadspace.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Revert "fix(leadspace-gradient): adjust webpack config to allow rtlcss to process directives"
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(prettier): format code
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav-story.ts
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(pagination-nav): add component (#11697)
  packages/carbon-web-components/src/components/pagination-nav/docs/overview.mdx
  packages/carbon-web-components/src/components/pagination-nav/index.ts
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav-story.mdx
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav-story.ts
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav.scss
  packages/carbon-web-components/src/components/pagination-nav/pagination-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): be explicit about svg closing tags (#11696)
  packages/web-components/src/components/leadspace/leadspace.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(sticky-header): simplify toc maxScrollaway logic
  packages/utilities/src/utilities/StickyHeader/StickyHeader.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(settings): update settings to v1.58.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Carbon web components v1 next to GitHub Pages
  v1/next/carbon-web-components/iframe.html
  v1/next/carbon-web-components/main.576bb135.iframe.bundle.js
  v1/next/carbon-web-components/main.576bb135.iframe.bundle.js.LICENSE.txt
  v1/next/carbon-web-components/main.576bb135.iframe.bundle.js.map
  v1/next/carbon-web-components/main.ad53061e.iframe.bundle.js
  v1/next/carbon-web-components/main.ad53061e.iframe.bundle.js.map
  v1/next/carbon-web-components/project.json
  v1/next/carbon-web-components/vendors~main.1388afe2.iframe.bundle.js
  v1/next/carbon-web-components/vendors~main.1388afe2.iframe.bundle.js.map
  v1/next/carbon-web-components/vendors~main.7cd73319.iframe.bundle.js
  v1/next/carbon-web-components/vendors~main.7cd73319.iframe.bundle.js.LICENSE.txt
  v1/next/carbon-web-components/vendors~main.7cd73319.iframe.bundle.js.map
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
