Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(test-component): component created
  packages/web-components/src/components/cta-block/__stories__/cta-block.stories.ts
  packages/web-components/src/components/cta-block/cta-block.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-headlines): same height using CSS grid (#5319)
  packages/react/src/components/ContentBlockHeadlines/ContentBlockHeadlines.js
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): keep back button fixed in place upon scroll (#5296)
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(integration-bundle): locking dependency versions for React package
  packages/react/package.json
  yarn.lock
Due: none

feat(videoPlayer): aspect ratio support (#5310)
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): remove dotcom-shell-container from react story
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(link-with-icon): update styles (#5325)
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(logo-grid): updated logo padding to match non-gutter grid
  packages/styles/scss/components/logo-grid/_logo-grid.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leavingIbm): max height limit to modal in landscape (#5331)
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(video-player): remove usage of React classnames
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(video-player): classMap usage fix
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-section-carousel): add generate react custom element
  packages/web-components/src/components/card-section-carousel/card-section-carousel.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(video-player): remove usage of React classnames (#5343)
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(leadspace-block): align to non-gutter grid
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/web-components/src/components/leadspace-block/__stories__/leadspace-block.stories.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/tests/snapshots/dds-leadspace-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-section-carousel): update component and styles (#5299)
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.react.tsx
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.scss
  packages/web-components/src/components/card-section-carousel/__stories__/card-section-carousel.stories.ts
  packages/web-components/src/components/card-section-carousel/card-section-carousel.scss
  packages/web-components/src/components/card-section-carousel/card-section-carousel.ts
  packages/web-components/src/components/content-section/content-section.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(services): support REACT_APP_PROFILE_HOST
  packages/services/src/services/Profile/Profile.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(component): use HostListener mixin instead of onscroll
  packages/web-components/examples/codesandbox/components/back-to-top/index.html
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.react.tsx
  packages/web-components/src/components/back-to-top/__stories__/data/content.tsx
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(integration-bundle): locking dependency versions for csb examples
  packages/react/examples/codesandbox/components/DotcomShell/package.json
  packages/react/examples/codesandbox/components/Footer/package.json
  packages/react/examples/codesandbox/components/Masthead/package.json
Due: none

test branch for presentation
  packages/web-components/src/components/test-component/__stories__/README.stories.mdx
  packages/web-components/src/components/test-component/__stories__/test-component.stories.ts
  packages/web-components/src/components/test-component/__tests__/test-component.test.ts
  packages/web-components/src/components/test-component/test-component.scss
  packages/web-components/src/components/test-component/test-component.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linkwithicon): remove inverse styles
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead): add deprecation warning
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(Masthead): add selected menu item style to L1 menu items
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(card-in-card): add init card-in-card component
  packages/storybook-images/assets/320/fpo--4x3--320x160--004.jpg
  packages/styles/scss/components/card-in-card/README.md
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/src/components/card-in-card/__stories__/README.stories.mdx
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-in-card/card-in-card-footer.ts
  packages/web-components/src/components/card-in-card/card-in-card.scss
  packages/web-components/src/components/card-in-card/card-in-card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): edit l1 custom data and pass in selectedmenuitem prop
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(storybook): remove placeholder content from masthead (#5327)
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(test-component): component created
  packages/web-components/src/components/test-component/__stories__/README.stories.mdx
  packages/web-components/src/components/test-component/__stories__/test-component.stories.ts
  packages/web-components/src/components/test-component/__tests__/test-component.test.ts
  packages/web-components/src/components/test-component/test-component.scss
  packages/web-components/src/components/test-component/test-component.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linkwithicon): remove inverse styles (#5350)
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(test-component): component created
  packages/web-components/src/components/test-component/test-component.ts
  packages/web-components/tests/snapshots/dds-test-component.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): change brand-name to platform (#5291)
  packages/web-components/src/components/dotcom-shell/__stories__/dotcom-shell.stories.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(test-component): component created
  packages/web-components/src/components/test-component/test-component.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(logo-grid): using grid-template
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(dependencies): update carbon-web-components
  .yarn/offline-mirror/carbon-web-components-1.11.1.tgz
  .yarn/offline-mirror/carbon-web-components-1.11.2.tgz
  package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix(expressive-modal): remove voiceover focus from close button
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(video-player): misc enhancements/fixes
  packages/web-components/IMPLEMENTATION_NOTES.md
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/video-player/__tests__/video-player-composite.test.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
