Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(test): updated snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(contentblockcards): grid fix
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/patterns/blocks/ContentBlockCards/__stories__/ContentBlockCards.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(Card): border on 4 sides added border on 4 sides of the card as block cta
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(docs): add codesandbox example links to docs
  packages/react/src/components/ButtonGroup/README.stories.mdx
  packages/react/src/components/CTA/README.stories.mdx
  packages/react/src/components/Card/README.stories.mdx
  packages/react/src/components/CardGroup/README.stories.mdx
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/ContentItemHorizontal/README.stories.mdx
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/ExpressiveModal/README.stories.mdx
  packages/react/src/components/FeatureCard/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/ImageWithCaption/README.stories.mdx
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
  packages/react/src/components/LinkList/README.stories.mdx
  packages/react/src/components/LinkWithIcon/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/TableOfContents/README.stories.mdx
  packages/react/src/components/VideoPlayer/README.stories.mdx
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(Image): clean code; fix ImageWithCaption story
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(examples): add Image and ImageWithCaption examples
  packages/react/examples/codesandbox/components/Image/.gitignore
  packages/react/examples/codesandbox/components/Image/index.html
  packages/react/examples/codesandbox/components/Image/package.json
  packages/react/examples/codesandbox/components/Image/src/index.js
  packages/react/examples/codesandbox/components/Image/src/styles.scss
  packages/react/examples/codesandbox/components/ImageWithCaption/.gitignore
  packages/react/examples/codesandbox/components/ImageWithCaption/index.html
  packages/react/examples/codesandbox/components/ImageWithCaption/package.json
  packages/react/examples/codesandbox/components/ImageWithCaption/src/index.js
  packages/react/examples/codesandbox/components/ImageWithCaption/src/styles.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(jest): update storyshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(Codesandbox): add Image examples and docs
  packages/react/examples/codesandbox/components/Image/.gitignore
  packages/react/examples/codesandbox/components/Image/index.html
  packages/react/examples/codesandbox/components/Image/package.json
  packages/react/examples/codesandbox/components/Image/src/index.js
  packages/react/examples/codesandbox/components/Image/src/styles.scss
  packages/react/examples/codesandbox/components/ImageWithCaption/.gitignore
  packages/react/examples/codesandbox/components/ImageWithCaption/index.html
  packages/react/examples/codesandbox/components/ImageWithCaption/package.json
  packages/react/examples/codesandbox/components/ImageWithCaption/src/index.js
  packages/react/examples/codesandbox/components/ImageWithCaption/src/styles.scss
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/components/ButtonGroup/README.stories.mdx
  packages/react/src/components/CTA/README.stories.mdx
  packages/react/src/components/Card/README.stories.mdx
  packages/react/src/components/CardGroup/README.stories.mdx
  packages/react/src/components/CardLink/README.stories.mdx
  packages/react/src/components/ContentItemHorizontal/README.stories.mdx
  packages/react/src/components/DotcomShell/README.stories.mdx
  packages/react/src/components/ExpressiveModal/README.stories.mdx
  packages/react/src/components/FeatureCard/README.stories.mdx
  packages/react/src/components/Footer/README.stories.mdx
  packages/react/src/components/HorizontalRule/README.stories.mdx
  packages/react/src/components/Image/Image.js
  packages/react/src/components/Image/README.stories.mdx
  packages/react/src/components/Image/__stories__/Image.stories.js
  packages/react/src/components/ImageWithCaption/README.stories.mdx
  packages/react/src/components/ImageWithCaption/__stories__/ImageWithCaption.stories.js
  packages/react/src/components/LightboxMediaViewer/README.stories.mdx
  packages/react/src/components/LinkList/README.stories.mdx
  packages/react/src/components/LinkWithIcon/README.stories.mdx
  packages/react/src/components/LocaleModal/README.stories.mdx
  packages/react/src/components/Masthead/README.stories.mdx
  packages/react/src/components/TableOfContents/README.stories.mdx
  packages/react/src/components/VideoPlayer/README.stories.mdx
  packages/styles/scss/components/image-with-caption/image-with-caption.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CalloutQuote): fixed link icon size Icon was having it's size reduced when the text size increases. I added a CSS to make the span with link text fit view minus icon size
  packages/react/src/components/Quote/Quote.js
  packages/styles/scss/components/quote/_quote.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(calloutquote): grid
  packages/styles/scss/patterns/blocks/callout-quote/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(snapshot): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(storybook): adding build static storybook for web components (#2917)
  .github/PULL_REQUEST_TEMPLATE.md
  packages/web-components/.eslintignore
  packages/web-components/package.json
Due: prettier --write

fix(CardLink): grid alignment with ratio
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(CardLink): updated stories
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(CardLink): updated stories
  packages/react/src/components/CardLink/__stories__/CardLink.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(test): fetched snapshot from master
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(dependencies): update internal dependencies
  packages/web-components/package.json
Due: none

fix(Card): image visibility when active or focused image is appearing now even when is active or focused
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(webcomponents): updating package to public
  .yarn/offline-mirror/carbon-components-10.11.0.tgz
  .yarn/offline-mirror/carbon-components-10.14.0.tgz
  packages/web-components/package.json
  yarn.lock
Due: none

fix(webcomponents): updating package to public (#2930)
  .yarn/offline-mirror/carbon-components-10.11.0.tgz
  .yarn/offline-mirror/carbon-components-10.14.0.tgz
  packages/web-components/package.json
  yarn.lock
Due: none

chore(test): better logging
  packages/react/tests/integration/build/dotcomshell_steps.js
  packages/react/tests/integration/build/footer_steps.js
  packages/react/tests/integration/build/masthead_steps.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

style(Card): fixed column number on mobile
  packages/react/src/components/Card/__stories__/Card.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(storyshots): snapshot update
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(FeatureCardBlockMedium): fixed circular dependency
  packages/react/src/patterns/blocks/FeatureCardBlockMedium/FeatureCardBlockMedium.js
  packages/styles/scss/patterns/blocks/feature-card-block-medium/_feature-card-block-medium.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(import): fixed wrong import path
  packages/react/src/patterns/blocks/CalloutData/CalloutData.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.js) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
