Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(publish): adding release automation script (wip)
  tasks/tag-release.sh
Due: none

docs(dependencies): adding dependency notes for versions prior to v1.3.0
  packages/patterns-react/README.md
  packages/react/README.md
  packages/vanilla/README.md
Due: prettier --write

feat(markdown-converter): js docs and defaults corrections
  package.json
  packages/utilities/package.json
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Due: prettier --write, eslint packages

feat(markdown-converter): correct dependency
  packages/utilities/package.json
Due: none

feat(markdown-converter): update js docs example
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Due: prettier --write, eslint packages

feat(markdown-converter): add tag to allow html
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Due: prettier --write, eslint packages

fix(expressive): expressive changes for button and accordion
  packages/styles/scss/themes/expressive/components/_accordion.scss
  packages/styles/scss/themes/expressive/components/_checkbox.scss
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): aligned the link with icon component with flex
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/patterns-react/CHANGELOG.md
  packages/patterns-react/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

fix(component): fixed focus outline style
  packages/styles/scss/components/card-link/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(markdown-converter): just removing extra line
  packages/utilities/src/utilities/markdownToHtml/markdownToHtml.js
Due: prettier --write, eslint packages

refactor(component): rename component name to LightboxMediaViewer
  packages/react/.env.example
  packages/react/src/components/LightboxMediaViewer/LightboxMediaViewer.js
  packages/react/src/components/LightboxMediaViewer/README.md
  packages/react/src/components/LightboxMediaViewer/__stories__/LightboxMediaViewer.stories.js
  packages/react/src/components/LightboxMediaViewer/__stories__/index.scss
  packages/react/src/components/LightboxMediaViewer/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
  packages/styles/scss/ibm-dotcom-styles.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(pattern): cardlink and sameheight utility usage added
  packages/patterns-react/src/patterns/CardArray/CardArray.js
  packages/patterns-react/src/patterns/CardArray/CardArrayItem.js
  packages/patterns-react/src/patterns/CardArray/__stories__/CardArray.stories.js
Due: prettier --write, eslint packages

chore(eslint): add check for order-imports
  packages/eslint-config-ibmdotcom/index.js
Due: prettier --write, eslint packages

fix(pictogram-array): use markdown utility
  packages/patterns-react/src/patterns/PictogramArray/PictogramArrayItem.js
Due: prettier --write, eslint packages

fix(pictogram-array): add example on readme and knobs
  packages/patterns-react/src/patterns/PictogramArray/README.md
  packages/patterns-react/src/patterns/PictogramArray/__stories__/PictogramArray.stories.js
Due: prettier --write, eslint packages

fix(pictogram-array): limit to italic only
  packages/patterns-react/src/patterns/PictogramArray/PictogramArrayItem.js
  packages/patterns-react/src/patterns/PictogramArray/README.md
  packages/patterns-react/src/patterns/PictogramArray/__stories__/PictogramArray.stories.js
Due: prettier --write, eslint packages

feat(component): content-group component created and added to card-array
  packages/patterns-react/src/patterns/CardArray/CardArray.js
  packages/patterns-react/src/patterns/CardArray/__stories__/CardArray.stories.js
  packages/react/src/components/ContentGroup/ContentGroup.js
  packages/react/src/components/ContentGroup/__stories__/ContentArrayGroup.stories.js
  packages/react/src/components/ContentGroup/__stories__/index.scss
  packages/react/src/components/ContentGroup/index.js
  packages/react/src/components/index.js
  packages/react/src/internal/FeatureFlags.js
  packages/styles/scss/components/content-group/_content-group.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/styles/scss/patterns/cardarray/_cardarray.scss
  packages/styles/scss/patterns/cardarray/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(readme): readme added for the content-group component
  packages/patterns-react/src/patterns/CardArray/CardArray.js
Due: prettier --write, eslint packages

feat(readme): readme added for the content-group component
  packages/react/src/components/ContentGroup/ContentGroup.js
  packages/react/src/components/ContentGroup/README.md
  packages/react/src/components/ContentGroup/__stories__/ContentArrayGroup.stories.js
Due: prettier --write, eslint packages

feat(benefits-band): start off main pattern
  packages/patterns-react/.env.example
  packages/patterns-react/src/internal/FeatureFlags.js
  packages/patterns-react/src/patterns/SimpleBenefitsBand/README.md
  packages/patterns-react/src/patterns/SimpleBenefitsBand/SimpleBenefitsBand.js
  packages/patterns-react/src/patterns/SimpleBenefitsBand/SimpleBenefitsBandItem.js
  packages/patterns-react/src/patterns/SimpleBenefitsBand/__stories__/SimpleBenefitsBand.stories.js
  packages/patterns-react/src/patterns/SimpleBenefitsBand/__stories__/index.scss
  packages/patterns-react/src/patterns/SimpleBenefitsBand/index.js
  packages/styles/scss/patterns/simplebenefitsband/README.md
  packages/styles/scss/patterns/simplebenefitsband/_simplebenefitsband-item.scss
  packages/styles/scss/patterns/simplebenefitsband/_simplebenefitsband.scss
  packages/styles/scss/patterns/simplebenefitsband/index.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(scss): aligned footer items to the grid
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(yarn): update to yarn offline mirror
  .yarn/offline-mirror/commander-2.20.3.tgz
  .yarn/offline-mirror/handlebars-4.1.2.tgz
  .yarn/offline-mirror/handlebars-4.5.3.tgz
  .yarn/offline-mirror/uglify-js-3.7.3.tgz
Due: none

fix(expressive): tab expressive theme styles
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.0.tgz
  .yarn/offline-mirror/carbon-components-10.9.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.0.tgz
  packages/styles/package.json
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/index.scss
  yarn.lock
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(release): adding release creation script (wip)
  .gitignore
  tasks/publish.sh
  tasks/tag-release.sh
Due: none

fix(expressive): tile expressive theme styles
  packages/styles/scss/themes/expressive/components/_tile.scss
  packages/styles/scss/themes/expressive/index.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(release): adding release creation script
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
  tasks/publish.sh
  tasks/tag-release.sh
Due: prettier --write, eslint packages

fix(release): pointing to correct repo for tag/release script
  tasks/tag-release.sh
Due: none

chore(expressive): fix the carbon rem mixin name
  packages/styles/scss/components/tableofcontents/_tableofcontents.scss
  packages/styles/scss/themes/expressive/components/_accordion.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(carbon-styles): import global to use carbon--rem
  packages/styles/scss/patterns/cards-without-images/_cards-without-images-group.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(security): updating serialize-javascript in nextjs example
  packages/react/examples/nextjs/package.json
  packages/react/examples/nextjs/yarn.lock
Due: none

fix(feature-flag): fixed content-group feature-flag variable
  packages/react/src/internal/FeatureFlags.js
Due: prettier --write, eslint packages

chore(expressive): revert package version bump
  packages/styles/package.json
  packages/styles/scss/themes/expressive/components/_tabs.scss
  packages/styles/scss/themes/expressive/index.scss
  yarn.lock
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(lint): imports sorted alphabetically
  packages/utilities/src/utilities/markdownToHtml/__tests__/markdownToHtml.js
Due: prettier --write, eslint packages
