Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

feat(structured-list): add shadow parts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
  packages/web-components/src/components/structured-list/structured-list.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(structured-list): add shadow parts
  packages/web-components/src/components/structured-list/structured-list.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(upgrade): upgrade to Carbon 1.59.0 (#11848)
  .yarn/cache/@babel-helper-annotate-as-pure-npm-7.24.7-537c5e8bf3-a9017bfc1c.zip
  .yarn/cache/@babel-helper-compilation-targets-npm-7.23.6-aa6f07f088-05595cd730.zip
  .yarn/cache/@babel-helper-compilation-targets-npm-7.24.7-b6fcad7a45-8f8bc89af7.zip
  .yarn/cache/@babel-helper-create-class-features-plugin-npm-7.24.7-076821f821-8ecb1c2acc.zip
  .yarn/cache/@babel-helper-create-regexp-features-plugin-npm-7.24.7-0bc60f7f63-dd7238af30.zip
  .yarn/cache/@babel-helper-member-expression-to-functions-npm-7.24.7-2f8d2100de-d990752aaf.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.24.7-34219c1829-4f2b232bf6.zip
  .yarn/cache/@babel-helper-optimise-call-expression-npm-7.24.7-59b5fb050d-da7a7f2d1b.zip
  .yarn/cache/@babel-helper-replace-supers-npm-7.24.7-35d1343b26-18b7c37098.zip
  .yarn/cache/@babel-plugin-transform-optional-chaining-npm-7.24.7-b8db6518e6-0835caa8fa.zip
  .yarn/cache/@babel-plugin-transform-parameters-npm-7.24.7-d18b1cfc71-41ff6bda92.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-npm-7.24.7-e626253a5c-422952e034.zip
  .yarn/cache/@carbon-styles-npm-1.58.0-1117376d25-b4dd73035f.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001629-167713d247-3345bbf1f1.zip
  .yarn/cache/electron-to-chromium-npm-1.4.796-f75cc49719-af3c22d0cb.zip
  .yarn/cache/picocolors-npm-1.0.0-d81e0b1927-a2e8092dd8.zip
  .yarn/cache/picocolors-npm-1.0.1-39442f3da8-fa68166d1f.zip
  packages/carbon-web-components/package.json
  packages/styles/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_on_on.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

Update release-schedule.md
  docs/release-schedule.md
Due: prettier --write

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

fix(left-nav): fix focus trapping (#11842)
  packages/carbon-web-components/src/components/ui-shell/side-nav.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/src/components/masthead/megamenu-top-nav-menu.ts
  packages/web-components/tests/snapshots/c4d-left-nav-menu.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(left-nav): focus trapping (#11839)
  packages/carbon-web-components/src/components/ui-shell/side-nav.ts
  packages/web-components/src/components/masthead/left-nav-menu-item.ts
  packages/web-components/src/components/masthead/left-nav-menu-section.ts
  packages/web-components/src/components/masthead/left-nav-menu.ts
  packages/web-components/src/components/masthead/left-nav.ts
  packages/web-components/tests/snapshots/dds-left-nav-menu.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(menu): add license text to menu.ts
  packages/carbon-web-components/src/components/menu/menu.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(table-of-content): add shadow parts
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(leadspace-block): add CSS Shadow Parts
  packages/web-components/src/components/leadspace-block/leadspace-block-content.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/tests/snapshots/c4d-leadspace-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(link-list-section): add CSS shadow parts (#11853)
  packages/web-components/src/components/link-list-section/link-list-section.ts
  packages/web-components/tests/snapshots/c4d-link-list-section.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(link-list): add CSS shadowparts (#11852)
  packages/web-components/src/components/link-list/link-list.ts
  packages/web-components/tests/snapshots/c4d-link-list.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(logo-grid): add part to hr
  packages/web-components/src/components/logo-grid/logo-grid.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(lightbox-media-view): shadow parts for all lb components
  packages/web-components/src/components/lightbox-media-viewer/__stories__/README.stories.mdx
  packages/web-components/src/components/lightbox-media-viewer/lightbox-image-viewer.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer-body.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(lightbox-media-viewer): update snapshot
  packages/web-components/tests/snapshots/c4d-lightbox-image-viewer.md
  packages/web-components/tests/snapshots/c4d-lightbox-video-player-composite.md
  packages/web-components/tests/snapshots/c4d-lightbox-video-player.md
Due: prettier --write

feat(image): shadow parts image component
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image): update snapshot
  packages/web-components/tests/snapshots/c4d-image.md
Due: prettier --write

feat(logo-grid): add shadow parts (#11857)
  packages/web-components/src/components/logo-grid/logo-grid-item.ts
  packages/web-components/src/components/logo-grid/logo-grid.ts
  packages/web-components/tests/snapshots/c4d-logo-grid.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(leadspace-block): add CSS Shadow Parts (#11860)
  packages/web-components/src/components/leadspace-block/leadspace-block-content.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.ts
  packages/web-components/tests/snapshots/c4d-leadspace-block.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(leadspace-with-search): add shadow parts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/c4d-search-with-typeahead.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(image): consistent use of back ticks in parts docs
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(lightbox-media-viewer): consistent use of back ticks in parts docs
  packages/web-components/src/components/lightbox-media-viewer/lightbox-image-viewer.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-media-viewer.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
