Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Services to GitHub Pages
  services/AnalyticsAPI.html
  services/DDOAPI.html
  services/KalturaPlayerAPI.html
  services/LocaleAPI.html
  services/MarketingSearchAPI.html
  services/MastheadLogoAPI.html
  services/ProfileAPI.html
  services/SearchTypeaheadAPI.html
  services/TranslationAPI.html
  services/VideoPlayerAPI.html
  services/global.html
  services/index.html
  services/index.js.html
  services/services_Analytics_Analytics.js.html
  services/services_CloudAccountAuth_CloudAccountAuth.js.html
  services/services_DDO_DDO.js.html
  services/services_KalturaPlayer_KalturaPlayer.js.html
  services/services_Locale_Locale.js.html
  services/services_MarketingSearch_MarketingSearch.js.html
  services/services_MastheadLogo_MastheadLogo.js.html
  services/services_Profile_Profile.js.html
  services/services_SearchTypeahead_SearchTypeahead.js.html
  services/services_Translation_Translation.js.html
  services/services_VideoPlayer_VideoPlayer.js.html
  services/services_global_global.js.html
  services/services_global_index.js.html
  services/services_index.js.html
Due: none

chore(deps): upgrade to Percy Storybook v4
  .yarn/offline-mirror/@percy-agent-0.28.6.tgz
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-cypress-3.1.0.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.67.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.67.tgz
  packages/react/package.json
  packages/react/src/components/FeatureSection/__stories__/FeatureSection.stories.js
  packages/react/src/components/TabsExtended/__stories__/TabsExtended.stories.js
  packages/web-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

docs(data-table): add variations to codesandbox example (#925)
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/data.js
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/defs.js
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/sortable-pagination.js
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/sortable-table.js
  packages/carbon-web-components/examples/codesandbox/basic/components/data-table/src/index.js
  packages/carbon-web-components/src/components/data-table/data-table-story.mdx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update yarn offline mirror
  .yarn/offline-mirror/@percy-agent-0.28.7.tgz
  .yarn/offline-mirror/@percy-cli-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cli-build-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cli-command-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cli-config-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cli-exec-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cli-snapshot-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cli-upload-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-client-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-config-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-core-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-cypress-3.1.1.tgz
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-env-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-logger-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-sdk-utils-1.0.0-beta.73.tgz
  .yarn/offline-mirror/@percy-storybook-4.1.0.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.4.14.tgz
  .yarn/offline-mirror/@storybook-router-6.4.14.tgz
  .yarn/offline-mirror/core-js-3.20.3.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/history-5.0.0.tgz
  .yarn/offline-mirror/history-5.2.0.tgz
  .yarn/offline-mirror/qs-6.10.3.tgz
  .yarn/offline-mirror/react-router-6.2.1.tgz
  .yarn/offline-mirror/react-router-dom-6.2.1.tgz
  .yarn/offline-mirror/ts-dedent-2.2.0.tgz
Due: none

fix(dotcom-shell): stop intersection logic if modal is open (#8083)
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update yarn offline mirror
  .yarn/offline-mirror/node-fetch-2.6.1.tgz
  .yarn/offline-mirror/node-fetch-2.6.6.tgz
  .yarn/offline-mirror/node-fetch-2.6.7.tgz
Due: none

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

fix(card-in-card): prevent new tab from opening twice on Firefox (#8072)
  packages/web-components/examples/codesandbox/components/card-in-card/index.html
  packages/web-components/src/components/card-in-card/card-in-card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): add navlinks to story
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): using container for story
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): also setting in composite
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead): better bolded search items
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(masthead): add e2e tests
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead-item.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/masthead/masthead.e2e.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(styles): missing text color for content block and section (#8079)
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/styles/scss/internal/content-section/_content-section.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
