Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(content-block-heading): added stripHTML to content-block-heading
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-block-heading): added stripHTML to content-block-heading
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(carousel): prev/next button a11y fixes (#6406)
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/tests/snapshots/dds-carousel.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(cta): adding heading knob
  packages/react/src/components/CTA/__stories__/CTA.stories.js
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-group): spacing above and below (#6337)
  packages/styles/scss/internal/content-group/_content-group.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat: hc-1993 WIP, wiring up authMethod prop
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(cta): ran prettier
  packages/react/src/components/CTA/__stories__/CTA.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(filter-panel): first commit
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/styles/scss/ibm-dotcom-styles.scss
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-group.ts
  packages/web-components/src/components/filter-panel/filter-panel.scss
  packages/web-components/src/components/filter-panel/filter-panel.ts
  packages/web-components/src/components/filter-panel/index.ts
  packages/web-components/src/components/filter-panel/input_select.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(footer-micro): fixed styling overrides
  packages/styles/scss/components/footer/_legal-nav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(stripHTML): added unit testing
  packages/utilities/src/utilities/stripHTML/__tests__/index.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended-media): page wobble while scrolling fix (#6368)
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-block): added mock markup for content-block-heading (#6349)
  packages/utilities/src/utilities/stripHTML/__tests__/index.test.js
  packages/utilities/src/utilities/stripHTML/index.js
  packages/utilities/src/utilities/stripHTML/stripHTML.js
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block/content-block-heading.ts
  packages/web-components/src/components/content-block/content-block-paragraph.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(cloud-masthead): hc-1993 add prop, prep for wiring up to utility
  packages/web-components/src/components/masthead/__stories__/cloud-masthead.stories.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(feature-section): add style fixes based on design qa feedback
  packages/styles/scss/components/feature-section/_feature-section.scss
  packages/web-components/src/components/feature-section/__stories__/README.stories.mdx
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
  packages/web-components/src/components/feature-section/feature-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(feature-section): adjust knob labels
  packages/web-components/src/components/feature-section/__stories__/feature-section.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(back-to-top): remove extra spacing (#6383)
  packages/styles/scss/components/back-to-top/_back-to-top.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(support): updating support roster for sprint 13
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

fix(leadspace): use height auto for <=md breakpoints
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(leadspace): clean up args and attr names
  packages/react/src/components/LeadSpace/LeadSpace.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(back-to-top): rename content file
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(prettier): prettify story
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(support): updating support roster for sprint 13 (#6426)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribution_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

chore(left-nav): test focus
  packages/web-components/src/components/masthead/left-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(footer): added adjunct links
  packages/web-components/src/components/footer/__stories__/adjunct-links.ts
  packages/web-components/src/components/footer/__stories__/footer.stories.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/legal-nav.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cdn): enable CSS custom properties in CDN artifacts
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/carbon-cdn-style-helpers.stories.mdx
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/contributing-to-web-components.md
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/markdown-contents.md
  packages/web-components/docs/stable-selectors.md
  packages/web-components/gulp-tasks/build/sass-cdn.js
  packages/web-components/package.json
  packages/web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/src/globals/scss/themes.scss
  packages/web-components/tools/rollup-plugin-lit-scss.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): add empty card option for offset and border adjustments
  packages/styles/scss/components/card-group/_card-group.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group-item.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cdn): enable CSS custom properties in CDN artifacts (#6433)
  packages/web-components/.storybook/config.ts
  packages/web-components/README.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/carbon-cdn-style-helpers.stories.mdx
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/contributing-to-web-components.md
  packages/web-components/docs/enable-rtl.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/markdown-contents.md
  packages/web-components/docs/stable-selectors.md
  packages/web-components/gulp-tasks/build/sass-cdn.js
  packages/web-components/package.json
  packages/web-components/src/globals/internal/storybook-cdn.ts
  packages/web-components/src/globals/scss/themes.scss
  packages/web-components/tools/rollup-plugin-lit-scss.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): update styles and story
  packages/web-components/src/components/card-group/__stories__/card-group.stories.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): update styles and story
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.scss
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): update styles and story
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
