Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(devenv): remove danger knob (#371)
  packages/carbon-web-components/src/components/modal/modal-story-angular.ts
  packages/carbon-web-components/src/components/modal/modal-story-react.tsx
  packages/carbon-web-components/src/components/modal/modal-story-vue.ts
  packages/carbon-web-components/src/components/modal/modal-story.ts
Due: none

chore(tabs): remove disabled knob (#368)
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story-angular.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story-react.tsx
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story-vue.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story.ts
  packages/carbon-web-components/src/components/tabs/tabs-story-angular.ts
  packages/carbon-web-components/src/components/tabs/tabs-story-react.tsx
  packages/carbon-web-components/src/components/tabs/tabs-story-vue.ts
  packages/carbon-web-components/src/components/tabs/tabs-story.ts
Due: none

test(pagination): add tests (#318)
  packages/carbon-web-components/src/components/pagination/pages-select.ts
  packages/carbon-web-components/src/components/pagination/pagination-story.ts
  packages/carbon-web-components/src/components/pagination/pagination.ts
  packages/carbon-web-components/tests/snapshots/bx-pagination.md
  packages/carbon-web-components/tests/spec/pagination_spec.ts
Due: prettier --write

test(overflow-menu): add tests (#313)
  packages/carbon-web-components/src/components/overflow-menu/overflow-menu.ts
  packages/carbon-web-components/tests/spec/overflow-menu_spec.ts
Due: none

chore(build): update package.json
  packages/carbon-web-components/package.json
Due: none

fix(css): add videoplayer styles
  packages/styles/scss/components/lightbox-media-viewer/_lightbox-media-viewer.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(callout): changed object classname to content
  packages/react/src/patterns/sub-patterns/Callout/Callout.js
  packages/react/src/patterns/sub-patterns/Callout/README.md
  packages/react/src/patterns/sub-patterns/Callout/__tests__/Callout.test.js
  packages/styles/scss/patterns/sub-patterns/callout/_callout.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(snapshot): snapshot updated
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(ipcinfo): properly set the ipcinfo cookie in the locale modal
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/LocaleModal/LocaleModalCountries.js
Due: prettier --write, eslint packages

chore(jest): updating storybook snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(snapshot): updated snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(cta): separate some basic logic into CTALogic file
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CTALogic.js
Due: prettier --write, eslint packages

feat(rtl): tweaks to rtl flag for storybook
  packages/react/.env.example
  packages/react/.storybook/webpack.config.js
Due: prettier --write, eslint packages

feat(rtl): adding cloud foundry manifest
  packages/react/manifest-rtl.yml
Due: none

docs(rtl): adding RTL label tp pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

fix(modal): fixed color token
  packages/styles/package.json
  packages/styles/scss/themes/expressive/components/_modal.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(issue-1857): more style/storybook fixes
  packages/react/src/patterns/blocks/FeatureCard/__stories__/FeatureCard.stories.js
  packages/styles/scss/patterns/blocks/feature-card/_feature-card.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(callout): updated readme and changed linklist to buttongroup
  packages/react/src/patterns/sub-patterns/Callout/README.md
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
Due: prettier --write, eslint packages

fix(cta): remove rendercta method
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CTALogic.js
Due: prettier --write, eslint packages

fix(callout): deleted buttongroup example
  packages/react/src/patterns/sub-patterns/Callout/__stories__/Callout.stories.js
Due: prettier --write, eslint packages

fix(callout): updated readme
  packages/react/src/patterns/sub-patterns/Callout/README.md
Due: prettier --write

fix(callout): missing readme import
  packages/react/src/patterns/sub-patterns/Callout/README.md
Due: prettier --write

Add min and max validity to number input (#378)
  packages/carbon-web-components/src/components/number-input/number-input-story-angular.ts
  packages/carbon-web-components/src/components/number-input/number-input-story-react.tsx
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.scss
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/globals/mixins/validity.ts
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta): remove props and use ctalogic class instead
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/components/CTA/CardCTA.js
  packages/react/src/components/CTA/FeatureCTA.js
  packages/react/src/components/CTA/TextCTA.js
Due: prettier --write, eslint packages

fix(snapshot): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

test(mastheadleftnav): testing platform prop
  packages/react/src/components/Masthead/__tests__/MastheadLeftNav.test.js
Due: prettier --write, eslint packages

chore(story): updated knob names with the variable names
  packages/react/src/patterns/sub-patterns/Quote/__stories__/Quote.stories.js
Due: prettier --write, eslint packages

test(storyshots): file update
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(test): updated snapshot and updated test
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

fix(locale): remove scroll on vertical media query; fixes #2279
  packages/styles/scss/components/locale-modal/_locale-modal.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(cta): create custom hook for video data
  packages/react/src/components/CTA/ButtonCTA.js
  packages/react/src/components/CTA/CTA.js
  packages/react/src/internal/hooks/useVideoData/index.js
  packages/react/src/internal/hooks/useVideoData/useVideoData.js
Due: prettier --write, eslint packages

chore(snapshot): update snapshot
  packages/react/src/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

chore(test): unit test for useVideoData
  packages/react/src/internal/hooks/useVideoData/__tests__/useVideoData.test.js
Due: prettier --write, eslint packages

test(masthead): 100% coverage at MastheadTopNav
  packages/react/src/components/Masthead/__tests__/MastheadTopNav.test.js
Due: prettier --write, eslint packages

chore(pattern): updated legal-nav logic
  packages/react/src/components/Footer/LegalNav.js
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
Due: prettier --write, eslint packages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(index): add lightbox and videoplayer to root
  packages/react/src/components/index.js
Due: prettier --write, eslint packages

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
