Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint packages, cross-env BABEL_ENV=test jest, yarn lint:styles

fix(styles): added highlighting on up and down keys
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: none

fix(styles): highlight on key down and up
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: none

feat(masthead): flag to open masthead search by default, multiple fixes
  packages/react/.env.example
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/services/src/services/Locale/Locale.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(styles): highlight on key down and up (#591)
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: none

fix: removed jump link
  packages/patterns-react/src/patterns/SimpleLongForm/JumpLink.js
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
  packages/styles/scss/patterns/simplelongform/_jumplink.scss
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
  packages/styles/scss/patterns/simplelongform/index.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: removed jump link
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): adds space for suggestion item
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): fix to properly set a space in autosuggest highlighting
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): adds space for suggestion item (#594)
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(masthead): flag to open masthead search by default, multiple fixes (#592)
  packages/react/.env.example
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/internal/FeatureFlags.js
  packages/services/src/services/Locale/Locale.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: layout and sass update to align with new specs
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: included simple long form sass in patterns import
  packages/styles/scss/ibm-dotcom-styles.scss
Due: none

fix: card types updated to icon-link & card-link
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: readme update
  packages/patterns-react/src/patterns/SimpleLongForm/README.md
Due: prettier --write

fix: sass readme update
  packages/styles/scss/patterns/simplelongform/README.md
Due: prettier --write

fix: removed main warpper from main content
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(jest): multiple jest test fixes
  jest.config.js
  packages/react/jest.config.js
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/ButtonGroup/__tests__/ButtonGroup.test.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/ExpressiveModal/__tests__/ExpressiveModal.test.js
  packages/react/src/components/ExpressiveModal/__tests__/mocks/mock-component.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/__tests__/MastheadSearch.test.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(react): moved container class onto accordion
  packages/react/src/components/Footer/FooterNav.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: adjusted sass for sm viewport
  packages/styles/scss/patterns/listsection/_listsection-item.scss
  packages/styles/scss/patterns/listsection/_listsection.scss
Due: none

fix(just): fixed localeapi jest tests
  packages/services/src/services/Locale/Locale.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(styles): masthead search button fixed focus
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: none

fix(react): moved container class onto accordion (#600)
  packages/react/src/components/Footer/FooterNav.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): fix to search input not closing
  jest.config.js
  packages/react/.env.example
  packages/react/jest.config.js
  packages/react/src/components/ButtonGroup/__stories__/ButtonGroup.stories.js
  packages/react/src/components/ButtonGroup/__tests__/ButtonGroup.test.js
  packages/react/src/components/ExpressiveModal/__stories__/ExpressiveModal.stories.js
  packages/react/src/components/ExpressiveModal/__tests__/ExpressiveModal.test.js
  packages/react/src/components/ExpressiveModal/__tests__/mocks/mock-component.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
  packages/react/src/components/Masthead/README.md
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/react/src/components/Masthead/__tests__/MastheadSearch.test.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/react/src/internal/FeatureFlags.js
  packages/services/src/services/Locale/Locale.js
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(masthead): fix to search input not closing
  packages/react/src/components/Masthead/MastheadSearch.js
  packages/react/src/components/Masthead/MastheadSearchInput.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix(styles): masthead search button fixed focus (#596)
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: none

fix: updated link data value
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: withKnob parameter
  packages/patterns-react/src/patterns/SimpleLongForm/__stories__/SimpleLongForm.stories.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

chore(packages): update package versions
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0-alpha.762.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0-alpha.763.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0-alpha.743.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0-alpha.762.tgz
  packages/react/package.json
  packages/services/package.json
  packages/utilities/package.json
  yarn.lock
Due: none

feat(cookie): add secure flag for set cookies
  packages/utilities/src/utilities/ipcinfoCookie/ipcinfoCookie.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: updated readme files and scss
  packages/patterns-react/src/patterns/SimpleLongForm/README.md
  packages/patterns-react/src/patterns/SimpleLongForm/SimpleLongForm.js
  packages/styles/scss/patterns/simplelongform/README.md
  packages/styles/scss/patterns/simplelongform/_simplelongform.scss
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

chore(release): publish
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/patterns-react/CHANGELOG.md
  packages/patterns-react/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
Due: prettier --write

fix(textarea): reflect value attribute on init (#160)
  packages/carbon-web-components/src/components/textarea/textarea.ts
  packages/carbon-web-components/tests/snapshots/bx-textarea.md
  packages/carbon-web-components/tests/spec/textarea_spec.ts
Due: prettier --write

test(components): add sourcemap support (#158)
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tests/karma.conf.js
  packages/carbon-web-components/yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

feat(form): support formdata event (#154)
  packages/carbon-web-components/src/coding-conventions.md
  packages/carbon-web-components/src/components/checkbox/checkbox.ts
  packages/carbon-web-components/src/components/form/form-data.md
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/slider/slider.ts
  packages/carbon-web-components/src/components/textarea/textarea.ts
  packages/carbon-web-components/src/globals/mixins/form.ts
  packages/carbon-web-components/tests/snapshots/bx-input.md
  packages/carbon-web-components/tests/spec/checkbox_spec.ts
  packages/carbon-web-components/tests/spec/input_spec.ts
  packages/carbon-web-components/tests/spec/slider_spec.ts
  packages/carbon-web-components/tests/spec/textarea_spec.ts
Due: prettier --write

fix: updated pattern to be aligned with latest specs
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.1.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-0.4.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.1.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.1.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0-alpha.716.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.1.0.tgz
  packages/patterns-react/package.json
  packages/patterns-react/src/patterns/ListSection/ListSection.js
  packages/patterns-react/src/patterns/ListSection/ListSectionGroup.js
  packages/patterns-react/src/patterns/ListSection/ListSectionItem.js
  packages/patterns-react/src/patterns/ListSection/README.md
  packages/patterns-react/src/patterns/ListSection/__stories__/ListSection.stories.js
  packages/patterns-react/src/patterns/index.js
  packages/styles/scss/patterns/listsection/README.md
  packages/styles/scss/patterns/listsection/_list.scss
  packages/styles/scss/patterns/listsection/_listgroup.scss
  packages/styles/scss/patterns/listsection/_listsection-group.scss
  packages/styles/scss/patterns/listsection/_listsection-item.scss
  packages/styles/scss/patterns/listsection/_listsection.scss
  packages/styles/scss/patterns/listsection/index.scss
  yarn.lock
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

fix: conflict solved for package.json
  packages/patterns-react/package.json
Due: none

chore(settings): updating version to dds.v1.1.1
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, eslint packages, cross-env BABEL_ENV=test jest

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: packages/components/**/*.scss)) or (any of: *.md)
  eslint packages: any of: **/*.js
  cross-env BABEL_ENV=test jest: any of: **/*.js
  yarn lint:styles: any of: packages/components/**/*.scss
