Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(components): update JSDoc (#4192)
  packages/web-components/docs/coding-conventions.md
  packages/web-components/src/components/callout-data/callout-data.ts
  packages/web-components/src/components/pictogram-item/pictogram-item.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(masthead-search): re-apply #3932 (#4227)
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(feature-card): remove redundant flex-wrap (#4176)
  packages/styles/scss/components/feature-card/_feature-card.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/callout-data/__stories__/callout-data.stories.ts
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-link/__stories__/card-link.stories.scss
  packages/web-components/src/components/card-link/__stories__/card-link.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.scss
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/cta/__stories__/cta.stories.ts
  packages/web-components/src/components/cta/video-cta-composite.scss
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.scss
  packages/web-components/src/components/feature-card-block-large/__stories__/feature-card-block-large.stories.ts
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.scss
  packages/web-components/src/components/feature-card-block-medium/__stories__/feature-card-block-medium.stories.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.scss
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/video-player/__stories__/video-player.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(githubactions): adding github action for NPM publish Canary (#4239)
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
Due: none

chore(ci): upgrade action-ibmcloud-cf (#4231)
  .github/workflows/deploy-canary.yml
  .github/workflows/deploy-staging.yml
Due: none

docs(slack): rename support slack channel to `#carbon-for-ibm-dotcom` (#4253)
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

fix(githubactions): fix to nightly schedule trigger (#4245)
  .github/workflows/publish-nightly.yml
Due: none

test(masthead): fix UI tests (#4249)
  packages/web-components/src/components/masthead/__tests__/masthead.steps.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(devenv): add mising @storybook/addon-info (#4248)
  .yarn/offline-mirror/@babel-standalone-7.12.3.tgz
  .yarn/offline-mirror/@storybook-addon-info-5.3.21.tgz
  .yarn/offline-mirror/@storybook-addons-5.3.21.tgz
  .yarn/offline-mirror/@storybook-api-5.3.21.tgz
  .yarn/offline-mirror/@storybook-channels-5.3.21.tgz
  .yarn/offline-mirror/@storybook-client-logger-5.3.21.tgz
  .yarn/offline-mirror/@storybook-components-5.3.21.tgz
  .yarn/offline-mirror/@storybook-core-events-5.3.21.tgz
  .yarn/offline-mirror/@storybook-router-5.3.21.tgz
  .yarn/offline-mirror/@storybook-theming-5.3.21.tgz
  .yarn/offline-mirror/marked-0.3.19.tgz
  .yarn/offline-mirror/marksy-8.0.0.tgz
  .yarn/offline-mirror/nested-object-assign-1.0.3.tgz
  .yarn/offline-mirror/react-addons-create-fragment-15.6.2.tgz
  packages/styles/package.json
  yarn.lock
Due: none

fix(FeatureCard): remove unused styles (#4243)
  packages/styles/scss/components/feature-card/_feature-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(setup): add instruction for build toolchain (#4241)
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/usage/webpack-basic/index.html
  packages/web-components/examples/codesandbox/usage/webpack-basic/package.json
  packages/web-components/examples/codesandbox/usage/webpack-basic/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/webpack-basic/src/index.js
  packages/web-components/examples/codesandbox/usage/webpack-basic/webpack.config.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/index.html
  packages/web-components/examples/codesandbox/usage/webpack-sass/package.json
  packages/web-components/examples/codesandbox/usage/webpack-sass/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.js
  packages/web-components/examples/codesandbox/usage/webpack-sass/src/index.scss
  packages/web-components/examples/codesandbox/usage/webpack-sass/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(developers): instruction on symlinks (#4268)
  docs/developing.md
Due: prettier --write

chore(services-store): added null check of services-store vendor folder (#4267)
  packages/web-components/gulp-tasks/config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(linklist): fix linklist focus styles
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/link-list/link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/vanilla/CHANGELOG.md
  packages/vanilla/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

style(leadspace-w-search): updating typo token
  packages/styles/scss/components/leadspace-with-search/leadspace-with-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(canary): adding github run_id to the publish preid
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
Due: none

chore(yarn): fix to offline mirror
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.12.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.12.0-rc.0.tgz
  yarn.lock
Due: none

chore(services-store): fix to carbon for ibm.com dependencies
  packages/services-store/package.json
Due: none

chore(services-store): fix to carbon for ibm.com dependencies
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.12.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.12.0-rc.0.tgz
  yarn.lock
Due: none

feat(overflow): add scroll functionality
  packages/react/src/components/Masthead/HeaderNavContainer.js
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-section): major web-component progress
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(canary): adding github run_id to the publish preid (#4273)
  .github/workflows/publish-canary.yml
  .github/workflows/publish-nightly.yml
  packages/services-store/package.json
Due: none

docs(template): introduce Handlebars example (#4261)
  packages/services/src/services/Locale/Locale.js
  packages/services/src/services/Translation/Translation.js
  packages/web-components/README.md
  packages/web-components/examples/codesandbox/usage/handlebars/index.hbs
  packages/web-components/examples/codesandbox/usage/handlebars/package.json
  packages/web-components/examples/codesandbox/usage/handlebars/sandbox.config.json
  packages/web-components/examples/codesandbox/usage/handlebars/src/index.js
  packages/web-components/examples/codesandbox/usage/handlebars/src/index.scss
  packages/web-components/examples/codesandbox/usage/handlebars/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tag): expressive theme token update
  packages/styles/scss/themes/expressive/components/_tag.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(css): update card aspect ratio styles
  packages/react/src/components/CardGroup/__stories__/CardGroup.stories.js
  packages/styles/scss/components/card/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(services-store): update monorepo
  packages/services-store/package.json
  packages/web-components/config/jest/jsTransform.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/tests/integration/ui/jest.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(linklist): update web component story links (#4270)
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/tests/snapshots/dds-leadspace.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(link-list): introduce CTA feature
  packages/styles/scss/components/card/index.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/components/link-with-icon/_link-with-icon.scss
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/card/card-footer.ts
  packages/web-components/src/components/cta/link-list-item-card-cta.ts
  packages/web-components/src/components/cta/link-list-item-cta.ts
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/link-list.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.scss
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(linklist): fix linklist focus styles (#4271)
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/link-list/link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
