Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(development): removing references to nvm
  docs/developing.md
Due: prettier --write

chore(KalturaPlayerAPI): updating `videoPlayerAPI` references
  packages/services-store/src/actions/__tests__/videoPlayerAPI.test.ts
  packages/services-store/src/actions/kalturaPlayerAPI.ts
  packages/services-store/src/actions/videoPlayerAPI.ts
  packages/services-store/src/reducers/__tests__/kalturaPlayerAPi.test.ts
  packages/services-store/src/reducers/index.ts
  packages/services-store/src/reducers/kalturaPlayerAPI.ts
  packages/services-store/src/reducers/videoPlayerAPI.ts
  packages/services-store/src/types/kalturaPlayerAPI.ts
  packages/services-store/src/types/videoPlayerAPI.ts
  packages/web-components/src/components/cta/video-cta-composite.ts
  packages/web-components/src/components/cta/video-cta-container.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-container.ts
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
  packages/web-components/src/components/video-player/video-player-composite.ts
  packages/web-components/src/components/video-player/video-player-container.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(VideoPlayer): updating testing suit
  packages/services/src/services/VideoPlayer/__tests__/VideoPlayer.test.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(rtl): fix to not have rtlcss styles get parsed out
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/web-components/examples/codesandbox/components/masthead/cdn-rtl.html
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(table-of-contents): compensate for masthead on scroll up
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

test(VideoPlayer): updating testing suit
  packages/services-store/src/actions/__tests__/videoPlayerAPI.test.ts
  packages/services-store/src/reducers/__tests__/kalturaPlayerAPi.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(search-with-typeahead): introducing component
  packages/web-components/src/components/search-with-typeahead/__stories__/README.stories.mdx
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead-item.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.scss
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(rtl): fix to not have rtlcss styles get parsed out (#6729)
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/web-components/examples/codesandbox/components/masthead/cdn-rtl.html
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(search-with-typeahead): set up react wrapper story
  packages/web-components/src/components/search-with-typeahead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.react.tsx
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.ts
  packages/web-components/src/components/search-with-typeahead/index.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(search-with-typeahead): separated styles and added to masthead
  packages/styles/scss/components/masthead/_masthead-top-nav-name.scss
  packages/styles/scss/components/masthead/index.scss
  packages/styles/scss/components/search-with-typeahead/_search-with-typeahead.scss
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
  packages/web-components/src/components/masthead/top-nav.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.scss
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): remove search container redux stuff
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-container-search-only.ts
  packages/web-components/src/components/masthead/masthead-container.ts
  packages/web-components/src/components/masthead/masthead-search-composite.ts
  packages/web-components/src/components/masthead/masthead-search-connect.ts
  packages/web-components/src/components/masthead/masthead-search-container.ts
  packages/web-components/src/components/masthead/masthead-search-item.ts
  packages/web-components/src/components/masthead/masthead-search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(group-horizontal): item horizontal and link list bug
  packages/react/src/components/LinkList/LinkList.js
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(kalturaPlayerAPI): updating imports
  packages/react/config/jest/__mocks__/KalturaPlayerAPI.js
  packages/web-components/src/components/video-player/__tests__/video-player-container.test.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): Dynamically calculate masthead height
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-section-offset): update to use card-cta-footer
  packages/web-components/examples/codesandbox/components/card-section-offset/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-offset/index.html
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-images/index.ts
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/__tests__/card-section-offset.test.ts
  packages/web-components/src/components/card-section-simple/__tests__/card-section-simple.test.ts
  packages/web-components/src/components/card-section-simple/index.ts
  packages/web-components/src/components/content-block-card-static/__tests__/content-block-card-static.test.ts
  packages/web-components/src/components/content-block-cards/__tests__/content-block-cards.test.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(table-of-contents): compensate for masthead on scroll up (#6730)
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-section-offset): update to use card-cta-footer (#6734)
  packages/web-components/examples/codesandbox/components/card-section-offset/cdn.html
  packages/web-components/examples/codesandbox/components/card-section-offset/index.html
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/card-section-images/__tests__/card-section-images.test.ts
  packages/web-components/src/components/card-section-images/index.ts
  packages/web-components/src/components/card-section-offset/__stories__/README.stories.mdx
  packages/web-components/src/components/card-section-offset/__stories__/card-section-offset.stories.ts
  packages/web-components/src/components/card-section-offset/__tests__/card-section-offset.test.ts
  packages/web-components/src/components/card-section-simple/__tests__/card-section-simple.test.ts
  packages/web-components/src/components/card-section-simple/index.ts
  packages/web-components/src/components/content-block-card-static/__tests__/content-block-card-static.test.ts
  packages/web-components/src/components/content-block-cards/__tests__/content-block-cards.test.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(locale-modal): set region item to be tabbable for voiceover
  packages/web-components/src/components/locale-modal/locale-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(snapshot): update web components test snapshot files
  packages/web-components/tests/snapshots/dds-card-cta-footer.md
  packages/web-components/tests/snapshots/dds-card-cta.md
  packages/web-components/tests/snapshots/dds-content-block-card-static.md
Due: prettier --write

fix(locale-modal): set region item to be tabbable for voiceover (#6735)
  packages/web-components/src/components/locale-modal/locale-modal.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended): display tooltip on truncated tab focus
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(search-with-typeahead): created test file
  packages/web-components/src/components/masthead/__tests__/masthead-search-composite.test.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-container.ts
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.ts
  packages/web-components/src/components/search-with-typeahead/__tests__/search-with-typeahead.test.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead-item.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/dds-search-with-typeahead.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(search-with-typeahead): update docs
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/search-with-typeahead/__stories__/README.stories.mdx
  packages/web-components/src/components/search-with-typeahead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.react.tsx
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/tests/snapshots/dds-search-with-typeahead.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(search-with-typeahead): fix wrapper story
  packages/web-components/src/components/search-with-typeahead/__stories__/README.stories.react.mdx
  packages/web-components/src/components/search-with-typeahead/__stories__/search-with-typeahead.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(search-with-typeahead): build sandbox examples
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/.gitignore
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/index.html
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/package.json
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/src/index.css
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/src/index.js
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/webpack.config.js
  packages/web-components/examples/codesandbox/components/search-with-typeahead/.babelrc
  packages/web-components/examples/codesandbox/components/search-with-typeahead/.gitignore
  packages/web-components/examples/codesandbox/components/search-with-typeahead/.sassrc
  packages/web-components/examples/codesandbox/components/search-with-typeahead/index.html
  packages/web-components/examples/codesandbox/components/search-with-typeahead/package.json
  packages/web-components/examples/codesandbox/components/search-with-typeahead/sandbox.config.json
  packages/web-components/examples/codesandbox/components/search-with-typeahead/src/index.js
  packages/web-components/examples/codesandbox/components/search-with-typeahead/src/index.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(search-with-typeahead): run formatting
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(serach-with-typeahead): fixed ci check
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/src/index.js
  packages/web-components/src/components/filter-panel/filter-panel-checkbox.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(search-with-typeahead): formatting 3 electric boogaloo
  packages/web-components/examples/codesandbox/components-react/search-with-typeahead/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(search): set focus back to input when search is cleared (#675)
  packages/carbon-web-components/src/components/search/search.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(codesandbox): add codesandbox example
  packages/web-components/examples/codesandbox/components-react/leadspace/.gitignore
  packages/web-components/examples/codesandbox/components-react/leadspace/index.html
  packages/web-components/examples/codesandbox/components-react/leadspace/package.json
  packages/web-components/examples/codesandbox/components-react/leadspace/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.css
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
  packages/web-components/examples/codesandbox/components-react/leadspace/webpack.config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(content-horizontal): more margin fixes
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/components/content-item-horizontal/_content-item-horizontal.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): release v1.15.1 (#676)
  packages/carbon-web-components/package.json
Due: none

chore(prettier): format code
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended): display tooltip on truncated tab focus (#6736)
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(KalturaPlayerAPI): edit embed function for jest mocking
  packages/react/config/jest/__mocks__/KalturaPlayerAPI.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(upgrade): upgrade to Carbon Web Components 1.15.1
  .yarn/offline-mirror/carbon-web-components-1.15.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.15.1.tgz
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-10.0.0.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  .yarn/offline-mirror/uuid-8.3.2.tgz
  packages/web-components/package.json
  yarn.lock
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/kind-of-2.0.1.tgz
  .yarn/offline-mirror/kind-of-3.2.2.tgz
  .yarn/offline-mirror/kind-of-4.0.0.tgz
  .yarn/offline-mirror/kind-of-5.1.0.tgz
  .yarn/offline-mirror/minimist-0.0.10.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/minimist-1.1.3.tgz
  .yarn/offline-mirror/node-notifier-10.0.0.tgz
  .yarn/offline-mirror/node-notifier-6.0.0.tgz
  .yarn/offline-mirror/uuid-8.3.2.tgz
  yarn.lock
Due: none

fix(content-horizontal): percy fixes
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/styles/scss/internal/content-block/_content-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(leadspace): introduce web components react wrapper (#6725)
  packages/web-components/examples/codesandbox/components-react/leadspace/.gitignore
  packages/web-components/examples/codesandbox/components-react/leadspace/index.html
  packages/web-components/examples/codesandbox/components-react/leadspace/package.json
  packages/web-components/examples/codesandbox/components-react/leadspace/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.css
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
  packages/web-components/examples/codesandbox/components-react/leadspace/webpack.config.js
  packages/web-components/src/components/button-group/button-group-item.ts
  packages/web-components/src/components/button-group/button-group.ts
  packages/web-components/src/components/image/image-item.ts
  packages/web-components/src/components/image/image.ts
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.react.tsx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/__tests__/leadspace.test.ts
  packages/web-components/src/components/leadspace/breadcrumb-item.ts
  packages/web-components/src/components/leadspace/breadcrumb-link.ts
  packages/web-components/src/components/leadspace/breadcrumb.ts
  packages/web-components/src/components/leadspace/index.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace-image.ts
  packages/web-components/src/components/leadspace/leadspace.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  yarn lint:scripts:staged: any of: **/*.{js,ts,tsx}
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
