Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
    "yarn lint:scripts:staged",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(scoped-search): hide behind feature flag
  packages/web-components/src/components/masthead/__stories__/README.stories.mdx
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/__stories__/scoped-search-masthead.stories.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
  packages/web-components/src/globals/internal/feature-flags.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(input): add aria-describedby for helper text (#959)
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/tests/snapshots/bx-input.md
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(deps): update autoprefixer browserslist options (#958)
  packages/carbon-web-components/.storybook/main.js
  packages/carbon-web-components/gulp-tasks/build/modules/css.js
  packages/carbon-web-components/package.json
  packages/carbon-web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

feat(tooltip): implement alignment prop (#940)
  packages/carbon-web-components/src/components/tooltip/tooltip-body.ts
  packages/carbon-web-components/src/components/tooltip/tooltip-story.scss
  packages/carbon-web-components/src/components/tooltip/tooltip-story.ts
  packages/carbon-web-components/src/components/tooltip/tooltip.scss
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(browserstack): add axe-core npm dependencies (#8354)
  packages/react/tests/e2e-storybook/browserstack.json
  packages/web-components/tests/e2e-storybook/browserstack.json
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Services to GitHub Pages
  services/AnalyticsAPI.html
  services/DDOAPI.html
  services/KalturaPlayerAPI.html
  services/LocaleAPI.html
  services/MarketingSearchAPI.html
  services/MastheadLogoAPI.html
  services/ProfileAPI.html
  services/SearchTypeaheadAPI.html
  services/TranslationAPI.html
  services/VideoPlayerAPI.html
  services/global.html
  services/index.html
  services/index.js.html
  services/services_Analytics_Analytics.js.html
  services/services_CloudAccountAuth_CloudAccountAuth.js.html
  services/services_DDO_DDO.js.html
  services/services_KalturaPlayer_KalturaPlayer.js.html
  services/services_Locale_Locale.js.html
  services/services_MarketingSearch_MarketingSearch.js.html
  services/services_MastheadLogo_MastheadLogo.js.html
  services/services_Profile_Profile.js.html
  services/services_SearchTypeahead_SearchTypeahead.js.html
  services/services_Translation_Translation.js.html
  services/services_VideoPlayer_VideoPlayer.js.html
  services/services_global_global.js.html
  services/services_global_index.js.html
  services/services_index.js.html
Due: none

fix(card-pictogram): show body copy on both pictogram position
  packages/web-components/src/components/card/__stories__/card.stories.react.tsx
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(carousel): add dispatch event to check video has been updated
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/cta/card-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(filter-panel): update heading when knob changes (#7411)
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-in-card): ensure that the card image is clickable
  packages/web-components/src/components/card-in-card/card-in-card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-in-card): check parent element returns null
  packages/web-components/src/components/card-in-card/card-in-card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

chore(vendor): using vendor directories for services and utilities
  packages/web-components/gulp-tasks/config.js
  packages/web-components/gulp-tasks/vendor.js
  packages/web-components/src/components/card-group/card-group.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/content-group-horizontal/content-group-horizontal.ts
  packages/web-components/src/components/cta-block/cta-block-item-row.ts
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/feature-card-block-large/feature-card-block-large.ts
  packages/web-components/src/components/feature-card-block-medium/feature-card-block-medium.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/masthead/cloud/cloud-masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/search-with-typeahead/search-with-typeahead.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

Revert "fix(filter-panel): update heading when knob changes (#7411)"
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(carousel): add ts ignore and null check
  packages/web-components/src/components/carousel/carousel.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(filter-panel): update all headings when source changes (#7411)
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(filter-panel): update heading when knob changes (#7411)
  packages/web-components/src/components/filter-panel/__stories__/filter-panel.stories.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(filter-panel): remove unnecessary check (#7411)
  packages/web-components/src/components/filter-panel/filter-panel-heading.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(tabs-extended): change anchor-based tabs to button-based tabs
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
  packages/web-components/src/components/tabs-extended/tabs-extended.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(carousel): adjust event name based on feedback
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/cta/card-cta.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged

fix(card-in-card): fix onclick issue on cardInCardImage
  packages/web-components/src/components/card-in-card/card-in-card.ts
Due: prettier --write, yarn lint:license:staged, yarn lint:scripts:staged
